// About us
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'About Us', category:'content box', reload:false, id:'about-us-3' } )
	.container
		.row.row-30.align-items-center
			.col-xs-10.col-md-5
				h6.text-primary A Few Words About Us
				h2 Leaders in web design
				p Founded in 1999, Intense is an award-winning web design studio.
			.col-xs-10.col-md-7: +img( 'image-05-730x730' )
