// Values
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Values', category:'content box', reload:false, id:'values' } )
	.container
		.row.row-30.novi-disabled
			.col-md-5
				h4 Values
				p At Intense, since the start of our business 20 years ago, we are driven by 7 various core values that directly influence our work.
			.col-md-7
				ol.list.list-ordered.h3
					li.list-item Creativity
					li.list-item Quality
					li.list-item Service
					li.list-item Honesty
					li.list-item Commitment
					li.list-item Integrity
					li.list-item Care
