// About project
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Project Overview', category:'content box', reload:false, id:'project-overview' } )
	.container
		.row.row-30.novi-disabled
			.col-md-4.col-xxl-6
				h2 Project overview
			.col-md-8.col-xxl-6
				p Search engine optimization (SEO) is the art and science of getting pages to rank higher in search engines such as Google. This is a set of measures and techniques that include:
				ul.list.list-marked-arrow
					li.list-item Keyword research;
					li.list-item Content marketing;
					li.list-item Link building;
					li.list-item On-page optimization;
					li.list-item Site architecture optimization.
