// Boxed accordion
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Accordion Sample', category:'accordion', reload:true, id:'accordion-sample-2' } )
	.container
		h2.text-center Boxed accordion
		.accordion.accordion-boxed
			.accordion-item.accordion-boxed-sample-1
				a.accordion-header.accordion-boxed-sample-group( href='#', data-multi-switch!={ targets: '.accordion-boxed-sample-1', isolate: '.accordion-boxed-sample-group' } ) General information
				.accordion-body.accordion-boxed-sample-1( data-multi-switch-target-slide )
					h4 Welcome to our Privacy Policy page! When you use our web site services, you trust us with your information.
					.row.row-15
						.col-md-6 You can also make choices about our collection and use of your data. How you can access or control your personal data will depend on which services you use. You can choose whether you wish to receive promotional communications from our web site by email, SMS, physical mail, and telephone. If you receive promotional email or SMS messages from us and would like to opt out, you can do so by following the directions in that message.
						.col-md-6 You can also make choices about the receipt of promotional email, telephone calls, and postal mail by visiting and signing into Company Promotional Communications Manager, which allows you to update contact information, manage contact preferences, opt out of email subscriptions, and choose whether to share your contact information with our partners. These choices do not apply to mandatory service communications that are part of certain web site services.

			.accordion-item.accordion-boxed-sample-2
				a.accordion-header.accordion-boxed-sample-group( href='#', data-multi-switch!={ targets: '.accordion-boxed-sample-2', isolate: '.accordion-boxed-sample-group' } ) Right to access, correct and delete data and to object to data processing
				.accordion-body.accordion-boxed-sample-2( data-multi-switch-target-slide )
					h4 Our customers have the right to access, correct and delete personal data relating to them.
					.row.row-15
						.col-md-6 You can also make choices about our collection and use of your data. How you can access or control your personal data will depend on which services you use. You can choose whether you wish to receive promotional communications from our web site by email, SMS, physical mail, and telephone. If you receive promotional email or SMS messages from us and would like to opt out, you can do so by following the directions in that message.
						.col-md-6 You can also make choices about the receipt of promotional email, telephone calls, and postal mail by visiting and signing into Company Promotional Communications Manager, which allows you to update contact information, manage contact preferences, opt out of email subscriptions, and choose whether to share your contact information with our partners. These choices do not apply to mandatory service communications that are part of certain web site services.

			.accordion-item.accordion-boxed-sample-3
				a.accordion-header.accordion-boxed-sample-group( href='#', data-multi-switch!={ targets: '.accordion-boxed-sample-3', isolate: '.accordion-boxed-sample-group', state: true } ) Management of personal data
				.accordion-body.accordion-boxed-sample-3( data-multi-switch-target-slide )
					h4 You can view or edit your personal data online for #[br.d-none.d-xxl-inline]many of our services.
					.row.row-15
						.col-md-6 You can also make choices about our collection and use of your data. How you can access or control your personal data will depend on which services you use. You can choose whether you wish to receive promotional communications from our web site by email, SMS, physical mail, and telephone. If you receive promotional email or SMS messages from us and would like to opt out, you can do so by following the directions in that message.
						.col-md-6 You can also make choices about the receipt of promotional email, telephone calls, and postal mail by visiting and signing into Company Promotional Communications Manager, which allows you to update contact information, manage contact preferences, opt out of email subscriptions, and choose whether to share your contact information with our partners. These choices do not apply to mandatory service communications that are part of certain web site services.
