// FlipInX effect
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Animation Sample', category:'content box', reload:true, id:'animation-sample-3' } )
	.container
		h2.text-center FlipInX effect
		.row.row-20.align-items-center.justify-content-center.justify-content-lg-between
			.col-sm-8.col-lg-7
				+img( 'image-05-730x450' ).img-element( data-animate!={ class: 'flipInX' } )
			.col-sm-8.col-lg-5.col-xxl-4
				h6.text-primary Why intense
				h2 Even more features available
				ul.list.list-marked-arrow
					li.list-item Fully responsive design
					li.list-item Social integration
					li.list-item 30+ predesigned pages
					li.list-item Regular content updates
					li.list-item Lots of child themes
