include ../blurb/_blurb

// Blurb type #6
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Blurb Sample', category:'blurb', reload:false, id:'blurb-sample-6' } )
	.container
		h2.text-center Blurb type #6
		.row.row-40
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>',
					title: 'Bootstrap 4 <br>framework',
					text:  'Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.'
				})
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>',
					title: 'Bootstrap 4 <br>framework',
					text:  'Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.'
				})
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>',
					title: 'Bootstrap 4 <br>framework',
					text:  'Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.'
				})
