// Button shapes
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button Shapes Sample', category:'sample', reload:false, id:'button-shapes-sample' } )
	.container.text-center
		h2 Button shapes
		p Want a different shape? Add #[code .btn-rect] or #[code .btn-ellipse] class to your buttons.
		.mt-5
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-rect.btn-primary Large
				button.btn.btn-primary Default
				button.btn.btn-round.btn-primary Small
