// Career benefits
section.section.section-lg.bg-transparent.section-layer.context-dark( data-preset!={ title:'Career Benefits', category:'content box', reload:false, id:'career-benefits' } )
	.bg-layer.bg-primary.novi-background( style='top: 8.5%; bottom: 15.4%' )
	.container
		.row.row-50.row-lg-80.row-xl-100.row-xxl-150.novi-disabled
			.col-12
				.row.row-30.justify-content-md-between
					.col-8.col-md-7.col-xl-6( style='padding-top: 24.5%;' )
						h2
							span.mr-4 01.
							| The main corporate values of Intense
						p.d-none.d-md-block The corporate culture of Intense is based on openness, respect and equality regardless of the religion, sex, race, age, etc.
							span.d-none.d-lg-inline These core values help us build a friendly working environment, where all the employees can feel comfortable and significant. We believe that the more comfort you get, the better results you’ll produce.
					.col-4.col-md-5
						+img( 'image-05-510x510' )
			.col-12
				.row.row-30.align-items-center
					.col-4
						+img( 'image-17-290x290' )
					.col-8.col-md-7.col-xl-6
						h2
							span.mr-4 02.
							| Diversity of learning opportunities at Intense
						p.d-none.d-md-block When you join our team, you’ll dive into a knowledge-sharing environment.
							span.d-none.d-lg-inline We encourage our employees to attend multiple conferences and workshops held both inside the company and on the outside. Keep in mind that you can take part in conferences as both a listener and speaker.
			.col-12
				.row.row-30.align-items-end.justify-content-md-between
					.col-8.col-md-7.col-xl-6( style='padding-bottom: 21.5%;' )
						h2
							span.mr-4 03.
							| Top qualities We are looking for
						p.d-none.d-md-block Searching for candidates, our HR managers prioritize a number of qualities.
							span.d-none.d-lg-inline To get a job at Intense, you must be a self-motivated person who isn’t afraid of challenges and is ready to work overtime. As we work with multiple innovative technologies, you must be a quick learner. Attention to detail is also important for us, as it is a solid prerequisite for fewer bugs.
					.col-4.col-md-5
						+img( 'image-13-510x510' )

