include ../offer-box/_offer-box

// Careers
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Careers', category:'offer box', reload:true, id:'careers' } )
	.container
		.tab
			ul.nav.nav-classic.justify-content-center( role='tablist' )
				li.nav-item
					a.nav-link.h4.active( data-toggle='tab', href='#navClassic1-1', role='tab', aria-selected='true' ) Design
				li.nav-item
					a.nav-link.h4( data-toggle='tab', href='#navClassic1-2', role='tab', aria-selected='false' ) Development
				li.nav-item
					a.nav-link.h4( data-toggle='tab', href='#navClassic1-3', role='tab', aria-selected='false' ) Marketing
			.tab-content
				#navClassic1-1.tab-pane.fade.show.active( role='tabpanel' )
					.row.row-30.row-md-40
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Senior web <br class="d-none d-xl-block">designer',
								text: 'We are looking for senior designers who are problem-solvers creating interfaces that elegantly merge form and function.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Senior UI/UX <br class="d-none d-xl-block">graphic designer',
								text: 'Intense is seeking a Senior UI/UX Graphic Designer to join our growing team. This position will have a core focus on developing.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Front end web <br class="d-none d-xl-block">designer',
								text: 'Our team is looking for a  Front-End Web Designer who creates innovative, high-quality work that is aligned with our values.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Junior web <br class="d-none d-xl-block">designer',
								text: 'Intense is currently looking for a creative and hardworking Jr. web designer to join our team of creative specialists.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Associate web <br class="d-none d-xl-block">designer',
								text: 'Join Intense as a talented Associate Web Designer to assist our creative team in developing visually appealing websites.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Senior graphic <br class="d-none d-xl-block">designer',
								text: 'Are you an energetic, talented graphic and web design professional? Then we want you to join our rapidly growing team.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})

				#navClassic1-2.tab-pane.fade( role='tabpanel' )
					.row.row-30.row-md-40
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Full stack <br class="d-none d-xl-block">developer',
								text: 'We need a Full Stack Developer who will be  responsible for developing, implementing and maintaining IT software.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Front end <br class="d-none d-xl-block">developer',
								text: 'We are looking for a versatile developer experienced with Front End Web Development, but also familiar with Back-End.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Assistant web <br class="d-none d-xl-block">developer',
								text: 'The team of Intense web design studio is looking for an Assistant Web Developer to join our team Part-Time at our New York office.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Front end UI <br class="d-none d-xl-block">developer',
								text: 'Intense is in search of an experienced front end UI developer to join our Northern team of UI/UX designers in New York.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Web application <br class="d-none d-xl-block">developer',
								text: 'Are you a seasoned web app developer? Join our team to create outstanding apps and interfaces for web and mobile devices!',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Junior front end <br class="d-none d-xl-block">developer',
								text: 'We are looking for a junior level Front-End Developer with over 2 years of professional web app development experience.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})

				#navClassic1-3.tab-pane.fade( role='tabpanel' )
					.row.row-30.row-md-40
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'SEO project <br class="d-none d-xl-block">coordinator',
								text: 'We are searching for  the SEO project coordinator who will be responsible for administering SEO solutions for our clients’ projects.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Social media <br class="d-none d-xl-block">coordinator',
								text: 'Play an integral part in growing the business and join a passionate team to work on original & creative projects for our clients.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Creative marketing <br class="d-none d-xl-block">manager',
								text: 'Become a creative marketing manager at Intense to deliver industry-leading solutions with great proficiency.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Public relations <br class="d-none d-xl-block">manager',
								text: 'We are looking for a PR manager to provide strategic direction and operational management of our community relations.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'SEO/SMM <br class="d-none d-xl-block">consultant',
								text: 'Join Intense marketing team and apply your SMM and SEO knowledge as a consultant while working on various creative projects.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
						.col-xs-6.col-md-4.col-lg-3
							+offer-box-light({
								title: 'Digital marketing <br class="d-none d-xl-block">manager',
								text: 'Our team is looking for experienced specialist in digital marketing with five or more years of related experience.',
								list: [
									{ listIcon: 'int-marker', listItem: 'New York' },
									{ listIcon: 'int-clock', listItem: 'Full Time' },
									{ listIcon: 'int-calendar', listItem: 'March 12, 2019' }
								]
							})
