include ../counter/_counter

// Counters Type #2
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Counter Sample', category:'counter', reload:true, id:'counter-sample-2' } )
	.container
		h3 Counters Type #2
		.row.row-30.row-offset-lg
			.col-6.col-md-3
				+counter({
					value: 72,
					postfix: '+',
					title: 'Team members'
				}).counter-reverse

			.col-6.col-md-3
				+counter({
					value: 2013,
					title: 'Year of foundation'
				}).counter-reverse

			.col-6.col-md-3
				+counter({
					value: 15,
					postfix: 'K',
					title: 'Users'
				}).counter-reverse

			.col-6.col-md-3
				+counter({
					prefix: '$',
					value: 3,
					postfix: 'M',
					title: 'In total funding'
				}).counter-reverse
