// Call to action type #4
section.section.section-xs.bg-secondary.context-dark.text-center.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-4' } )
	.container
		.row.align-items-center
			.col-sm-5.col-lg-4
				+img( 'cta-01-309x344.png' ).filter-shadow
			.col-sm-7.col-lg-8.text-sm-left
				.pl-xl-4
					h2 Call to action type #4
					h5 Check out an incredible set of features provided by Intense.
					a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
