// Call to action
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-11' } )
	.container( data-animate!={ class: 'fadeInUp' } )
		.row.justify-content-center.novi-disabled
			.col-md-10.col-lg-8
				h1 Our team is ready to develop an application for you
				h5 Contact us to discuss what you or your organization needs and we’ll start working on your project straight away!
				.offset-md.group-30
					a.btn.btn-lg.btn-round.btn-primary( href='contact-us.html' ) Get in Touch
					a.btn.btn-lg.btn-round.btn-secondary( href='tel:#' )
						span.btn-icon.int-phone.novi-icon
						span +1 234 567 8901
