include ../breadcrumb/_breadcrumb

// Intro
section.section.section-sm.context-dark.bg-image.novi-background( style='padding-bottom: 8%; background-image: url(images/image-29-1920x553.jpg);', data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-2' } )
	.container
		+breadcrumb( breadcrumbs )
		h1 Frequently asked
			br
			| questions
		h5 All you need to know about Intense design studio and how to get Support.
