include ../blurb/_blurb

// RD Navbar requirements
section.section.section-lg.bg-800.context-dark.novi-background( data-preset!={ title:'RD Navbar Requirements', category:'blurb', reload:false, id:'rd-navbar-requirements' } )
	.container
		.row.row-40.row-xl-70.justify-content-center
			.col-md-6.col-lg-4( data-animate!={ class: 'fadeInUp' } )
				+blurb-inline({
					embed:  '<span class="icon icon-circle icon-lg icon-electric-violet-filled mdi-cellphone-link novi-icon"></span>',
					title:  'Fully responsive',
					text:   'Let visitors use the navigation on different devices, be it an HD desktop or mobile phone. Thanks to its fully responsive nature, it can scale down to any viewport automatically.'
				})
			.col-md-6.col-lg-4( data-animate!={ class: 'fadeInUp' } )
				+blurb-inline({
					embed:  '<span class="icon icon-circle icon-lg icon-blue-violet-filled mdi-language-html5 novi-icon"></span>',
					title:  'Clean and valid HTML5/CSS',
					text:   'Due to clean ansd well commented HTML code you will find it amazingly easy to customize the project and optimise your theme for search engines.'
				})
			.col-md-6.col-lg-4( data-animate!={ class: 'fadeInUp' } )
				+blurb-inline({
					embed:  '<span class="icon icon-circle icon-lg icon-electric-violet-filled mdi-image-filter-black-white novi-icon"></span>',
					title:  'jQuery 1.11+',
					text:   'Before setting up RD Navbar, you’ll need to install jQuery 1.11+. It will provide an optimal performance of the script on your website.'
				})
