include ../breadcrumb/_breadcrumb

// General Questions
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'General Questions', category:'accordion, faq', reload:true, id:'general-questions' } )
	.container
		h6.text-primary General Questions
		h2 All you need to know about Intense design
			br
			| studio and how to get Support.
		.accordion.accordion-boxed
			.accordion-item.accordion-general-question-1
				a.accordion-header.accordion-general-question-group( href='#', data-multi-switch!={
					targets: '.accordion-general-question-1',
					isolate: '.accordion-general-question-group',
					state: true
				} ) Who can take advantage of Intense?
				.accordion-body.accordion-general-question-1( data-multi-switch-target-slide )
					.row.novi-disabled: .col-lg-9.movable
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
						hr.divider.divider-sm
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes

			.accordion-item.accordion-general-question-2
				a.accordion-header.accordion-general-question-group( href='#', data-multi-switch!={
					targets: '.accordion-general-question-2',
					isolate: '.accordion-general-question-group'
				} ) How can web developers benefit from Intense?
				.accordion-body.accordion-general-question-2( data-multi-switch-target-slide )
					.row.novi-disabled: .col-lg-9.movable
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
						hr.divider.divider-sm
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes

			.accordion-item.accordion-general-question-3
				a.accordion-header.accordion-general-question-group( href='#', data-multi-switch!={
					targets: '.accordion-general-question-3',
					isolate: '.accordion-general-question-group'
				} ) Who can take advantage of Intense?
				.accordion-body.accordion-general-question-3( data-multi-switch-target-slide )
					.row.novi-disabled: .col-lg-9.movable
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
						hr.divider.divider-sm
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes

			.accordion-item.accordion-general-question-4
				a.accordion-header.accordion-general-question-group( href='#', data-multi-switch!={
					targets: '.accordion-general-question-4',
					isolate: '.accordion-general-question-group'
				} ) Who can take advantage of Intense?
				.accordion-body.accordion-general-question-4( data-multi-switch-target-slide )
					.row.novi-disabled: .col-lg-9.movable
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
						hr.divider.divider-sm
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes

			.accordion-item.accordion-general-question-5
				a.accordion-header.accordion-general-question-group( href='#', data-multi-switch!={
					targets: '.accordion-general-question-5',
					isolate: '.accordion-general-question-group'
				} ) How can web developers benefit from Intense?
				.accordion-body.accordion-general-question-5( data-multi-switch-target-slide )
					.row.novi-disabled: .col-lg-9.movable
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
						hr.divider.divider-sm
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
