// General Questions
section.section.section-lg.bg-transparent.text-400.novi-background( data-preset!={ title:'General Questions', category:'content box, faq', reload:false, id:'general-questions-2' } )
	.container
		.row.row-40.row-md-60.row-lg-80.row-xl-100
			.col-12
				h2 General questions
				.offset-xs: hr.divider
			.col-lg-10.col-xl-8
				h4
					span.mr-3 1.
					| Who can take advantage of Intense?
				p Intense is a universal solution for professional developers, designers and end users. This powerful HTML template can be used to build sites of any type, be it a blogger’s resource or professional portfolio. Intense meets all the modern quality standards, which will give you a solid basis to compete with rivals on the web.
			.col-lg-10.col-xl-8
				h4
					span.mr-3 2.
					| How can web developers benefit from Intense?
				p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes. It also offers:
				ul.list.list-marked-arrow.ml-5
					li.list-item Fully responsive design
					li.list-item Social integration
					li.list-item 30+ predesigned pages
					li.list-item Regular content updates
					li.list-item Lots of child themes
