// Grid view
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Shop Grid', category:'shop', reload:false, id:'shop-grid-3' } )
	.container
		h1.text-center Grid view
		.row.row-50.flex-lg-row-reverse.novi-disabled
			.col-lg-3: .pl-4
				include ../product/_sidebar-product
			.col-lg-9
				include ../product/_grid-product-3-column
