include ../blurb/_blurb

// Highcharts
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Highcharts', category:'chart', reload:true, id:'highcharts' } )
	.container
		h2.text-center( data-animate!={ class: 'fadeIn' } ) Highcharts
		.tab.tab-shadow-horizontal
			ul.nav.nav-advanced-horizontal.tab-embed( role='tablist' )
				li.nav-item: a.nav-link.active( data-toggle='tab', href='#navHighchart1', role='tab', aria-selected='true' ) Basic Column Chart
				li.nav-item: a.nav-link( data-toggle='tab', href='#navHighchart2', role='tab', aria-selected='false' ) Line Chart With Submenu
				li.nav-item: a.nav-link( data-toggle='tab', href='#navHighchart3', role='tab', aria-selected='false' ) Column Chart with Filter
				li.nav-item: a.nav-link( data-toggle='tab', href='#navHighchart4', role='tab', aria-selected='false' ) Pie Chart
				li.nav-item: a.nav-link( data-toggle='tab', href='#navHighchart5', role='tab', aria-selected='false' ) Area Graph with Filter
				li.nav-item: a.nav-link( data-toggle='tab', href='#navHighchart6', role='tab', aria-selected='false' ) Bar Chart with Filter
				li.nav-item: a.nav-link( data-toggle='tab', href='#navHighchart7', role='tab', aria-selected='false' ) Area Chart with Filter
			.tab-content
				#navHighchart1.tab-pane.fade.show.active( role='tabpanel' )
					h3 Basic Column Chart
					include ../highchart/_basic-column
				#navHighchart2.tab-pane.fade( role='tabpanel' )
					h3 Line Chart With Submenu
					include ../highchart/_line-chart-submenu
				#navHighchart3.tab-pane.fade( role='tabpanel' )
					h3 Column Chart with Filter
					include ../highchart/_column-with-filter
				#navHighchart4.tab-pane.fade( role='tabpanel' )
					h3 Pie Chart
					include ../highchart/_pie-chart
				#navHighchart5.tab-pane.fade( role='tabpanel' )
					h3 Line Graph with Filter
					include ../highchart/_line-chart-with-filter
				#navHighchart6.tab-pane.fade( role='tabpanel' )
					h3 Bar Chart with Filter
					include ../highchart/_column-horizontal
				#navHighchart7.tab-pane.fade( role='tabpanel' )
					h3 Area Chart with Filter
					include ../highchart/_area-spline
