// Intro
section.section.section-lg.d-flex.align-items-center.min-vh-100.novi-background( data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-8' } )
	.container
		.bg-image.py-5.px-3.px-md-0.novi-background( style='background-image: url(images/image-54-1280x500.png)' )
			.row.novi-disabled
				.col-md-9.col-lg-7.col-xl-6.col-xxl-5
					h3( data-animate!={ class: 'fadeInUp' } ) 22th & 23th December 2019
					h1( data-animate!={ class: 'fadeInUp', delay: '0.15s' } ) Design Systems New York
					p( data-animate!={ class: 'fadeInUp', delay: '0.3s' } ) An open-source conference for the design systems community.
					.offset-md( data-animate!={ class: 'fadeInUp', delay: '0.45s' } )
						a.btn.btn-rect.btn-dark( href='#' ) Get tickets
