// Get in touch
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Get In Touch', category:'contacts, content box', reload:false, id:'get-in-touch-7' } )
	.container( data-animate!={ class: 'fadeInRight' } )
		.row.row-30
			.col-md-3.col-xl-2
				h5 Get in touch
			.col-md-9.col-xl-10
				h2 Let’s talk about your project and how I can help you. Even if you just want  to chat about your future web project, feel free to get in touch with me.
				.offset-lg.group-30
					a.btn.btn-lg.btn-secondary( href='contact-me.html' ) Contact Me
					a.btn.btn-lg.btn-outline( href='mailto:#' ) Email Me
