// About me
section.section.section-lg.context-dark.overlay-dark.bg-image.novi-background( style='background-image: linear-gradient(0deg, #171724 19.35%, transparent 50%), url( images/image-65-1920x2046.jpg )', data-preset!={ title:'About Me', category:'content box', reload:true, id:'about-me-3' } )
	.container
		.row.row-40.row-md-60.row-lg-80.row-xl-100
			.col-sm-9.col-md-8.col-xl-9
				h6( data-animate!={ class: 'fadeInUp' } ) Bio
				h1( data-animate!={ class: 'fadeInUp' } ) My name is Mark Rogers and I’m the founder and leading photographer at Intense.
			.col-12
				.position-relative
					+img( 'image-66-620x730' )( style='width: 48.5%; margin-bottom: 12.3%' )
					+img( 'image-67-730x580' ).position-absolute.mt-0( style='width: 57%; right: 0; bottom: 0' )
			.col-12( data-animate!={ class: 'fadeInUp' } )
				.row.row-30.novi-disabled
					.col-md-6.col-xl-5
						.mr-xxl-5
							h5 Powerful Bootstrap
							p I have rich experience in various genres of photography. I specialize in lifestyle, wedding, and nature photography. At Intense, I gathered a team of dedicated photography professionals.
					.col-md-6.col-xl-5
						.mr-xxl-5
							h5 Establishing Intense
							p I founded Intense 15 years ago to provide affordable yet high-quality photography services to corporate & individual clients.
