// Novi
section#journey.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Novi Builder', category:'content box', reload:false, id:'novi-builder-2' } )
	.container
		.row.row-30.align-items-center.justify-content-lg-between
			.col-sm-6.col-md-5.col-lg-4( data-animate!={ class: 'fadeInLeft' } )
				h6.text-primary Novi Builder
				h1 Start building visually
				p Easily change any element of Intense with the best visual drag and drop builder.
			.col-xs-10.col-sm-6.col-md-7
				+img( 'image-33-730x456.gif' ).shadow-lg
