// Grid shop
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Grid shop', category:'shop', reload:false, id:'shop-grid-4' } )
	.container
		h2.text-center Your fit. Your style
		p.text-center Create exactly what you need with our powerful bootstrap toolkit.
		.row.row-50.novi-disabled: .col-12
			include ../product/_grid-product-4-column-sample
