include ../quote/_quote

// Links
section.section.section-md.bg-transparent.novi-background( data-preset!={ title:'Links', category:'content box', reload:false, id:'links' } )
	.container.text-center
		.row.row-30.grid-divided
			.col-sm-6.py-sm-5( data-animate!={ class: 'fadeIn' } )
				.text-box
					h3 Ready to find #[br]a Website?
					a.link.link-primary.small( href='#' )
						| Let's Get Started
						span.link-icon.int-arrow-right.novi-icon
			.col-sm-6.py-sm-5( data-animate!={ class: 'fadeIn' } )
				.text-box
					h3 Ready to find #[br]a Website?
					a.link.link-primary.small( href='#' )
						| Let's Get Started
						span.link-icon.int-arrow-right.novi-icon
