// Users
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Users', category:'counter, call to action', reload:false, id:'users' } )
	.container
		.text-center( data-animate!={ class: 'fadeInUp' } )
			h1 Trusted by #[span.text-primary #[span( data-counter ) 3568]+] users
			p Read the most popular reviews submitted by our customers.
			a.btn.btn-lg.btn-dark( href='#' ) More Testimonials
