include ../blurb/_blurb

// Steps
section.section.section-xxl.bg-gradient-animated.novi-background( data-preset!={ title:'Steps', category:'blurb', reload:false, id:'steps' } )
	.container
		.row.row-30.row-xl-80
			.col-md-6
				h1( data-animate!={ class: 'fadeIn' } ) Only the emails you want in 3 steps.
				p( data-animate!={ class: 'fadeIn' } ): span.h6 Intense is an independent web design studio with a rich history. It started as a small family-owned business in Oakville.
			.col-md-6.text-md-right( data-animate!={ class: 'fadeIn' } )
				a.btn.btn-lg.btn-round( href='#' )
					span.btn-icon.int-apple.novi-icon
					span Download on the AppStore
			.col-md-6.col-xl-4( data-animate!={ class: 'fadeInUpBig' } )
				+blurb-inline({
					alignY: 'align-items-center',
					embed:  '<span class="icon icon-circle icon-lg icon-dark-filled">1</span>',
					title:  'Bootstrap 4 framework',
					text:   'Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.'
				})
			.col-md-6.col-xl-4( data-animate!={ class: 'fadeInUpBig', delay: '0.15s' } )
				+blurb-inline({
					alignY: 'align-items-center',
					embed:  '<span class="icon icon-circle icon-lg icon-dark-filled">2</span>',
					title:  'Bootstrap 4 framework',
					text:   'Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.'
				})
			.col-md-6.col-xl-4( data-animate!={ class: 'fadeInUpBig', delay: '0.3s' } )
				+blurb-inline({
					alignY: 'align-items-center',
					embed:  '<span class="icon icon-circle icon-lg icon-dark-filled">3</span>',
					title:  'Bootstrap 4 framework',
					text:   'Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.'
				})
