// Intro
section.section.section-lg.bg-gradient-animated.text-center.d-flex.align-items-center.min-vh-100.novi-background( data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-10' } )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-10.col-lg-8.col-xl-7.col-xxl-6( data-animate!={ class: 'fadeInUp' } )
				h1 The smartest and the most flexible Bootstrap template
				p Create exactly what you need with our powerful Bootstrap toolkit.
				.offset-md.group-30
					a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
					a.btn.btn-lg.btn-secondary( href='#journey', data-anchor-link='' ) Start a Journey
