// Clients
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Clients', category:'content box, partners', reload:false, id:'clients-3' } )
	.container( data-animate!={ class: 'fadeInRight' } )
		.row.row-30
			.col-md-3.col-xl-2
				h5 Clients
			.col-md-9.col-xl-6
				h2 Artworx, Mito, Maironti, Bikerist, Fibrolo, Decoroto, Drankso.
