// Rect icon sizes
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Rect Icon Sizes Sample', category:'icon sample', reload:false, id:'rect-icon-sizes-sample' } )
	.container
		h2 Square icon sizes
		.mt-5
			.group-30.d-flex.flex-wrap.align-items-start.justify-content-center
				.icon.icon-rect.icon-xs.icon-primary-filled.fa-television.novi-icon
				.icon.icon-rect.icon-sm.icon-primary-filled.fa-television.novi-icon
				.icon.icon-rect.icon-md.icon-primary-filled.fa-television.novi-icon
				.icon.icon-rect.icon-lg.icon-primary-filled.fa-television.novi-icon
				.icon.icon-rect.icon-xl.icon-primary-filled.fa-television.novi-icon
