// Input sizes
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Input Sizes Sample', category:'input sample', reload:false, id:'input-sizes-sample' } )
	.container
		h3 Input sizes
		.row.row-15.novi-disabled
			.col-md-4
				.form-group
					label( for='inputSize1' ) Input small
					.position-relative
						input.form-control.form-control-sm( id='inputSize1', type='text', placeholder='Input placeholder' )
			.col-md-4
				.form-group
					label( for='inputSize2' ) Input normal
					.position-relative
						input.form-control( id='inputSize2', type='text', placeholder='Input placeholder' )
			.col-md-4
				.form-group
					label( for='inputSize3' ) Input large
					.position-relative
						input.form-control.form-control-lg( id='inputSize3', type='text', placeholder='Input placeholder' )
