include ../breadcrumb/_breadcrumb
include ../person/_person

// Intro chart
section.section.section-lg.bg-image.text-center.d-flex.align-items-center.min-vh-100.overlay-dark.context-dark.novi-background( style='background-image: url( images/image-30-1920x900.jpg )', data-preset!={ title:'Intro Chart', category:'intro', reload:false, id:'intro-chart' } )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-10
				h1 Charts and graphs
				p Intense comes with a huge pack of charts and graphs licensed under MIT, GPL and Apache licenses
				.offset-md.group-30
					a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
