include ../vide/_vide

// Intro vide
+vide( 'video/bg-video-1' ).section.section-lg.text-center.d-flex.justify-content-center.align-items-center.min-vh-100.overlay-dark.context-dark.novi-background( data-preset!={ title:'Intro Vide', category:'intro, media', reload:true, id:'intro-vide' } )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-10
				h1 BACKGROUND VIDEO
				p Feel the power of brand Background Video Plugin.
				.offset-md.group-30
					a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
