// Lists default sample
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Lists Default Sample', category:'content box, sample', reload:false, id:'lists-default-sample' } )
	.container
		h2.text-center Default lists
		.row.row-40.novi-disabled
			.col-sm-6.col-lg-4
				ul.list.list-marked-arrow
					li.list-item Dedication;
					li.list-item Knowledge;
						ul.list.list-marked-arrow
							li.list-item Experience;
							li.list-item Creativity;
					li.list-item Reliability.
			.col-sm-6.col-lg-4
				ul.list.list-marked
					li.list-item Dedication;
					li.list-item Knowledge;
						ul.list.list-marked
							li.list-item Experience;
							li.list-item Creativity;
					li.list-item Reliability.
			.col-sm-6.col-lg-4
				ol.list.list-ordered
					li.list-item Dedication;
					li.list-item Knowledge;
						ol.list.list-ordered
							li.list-item Experience;
							li.list-item Creativity;
					li.list-item Reliability.
