// Mailform CTA
section.section.section-lg.context-dark.bg-gradient-electric-violet.text-center.novi-background( data-preset!={ title:'Mailform CTA', category:'call to action', reload:false, id:'mailform-cta' } )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-10.col-lg-9.col-xl-8
				h2 Compatibility with Third-Party Scripts
				p RD Mailform is compatible with third-party scripts. Thanks to such a feature, you can extend its functionality the way you like.
				a.btn.btn-lg.btn-light.btn-outline( href= buyLink, target='_blank' ) Buy Intense Now
