// Mailform license
section.section.section-lg.context-dark.bg-gradient-shamrock-blue.novi-background( data-preset!={ title:'Mailform License', category:'content box, call to action', reload:false, id:'mailform-license' } )
	.container
		.row.row-30.justify-content-center
			.col-md-6.col-lg-5
				+img( 'partners/partner-5-369x182.png' )( data-animate!={ class: 'bounceIn' } )
			.col-md-6( data-animate!={ class: 'fadeIn' } )
				h3 100% GPL
				p Feel free to use RD Mailform without any limits. This GPL licensed script can be installed as many times as you need.
				a.btn.btn-light.btn-outline( href= buyLink, target='_blank' ) Buy Intense Now
