// Media youtube
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Media Youtube', category:'media', reload:true, id:'media-youtube' } )
	.container.text-center
		h2 YouTube video
		.row.justify-content-center.novi-disabled
			.col-md-8.col-xl-6
				.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item( src='about:blank', data-pended-iframe='https://www.youtube.com/embed/-AhmuMqZB0s', allowfullscreen='' )
