include ../counter/_counter

// Nav inset sample
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Nav Inset Sample', category:'tab, sample', reload:true, id:'nav-inset-sample' } )
	.container
		h2.text-center Tab type #8
		.tab.tab-shadow
			ul.nav.nav-inset( role='tablist' )
				li.nav-item: a.nav-link.active( data-toggle='tab', href='#navInset1-1', role='tab', aria-selected='true' ) Toolkit core
				li.nav-item: a.nav-link( data-toggle='tab', href='#navInset1-2', role='tab', aria-selected='false' ) Ui kit
				li.nav-item: a.nav-link( data-toggle='tab', href='#navInset1-3', role='tab', aria-selected='false' ) Plugins
				li.nav-item: a.nav-link( data-toggle='tab', href='#navInset1-4', role='tab', aria-selected='false' ) Documentation
			.tab-content
				#navInset1-1.tab-pane.fade.show.active( role='tabpanel' )
					include ../tab/_tab-content-1

				#navInset1-2.tab-pane.fade( role='tabpanel' )
					include ../tab/_tab-content-2

				#navInset1-3.tab-pane.fade( role='tabpanel' )
					include ../tab/_tab-content-3

				#navInset1-4.tab-pane.fade( role='tabpanel' )
					include ../tab/_tab-content-4
