include ../offer-box/_offer-box

// Offer box classic
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Offer Box Classic Sample', category:'offer box', reload:false, id:'offer-box-classic-sample' } )
	.container
		h2.px-3.text-center Offer boxes type #5
		.row.row-40
			.col-sm-6.col-lg-4
				+offer-box-classic({
					img:   'image-09-400x257',
					title: 'Helping you create outstanding and responsive websites',
					text:  'Intense provides you with everything necessary for creation of a powerful and responsive website.'
				})

			.col-sm-6.col-lg-4
				+offer-box-classic({
					img:   'image-05-400x257',
					title: 'Providing website owners worldwide with powerful customization tools',
					text:  'With Intense, it is very easy to customize your existing website any way you want thanks to the rich UI kit.'
				})

			.col-sm-6.col-lg-4
				+offer-box-classic({
					img:   'image-08-400x257',
					title: 'Create an appealing online presence for your company with Intense',
					text:  'Intense also allows you to develop a totally unique web presence with a variety of pre-designed pages.'
				})
