include ../person/_person

// Our team
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Our Team', category:'person', reload:false, id:'our-team-3' } )
	.container
		h2 Our team
		.row.row-40
			.col-xs-6
				+person-thumbnail({
					img: 'persons/person-04-620x620',
					title: 'Mark Rogers',
					position: 'Lead Designer'
				})
			.col-xs-6
				+person-thumbnail({
					img: 'persons/person-05-620x620',
					title: 'Edward Rivera',
					position: 'Senior Developer'
				})
			.col-xs-6.col-lg-4
				+person-thumbnail({
					img: 'persons/person-01-400x400',
					title: 'Daniel Reed',
					position: 'UX Designer'
				})
			.col-xs-6.col-lg-4
				+person-thumbnail({
					img: 'persons/person-08-400x400',
					title: 'Jean Hall',
					position: 'Back End Developer'
				})
			.col-xs-6.col-lg-4
				+person-thumbnail({
					img: 'persons/person-06-400x400',
					title: 'John Wilson',
					position: 'CEO, Founder, Creative Director'
				})
