// Person awards
section.section.section-lg.context-dark.bg-image.novi-background( style='background-image: url(images/image-28-1920x1294.jpg)', data-preset!={ title:'Person Awards', category:'content box', reload:false, id:'person-awards' } )
	.container.movable
		.row.row-30.justify-content-md-between
			.col-lg-4
				h6.text-primary: time( datetime='2019' ) 2019
				h4 Bestselling Author
			.col-lg-7
				p According to the New York Times, I’m a #1 bestselling author in the Technology & IT categories. With more than 1 million copies collectively in print, my seven books on web design & digital marketing have been translated into several languages and educated countless people worldwide. “Your Way to Design” was recognized with an Excellence in Technological Literacy Education (EITLE) Book of the Year Award from the Institute for Web Literacy (March 2019), a Gold Medal Axiom Award (March 2009), an Apex Award (June 2007), and was named Book of the Year by Small Press magazine (2007).
		hr.divider( style='opacity: .3' )
		.row.row-30.justify-content-md-between
			.col-lg-4
				h6.text-primary: time( datetime='2017' ) 2017
				h4 Author of Award-winning Creative Workshops
			.col-lg-7
				p I always aim to share my knowledge and experience with other people, especially if they want to know more about creativity in the web design sphere. For that purpose, I designed a range of courses and workshops that can help everyone who is interested in design and development for the web. It is possible thanks to an innovative educational platform created by my team at Intense. Many of my courses have been awarded by American Educational Association.
		hr.divider( style='opacity: .3' )
		.row.row-30.justify-content-md-between
			.col-lg-4
				h6.text-primary: time( datetime='2016' ) 2016
				h4 Successful Influencer
			.col-lg-7
				p As a successful entrepreneur, I appear on stage frequently, talking to thousands of people every year. I try to be both entertaining and informative. Such an approach helped me get attention of various IT experts, investors, and users of my company’s solutions worldwide. Besides running a successful web design studio, I also act as a public speaker, influencer, and business coach in IT industry. The active participation in this sphere got me multiple awards and worldwide recognition that I use to deliver the most creative and original web design and digital marketing solutions.
