include ../post/_post

// Post side large
section.section.section-md.bg-transparent.novi-background( data-preset!={ title:'Post Side Large', category:'blog', reload:false, id:'post-side-large' } )
	.container
		.row.row-40.justify-content-center
			.col-xs-10.col-md-12
				+post-side-large({
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					coments:  '25',
					title:    post4.title,
					img:      'image-06-620x398',
					postText: post4.textShort,
					btnText:  'Read more'
				})

				+post-side-large({
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					coments:  '25',
					title:    post3.titleShort,
					img:      'image-05-620x398',
					postText: post3.text,
					btnText:  'Read more'
				}).post-side-reverse
