// Product reviews
section#reviews.section.section-md.bg-transparent.novi-background( data-preset!={ title:'Product Reviews', category:'shop, comment', reload:false, id:'product-reviews' } )
	.container
		include ../product/_product-reviews
