// Project gallery
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Project Gallery', category:'gallery, content box', reload:false, id:'project-gallery-4' } )
	.container
		.row.row-30.row-md-40( data-lightgallery )
			.col-6
				a.thumbnail-up-shadow.lightgallery-item( href='images/image-17-1200x800.jpg' )
					+img( 'image-17-620x840' )
			.col-6
				.row.row-30.row-md-40.novi-disabled
					.col-12
						a.thumbnail-up-shadow.lightgallery-item( href='images/image-20-1200x800.jpg' )
							+img( 'image-20-620x400' )
					.col-12
						a.thumbnail-up-shadow.lightgallery-item( href='images/image-14-1200x800.jpg' )
							+img( 'image-14-620x400' )
			.col-12
				a.thumbnail-up-shadow.lightgallery-item( href='images/image-05-1200x800.jpg' )
					+img( 'image-05-1280x817' )
			.col-4
				a.thumbnail-up-shadow.lightgallery-item( href='images/image-07-1200x800.jpg' )
					+img( 'image-07-400x400' )
			.col-4
				a.thumbnail-up-shadow.lightgallery-item( href='images/image-15-1200x800.jpg' )
					+img( 'image-15-400x400' )
			.col-4
				a.thumbnail-up-shadow.lightgallery-item( href='images/image-16-1200x800.jpg' )
					+img( 'image-16-400x400' )
			.col-12
				a.thumbnail-up-shadow.lightgallery-item( href='images/image-06-1200x800.jpg' )
					+img( 'image-06-1280x817' )
			.col-4
				a.thumbnail-up-shadow.lightgallery-item( href='images/image-21-1200x800.jpg' )
					+img( 'image-21-400x400' )
			.col-8
				a.thumbnail-up-shadow.lightgallery-item( href='images/image-13-1200x800.jpg' )
					+img( 'image-13-840x400' )
