include ../blurb/_blurb

// Services
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Services', category:'blurb', reload:false, id:'services-2' } )
	.container
		h6.text-primary Our services & solutions
		h2 We deliver the best web design, development,
			br
			| and digital marketing services for you
		.row.row-offset-lg.row-30.row-md-40
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>',
					title: 'Responsive web design services',
					text: 'Our primary specialization is creative and responsive web design that ensures optimal viewing experience.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>',
					title: 'Web development of any complexity',
					text: 'We also develop functional and feature-rich websites that are built to strengthen your business.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>',
					title: 'Online marketing & PR services',
					text: 'Our marketing services are great for increasing conversions and traffic to your website to help you reach the set goals.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>',
					title: 'Copywriting and content management',
					text: 'Need quality and engaging content for your website or marketing campaign? We can easily help you with it.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>',
					title: 'Branding strategy and logo design',
					text: 'The team of Intense can help you create a proper brand identity that plays a vital role in your company’s success.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>',
					title: 'Search engine optimization',
					text: 'Our affordable SEO services deliver a modern SEO strategy designed to engage your customers.'
				}).blurb-modern

