// Team member
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Team Member', category:'person', reload:false, id:'team-member-2' } )
	.container
		.row.row-40.justify-content-center.justify-content-md-between.novi-disabled
			.col-9.col-xs-7.col-sm-6.col-md-4.text-center
				+img( 'persons/person-06-400x400' ).rounded-circle
				a.btn.btn-lg.btn-primary( href='contact-me.html' ) Free Consultation
				.offset-sm
					.d-inline-flex.align-items-center
						span.icon.icon-xs.novi-icon.int-phone.mr-2
						.h5: a( href='tel:#' ) +1 234 567 8901
				.offset-xxs
					a.font-weight-normal( href='mailto:#' ) jwilson@demolink.org
				.offset-sm
					.group-30.d-inline-flex.text-900
						a.icon.icon-sm.icon-social.int-youtube.novi-icon( href='#' )
						a.icon.icon-sm.icon-social.int-facebook.novi-icon( href='#' )
						a.icon.icon-sm.icon-social.int-instagram.novi-icon( href='#' )
						a.icon.icon-sm.icon-social.int-twitter.novi-icon( href='#' )
						a.icon.icon-sm.icon-social.int-linkedin.novi-icon( href='#' )
			.col-md-7
				.row.row-30.row-md-50
					.col-12
						h2 Hello, I’m John Wilson.
							br
							| I’m the CEO, founder & creative director of Intense.
					.col-12
						h5 A few words about me
						p As the CEO of Intense, I oversee the business and manage our projects. I also do a lot of the 'hands-on' work across all aspects of the business whenever possible. I also act as a creative director of the company. My responsibilities include managing the brand of Intense as well as leading our creative team.
						p When I founded Intense in 1999, I haven’t imagined what it will grow into. Today my company is not only a successful web studio & digital agency. It’s also a well-known brand known for the following core values:
					.col-12
						ol.list.list-ordered.h5
							li.list-item Creativity
							li.list-item Quality
							li.list-item Service
							li.list-item Honesty
							li.list-item Commitment
							li.list-item Integrity
							li.list-item Care
