include ../thumbnail-connor/_thumbnail-connor

// Thumbnail connor
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Thumbnail Connor', category:'thumbnail', reload:false, id:'thumbnail-connor' } )
	.container
		h2.text-center Connor thumbnail
		.row.row-30.justify-content-center
			.col-sm-8.col-md-6
				+thumbnail-connor({
					img: 'image-07-620x420',
					title: 'Web Design',
					description: 'Delivering quality web design services to our clients.'
				})
