.widget.widget-subscribe
	h6.widget-title Discover the latest trends in web design and development
	.widget-body
		p.small Trying to stay on top of it all? Get the best tools, resources and inspiration sent to your inbox weekly.
		form.rd-mailform.widget-subscribe-form( data-form-output='widget-form-output', data-form-type='subscribe', method='post', action='components/rd-mailform/rd-mailform.php' )
			.form-group
				input.form-control( type='email', name='email', placeholder='Enter your email address', data-constraints='@Email @Required' )
			button.btn.btn-secondary.btn-block.widget-subscribe-btn Subscribe

		#widget-form-output.form-output.snackbar.snackbar-secondary