<section class='section service-section service-section-xl bg-transparent text-center novi-background'>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-8 col-lg-6'>
        <h1>Error 503 :(</h1>
        <h4>Service is temporary unavailable</h4>
        <p>Sorry, we're offline right now to make our site even better. Please, come back later and check what we've been up to.</p>
        <div class='button-group'><a class='btn btn-lg btn-primary' href='index.html'><span class='btn-icon int-arrow-left novi-icon'></span><span>Back to home</span></a><a class='btn btn-lg btn-secondary' href='contact-us.html'>Contact us</a></div>
      </div>
    </div>
  </div>
</section>