<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 align-items-center'>
      <div class='col-xs-10 col-md-5'>
        <h6 class='text-primary'>A Few Words About Us</h6>
        <h2>Leaders in web design</h2>
        <p>Founded in 1999, Intense is an award-winning web design studio.</p>
      </div>
      <div class='col-xs-10 col-md-7'><img src='images/image-05-730x730.jpg' alt='' width='730' height='730' /></div>
    </div>
  </div>
</section>