<section class='section bg-transparent novi-background'>
  <div class='container'>
    <div class='row justify-content-lg-between'>
      <div class='col-sm-8 col-md-7 col-lg-6'>
        <div class='section-lg'>
          <h6 data-animate='{"class":"fadeInUp"}'>A few words about us</h6>
          <h1 data-animate='{"class":"fadeInUp"}'>Creating images worth sharing and cherishing for years to come</h1>
          <div class='row justify-content-lg-end novi-disabled'>
            <div class='col-lg-10 col-xl-9 col-xxl-8' data-animate='{"class":"fadeInUp"}'>
              <p>Founded in 2006, Intense strives to provide excellent photography at competitive prices to make your photography experience not only painless, but downright fun. We offer business portraits, family portraits, pictures of children and babies etc.</p>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-4 col-md-5' data-animate='{"class":"fadeInUp"}'><img class='d-none d-sm-block' src='images/image-55-510x730.jpg' alt='' width='510' height='730' style='transform: translateY(-22%);' /></div>
    </div>
  </div>
</section>