<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-50 row-md-70 row-lg-100 row-xl-130 justify-content-center'>
      <div class='col-md-10 col-lg-9 col-xl-8'>
        <h1 class='text-primary'>Delivering cutting-edge<br />design experiences</h1><img src='images/image-25-840x600.jpg' alt='' width='840' height='600' />
      </div>
      <div class='col-md-10 col-lg-9 col-xl-8'>
        <h6 class='text-secondary'>Who I am</h6>
        <h2>I’m Ralph Peterson, a twenty-six-year-old product designer from Los Angeles, CA, currently co-leading a design team at Intense web design studio.</h2>
        <p>The digital world is my sandbox and I’m always hungry to create new user experiences. My long-term goal is to make technology easy to use and accessible to everyone. The motivation that drives me daily is to work with people and brands that inspire me.</p>
        <p>I love to document my journey and share most of my design work on <u class='font-weight-medium'></u><a href='#'>Dribbble</a> and <u class='font-weight-medium'></u><a href='#'>Behance</a>, my thoughts on <u class='font-weight-medium'></u><a href='#'>Twitter</a>, daily updates on <u class='font-weight-medium'></u><a href='#'>Instagram</a> and articles on Medium. When not working, I usually play anything on PlayStation or Steam.</p>
        <div class='offset-sm'>
          <div class='group-30 d-inline-flex text-900'><a class='icon icon-sm icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-sm icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-sm icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-sm icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-sm icon-social int-linkedin novi-icon' href='#'></a></div>
        </div>
      </div>
      <div class='col-md-10 col-lg-9 col-xl-8'>
        <h6 class='text-secondary'>What’s my mission?</h6>
        <h2>To design functional digital experiences and engaging brands.</h2>
        <p>The digital world is my sandbox and I’m always hungry to create new user experiences. My long-term goal is to make technology easy to use and accessible to everyone. The motivation that drives me daily is to work with people and brands that inspire me.</p>
      </div>
      <div class='col-md-10 col-lg-9 col-xl-8'>
        <h6 class='text-secondary'>What’s my focus?</h6>
        <div class='row row-30 row-md-40'>
          <div class='col-xs-6'>
            <article class='service'>
              <div class='service-title h4'>Brand</div>
              <hr class='service-divider divider divider-sm' />
              <ul class='service-list'>
                <li class='service-list-item'>Brand identity direction</li>
                <li class='service-list-item'>Visual communication</li>
                <li class='service-list-item'>Systems &amp; guides</li>
              </ul>
            </article>
          </div>
          <div class='col-xs-6'>
            <article class='service'>
              <div class='service-title h4'>Design</div>
              <hr class='service-divider divider divider-sm' />
              <ul class='service-list'>
                <li class='service-list-item'>Digital product design</li>
                <li class='service-list-item'>Responsive web design</li>
                <li class='service-list-item'>Mobile UI/UX design</li>
              </ul>
            </article>
          </div>
          <div class='col-xs-6'>
            <article class='service'>
              <div class='service-title h4'>Social</div>
              <hr class='service-divider divider divider-sm' />
              <ul class='service-list'>
                <li class='service-list-item'>Creative direction</li>
                <li class='service-list-item'>Social media strategy</li>
                <li class='service-list-item'>Content strategy</li>
              </ul>
            </article>
          </div>
          <div class='col-xs-6'>
            <article class='service'>
              <div class='service-title h4'>Concept</div>
              <hr class='service-divider divider divider-sm' />
              <ul class='service-list'>
                <li class='service-list-item'>Conceptual UI / UX</li>
                <li class='service-list-item'>New products &amp; services</li>
                <li class='service-list-item'>Product design vision</li>
              </ul>
            </article>
          </div>
        </div>
      </div>
      <div class='col-md-10 col-lg-9 col-xl-8'>
        <h6 class='text-secondary'>What’s my vision?</h6>
        <h2>Lead by example, help others, educate and inspire</h2>
        <p>I always believe in sharing and collaboration. I want to share my experiences and ideas with fellow designers. I believe in collaboration over the competition because design is all about enjoying the path. I wish to make design and technology accessible to everyone.</p>
      </div>
      <div class='col-md-10 col-lg-9 col-xl-8'>
        <h6 class='text-secondary'>Awards:</h6>
        <h2>My victory in international competitions</h2>
        <ul class='list list-xs'>
          <li class='list-item'><time class='h6' datetime='2018'>2018</time> – MAGNUM 30 under 30, Winner</li>
          <li class='list-item'><time class='h6' datetime='2016'>2016</time> – The Other Hundred, 1st Prize</li>
          <li class='list-item'><time class='h6' datetime='2016'>2016</time> – American Photography 30, Selected Winner</li>
          <li class='list-item'><time class='h6' datetime='2015'>2015</time> – Leica Oskar Barnack Award, Winner Newcomer</li>
          <li class='list-item'><time class='h6' datetime='2014'>2014</time> – PDN Photo Annual - Student Work, Winner</li>
          <li class='list-item font-weight-light'><time class='h6' datetime='2014'>2014</time> – AOP Student Awards, Finalist</li>
        </ul>
      </div>
      <div class='col-md-10 col-lg-9 col-xl-8'>
        <h1>Work inquiry, question or<br class='d-none d-xs-block' />something else? <u></u><a href='mailto:#'>Email me</a>.</h1>
      </div>
    </div>
  </div>
</section>