<section class='section section-lg context-dark overlay-dark bg-image novi-background' style='background-image: linear-gradient(0deg, #171724 19.35%, transparent 50%), url( images/image-65-1920x2046.jpg )'>
  <div class='container'>
    <div class='row row-40 row-md-60 row-lg-80 row-xl-100'>
      <div class='col-sm-9 col-md-8 col-xl-9'>
        <h6 data-animate='{"class":"fadeInUp"}'>Bio</h6>
        <h1 data-animate='{"class":"fadeInUp"}'>My name is Mark Rogers and I’m the founder and leading photographer at Intense.</h1>
      </div>
      <div class='col-12'>
        <div class='position-relative'><img src='images/image-66-620x730.jpg' alt='' width='620' height='730' style='width: 48.5%; margin-bottom: 12.3%;' /><img class='position-absolute mt-0' src='images/image-67-730x580.jpg' alt='' width='730' height='580' style='width: 57%; right: 0; bottom: 0;' /></div>
      </div>
      <div class='col-12' data-animate='{"class":"fadeInUp"}'>
        <div class='row row-30 novi-disabled'>
          <div class='col-md-6 col-xl-5'>
            <div class='mr-xxl-5'>
              <h5>Powerful Bootstrap</h5>
              <p>I have rich experience in various genres of photography. I specialize in lifestyle, wedding, and nature photography. At Intense, I gathered a team of dedicated photography professionals.</p>
            </div>
          </div>
          <div class='col-md-6 col-xl-5'>
            <div class='mr-xxl-5'>
              <h5>Establishing Intense</h5>
              <p>I founded Intense 15 years ago to provide affordable yet high-quality photography services to corporate & individual clients.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>