<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-11 col-lg-9 col-xxl-8' data-lightgallery=''>
        <div data-animate='{"class":"fadeInUp"}'>
          <h2>Leading companies trust us to<br class='d-none d-xs-block' />develop software</h2>
          <h5>Our company provides custom software development services to individual clients, start-ups, medium businesses, and large enterprises. You can find out more about who we are and what we do below.</h5>
        </div>
        <article class='video lightgallery-item bg-secondary' data-html='#faefocda6yh' data-animate='{"class":"fadeInUp"}'><img class='video-image' src='images/image-45-840x473.jpg' alt='' width='840' height='473' />
          <div class='video-link'>
            <div class='icon icon-circle icon-sm video-icon fa-play novi-icon icon-secondary-filled'></div>
          </div>
        </article>
        <div class='d-none' id='faefocda6yh'><video class='lg-video-object lg-html5' controls='' preload='none'>
            <source src='video/bg-video-3.mp4' type='video/mp4'>
            </source></video></div>
      </div>
    </div>
  </div>
</section>