<section class='section section-lg bg-transparent novi-background'>
  <div class='container' data-animate='{"class":"fadeInRight"}'>
    <div class='row row-40 flex-md-row-reverse justify-content-md-between'>
      <div class='col-6 col-md-5'><img src='images/image-25-510x593.jpg' alt='' width='510' height='593' /></div>
      <div class='col-md-6'>
        <h1>I’m Ralph Peterson, a twenty-six-year-old UI/UX designer from Los Angeles, CA</h1>
        <h5>Currently I am co-leading a design<br class='d-none d-xs-block' />team at Intense web design studio.</h5>
        <div class='offset-lg'><a class='btn btn-lg btn-secondary' href='contact-me.html'>Contact Me</a></div>
      </div>
    </div>
  </div>
</section>