<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='jumbotron jumbotron-lg rounded-0 context-dark bg-image novi-background' style='background-image: url(&quot;images/image-24-1280x730.jpg&quot;)'>
      <div class='row no-gutters novi-disabled'>
        <div class='col-sm-9 col-md-7'>
          <h1>Hello,<br />I’m Amanda Barry. I’m a creator, author, speaker, designer, and public activist.</h1>
        </div>
      </div>
    </div>
  </div>
</section>