<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='tab tab-scale-horizontal'>
      <ul class='nav nav-scale-horizontal tab-embed' role='tablist'>
        <li class='nav-item'><a class='nav-link h4 active' data-toggle='tab' href='#navScale2-1' role='tab' aria-selected='true'>Flexibility</a></li>
        <li class='nav-item'><a class='nav-link h4' data-toggle='tab' href='#navScale2-2' role='tab' aria-selected='false'>Team support</a></li>
        <li class='nav-item'><a class='nav-link h4' data-toggle='tab' href='#navScale2-3' role='tab' aria-selected='false'>Technology</a></li>
        <li class='nav-item'><a class='nav-link h4' data-toggle='tab' href='#navScale2-4' role='tab' aria-selected='false'>Satisfaction</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane fade show active' id='navScale2-1' role='tabpanel'>
          <h4>Our development team works onshore & offshore, depending on your requirements, to ensure cost-efficient and quality solutions. We are aimed at developing software that is suited to your needs in a timeframe that fits you the best way.</h4>
          <p>Intense can easily adjust to your demands and requirements to deliver a great app for you.</p>
        </div>
        <div class='tab-pane fade' id='navScale2-2' role='tabpanel'>
          <h4>An entire team of business analysts, project managers, UI designers, developers, testers, deployment support is at your service at Intense – all at the cost of a single developer. Our dedicated team will also provide extensive support for you.</h4>
          <p>Whatever software solution your company requires, you can always count on us.</p>
        </div>
        <div class='tab-pane fade' id='navScale2-3' role='tabpanel'>
          <h4>Choose from our pool of experienced experts on diverse technologies such as Microsoft.NET, SharePoint, PHP, iOS, Android, Salesforce, and more. We are ready to work on a project of any complexity.</h4>
          <p>No matter what platform you use, we can develop an app for it.</p>
        </div>
        <div class='tab-pane fade' id='navScale2-4' role='tabpanel'>
          <h4>Our client portal transparently facilitates tracking of even the most minute task details and provides regular status updates. It helps our customers to stay in the know of how their project is developed and supported throughout its lifecycle.</h4>
          <p>We make every possible effort to deliver the utmost customer satisfaction.</p>
        </div>
      </div>
    </div>
  </div>
</section>