<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Classic alerts</h2>
    <div class='row novi-disabled'>
      <div class='col'>
        <div class='alert alert-primary'>
          <div class='alert-inner'>
            <div class='alert-inner-item'>
              <h5 class='alert-title'><span class='icon alert-icon novi-icon int-check'></span>Classic success alert!</h5>
              <div class='alert-text'>Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.</div>
            </div>
            <div class='alert-inner-item'>
              <div class='alert-inner-controls'><button class='btn btn-primary'>Submit</button> <button class='link link-primary'>Dismiss</button></div>
            </div>
          </div>
        </div>
        <div class='alert alert-info'>
          <div class='alert-inner'>
            <div class='alert-inner-item'>
              <h5 class='alert-title'><span class='icon alert-icon novi-icon int-info'></span>Classic info alert!</h5>
              <div class='alert-text'>Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.</div>
            </div>
            <div class='alert-inner-item'>
              <div class='alert-inner-controls'><button class='btn btn-info'>Submit</button> <button class='link link-info'>Dismiss</button></div>
            </div>
          </div>
        </div>
        <div class='alert alert-warning'>
          <div class='alert-inner'>
            <div class='alert-inner-item'>
              <h5 class='alert-title'><span class='icon alert-icon novi-icon int-warning'></span>Classic warning alert!</h5>
              <div class='alert-text'>Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.</div>
            </div>
            <div class='alert-inner-item'>
              <div class='alert-inner-controls'><button class='btn btn-warning'>Submit</button> <button class='link link-warning'>Dismiss</button></div>
            </div>
          </div>
        </div>
        <div class='alert alert-danger'>
          <div class='alert-inner'>
            <div class='alert-inner-item'>
              <h5 class='alert-title'><span class='icon alert-icon novi-icon int-danger'></span>Classic danger alert!</h5>
              <div class='alert-text'>Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.</div>
            </div>
            <div class='alert-inner-item'>
              <div class='alert-inner-controls'><button class='btn btn-danger'>Submit</button> <button class='link link-danger'>Dismiss</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>