<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>FlipInX effect</h2>
    <div class='row row-20 align-items-center justify-content-center justify-content-lg-between'>
      <div class='col-sm-8 col-lg-7'><img class='img-element' src='images/image-05-730x450.jpg' alt='' width='730' height='450' data-animate='{"class":"flipInX"}' /></div>
      <div class='col-sm-8 col-lg-5 col-xxl-4'>
        <h6 class='text-primary'>Why intense</h6>
        <h2>Even more features available</h2>
        <ul class='list list-marked-arrow'>
          <li class='list-item'>Fully responsive design</li>
          <li class='list-item'>Social integration</li>
          <li class='list-item'>30+ predesigned pages</li>
          <li class='list-item'>Regular content updates</li>
          <li class='list-item'>Lots of child themes</li>
        </ul>
      </div>
    </div>
  </div>
</section>