<section class='section section-lg section-layer pt-5'>
  <div class='bg-layer bg-image overlay-primary novi-background' style='bottom: 45%; background-image: url(images/image-33-1920x772.jpg);'></div>
  <div class='container'>
    <ul class='breadcrumb context-dark'>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='index.html'>Home</a></li>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='#'>Pages</a></li>
      <li class='breadcrumb-item'><span class='breadcrumb-text breadcrumb-active'>Appointment</span></li>
    </ul>
    <div class='row row-40 row-xl-80 row-xxl-100 justify-content-center novi-disabled' style='margin-top: 7.5%'>
      <div class='col-md-8 col-xxl-6 context-dark text-center'>
        <h1>Appointment</h1>
        <h5>You can contact us any way that is convenient for you. We are available 24/7 via fax or email.</h5>
      </div>
      <div class='col-md-10 col-xxl-8'>
        <article class='accent-box'>
          <h4 class='accent-box-title text-center'>Make an appointment</h4>
          <form class='accent-box-form rd-mailform' data-form-output='form-output-global' data-form-type='contact' method='post' action='components/rd-mailform/rd-mailform.php'>
            <div class='form-row row-15 novi-disabled'>
              <div class='col-12'>
                <div class='form-group'><label for='input-name'>Name:</label>
                  <div class='position-relative'><input class='form-control' id='input-name' type='text' name='name' placeholder='Your name' data-constraints='@Required' /></div>
                </div>
              </div>
              <div class='col-12'>
                <div class='form-group'><label for='input-email'>E-mail:</label>
                  <div class='position-relative'><input class='form-control' id='input-email' type='email' name='email' placeholder='Your e-mail address' data-constraints='@Email @Required' /></div>
                </div>
              </div>
              <div class='col-12'>
                <div class='form-group'><label for='input-date'>Date:</label>
                  <div class='datetimepicker-group'>
                    <div class='input-group'><input class='form-control' id='input-date' type='text' name='date' placeholder='Select date' data-datetimepicker='{"format":"L"}' data-constraints='@Required' />
                      <div class='input-group-append'><span class='input-group-text input-group-text-nodivider int-calendar novi-icon'></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-md-6'>
                <div class='form-group'><label for='input-time-start'>Required time interval start:</label>
                  <div class='datetimepicker-group'>
                    <div class='input-group'><input class='form-control' id='input-time-start' type='text' name='time-start' placeholder='Select time' data-datetimepicker='{"format":"LT"}' data-constraints='@Required' />
                      <div class='input-group-append'><span class='input-group-text input-group-text-nodivider int-clock novi-icon'></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-md-6'>
                <div class='form-group'><label for='input-time-end'>Required time interval start:</label>
                  <div class='datetimepicker-group'>
                    <div class='input-group'><input class='form-control' id='input-time-end' type='text' name='time-end' placeholder='Select time' data-datetimepicker='{"format":"LT"}' data-constraints='@Required' />
                      <div class='input-group-append'><span class='input-group-text input-group-text-nodivider int-clock novi-icon'></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-md-12'>
                <div class='form-group'><label for='input-question'>Required time interval start:</label>
                  <div class='position-relative'><textarea class='form-control' id='input-question' name='question' placeholder='Your question' data-constraints='@Required'></textarea></div>
                </div>
              </div>
            </div><button class='btn btn-lg btn-primary accent-box-btn' type='submit'>Submit</button>
          </form>
          <div class='form-output snackbar snackbar-secondary' id='form-output-global'></div>
        </article>
      </div>
    </div>
  </div>
</section>