<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <h2>Badge styles</h2>
    <div class='row novi-disabled'>
      <div class='col-12'>
        <div class='group-30'><span class='badge badge-dark'>Default</span><span class='badge badge-primary'>Primary</span><span class='badge badge-secondary'>Secondary</span><span class='badge badge-success'>Success</span><span class='badge badge-warning'>Warning</span><span class='badge badge-danger'>Danger</span><span class='badge badge-info'>Info</span></div>
      </div>
    </div>
  </div>
</section>