<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-10 col-lg-8 post-area'>
        <h1 class='text-center'>Modern rounded layout</h1>
        <div class='post post-side post-sm post-side-rounded post-side-sm divider-layout'><a class='post-img-link' href='post-with-sidebar.html'><img src='images/persons/person-06-260x260.jpg' alt='' width='260' height='260' /></a>
          <div class='post-inner'>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Designing accessible color systems</a></h5>
            <div class='post-text'>Our team of developers and designers constantly explores ways of refining the color palette to...</div>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
          </div>
        </div>
        <div class='post post-side post-sm post-side-rounded post-side-sm divider-layout'><a class='post-img-link' href='post-with-sidebar.html'><img src='images/image-05-260x260.jpg' alt='' width='260' height='260' /></a>
          <div class='post-inner'>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <h5 class='post-title'><a href='post-with-sidebar.html'>15 examples of one-page website design</a></h5>
            <div class='post-text'>Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a...</div>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
          </div>
        </div>
        <div class='post post-side post-sm post-side-rounded post-side-sm divider-layout'><a class='post-img-link' href='post-with-sidebar.html'><img src='images/image-11-260x260.jpg' alt='' width='260' height='260' /></a>
          <div class='post-inner'>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Designing accessible color systems</a></h5>
            <div class='post-text'>Our team of developers and designers constantly explores ways of refining the color palette to make it more accessible and legible...</div>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
          </div>
        </div>
        <div class='post post-side post-sm post-side-rounded post-side-sm divider-layout'><a class='post-img-link' href='post-with-sidebar.html'><img src='images/image-08-260x260.jpg' alt='' width='260' height='260' /></a>
          <div class='post-inner'>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Best examples of online portfolio</a></h5>
            <div class='post-text'>Out of all of the creative people in the world, designers have a very clear vision of what their online portfolio should look like. Their...</div>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
          </div>
        </div>
        <div class='post post-side post-sm post-side-rounded post-side-sm divider-layout'><a class='post-img-link' href='post-with-sidebar.html'><img src='images/image-06-260x260.jpg' alt='' width='260' height='260' /></a>
          <div class='post-inner'>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <h5 class='post-title'><a href='post-with-sidebar.html'>5 design tips to increase your conversions</a></h5>
            <div class='post-text'>If you want to increase ROI from your website, you can go about it in two ways: increase traffic or increase conversions. It is much...</div>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
          </div>
        </div>
        <div class='post post-side post-sm post-side-rounded post-side-sm divider-layout'><a class='post-img-link' href='post-with-sidebar.html'><img src='images/image-10-260x260.jpg' alt='' width='260' height='260' /></a>
          <div class='post-inner'>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Different sides of the dark UI</a></h5>
            <div class='post-text'>Dark design is and always will be a trend. The level of darkness will always vary, but basically, it’s really hard to screw up a simple...</div>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
          </div>
        </div>
        <ul class='pag pag-simple divider-layout justify-content-center'>
          <li class='pag-simple-item active'><a class='pag-simple-link' href='#'>1</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>2</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>3</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>4</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>5</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link inactive' href='#'>..</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>24</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link pag-simple-link-next' href='#'><span>Next</span><span class='int-arrow-right novi-icon'></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>