<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h1 class='text-center'>Thumbnail layout</h1>
    <div class='row row-40 justify-content-center'>
      <div class='col-md-6 col-xxl-7'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-09-730x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Top 10 essential design trends that can revolutionize modern web design</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>This year may bring us a lot of surprises as standards in web design change and we experience lots of new trends. You can take these trends in and decide...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6 col-xxl-5'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/persons/person-06-510x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>15 impressive examples of one-page website design picked by our team</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page. To help you with...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6 col-xxl-5'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-06-510x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Best examples of online portfolio: 10 designers who got it right</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>Out of all of the creative people in the world, designers have a very clear vision of what their online portfolio should look like. Their line of work demands a site that...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6 col-xxl-7'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-08-730x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>5 design tips that will highly increase your conversionsand improve your sales</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>If you want to increase ROI from your website, you can go about it in two ways: increase traffic or increase conversions. It is much easier to increase conversions...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6 col-xxl-7'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-11-730x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Different sides of the dark user interface in web design and how you can benefit from it</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>Dark design is and always will be a trend. The level of darkness will always vary, but basically, it’s really hard to screw up a simple, dark design. This is especially...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6 col-xxl-5'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-05-510x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Designing accessible color systems for your next web development project</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>Our team of developers and designers constantly explores ways of refining the color palette to make it more accessible and legible for users across all products...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6 col-xxl-5'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-10-510x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>New impressive &amp; exciting tools for web designers to use this year</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>It’s the right time to start thinking about new tools and solutions that you will use for the rest of the year. We have a few new recommendations that might meet your...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6 col-xxl-7'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-18-730x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Interview with John Wilson: the CEO, founder, and art director of Intense web design studio</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>In this post, our founder John Wilson shared with us his opinion on modern web design trends and what new products Intense will introduce next year. We started our...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class='pag pag-simple justify-content-center'>
    <li class='pag-simple-item active'><a class='pag-simple-link' href='#'>1</a></li>
    <li class='pag-simple-item'><a class='pag-simple-link' href='#'>2</a></li>
    <li class='pag-simple-item'><a class='pag-simple-link' href='#'>3</a></li>
    <li class='pag-simple-item'><a class='pag-simple-link' href='#'>4</a></li>
    <li class='pag-simple-item'><a class='pag-simple-link' href='#'>5</a></li>
    <li class='pag-simple-item'><a class='pag-simple-link inactive' href='#'>..</a></li>
    <li class='pag-simple-item'><a class='pag-simple-link' href='#'>24</a></li>
    <li class='pag-simple-item'><a class='pag-simple-link pag-simple-link-next' href='#'><span>Next</span><span class='int-arrow-right novi-icon'></span></a></li>
  </ul>
</section>