<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 row-md-60'>
      <div class='col-md-6'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-09-620x398.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Intense is the most powerful Bootstrap theme on TemplateMonster</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach as well. That led to starting this blog...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/persons/person-06-620x398.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Intense is the most powerful Bootstrap theme on TemplateMonster</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach as well. That led to starting this blog...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-06-620x398.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Intense is the most powerful Bootstrap theme on TemplateMonster</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach as well. That led to starting this blog...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-08-620x398.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Intense is the most powerful Bootstrap theme on TemplateMonster</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach as well. That led to starting this blog...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-11-620x398.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Intense is the most powerful Bootstrap theme on TemplateMonster</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach as well. That led to starting this blog...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-05-620x398.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Intense is the most powerful Bootstrap theme on TemplateMonster</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach as well. That led to starting this blog...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class='pag pag-simple justify-content-center'>
      <li class='pag-simple-item active'><a class='pag-simple-link' href='#'>1</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link' href='#'>2</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link' href='#'>3</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link' href='#'>4</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link' href='#'>5</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link inactive' href='#'>..</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link' href='#'>24</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link pag-simple-link-next' href='#'><span>Next</span><span class='int-arrow-right novi-icon'></span></a></li>
    </ul>
  </div>
</section>