<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h1 class='text-center'>Hover layout</h1>
    <div class='row row-40 row-md-60'>
      <div class='col-md-6'>
        <div class='post post-hover post-sm'>
          <div class='post-img-link'><a href='post-with-sidebar.html'><img src='images/image-06-620x398.jpg' alt='' width='620' height='398' /></a><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post-with-sidebar.html'>HTML</a></div>
          <div class='post-inner'>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Top 10 essential design trends</a></h5>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>This year may bring us a lot of surprises as standards in web design change and we experience lots of new trends. You can take these...</div>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='btn btn-secondary' href='post-with-sidebar.html'>Read more</a></div>
              <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post-with-sidebar.html'><span class='post-meta-icon int-chat novi-icon'></span><span>25</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='post post-hover post-sm'>
          <div class='post-img-link'><a href='post-with-sidebar.html'><img src='images/image-05-620x398.jpg' alt='' width='620' height='398' /></a><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post-with-sidebar.html'>HTML</a></div>
          <div class='post-inner'>
            <h5 class='post-title'><a href='post-with-sidebar.html'>15 impressive examples of one-page website</a></h5>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on...</div>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='btn btn-secondary' href='post-with-sidebar.html'>Read more</a></div>
              <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post-with-sidebar.html'><span class='post-meta-icon int-chat novi-icon'></span><span>25</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='post post-hover post-sm'>
          <div class='post-img-link'><a href='post-with-sidebar.html'><img src='images/image-20-620x398.jpg' alt='' width='620' height='398' /></a><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post-with-sidebar.html'>HTML</a></div>
          <div class='post-inner'>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Different sides of the dark UI</a></h5>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 10, 2019</a></div>
            </div>
            <div class='post-text'>Dark design is and always will be a trend. The level of darkness will always vary, but basically, it’s really hard to screw up a simple...</div>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='btn btn-secondary' href='post-with-sidebar.html'>Read more</a></div>
              <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post-with-sidebar.html'><span class='post-meta-icon int-chat novi-icon'></span><span>25</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='post post-hover post-sm'>
          <div class='post-img-link'><a href='post-with-sidebar.html'><img src='images/image-08-620x398.jpg' alt='' width='620' height='398' /></a><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post-with-sidebar.html'>HTML</a></div>
          <div class='post-inner'>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Best examples of online portfolio by 10 designers</a></h5>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>Out of all of the creative people in the world, designers have a very clear vision of what their online portfolio should look like. Their line of work...</div>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='btn btn-secondary' href='post-with-sidebar.html'>Read more</a></div>
              <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post-with-sidebar.html'><span class='post-meta-icon int-chat novi-icon'></span><span>25</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-12'>
        <ul class='pag pag-simple justify-content-center'>
          <li class='pag-simple-item active'><a class='pag-simple-link' href='#'>1</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>2</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>3</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link inactive' href='#'>..</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>24</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link pag-simple-link-next' href='#'><span>Next</span><span class='int-arrow-right novi-icon'></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>