<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30'>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-embed'><span class='blurb-number h2'>01.</span></div>
          <div class='blurb-title h5'>60+ reusable elements</div>
          <div class='blurb-text'>Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-boxed blurb-secondary text-center'>
          <div class='blurb-embed'><span class='blurb-number h2'>02.</span></div>
          <div class='blurb-title h5'>60+ reusable elements</div>
          <div class='blurb-text'>Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-boxed blurb-primary text-right'>
          <div class='blurb-embed'><span class='blurb-number h2'>03.</span></div>
          <div class='blurb-title h5'>60+ reusable elements</div>
          <div class='blurb-text'>Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.</div>
        </article>
      </div>
    </div>
  </div>
</section>