<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Blurb type #2</h2>
    <div class='row row-40'>
      <div class='col-sm-6 col-md-4'>
        <article class='blurb'>
          <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
          <div class='blurb-title h5'>60+ reusable elements</div>
          <div class='blurb-text'>Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.</div>
        </article>
      </div>
      <div class='col-sm-6 col-md-4'>
        <article class='blurb text-center'>
          <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
          <div class='blurb-title h5'>60+ reusable elements</div>
          <div class='blurb-text'>Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.</div>
        </article>
      </div>
      <div class='col-sm-6 col-md-4'>
        <article class='blurb text-right'>
          <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
          <div class='blurb-title h5'>60+ reusable elements</div>
          <div class='blurb-text'>Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.</div>
        </article>
      </div>
    </div>
  </div>
</section>