<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h1 data-animate='{"class":"fadeIn"}'>We’ll give you an email alias. You’ll like sharing this email when brands ask for one.</h1>
    <p data-animate='{"class":"fadeIn"}'><span class='h6'>Intense is an independent web design studio with a rich history.</span></p>
    <div class='row row-30 align-items-center'>
      <div class='col-md-6' data-animate='{"class":"fadeIn"}'><img src='images/image-56-583x402.png' alt='' width='583' height='402' /></div>
      <div class='col-md-6 blurb-area'>
        <article class='blurb blurb-inline' data-animate='{"class":"fadeInRightBig"}'>
          <div class='media media-md align-items-center'>
            <div class='media-left'>
              <div class='blurb-embed'><span class='blurb-icon ith-devices icon-dark novi-icon'></span></div>
            </div>
            <div class='media-body'>
              <div class='blurb-title h5'>Based on Bootstrap 4</div>
              <div class='blurb-text'>Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.</div>
            </div>
          </div>
        </article>
        <article class='blurb blurb-inline' data-animate='{"class":"fadeInRightBig","delay":"0.15s"}'>
          <div class='media media-md align-items-center'>
            <div class='media-left'>
              <div class='blurb-embed'><span class='blurb-icon ith-devices icon-dark novi-icon'></span></div>
            </div>
            <div class='media-body'>
              <div class='blurb-title h5'>Based on Bootstrap 4</div>
              <div class='blurb-text'>Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.</div>
            </div>
          </div>
        </article>
        <article class='blurb blurb-inline' data-animate='{"class":"fadeInRightBig","delay":"0.3s"}'>
          <div class='media media-md align-items-center'>
            <div class='media-left'>
              <div class='blurb-embed'><span class='blurb-icon ith-devices icon-dark novi-icon'></span></div>
            </div>
            <div class='media-body'>
              <div class='blurb-title h5'>Based on Bootstrap 4</div>
              <div class='blurb-text'>Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.</div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>