<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30'>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-modern'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-number h1'>01</span></div>
            <div class='blurb-title h5'>Blog and shop pages</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Post your latest news and integrate eCommerce features with our pre-designed blog &amp; shop pages.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-modern'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-number h1'>02</span></div>
            <div class='blurb-title h5'>Blog and shop pages</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Post your latest news and integrate eCommerce features with our pre-designed blog &amp; shop pages.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-modern'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-number h1'>03</span></div>
            <div class='blurb-title h5'>Blog and shop pages</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Post your latest news and integrate eCommerce features with our pre-designed blog &amp; shop pages.</div>
        </article>
      </div>
    </div>
  </div>
</section>