<section class='section section-sm bg-transparent text-center novi-background'>
  <div class='container'>
    <ul class='breadcrumb d-inline-flex justify-content-center'>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='index.html'>Home</a></li>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='#'>Components</a></li>
      <li class='breadcrumb-item'><span class='breadcrumb-text breadcrumb-active'>Breadcrumbs</span></li>
    </ul>
    <h4>Breadcrumbs</h4>
  </div>
</section>