<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2>Button styles</h2>
    <p>Use any of the available button classes to quickly create a styled button.</p>
    <div class='mt-5'>
      <div class='d-inline-flex justify-content-center align-items-center flex-wrap group-20'><button class='btn btn-primary'>Primary</button> <button class='btn btn-secondary'>Secondary</button> <button class='btn btn-warning'>Warning</button> <button class='btn btn-danger'>Danger</button> <button class='btn btn-dark'>Dark</button> <button class='btn btn-outline btn-primary'>Outlined</button> <button class='link link-secondary'>Link</button></div>
    </div>
  </div>
</section>