<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2>Button with icon</h2>
    <p>Combine icons with your buttons for more complex components</p>
    <div class='mt-5'>
      <div class='d-inline-flex justify-content-center align-items-center flex-wrap group-20'><button class='btn btn-lg btn-primary'><span class='btn-icon int-check novi-icon'></span><span>Button</span></button> <button class='btn btn-primary'><span class='btn-icon int-check novi-icon'></span><span>Button</span></button> <button class='btn btn-sm btn-primary'><span class='btn-icon int-check novi-icon'></span><span>Button</span></button> <button class='link link-secondary'><span class='text-primary int-check novi-icon'></span> Button</button></div>
    </div>
    <div class='mt-4'>
      <div class='d-inline-flex justify-content-center align-items-center flex-wrap group-20'><button class='btn btn-lg btn-primary'><span>Button</span><span class='btn-icon int-check novi-icon'></span></button> <button class='btn btn-primary'><span>Button</span><span class='btn-icon int-check novi-icon'></span></button> <button class='btn btn-sm btn-primary'><span>Button</span><span class='btn-icon int-check novi-icon'></span></button> <button class='link link-secondary'>Button <span class='text-primary int-check novi-icon'></span></button></div>
    </div>
  </div>
</section>