<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-lg-8'>
        <h2>Disabled buttons</h2>
        <p>Make your buttons look unclickable by adding <code>.disabled</code> class to anchor elements or <code>disabled</code> attribute to button elements.</p>
        <div class='mt-5'>
          <div class='d-inline-flex justify-content-center align-items-center flex-wrap group-20'><button class='btn btn-primary disabled'>Button</button> <button class='btn btn-secondary disabled'>Button</button></div>
        </div>
      </div>
    </div>
  </div>
</section>