<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2>Button sizes</h2>
    <p>Want a larger or smaller ones? Add <code>.btn-lg</code> or <code>.btn-sm</code> classes for additional sizes.</p>
    <div class='mt-5'>
      <div class='d-inline-flex justify-content-center align-items-center flex-wrap group-20'><button class='btn btn-lg btn-primary'>Large</button> <button class='btn btn-primary'>Default</button> <button class='btn btn-sm btn-primary'>Small</button></div>
    </div>
  </div>
</section>