<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2>Button shapes</h2>
    <p>Want a different shape? Add <code>.btn-rect</code> or <code>.btn-ellipse</code> class to your buttons.</p>
    <div class='mt-5'>
      <div class='d-inline-flex justify-content-center align-items-center flex-wrap group-20'><button class='btn btn-rect btn-primary'>Large</button> <button class='btn btn-primary'>Default</button> <button class='btn btn-round btn-primary'>Small</button></div>
    </div>
  </div>
</section>