<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2>Button blocks</h2>
    <p>Create buttons that fits the entire parent width by adding <code>.btn-block</code> class to it.</p>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-12 col-sm-8 col-md-6 col-lg-4'><button class='btn btn-block btn-primary'>Button</button> <button class='btn btn-block btn-secondary'>Button</button></div>
    </div>
  </div>
</section>