<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container' data-animate='{"class":"fadeInUp"}'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-10 col-lg-8'>
        <h1>Our team is ready to develop an application for you</h1>
        <h5>Contact us to discuss what you or your organization needs and we’ll start working on your project straight away!</h5>
        <div class='offset-md group-30'><a class='btn btn-lg btn-round btn-primary' href='contact-us.html'>Get in Touch</a><a class='btn btn-lg btn-round btn-secondary' href='tel:#'><span class='btn-icon int-phone novi-icon'></span><span>+1 234 567 8901</span></a></div>
      </div>
    </div>
  </div>
</section>