<section class='section section-lg bg-dark text-center text-lg-left context-dark novi-background'>
  <div class='container'>
    <div class='row row-30 align-items-lg-center justify-content-lg-between'>
      <div class='col-lg-8 col-xl-7 col-xxl-6' data-animate='{"class":"fadeInLeftBig"}'>
        <h1>Download now</h1>
        <p class='h6'>Intense is an independent web design studio with a rich history.<br />started as a small family-owned business in Oakville.</p>
      </div>
      <div class='col-lg-auto' data-animate='{"class":"fadeInRightBig"}'><a class='btn btn-lg btn-round' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'><span class='btn-icon int-apple novi-icon'></span><span>Download on the AppStore</span></a></div>
    </div>
  </div>
</section>