<section class='section section-xs bg-secondary context-dark text-center novi-background'>
  <div class='container'>
    <div class='row align-items-center'>
      <div class='col-sm-5 col-lg-4'><img class='filter-shadow' src='images/cta-01-309x344.png' alt='' width='309' height='344' /></div>
      <div class='col-sm-7 col-lg-8 text-sm-left'>
        <div class='pl-xl-4'>
          <h2>Call to action type #4</h2>
          <h5>Check out an incredible set of features provided by Intense.</h5><a class='btn btn-lg btn-primary' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'>Buy Intense Now</a>
        </div>
      </div>
    </div>
  </div>
</section>