<section class='section section-md bg-image novi-background' style='background-image: url(&quot;images/image-04-1920x935.jpg&quot;)'>
  <div class='container'>
    <div class='row row-30 justify-content-between align-items-center'>
      <div class='col-lg-6 col-xl-5 context-dark'>
        <h1>Call to action type #6</h1>
        <h5>Feel free to schedule your appointment today to get proper access to all our services. Once you submit your appointment, we will call you back to discuss the details.</h5>
      </div>
      <div class='col-lg-6'>
        <article class='accent-box'>
          <h4 class='accent-box-title'>Make an appointment</h4>
          <form class='accent-box-form rd-mailform' data-form-output='form-output-global' data-form-type='contact' method='post' action='components/rd-mailform/rd-mailform.php'>
            <div class='form-row row-15 novi-disabled'>
              <div class='col-sm-6 col-lg-12'>
                <div class='form-group'><label for='input-name'>Name:</label>
                  <div class='position-relative'><input class='form-control' id='input-name' type='text' name='name' placeholder='Your name' data-constraints='@Required' /></div>
                </div>
              </div>
              <div class='col-sm-6 col-lg-12'>
                <div class='form-group'><label for='input-email'>E-mail:</label>
                  <div class='position-relative'><input class='form-control' id='input-email' type='email' name='email' placeholder='Your e-mail address' data-constraints='@Email @Required' /></div>
                </div>
              </div>
              <div class='col-12'>
                <div class='form-group'><label for='input-date'>Date</label>
                  <div class='form-group-icon novi-disabled datetimepicker-group'><input class='form-control' id='input-date' type='text' name='date' placeholder='Select date' data-datetimepicker='{"format":"L"}' data-constraints='@Required' />
                    <div class='form-icon int-calendar novi-icon'></div>
                  </div>
                </div>
              </div>
              <div class='col-sm-6'>
                <div class='form-group'><label for='input-time-start'>Required time interval start:</label>
                  <div class='form-group-icon novi-disabled datetimepicker-group'><input class='form-control' id='input-time-start' type='text' name='time-start' placeholder='Select time' data-datetimepicker='{"format":"LT"}' data-constraints='@Required' />
                    <div class='form-icon int-clock novi-icon'></div>
                  </div>
                </div>
              </div>
              <div class='col-sm-6'>
                <div class='form-group'><label for='input-time-end'>Required time interval end:</label>
                  <div class='form-group-icon novi-disabled datetimepicker-group'><input class='form-control' id='input-time-end' type='text' name='time-end' placeholder='Select time' data-datetimepicker='{"format":"LT"}' data-constraints='@Required' />
                    <div class='form-icon int-clock novi-icon'></div>
                  </div>
                </div>
              </div>
            </div><button class='btn btn-block btn-lg btn-primary accent-box-btn' type='submit'>Submit</button>
          </form>
          <div class='form-output snackbar snackbar-secondary' id='form-output-global'></div>
        </article>
      </div>
    </div>
  </div>
</section>