<section class='section section-lg text-center context-dark bg-image novi-background' style='background-image: url(&quot;images/image-03-1920x583.jpg&quot;)'>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-9 col-lg-7 col-xl-6'>
        <h2>Call to action type #3</h2>
        <p>Trying to stay on top of it all? Get the best tools, resources and inspiration sent to your inbox every Wednesday.</p>
        <form class='rd-mailform form-inline justify-content-center group-20 novi-disabled' data-form-output='cta-form-output' data-form-type='subscribe' method='post' action='components/rd-mailform/rd-mailform.php'>
          <div class='form-inline-group'><input class='form-control' type='email' name='email' placeholder='Enter your email address' data-constraints='@Email @Required' /></div><button class='btn btn-lg btn-primary' type='submit'>Subscribe</button>
        </form>
        <div class='form-output snackbar snackbar-secondary' id='cta-form-output'></div>
      </div>
    </div>
  </div>
</section>