<section class='section section-lg bg-gradient-shamrock-blue context-dark text-center text-lg-left novi-background'>
  <div class='container'>
    <div class='row row-30 align-items-lg-center justify-content-lg-between'>
      <div class='col-lg-8' data-animate='{"class":"fadeInLeft"}'>
        <h2>Intense is exactly what you need</h2>
        <h5>Check out an incredible set of features provided by Intense.</h5>
      </div>
      <div class='col-lg-auto' data-animate='{"class":"fadeInRight"}'><a class='btn btn-lg btn-secondary' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'>Buy Intense Now</a></div>
    </div>
  </div>
</section>