<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='jumbotron bg-primary context-dark px-sm-0 novi-background'>
      <div class='row row-30 justify-content-center'>
        <div class='col-sm-8 col-md-6 col-xl-5'>
          <h2>Call to action type #5</h2>
          <h5>Check out an incredible set of features provided by Intense.</h5>
        </div>
        <div class='col-sm-8 col-md-5 col-lg-4 col-xl-3 text-md-right'><a class='btn btn-lg btn-secondary' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'>Buy Intense Now</a></div>
      </div>
    </div>
  </div>
</section>