<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-9 col-lg-7 col-xl-6'>
        <h2>Campaign Monitor</h2>
        <p>Sign up to our newsletter and be the first to know about the latest news, special offers, events, and discounts.</p>
        <form class='campaign-mailform form-inline justify-content-center group-20 novi-disabled' data-form-output='campaign-monitor-output' action='https://templatermonster.createsend.com/t/j/s/zjjikd/' method='post'>
          <div class='form-inline-group'><input class='form-control' type='email' name='cm-zjjikd-zjjikd' placeholder='Enter your email address' data-constraints='@Email @Required' /></div><button class='btn btn-lg btn-primary' type='submit'>Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>