<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='tab'>
      <ul class='nav nav-classic justify-content-center' role='tablist'>
        <li class='nav-item'><a class='nav-link h4 active' data-toggle='tab' href='#navClassic1-1' role='tab' aria-selected='true'>Design</a></li>
        <li class='nav-item'><a class='nav-link h4' data-toggle='tab' href='#navClassic1-2' role='tab' aria-selected='false'>Development</a></li>
        <li class='nav-item'><a class='nav-link h4' data-toggle='tab' href='#navClassic1-3' role='tab' aria-selected='false'>Marketing</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane fade show active' id='navClassic1-1' role='tabpanel'>
          <div class='row row-30 row-md-40'>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Senior web<br class='d-none d-xl-block' />designer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>We are looking for senior designers who are problem-solvers creating interfaces that elegantly merge form and function.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Senior UI/UX<br class='d-none d-xl-block' />graphic designer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Intense is seeking a Senior UI/UX Graphic Designer to join our growing team. This position will have a core focus on developing.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Front end web<br class='d-none d-xl-block' />designer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Our team is looking for a Front-End Web Designer who creates innovative, high-quality work that is aligned with our values.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Junior web<br class='d-none d-xl-block' />designer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Intense is currently looking for a creative and hardworking Jr. web designer to join our team of creative specialists.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Associate web<br class='d-none d-xl-block' />designer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Join Intense as a talented Associate Web Designer to assist our creative team in developing visually appealing websites.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Senior graphic<br class='d-none d-xl-block' />designer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Are you an energetic, talented graphic and web design professional? Then we want you to join our rapidly growing team.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='tab-pane fade' id='navClassic1-2' role='tabpanel'>
          <div class='row row-30 row-md-40'>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Full stack<br class='d-none d-xl-block' />developer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>We need a Full Stack Developer who will be responsible for developing, implementing and maintaining IT software.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Front end<br class='d-none d-xl-block' />developer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>We are looking for a versatile developer experienced with Front End Web Development, but also familiar with Back-End.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Assistant web<br class='d-none d-xl-block' />developer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>The team of Intense web design studio is looking for an Assistant Web Developer to join our team Part-Time at our New York office.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Front end UI<br class='d-none d-xl-block' />developer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Intense is in search of an experienced front end UI developer to join our Northern team of UI/UX designers in New York.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Web application<br class='d-none d-xl-block' />developer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Are you a seasoned web app developer? Join our team to create outstanding apps and interfaces for web and mobile devices!</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Junior front end<br class='d-none d-xl-block' />developer</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>We are looking for a junior level Front-End Developer with over 2 years of professional web app development experience.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class='tab-pane fade' id='navClassic1-3' role='tabpanel'>
          <div class='row row-30 row-md-40'>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>SEO project<br class='d-none d-xl-block' />coordinator</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>We are searching for the SEO project coordinator who will be responsible for administering SEO solutions for our clients’ projects.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Social media<br class='d-none d-xl-block' />coordinator</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Play an integral part in growing the business and join a passionate team to work on original &amp; creative projects for our clients.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Creative marketing<br class='d-none d-xl-block' />manager</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Become a creative marketing manager at Intense to deliver industry-leading solutions with great proficiency.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Public relations<br class='d-none d-xl-block' />manager</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>We are looking for a PR manager to provide strategic direction and operational management of our community relations.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>SEO/SMM<br class='d-none d-xl-block' />consultant</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Join Intense marketing team and apply your SMM and SEO knowledge as a consultant while working on various creative projects.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
            <div class='col-xs-6 col-md-4 col-lg-3'>
              <div class='offer-box offer-box-light'>
                <h5 class='offer-box-title'>Digital marketing<br class='d-none d-xl-block' />manager</h5>
                <div class='offer-box-divider'></div>
                <div class='offer-box-text'>Our team is looking for experienced specialist in digital marketing with five or more years of related experience.</div>
                <ul class='offer-box-list'>
                  <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
                  <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>