<section class='section section-lg bg-transparent section-layer context-dark'>
  <div class='bg-layer bg-primary novi-background' style='top: 8.5%; bottom: 15.4%'></div>
  <div class='container'>
    <div class='row row-50 row-lg-80 row-xl-100 row-xxl-150 novi-disabled'>
      <div class='col-12'>
        <div class='row row-30 justify-content-md-between'>
          <div class='col-8 col-md-7 col-xl-6' style='padding-top: 24.5%;'>
            <h2><span class='mr-4'>01.</span>The main corporate values of Intense</h2>
            <p class='d-none d-md-block'>The corporate culture of Intense is based on openness, respect and equality regardless of the religion, sex, race, age, etc.<span class='d-none d-lg-inline'>These core values help us build a friendly working environment, where all the employees can feel comfortable and significant. We believe that the more comfort you get, the better results you’ll produce.</span></p>
          </div>
          <div class='col-4 col-md-5'><img src='images/image-05-510x510.jpg' alt='' width='510' height='510' /></div>
        </div>
      </div>
      <div class='col-12'>
        <div class='row row-30 align-items-center'>
          <div class='col-4'><img src='images/image-17-290x290.jpg' alt='' width='290' height='290' /></div>
          <div class='col-8 col-md-7 col-xl-6'>
            <h2><span class='mr-4'>02.</span>Diversity of learning opportunities at Intense</h2>
            <p class='d-none d-md-block'>When you join our team, you’ll dive into a knowledge-sharing environment.<span class='d-none d-lg-inline'>We encourage our employees to attend multiple conferences and workshops held both inside the company and on the outside. Keep in mind that you can take part in conferences as both a listener and speaker.</span></p>
          </div>
        </div>
      </div>
      <div class='col-12'>
        <div class='row row-30 align-items-end justify-content-md-between'>
          <div class='col-8 col-md-7 col-xl-6' style='padding-bottom: 21.5%;'>
            <h2><span class='mr-4'>03.</span>Top qualities We are looking for</h2>
            <p class='d-none d-md-block'>Searching for candidates, our HR managers prioritize a number of qualities.<span class='d-none d-lg-inline'>To get a job at Intense, you must be a self-motivated person who isn’t afraid of challenges and is ready to work overtime. As we work with multiple innovative technologies, you must be a quick learner. Attention to detail is also important for us, as it is a solid prerequisite for fewer bugs.</span></p>
          </div>
          <div class='col-4 col-md-5'><img src='images/image-13-510x510.jpg' alt='' width='510' height='510' /></div>
        </div>
      </div>
    </div>
  </div>
</section>