<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>My cart</h2>
    <div class='row justify-content-center'>
      <div class='col-lg-11 col-xl-9 col-xxl-8'>
        <table class='table table-cart table-responsive-lg'>
          <tbody>
            <tr>
              <td style='min-width: 40px; width: 4.8%'><button class='icon icon-xs int-trash novi-icon' type='button'></button></td>
              <td style='min-width: 160px; width: 26.3%'><a class='table-cart-figure' href='product-page.html'><img src='images/products/product-03-180x231.jpg' alt='' width='180' height='231' /></a></td>
              <td style='min-width: 250px; width: 32.2%'>
                <h6><a class='table-cart-title' href='product-page.html'>Ombré vinyl backpack</a></h6>
                <ul class='table-cart-list list small'>
                  <li>Size: S</li>
                  <li>Color: Black</li>
                  <li>Dimension: 180X1250mm</li>
                </ul>
              </td>
              <td style='min-width: 80px; width: 12.6%'>$19</td>
              <td style='min-width: 120px; width: 14.3%'>
                <div class='form-group mb-4'><label class='d-block small' for='input-quality'>Qty:</label> <input class='form-control form-control-inline' id='input-quality' type='text' data-masked='99' value='01' size='2' /></div>
              </td>
              <td class='text-right' style='min-width: 60px; width: 9.8%'>$19</td>
            </tr>
            <tr>
              <td><button class='icon icon-xs int-trash novi-icon' type='button'></button></td>
              <td><a class='table-cart-figure' href='product-page.html'><img src='images/products/product-13-180x231.jpg' alt='' width='180' height='231' /></a></td>
              <td>
                <h6><a class='table-cart-title' href='product-page.html'>Phone case with chain</a></h6>
                <ul class='table-cart-list list small'>
                  <li>Size: Standard</li>
                  <li>Color: Iridescent green</li>
                  <li>Dimension: 80X120mm</li>
                </ul>
              </td>
              <td>$34</td>
              <td>
                <div class='form-group mb-4'><label class='d-block small' for='input-quality-1'>Qty:</label> <input class='form-control form-control-inline' id='input-quality-1' type='text' data-masked='99' value='01' size='2' /></div>
              </td>
              <td class='text-right'>$34</td>
            </tr>
          </tbody>
        </table>
        <div class='offset-sm group-20 d-flex align-items-center flex-wrap justify-content-end'>
          <div class='small'>Have a promo code?</div>
          <div>
            <form class='form-inline justify-content-end group-10'>
              <div class='form-inline-group'><input class='form-control' type='text' placeholder='Promo code' /></div><button class='btn btn-lg btn-dark' type='submit'>Apply</button>
            </form>
          </div>
        </div>
        <table class='table table-cart-total'>
          <tbody>
            <tr>
              <th style='min-width: 100px; width: 50%'>Subtotal:</th>
              <td style='min-width: 100px; width: 50%'>$0.00</td>
            </tr>
            <tr>
              <th>Shipping:</th>
              <td>Free</td>
            </tr>
            <tr>
              <th>Taxes:</th>
              <td>$0.00</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Total:</th>
              <td>
                <h3 style='line-height: 1'>$53</h3>Tax excl.
              </td>
            </tr>
          </tfoot>
        </table>
        <hr class='divider divider-sm' />
        <div class='text-right'><a class='btn btn-lg btn-primary' href='#'><span class='btn-icon int-check novi-icon'></span><span>Proceed to Checkout</span></a></div>
      </div>
    </div>
  </div>
</section>