<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-15 align-items-center flex-md-row-reverse'>
      <div class='col-sm-6 col-md-5' data-animate='{"class":"fadeInRight"}'>
        <h6 class='text-primary'>Child themes</h6>
        <h1>A wide variety of child themes for your website</h1>
        <p>Choose from a variety of Child themes and use any of them for your website.</p>
      </div>
      <div class='col-sm-6 col-md-7' data-animate='{"class":"fadeInLeft"}'><img src='images/image-37-690x730.png' alt='' width='690' height='730' /></div>
    </div>
  </div>
</section>