<section class='section section-lg bg-200 novi-background'>
  <div class='container'>
    <div class='row row-30 justify-content-xl-between novi-disabled'>
      <div class='col-md-10 col-lg-5' data-animate='{"class":"fadeInLeft"}'>
        <h2>We’ve helped multiple stores go eCommerce</h2>
        <p>Our team has worked with some of the biggest online stores to help them succeed.</p>
      </div>
      <div class='col-md-10 col-lg-7 col-xl-6' data-animate='{"class":"fadeInUp"}'>
        <div class='row row-30 row-lg-40'>
          <div class='col-6'>
            <div class='partner'><img class='partner-image' src='images/partners/partner-1-290x120.jpg' alt='' width='290' height='120' /></div>
          </div>
          <div class='col-6'>
            <div class='partner'><img class='partner-image' src='images/partners/partner-2-290x120.jpg' alt='' width='290' height='120' /></div>
          </div>
          <div class='col-6'>
            <div class='partner'><img class='partner-image' src='images/partners/partner-3-290x120.jpg' alt='' width='290' height='120' /></div>
          </div>
          <div class='col-6'>
            <div class='partner'><img class='partner-image' src='images/partners/partner-4-290x120.jpg' alt='' width='290' height='120' /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>