<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Comments cloud</h2>
    <div class='row row-30 justify-content-center novi-disabled'>
      <div class='col-lg-10 col-xl-8'>
        <div class='comment comment-cloud'>
          <div class='media media-md flex-column flex-sm-row'>
            <div class='media-left'>
              <div class='mt-1 d-none d-sm-inline-block'>
                <div class='comment-icon int-user novi-icon'></div>
              </div>
            </div>
            <div class='media-body'>
              <div class='comment-panel'>
                <div>
                  <div class='media media-xs align-items-center'>
                    <div class='media-left d-sm-none'>
                      <div class='comment-icon int-user novi-icon'></div>
                    </div>
                    <div class='media-body'>
                      <ul class='comment-meta'>
                        <li class='comment-meta-item'>by <span class='font-weight-medium'>Adam Smith</span></li>
                        <li class='comment-meta-item'>Posted <time class='font-weight-medium' datetime='2019-09-16'>September 16, 2019</time></li>
                      </ul>
                    </div>
                  </div>
                </div><a class='comment-link' href='#'>Reply</a>
              </div>
              <div class='comment-text'>Thank you for such an informative post! It will surely be of great use to me in my future work.</div>
            </div>
          </div>
          <div class='comment comment-cloud'>
            <div class='media media-md flex-column flex-sm-row'>
              <div class='media-left'>
                <div class='mt-1 d-none d-sm-inline-block'><img class='comment-image' src='images/persons/person-04-60x60.jpg' alt='' width='60' height='60' /></div>
              </div>
              <div class='media-body'>
                <div class='comment-panel'>
                  <div>
                    <div class='media media-xs align-items-center'>
                      <div class='media-left d-sm-none'><img class='comment-image' src='images/persons/person-04-60x60.jpg' alt='' width='60' height='60' /></div>
                      <div class='media-body'>
                        <ul class='comment-meta'>
                          <li class='comment-meta-item'>by <span class='font-weight-medium'>Mark Rogers</span></li>
                          <li class='comment-meta-item'>Posted <time class='font-weight-medium' datetime='2019-09-18'>September 18, 2019</time></li>
                        </ul>
                      </div>
                    </div>
                  </div><a class='comment-link' href='#'>Reply</a>
                </div>
                <div class='comment-text'>You’re welcome! I’m going to post more on this topic soon.</div>
              </div>
            </div>
          </div>
        </div>
        <div class='comment comment-cloud'>
          <div class='media media-md flex-column flex-sm-row'>
            <div class='media-left'>
              <div class='mt-1 d-none d-sm-inline-block'>
                <div class='comment-icon int-user novi-icon'></div>
              </div>
            </div>
            <div class='media-body'>
              <div class='comment-panel'>
                <div>
                  <div class='media media-xs align-items-center'>
                    <div class='media-left d-sm-none'>
                      <div class='comment-icon int-user novi-icon'></div>
                    </div>
                    <div class='media-body'>
                      <ul class='comment-meta'>
                        <li class='comment-meta-item'>by <span class='font-weight-medium'>John Peters</span></li>
                        <li class='comment-meta-item'>Posted <time class='font-weight-medium' datetime='2019-09-26'>September 26, 2019</time></li>
                      </ul>
                    </div>
                  </div>
                </div><a class='comment-link' href='#'>Reply</a>
              </div>
              <div class='comment-text'>Your every post contains a lot of great tips and lifehacks! Thank you for sharing all this useful information with your readers.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>