<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 align-items-center justify-content-center justify-content-md-between text-center text-md-left'>
      <div class='col-xs-8 col-md-6 col-xl-7' data-animate='{"class":"fadeInLeftBig"}'><img src='images/products/product-03-730x640.jpg' alt='' width='730' height='640' /></div>
      <div class='col-xs-8 col-md-6 col-xl-4' data-animate='{"class":"fadeInRightBig"}'>
        <div class='text-box'>
          <h2>The quarter size experience</h2>
          <p>Create exactly what you need with our powerful bootstrap toolkit.</p>
        </div>
      </div>
    </div>
  </div>
</section>