<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30'>
      <div class='col-sm-6'>
        <h6 class='text-primary'>Intense office #1</h6>
        <div class='offset-sm'>
          <div class='d-inline-flex align-items-center'><span class='icon icon-xs int-phone novi-icon mr-2'></span>
            <div class='h5'><a href='tel:#'>+1 234 567 8901</a></div>
          </div>
        </div>
        <div class='offset-xs'>
          <div class='h5'>7609 Mckinley Ave, Los Angeles, CA 90001, United States</div>
        </div>
        <ul class='list list-xs small'>
          <li class='list-item'>Monday-Friday: 8am - 6pm</li>
          <li class='list-item'>Saturday-Sunday: 8am - 2pm</li>
          <li class='list-item'>Holidays: closed</li>
        </ul>
        <ul class='list'>
          <li class='list-item'><a class='link link-secondary' href='mailto:#'>mail@demolink.org</a></li>
          <li class='list-item'><a class='link link-secondary' href='mailto:#'>info@demolink.org</a></li>
        </ul>
      </div>
      <div class='col-sm-6'>
        <h6 class='text-primary'>Intense office #2</h6>
        <div class='offset-sm'>
          <div class='d-inline-flex align-items-center'><span class='icon icon-xs int-phone novi-icon mr-2'></span>
            <div class='h5'><a href='tel:#'>+1 234 567 8901</a></div>
          </div>
        </div>
        <div class='offset-xs'>
          <div class='h5'>178 West 27th Street, Suite 527, New York, NY 10012, United States</div>
        </div>
        <ul class='list list-xs small'>
          <li class='list-item'>Monday-Friday: 8am - 6pm</li>
          <li class='list-item'>Saturday-Sunday: 8am - 2pm</li>
          <li class='list-item'>Holidays: closed</li>
        </ul>
        <ul class='list'>
          <li class='list-item'><a class='link link-secondary' href='mailto:#'>mail@demolink.org</a></li>
          <li class='list-item'><a class='link link-secondary' href='mailto:#'>info@demolink.org</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>