<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h1 class='text-center'>Contact us 3</h1>
    <div class='row row-40'>
      <div class='col-lg-3'>
        <p><span class='icon icon-xs int-phone novi-icon mr-3'></span>Phones:</p>
        <div class='offset-xxs'>
          <ul class='list list-xs'>
            <li class='list-item'>
              <div class='h5'><a href='tel:#'>+1 234 567 8901</a>;</div>
            </li>
            <li class='list-item'>
              <div class='h5'><a href='tel:#'>+1 234 567 8902</a></div>
            </li>
          </ul>
        </div>
      </div>
      <div class='col-lg-3'>
        <p><span class='icon icon-xs int-marker novi-icon mr-3'></span>Address:</p>
        <div class='offset-xxs'>
          <div class='h5'><a href='#'>178 West 27th Street, Suite 527, New York NY 10012, United States</a></div>
        </div>
      </div>
      <div class='col-lg-3'>
        <p><span class='icon icon-xs int-email novi-icon mr-3'></span>E-mail:</p>
        <div class='offset-xxs'>
          <ul class='list list-lg'>
            <li class='list-item'><a class='link link-secondary' href='mailto:#'>mail@example.com</a></li>
            <li class='list-item'><a class='link link-secondary' href='mailto:#'>info@example.com</a></li>
          </ul>
        </div>
      </div>
      <div class='col-lg-3'>
        <p><span class='icon icon-xs int-clock novi-icon mr-3'></span>Open Hours</p>
        <div class='offset-xxs'>
          <ul class='list list-xs h5'>
            <li class='list-item'>Mon-Fri: 8am - 6pm</li>
            <li class='list-item'>Sat-Sun: 8am - 2pm</li>
            <li class='list-item'>Holidays: closed</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>