<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40'>
      <div class='col-sm-10 col-md-6'>
        <h3>How to find us</h3>
        <p>You can always visit us in our comfortable office. View their addresses and opening hours or call/email us directly using the information below.</p>
        <div class='offset-md'>
          <div class='d-inline-flex align-items-center'><span class='icon icon-xs int-phone novi-icon mr-2'></span>
            <div class='h5'><a href='tel:#'>+1 234 567 8901</a></div>
          </div>
        </div>
        <div class='offset-xs'>
          <div class='h5'>178 West 27th Street, Suite 527, New York, NY 10012, United States</div>
        </div>
        <ul class='list list-xs small'>
          <li class='list-item'>Monday-Friday: 8am - 6pm</li>
          <li class='list-item'>Saturday-Sunday: 8am - 2pm</li>
          <li class='list-item'>Holidays: closed</li>
        </ul>
        <ul class='list'>
          <li class='list-item'><a class='link link-secondary' href='mailto:#'>mail@demolink.org</a></li>
          <li class='list-item'><a class='link link-secondary' href='mailto:#'>info@demolink.org</a></li>
        </ul>
      </div>
      <div class='col-md-6'>
        <h3>Get in touch</h3>
        <form class='rd-mailform' data-form-output='form-output-global' data-form-type='contact' method='post' action='components/rd-mailform/rd-mailform.php'>
          <div class='form-group'><label for='input-name'>Name:</label>
            <div class='position-relative'><input class='form-control' id='input-name' type='text' name='name' placeholder='Your name' data-constraints='@Required' /></div>
          </div>
          <div class='form-group'><label for='input-email'>E-mail:</label>
            <div class='position-relative'><input class='form-control' id='input-email' type='email' name='email' placeholder='Your e-mail address' data-constraints='@Email @Required' /></div>
          </div>
          <div class='form-group'><label for='input-question'>Question:</label>
            <div class='position-relative'><textarea class='form-control' id='input-question' name='question' placeholder='Your question' data-constraints='@Required'></textarea></div>
          </div><button class='btn btn-lg btn-primary' type='submit'>Submit</button>
        </form>
        <div class='form-output snackbar snackbar-secondary' id='form-output-global'></div>
      </div>
    </div>
  </div>
</section>