<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-sm-8 col-md-6 col-lg-7 col-xxl-8'>
        <div class='person person-rounded person-xl'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-06-400x400.jpg' alt='' width='400' height='400' /></a>
          <div class='person-title'><a href='team-member.html'>Hello, I’m John Wilson.<br />I’m the CEO, founder & creative director of Intense.</a></div>
          <div class='person-tel'><small class='person-tel-icon int-phone novi-icon'></small><a class='person-tel-link' href='tel:#'>+1 234 567 8901</a></div><a class='person-mail' href='mailto:#'>jwilson@demolink.org</a>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-youtube' href='#'></a><a class='person-icon icon-social novi-icon int-facebook' href='#'></a><a class='person-icon icon-social novi-icon int-instagram' href='#'></a><a class='person-icon icon-social novi-icon int-twitter' href='#'></a><a class='person-icon icon-social novi-icon int-linkedin' href='#'></a></div>
        </div>
      </div>
    </div>
  </div>
</section>