<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h3>Counters Type #6</h3>
    <div class='row row-30 row-offset-lg'>
      <div class='col-6 col-md-3'>
        <div class='counter counter-reverse counter-boxed'>
          <div class='counter-body'>
            <div class='counter-value h1'><span data-counter=''>72</span><span class='counter-postfix'>+</span></div>
            <div class='counter-title'>Team members</div>
          </div>
        </div>
      </div>
      <div class='col-6 col-md-3'>
        <div class='counter counter-reverse counter-boxed counter-boxed-secondary'>
          <div class='counter-body'>
            <div class='counter-value h1'><span data-counter=''>2013</span></div>
            <div class='counter-title'>Year of foundation</div>
          </div>
        </div>
      </div>
      <div class='col-6 col-md-3'>
        <div class='counter counter-reverse counter-boxed'>
          <div class='counter-body'>
            <div class='counter-value h1'><span data-counter=''>15</span><span class='counter-postfix'>K</span></div>
            <div class='counter-title'>Users</div>
          </div>
        </div>
      </div>
      <div class='col-6 col-md-3'>
        <div class='counter counter-reverse counter-boxed counter-boxed-primary'>
          <div class='counter-body'>
            <div class='counter-value h1'><span class='counter-prefix'>$</span><span data-counter=''>3</span><span class='counter-postfix'>M</span></div>
            <div class='counter-title'>In total funding</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>