<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Timers type #1</h2>
    <div class='countdown-simple' data-countdown='{"to":"2019-12-31"}'>
      <div class='countdown-block countdown-block-days'>
        <div class='countdown-wrap'>
          <div class='countdown-counter h1' data-counter-days=''>00</div>
          <div class='countdown-title'>days</div>
        </div>
      </div>
      <div class='countdown-block countdown-block-hours'>
        <div class='countdown-wrap'>
          <div class='countdown-counter h1' data-counter-hours=''>00</div>
          <div class='countdown-title'>hours</div>
        </div>
      </div>
      <div class='countdown-block countdown-block-minutes'>
        <div class='countdown-wrap'>
          <div class='countdown-counter h1' data-counter-minutes=''>00</div>
          <div class='countdown-title'>minutes</div>
        </div>
      </div>
      <div class='countdown-block countdown-block-seconds'>
        <div class='countdown-wrap'>
          <div class='countdown-counter h1' data-counter-seconds=''>00</div>
          <div class='countdown-title'>seconds</div>
        </div>
      </div>
    </div>
  </div>
</section>