<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2 data-animate='{"class":"fadeIn"}'>Cross-Browser Support</h2>
    <p data-animate='{"class":"fadeIn"}'>The script was optimized to run flawlessly across all the major web browsers.</p>
    <div class='group-15 mt-5'><img src='images/browsers/chrome-59x57.png' alt='' width='59' height='57' data-animate='{"class":"fadeInLeftBig","delay":"0.2s"}' /><img src='images/browsers/firefox-59x60.png' alt='' width='59' height='60' data-animate='{"class":"fadeInLeftBig"}' /><img src='images/browsers/safari-59x57.png' alt='' width='59' height='57' data-animate='{"class":"fadeInRightBig"}' /><img src='images/browsers/edge-59x59.png' alt='' width='59' height='59' data-animate='{"class":"fadeInRightBig","delay":"0.2s"}' /></div>
  </div>
</section>