<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Dividers</h2>
    <div class='row row-40 row-md-60 row-xl-80'>
      <div class='col-12'>
        <hr class='divider divider-sm' />
        <hr class='divider' />
        <hr class='divider divider-lg' />
        <hr class='divider divider-xl' />
      </div>
      <div class='col-12'>
        <hr class='divider divider-dark divider-sm' />
        <hr class='divider divider-dark' />
        <hr class='divider divider-dark divider-lg' />
        <hr class='divider divider-dark divider-xl' />
      </div>
    </div>
  </div>
</section>