<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <h2>Ellipse icon styles</h2>
    <div class='mt-5'>
      <div class='group-30 d-flex flex-wrap align-items-start justify-content-center'>
        <div class='icon icon-circle icon-md icon-primary fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-secondary fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-dark fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-shamrock-blue fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-blue-violet fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-electric-violet fa-television novi-icon'></div>
      </div>
    </div>
    <div class='mt-4'>
      <div class='group-30 d-flex flex-wrap align-items-start justify-content-center'>
        <div class='icon icon-circle icon-md icon-primary-filled fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-secondary-filled fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-dark-filled fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-shamrock-blue-filled fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-blue-violet-filled fa-television novi-icon'></div>
        <div class='icon icon-circle icon-md icon-electric-violet-filled fa-television novi-icon'></div>
      </div>
    </div>
  </div>
</section>