<section class='section section-lg bg-transparent novi-background'>
  <div class='container' data-animate='{"class":"fadeInRight"}'>
    <div class='row row-30 novi-disabled'>
      <div class='col-md-3 col-xl-2'>
        <h5>Experience</h5>
      </div>
      <div class='col-md-9 col-xl-10'>
        <div class='row row-20 gutters-20 row-text'>
          <div class='col-6 col-lg-4 col-xl-3'>
            <article class='award award-secondary'>
              <div class='award-title h3'>2019</div>
              <div class='award-text small'>Intense,<br class='d-none d-xs-block' />Leading UI/UX designer</div>
            </article>
          </div>
          <div class='col-6 col-lg-4 col-xl-3'>
            <article class='award'>
              <div class='award-title h3'>2018</div>
              <div class='award-text small'>ZGP Web Agency,<br class='d-none d-xs-block' />Product Designer</div>
            </article>
          </div>
          <div class='col-6 col-lg-4 col-xl-3'>
            <article class='award'>
              <div class='award-title h3'>2017</div>
              <div class='award-text small'>Pixx Creative Studio,<br class='d-none d-xs-block' />Leading UX designer</div>
            </article>
          </div>
          <div class='col-6 col-lg-4 col-xl-3'>
            <article class='award'>
              <div class='award-title h3'>2014</div>
              <div class='award-text small'>Xtra Web,<br class='d-none d-xs-block' />UX Designer</div>
            </article>
          </div>
          <div class='col-6 col-lg-4 col-xl-3'>
            <article class='award'>
              <div class='award-title h3'>2012</div>
              <div class='award-text small'>LA Web Studio,<br class='d-none d-xs-block' />Junior Designer</div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>