<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h4>Facts & statistics</h4>
    <div class='row row-30 row-offset-md'>
      <div class='col-6 col-md-3'>
        <div class='counter'>
          <div class='counter-body'>
            <div class='counter-value h1'><span data-counter=''>92</span><span class='counter-postfix'>+</span></div>
            <div class='counter-title'>Team members</div>
          </div>
        </div>
      </div>
      <div class='col-6 col-md-3'>
        <div class='counter'>
          <div class='counter-body'>
            <div class='counter-value h1'><span data-counter=''>1999</span></div>
            <div class='counter-title'>Year founded</div>
          </div>
        </div>
      </div>
      <div class='col-6 col-md-3'>
        <div class='counter'>
          <div class='counter-body'>
            <div class='counter-value h1'><span data-counter=''>15</span><span class='counter-postfix'>K</span></div>
            <div class='counter-title'>Clients</div>
          </div>
        </div>
      </div>
      <div class='col-6 col-md-3'>
        <div class='counter'>
          <div class='counter-body'>
            <div class='counter-value h1'><span class='counter-prefix'>$</span><span data-counter=''>25</span><span class='counter-postfix'>M</span></div>
            <div class='counter-title'>Annual income</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>