<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 justify-content-center novi-disabled'>
      <div class='col-md-3'>
        <h2>Facts<br class='d-none d-md-block' />about me</h2>
      </div>
      <div class='col-md-9 col-lg-7'>
        <div class='row row-30 justify-content-xs-between'>
          <div class='col-6 col-xs-4'>
            <div class='counter'>
              <div class='counter-body'>
                <div class='counter-value h1'><span data-counter=''>2008</span></div>
                <div class='counter-title'>Career start</div>
              </div>
            </div>
          </div>
          <div class='col-6 col-xs-4'>
            <div class='counter'>
              <div class='counter-body'>
                <div class='counter-value h1'><span data-counter=''>100</span><span class='counter-postfix'>%</span></div>
                <div class='counter-title'>Positive reviews</div>
              </div>
            </div>
          </div>
          <div class='col-6 col-xs-3'>
            <div class='counter'>
              <div class='counter-body'>
                <div class='counter-value h1'><span data-counter=''>1</span><span class='counter-postfix'>K</span></div>
                <div class='counter-title'>Clients</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>