<section class='section section-lg bg-secondary context-dark novi-background'>
  <div class='container'>
    <div class='row row-30 justify-content-lg-between novi-disabled'>
      <div class='col-md-4'>
        <div class='sticky sticky-top'>
          <h6 class='text-primary'>Take full control of your site</h6>
          <ul class='list list-lg'>
            <li class='list-item'><a class='live-anchor' href='#Design' data-live-anchor=''>Design</a></li>
            <li class='list-item'><a class='live-anchor' href='#Development' data-live-anchor=''>Development</a></li>
            <li class='list-item'><a class='live-anchor' href='#Customization' data-live-anchor=''>Customization</a></li>
          </ul>
        </div>
      </div>
      <div class='col-md-8 col-lg-7'>
        <div class='row row-50 row-lg-80 row-xl-100 row-xxl-150 novi-disabled'>
          <div class='col-12' id='Design'>
            <h4 data-animate='{"class":"fadeInRight"}'>A extensive range of web design features that make Intense the best template for your website</h4>
            <div class='row row-offset-lg row-30 row-md-50 row-xl-70 justify-content-xl-between'>
              <div class='col-xs-6 col-md-6 col-xxl-5' data-animate='{"class":"fadeInUp"}'>
                <article class='blurb'>
                  <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
                  <div class='blurb-title h5'>60+ reusable elements</div>
                  <div class='blurb-text'>Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.</div>
                </article>
              </div>
              <div class='col-xs-6 col-md-6 col-xxl-5' data-animate='{"class":"fadeInUp"}'>
                <article class='blurb'>
                  <div class='blurb-embed'><span class='blurb-icon ith-font novi-icon'></span></div>
                  <div class='blurb-title h5'>Unlimited Google fonts</div>
                  <div class='blurb-text'>The template includes a vast range of fonts from Google Fonts library that can be easily switched and replaced.</div>
                </article>
              </div>
              <div class='col-xs-6 col-md-6 col-xxl-5 align-self-center' data-animate='{"class":"fadeInUp"}'>
                <article class='blurb'>
                  <div class='blurb-embed'><span class='blurb-icon ith-effect novi-icon'></span></div>
                  <div class='blurb-title h5'>Various hover effects and animations</div>
                  <div class='blurb-text'>Thanks to stunning animations and effects, a website built with Intense will always impress your visitors.</div>
                </article>
              </div>
              <div class='col-xs-6 col-md-6 col-xxl-5' data-animate='{"class":"fadeInUp"}'>
                <article class='blurb blurb-boxed blurb-primary'>
                  <div class='blurb-embed'><span class='blurb-icon ith-pages novi-icon'></span></div>
                  <div class='blurb-title h5'>Blog and shop pages</div>
                  <div class='blurb-text'>Post your latest news and integrate eCommerce features with our pre-designed blog &amp; shop pages.</div>
                </article>
              </div>
            </div>
          </div>
          <div class='col-12' id='Development'>
            <h4 data-animate='{"class":"fadeInRight"}'>The latest web development technologies combined to help you create an outstanding website</h4>
            <div class='row row-offset-lg row-30 row-md-50 row-xl-70 justify-content-xl-between'>
              <div class='col-xs-6 col-md-6 col-xxl-5' data-animate='{"class":"fadeInUp"}'>
                <article class='blurb blurb-boxed blurb-dark'>
                  <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
                  <div class='blurb-title h5'>Bootstrap 4 framework</div>
                  <div class='blurb-text'>Intense has a set of more than 60 UI elements designed to make your website attractive and feature-rich.</div>
                </article>
              </div>
              <div class='col-xs-6 col-md-6 col-xxl-5 align-self-center' data-animate='{"class":"fadeInUp"}'>
                <article class='blurb'>
                  <div class='blurb-embed'><span class='blurb-icon ith-settings novi-icon'></span></div>
                  <div class='blurb-title h5'>HTML and CSS compiling by Pug and Sass</div>
                  <div class='blurb-text'>To simplify and improve the development of your website, Intense uses Pug and Sass code compiling.</div>
                </article>
              </div>
              <div class='col-xs-6 col-md-6 col-xxl-5 align-self-center' data-animate='{"class":"fadeInUp"}'>
                <article class='blurb'>
                  <div class='blurb-embed'><span class='blurb-icon ith-console novi-icon'></span></div>
                  <div class='blurb-title h5'>Fully component approach to code</div>
                  <div class='blurb-text'>We used a component approach to code to make the usage of Intense easier for all other developers.</div>
                </article>
              </div>
            </div>
          </div>
          <div class='col-12' id='Customization'>
            <h4 data-animate='{"class":"fadeInRight"}'>With Intense, creating customizable and fully responsive websites is easier than ever</h4>
            <div class='row row-offset-lg row-30 row-md-50 row-xl-70 justify-content-xl-between'>
              <div class='col-xs-6 col-md-6 col-xxl-5 align-self-center' data-animate='{"class":"fadeInUp"}'>
                <article class='blurb'>
                  <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
                  <div class='blurb-title h5'>Responsive Layout</div>
                  <div class='blurb-text'>All pages of Intense are completely responsive guaranteeing that your website will look great on any device.</div>
                </article>
              </div>
              <div class='col-xs-6 col-md-6 col-xxl-5' data-animate='{"class":"fadeInUp"}'>
                <article class='blurb blurb-boxed blurb-primary'>
                  <div class='blurb-embed'><span class='blurb-icon ith-pages novi-icon'></span></div>
                  <div class='blurb-title h5'>Rich UI Kit</div>
                  <div class='blurb-text'>Our template supports full customization due to the rich UI kit with lots of blocks and sections.</div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>