<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 align-items-center justify-content-xl-between novi-disabled'>
      <div class='col-xl-4'>
        <h2>Best solutions for our clients</h2>
      </div>
      <div class='col-xl-7'>
        <p>Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.</p>
      </div>
    </div>
    <div class='row row-30 row-lg-40 row-offset-lg'>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal'>
          <div class='blurb-title h6'>Web design</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal blurb-secondary'>
          <div class='blurb-title h6'>Web development</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal'>
          <div class='blurb-title h6'>Online marketing</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal'>
          <div class='blurb-title h6'>Copywriting</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal'>
          <div class='blurb-title h6'>Graphic design</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal'>
          <div class='blurb-title h6'>Logo development</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal'>
          <div class='blurb-title h6'>Branding</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal'>
          <div class='blurb-title h6'>Social media marketing</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal'>
          <div class='blurb-title h6'>Search engine optimization</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
      <div class='col-6 col-sm-4 col-md-3 col-lg-auto'>
        <article class='blurb blurb-minimal blurb-primary'>
          <div class='blurb-title h6'>PPC marketing</div>
          <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
        </article>
      </div>
    </div>
  </div>
</section>