<footer class='section footer bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 row-md-50 justify-content-md-between justify-content-xl-end'>
      <div class='col-xs-4 col-lg-2'>
        <div class='logo'><a class='logo-link' href='index.html'><img class='logo-image-default' src='images/logo-default-114x27.svg' alt='Intense' width='114' height='27' /><img class='logo-image-inverse' src='images/logo-inverse-114x27.svg' alt='Intense' width='114' height='27' /></a></div>
      </div>
      <div class='col-6 col-xs-4 col-lg-2'>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='#'>Participate</a></li>
          <li class='list-item'><a class='list-link' href='#'>Tickets</a></li>
          <li class='list-item'><a class='list-link' href='#'>Venue</a></li>
        </ul>
      </div>
      <div class='col-6 col-xs-4 col-lg-3'>
        <h6>Get in touch at</h6>
        <div class='mt-2'><a class='small font-weight-normal' href='mailto:#'>mail@demolink.org</a></div>
      </div>
      <div class='col-md-9 col-lg-5 col-xl-4 offset-xl-1'>
        <h6>Subscribe to our newsletter</h6>
        <form class='rd-mailform' data-form-output='form-output-footer-event' data-form-type='subscribe' method='post' action='components/rd-mailform/rd-mailform.php'>
          <div class='form-group-icon novi-disabled'><input class='form-control' type='email' name='email' placeholder='Enter your email address' data-constraints='@Email @Required' /> <button class='form-group-icon-btn int-arrow-right novi-icon'></button></div>
        </form>
        <div class='form-output snackbar snackbar-dark' id='form-output-footer-event'></div>
      </div>
    </div>
    <hr class='divider divider-sm footer-divider' />
    <div class='footer-panel'>
      <div class='group-20 d-flex flex-wrap align-items-center justify-content-between novi-disabled'>
        <div>
          <div class='group-x-30 d-inline-flex flex-wrap'><a class='footer-link' href='#'>Cookies</a><a class='footer-link' href='privacy-policy.html'>Privacy Policy</a><a class='footer-link' href='#'>Data-retention policy</a><a class='footer-link' href='#'>Code of Conduct</a></div>
        </div>
        <div>
          <div class='group-30 d-inline-flex text-900'><a class='icon icon-xs icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-xs icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-xs icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-xs icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-xs icon-social int-linkedin novi-icon' href='#'></a></div>
        </div>
      </div>
      <p class='rights'><span>&copy; 2019&nbsp;</span><span>Intense</span><span>. All rights reserved</span></p>
    </div>
  </div>
</footer>