<footer class='section footer bg-800 text-400 context-dark novi-background'>
  <div class='container'>
    <div class='row row-30'>
      <div class='col-sm-5 col-lg-3'>
        <div class='logo'><a class='logo-link' href='index.html'><img class='logo-image-default' src='images/logo-default-114x27.svg' alt='Intense' width='114' height='27' /><img class='logo-image-inverse' src='images/logo-inverse-114x27.svg' alt='Intense' width='114' height='27' /></a></div>
        <div class='offset-sm group-30 d-flex text-white'><a class='icon icon-xs icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-xs icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-xs icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-xs icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-xs icon-social int-linkedin novi-icon' href='#'></a></div>
        <div class='offset-sm media media-xxs text-white'>
          <div class='media-left'><span class='icon icon-xs int-phone'></span></div>
          <div class='media-body'>
            <ul class='list list-contact'>
              <li class='list-contact-item'><a class='list-contact-link' href='tel:#'>+1 234 567 8901</a></li>
              <li class='list-contact-item'><a class='list-contact-link' href='tel:#'>+1 234 567 8902</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-auto col-xs-6 col-sm-4 col-md-3 col-lg-2'>
        <h6>What we do</h6>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='#'>Desktop apps</a></li>
          <li class='list-item'><a class='list-link' href='#'>Mobile apps</a></li>
          <li class='list-item'><a class='list-link' href='#'>DB management</a></li>
          <li class='list-item'><a class='list-link' href='#'>Backend development</a></li>
          <li class='list-item'><a class='list-link' href='#'>Consulting</a></li>
        </ul>
      </div>
      <div class='col-auto col-xs-6 col-sm-3 col-lg-2'>
        <h6>Navigation</h6>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='about-us.html'>About us</a></li>
          <li class='list-item'><a class='list-link' href='our-team.html'>Our team</a></li>
          <li class='list-item'><a class='list-link' href='blog-classic-with-sidebar.html'>Blog</a></li>
          <li class='list-item'><a class='list-link' href='portfolio-grid-horizontal.html'>Portfolio</a></li>
        </ul>
      </div>
      <div class='col-md-9 col-lg-5'>
        <h4>Newsletter subscription</h4>
        <p class='mt-3 small'>Trying to stay on top of it all? Get the best tools, resources and tips on software development sent to your inbox weekly.</p>
        <div class='offset-xs'>
          <form class='rd-mailform form-inline group-20 novi-disabled' data-form-output='footer-business-form-output' data-form-type='subscribe' method='post' action='components/rd-mailform/rd-mailform.php'>
            <div class='form-inline-group'><input class='form-control' type='email' name='email' placeholder='Enter your email address' data-constraints='@Email @Required' /></div><button class='btn btn-lg btn-primary' type='submit'>Subscribe</button>
          </form>
          <div class='form-output snackbar snackbar-secondary' id='footer-business-form-output'></div>
        </div>
      </div>
    </div>
    <hr class='divider footer-divider' />
    <div class='footer-panel'>
      <p class='rights'><span>&copy; 2019&nbsp;</span><span>Intense</span><span>. All rights reserved.&nbsp;</span><a class='rights-link' href='privacy-policy.html'>Privacy Policy</a></p>
    </div>
  </div>
</footer>