<footer class='footer footer-sm bg-transparent text-400 context-dark novi-background'>
  <div class='container'>
    <div class='row row-15 align-items-center justify-content-between footer-panel'>
      <div class='col-auto'>
        <p class='rights'><span>&copy; 2019&nbsp;</span><span>Intense</span><span>. All rights reserved.&nbsp;</span><a class='rights-link' href='privacy-policy.html'>Privacy Policy</a></p>
      </div>
      <div class='col-auto'>
        <div class='group-30 d-flex text-white'><a class='icon icon-xs icon-social int-behance novi-icon' href='#'></a><a class='icon icon-xs icon-social int-dribble novi-icon' href='#'></a><a class='icon icon-xs icon-social int-linkedin novi-icon' href='#'></a></div>
      </div>
    </div>
  </div>
</footer>