<footer class='section footer footer-sm bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 justify-content-lg-between'>
      <div class='col-md-3'>
        <div class='logo'><a class='logo-link' href='index.html'><img class='logo-image-default' src='images/logo-default-114x27.svg' alt='Intense' width='114' height='27' /><img class='logo-image-inverse' src='images/logo-inverse-114x27.svg' alt='Intense' width='114' height='27' /></a></div>
      </div>
      <div class='col-auto col-xs-4 col-md-3 col-lg-2'>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='about-us.html'>About Us</a></li>
          <li class='list-item'><a class='list-link' href='contact-us.html'>Contacts</a></li>
          <li class='list-item'><a class='list-link' href='careers.html'>Careers</a></li>
        </ul>
      </div>
      <div class='col-auto col-xs-4 col-md-3 col-lg-2'>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='#'>Cookies</a></li>
          <li class='list-item'><a class='list-link' href='privacy-policy.html'>Privacy Policy</a></li>
        </ul>
      </div>
      <div class='col-auto col-xs-4 col-md-3 col-lg-2'>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='#'>Facebook</a></li>
          <li class='list-item'><a class='list-link' href='#'>Instagram</a></li>
          <li class='list-item'><a class='list-link' href='#'>Twitter</a></li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='col-12'>
        <p class='rights'><span>&copy; 2019&nbsp;</span><span>Intense</span><span>. All rights reserved</span></p>
      </div>
    </div>
  </div>
</footer>