<footer class='section footer footer-xl bg-200 mx-4 novi-background'>
  <div class='container'>
    <div class='row row-40 row-md-50 justify-content-md-between justify-content-xl-end'>
      <div class='col-6 col-md-3'>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='grid-shop-left-sidebar.html'>Store</a></li>
          <li class='list-item'><a class='list-link' href='#'>Support</a></li>
          <li class='list-item'><a class='list-link' href='about-us.html'>About</a></li>
          <li class='list-item'><a class='list-link' href='careers.html'>Careers</a></li>
        </ul>
      </div>
      <div class='col-6 col-md-3'>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='#'>Cookies</a></li>
          <li class='list-item'><a class='list-link' href='privacy-policy.html'>Privacy Policy</a></li>
          <li class='list-item'><a class='list-link' href='#'>Data-retention policy</a></li>
          <li class='list-item'><a class='list-link' href='#'>Code of Conduct</a></li>
        </ul>
      </div>
      <div class='col-md-6 col-lg-5 offset-lg-1'>
        <h6>Discover the latest trends</h6>
        <form class='rd-mailform input-group' data-form-output='form-output-footer-store' data-form-type='subscribe' method='post' action='components/rd-mailform/rd-mailform.php'>
          <div class='form-group-icon novi-disabled'><input class='form-control' type='email' name='email' placeholder='Enter your email address' data-constraints='@Email @Required' /> <button class='form-group-icon-btn int-arrow-right novi-icon'></button></div>
        </form>
        <div class='form-output snackbar snackbar-primary' id='form-output-footer-store'></div>
      </div>
    </div>
    <div class='row row-20 align-items-end novi-disabled'>
      <div class='col-md-7'>
        <div class='group-20 d-inline-flex flex-wrap align-items-end'>
          <div class='logo pb-1'><a class='logo-link' href='index.html'><img class='logo-image-default' src='images/logo-default-114x27.svg' alt='Intense' width='114' height='27' /><img class='logo-image-inverse' src='images/logo-inverse-114x27.svg' alt='Intense' width='114' height='27' /></a></div>
          <p class='rights mt-0'><span>&copy; 2019&nbsp;</span><span>Intense</span><span>. All rights reserved.&nbsp;</span><a class='rights-link' href='privacy-policy.html'>Privacy Policy</a></p>
        </div>
      </div>
      <div class='col-md-5'>
        <div class='group-30 d-inline-flex text-900'><a class='icon icon-xs icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-xs icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-xs icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-xs icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-xs icon-social int-linkedin novi-icon' href='#'></a></div>
      </div>
    </div>
  </div>
</footer>