<footer class='section footer footer-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 row-md-50 justify-content-md-between justify-content-xl-end'>
      <div class='col-lg-4 col-xl-3'>
        <div class='logo'><a class='logo-link' href='index.html'><img class='logo-image-default' src='images/logo-default-114x27.svg' alt='Intense' width='114' height='27' /><img class='logo-image-inverse' src='images/logo-inverse-114x27.svg' alt='Intense' width='114' height='27' /></a></div>
        <p class='small'>Intense is a mobile app that unites the functionality of a messenger, e-mail app, and several social network clients.</p><a class='btn btn-lg btn-round btn-dark' href='#'><span class='btn-icon int-apple novi-icon'></span><span>Download for iOS</span></a>
      </div>
      <div class='col-auto col-xs-4 col-lg-auto col-xl-3'>
        <h6>Features</h6>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='#'>Messaging</a></li>
          <li class='list-item'><a class='list-link' href='#'>Spam filtering</a></li>
          <li class='list-item'><a class='list-link' href='#'>Tweeting</a></li>
          <li class='list-item'><a class='list-link' href='#'>Picture editing</a></li>
          <li class='list-item'><a class='list-link' href='#'>Account security</a></li>
        </ul>
      </div>
      <div class='col-auto col-xs-4 col-lg-auto col-xl-3'>
        <h6>Navigation</h6>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='#'>About us</a></li>
          <li class='list-item'><a class='list-link' href='#'>Our team</a></li>
          <li class='list-item'><a class='list-link' href='#'>Our history</a></li>
          <li class='list-item'><a class='list-link' href='#'>Portfolio</a></li>
          <li class='list-item'><a class='list-link' href='#'>Careers</a></li>
        </ul>
      </div>
      <div class='col-auto col-xs-4 col-lg-auto col-xl-3'>
        <h6>Quick links</h6>
        <ul class='list list-xl small font-weight-normal'>
          <li class='list-item'><a class='list-link' href='#'>Reviews</a></li>
          <li class='list-item'><a class='list-link' href='#'>Troubleshooting</a></li>
          <li class='list-item'><a class='list-link' href='#'>App installation</a></li>
          <li class='list-item'><a class='list-link' href='#'>Configuration</a></li>
          <li class='list-item'><a class='list-link' href='#'>App changelog</a></li>
        </ul>
      </div>
      <div class='col-sm-7 col-lg-6 col-xl-5'>
        <h6>Discover the latest news & updates</h6>
        <form class='rd-mailform' data-form-output='form-output-footer-app' data-form-type='subscribe' method='post' action='components/rd-mailform/rd-mailform.php'>
          <div class='form-group-icon novi-disabled'><input class='form-control' type='email' name='email' placeholder='Enter your email address' data-constraints='@Email @Required' /> <button class='form-group-icon-btn int-arrow-right novi-icon'></button></div>
        </form>
        <div class='form-output snackbar snackbar-dark' id='form-output-footer-app'></div>
      </div>
      <div class='col-sm-5 col-xl-3 offset-lg-1 align-self-end pb-sm-3'>
        <div class='group-30 d-flex text-900'><a class='icon icon-xs icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-xs icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-xs icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-xs icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-xs icon-social int-linkedin novi-icon' href='#'></a></div>
      </div>
    </div>
    <hr class='divider divider-sm footer-divider' />
    <div class='footer-panel'>
      <p class='rights'><span>&copy; 2019&nbsp;</span><span>Intense</span><span>. All rights reserved.&nbsp;</span><a class='rights-link' href='privacy-policy.html'>Privacy Policy</a></p>
    </div>
  </div>
</footer>