<footer class='section footer footer-xxl overlay-dark context-dark bg-image novi-background' style='background-image: url(&quot;images/image-32-1920x1000.jpg&quot;)'>
  <div class='container'>
    <div class='row row-40 justify-content-md-between'>
      <div class='col-sm-7 col-md-6 col-xl-5 col-xxl-6'>
        <h1>Trust industry professionals with photography</h1>
        <p>We are always ready to work on your next photo shoot.</p>
      </div>
      <div class='col-sm-5 col-lg-4 col-xl-3 text-sm-right'>
        <div class='group-30 d-inline-flex text-white'><a class='icon icon-xs icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-xs icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-xs icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-xs icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-xs icon-social int-linkedin novi-icon' href='#'></a></div>
        <div class='offset-lg'>
          <p class='small'>178 West 27th Street, Suite 527, New York NY 10012, United States</p>
        </div>
        <div class='offset-xs'>
          <div class='d-inline-flex align-items-center'><span class='icon icon-xs int-phone novi-icon mr-2'></span>
            <div class='h6'><a href='tel:#'>+1 234 567 8901</a></div>
          </div>
        </div>
        <div class='offset-sm'><a class='link small' href='contact-us.html'>Get in Touch with Us<span class='int-arrow-right novi-icon ml-2'></span></a></div>
      </div>
    </div>
    <div class='footer-panel'>
      <p class='rights'><span>&copy; 2019&nbsp;</span><span>Intense</span><span>. All rights reserved.&nbsp;</span><a class='rights-link' href='privacy-policy.html'>Privacy Policy</a></p>
    </div>
  </div>
</footer>