<section class='section section-lg bg-transparent pb-0 novi-background'>
  <div class='container'>
    <h2 class='text-center' data-animate='{"class":"fadeIn"}'>Check Plugin Highlights</h2>
    <div class='row row-40 row-xl-70 justify-content-center'>
      <div class='col-md-6 col-lg-5' data-animate='{"class":"fadeInRight"}'>
        <article class='blurb'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon mdi mdi-settings novi-icon'></span></div>
            <div class='blurb-title h5'>FULL CUSTOMIZATION</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>The script ensures full customization to keep the calendar in line with the overall page design. Feel free to change its styles, set fonts, and arrange elements the way you like.</div>
        </article>
      </div>
      <div class='col-md-6 col-lg-5' data-animate='{"class":"fadeInLeft"}'>
        <article class='blurb'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon mdi mdi-calendar-today novi-icon'></span></div>
            <div class='blurb-title h5'>BUILT-IN COUNTER</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Use a built-in counter to check out how many events are planned for a certain date. This feature will help you keep track of your everyday activities.</div>
        </article>
      </div>
      <div class='col-md-10 text-center' data-animate='{"class":"fadeInUp"}'><img src='images/image-38-770x436.jpg' alt='' width='770' height='436' /></div>
    </div>
  </div>
</section>