<section class='section section-lg context-dark bg-gradient-electric-violet novi-background'>
  <div class='container'>
    <div class='row row-40 row-xl-70 justify-content-center'>
      <div class='col-md-6 col-lg-5' data-animate='{"class":"fadeInLeft"}'>
        <article class='blurb'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon mdi mdi-cellphone-link novi-icon'></span></div>
            <div class='blurb-title h5'>FULLY RESPONSIVE</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Let visitors use the calendar on different devices, be it an HD desktop or mobile phone. Thanks to its fully responsive nature, it can scale down to any viewport automatically.</div>
        </article>
      </div>
      <div class='col-md-6 col-lg-5' data-animate='{"class":"fadeInRight"}'>
        <article class='blurb'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon mdi mdi-code-braces novi-icon'></span></div>
            <div class='blurb-title h5'>jQuery 1.11+</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Before setting up Fullcalendar, you’ll need to install jQuery 1.11+. It will provide an optimal performance of the script on your website.</div>
        </article>
      </div>
      <div class='col-md-10 text-center' data-animate='{"class":"fadeIn"}'><a class='btn btn-lg btn-light btn-outline' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'><span class='btn-icon mdi mdi-cart-outline novi-icon'></span><span>Buy Intense Now</span></a></div>
    </div>
  </div>
</section>