<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h6 class='text-primary'>General Questions</h6>
    <h2>All you need to know about Intense design<br />studio and how to get Support.</h2>
    <div class='accordion accordion-boxed'>
      <div class='accordion-item accordion-general-question-1'><a class='accordion-header accordion-general-question-group' href='#' data-multi-switch='{"targets":".accordion-general-question-1","isolate":".accordion-general-question-group","state":true}'>Who can take advantage of Intense?</a>
        <div class='accordion-body accordion-general-question-1' data-multi-switch-target-slide=''>
          <div class='row novi-disabled'>
            <div class='col-lg-9 movable'>
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
              <hr class='divider divider-sm' />
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class='accordion-item accordion-general-question-2'><a class='accordion-header accordion-general-question-group' href='#' data-multi-switch='{"targets":".accordion-general-question-2","isolate":".accordion-general-question-group"}'>How can web developers benefit from Intense?</a>
        <div class='accordion-body accordion-general-question-2' data-multi-switch-target-slide=''>
          <div class='row novi-disabled'>
            <div class='col-lg-9 movable'>
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
              <hr class='divider divider-sm' />
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class='accordion-item accordion-general-question-3'><a class='accordion-header accordion-general-question-group' href='#' data-multi-switch='{"targets":".accordion-general-question-3","isolate":".accordion-general-question-group"}'>Who can take advantage of Intense?</a>
        <div class='accordion-body accordion-general-question-3' data-multi-switch-target-slide=''>
          <div class='row novi-disabled'>
            <div class='col-lg-9 movable'>
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
              <hr class='divider divider-sm' />
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class='accordion-item accordion-general-question-4'><a class='accordion-header accordion-general-question-group' href='#' data-multi-switch='{"targets":".accordion-general-question-4","isolate":".accordion-general-question-group"}'>Who can take advantage of Intense?</a>
        <div class='accordion-body accordion-general-question-4' data-multi-switch-target-slide=''>
          <div class='row novi-disabled'>
            <div class='col-lg-9 movable'>
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
              <hr class='divider divider-sm' />
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class='accordion-item accordion-general-question-5'><a class='accordion-header accordion-general-question-group' href='#' data-multi-switch='{"targets":".accordion-general-question-5","isolate":".accordion-general-question-group"}'>How can web developers benefit from Intense?</a>
        <div class='accordion-body accordion-general-question-5' data-multi-switch-target-slide=''>
          <div class='row novi-disabled'>
            <div class='col-lg-9 movable'>
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
              <hr class='divider divider-sm' />
              <h4>Intense is the most powerful Bootstrap theme on TemplateMonster</h4>
              <p>Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.</p>
              <ul class='list list-marked-arrow ml-5'>
                <li class='list-item'>Fully responsive design</li>
                <li class='list-item'>Social integration</li>
                <li class='list-item'>30+ predesigned pages</li>
                <li class='list-item'>Regular content updates</li>
                <li class='list-item'>Lots of child themes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>