<section class='section section-layer'>
  <div class='bg-layer bg-900 novi-background' style='bottom: 43%'></div>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-10 col-lg-9 col-xl-8'>
        <h1 class='context-dark text-center' data-animate='{"class":"fadeIn"}'>Get in touch</h1>
        <article class='accent-box rounded-0' data-animate='{"class":"fadeInUp"}'>
          <h4 class='accent-box-title'>Email us with any questions or inquiries<br />or use our contact data.</h4>
          <p class='accent-box-text'>Email us with any questions or inquiries or use our contact data.</p>
          <form class='accent-box-form rd-mailform' data-form-output='form-output-global' data-form-type='contact' method='post' action='components/rd-mailform/rd-mailform.php'>
            <div class='form-row row-15 novi-disabled'>
              <div class='col-sm-6'>
                <div class='form-group'><label for='input-name'>Name:</label>
                  <div class='position-relative'><input class='form-control' id='input-name' type='text' name='name' placeholder='Your name' data-constraints='@Required' /></div>
                </div>
              </div>
              <div class='col-sm-6'>
                <div class='form-group'><label for='input-email'>E-mail:</label>
                  <div class='position-relative'><input class='form-control' id='input-email' type='email' name='email' placeholder='Your e-mail address' data-constraints='@Email @Required' /></div>
                </div>
              </div>
              <div class='col-sm-6'>
                <div class='form-group'><label for='input-tel'>Phone:</label>
                  <div class='position-relative'><input class='form-control' id='input-tel' type='tel' name='tel' placeholder='X-XXX-XXX-XXXX' data-constraints='@PhoneNumber @Required' /></div>
                </div>
              </div>
              <div class='col-sm-6'>
                <div class='form-group'><label for='input-subject'>Subject:</label>
                  <div class='position-relative'><input class='form-control' id='input-subject' type='text' name='subject' placeholder='Subject' data-constraints='@Required' /></div>
                </div>
              </div>
              <div class='col-12'>
                <div class='form-group'><label for='input-question'>Question:</label>
                  <div class='position-relative'><textarea class='form-control' id='input-question' name='question' placeholder='Your question' data-constraints='@Required'></textarea></div>
                </div>
              </div>
            </div>
            <div class='offset-xs group-20 d-flex flex-wrap justify-content-between align-items-center'>
              <div><button class='btn btn-lg btn-dark accent-box-btn rounded-0' type='submit'>Submit</button></div>
              <div class='small'>By clicking the button you agree to<br />the <u class='font-weight-medium'></u><a class='link-inherit' href='privacy-policy.html'>Privacy Policy</a> and <u class='font-weight-medium'></u><a class='link-inherit' href='#'>Terms and Conditions</a></div>
            </div>
          </form>
        </article>
        <div class='form-output snackbar snackbar-secondary' id='form-output-global'></div>
      </div>
    </div>
  </div>
</section>