<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <h2>Get in Touch</h2>
    <form class='rd-mailform' data-form-output='form-output-global' data-form-type='contact' method='post' action='components/rd-mailform/rd-mailform.php'>
      <div class='row row-20 novi-disabled'>
        <div class='col-md-4'>
          <div class='form-group'><label for='input-name'>Name:</label>
            <div class='position-relative'><input class='form-control' id='input-name' type='text' name='name' placeholder='Your name' data-constraints='@Required' /></div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='form-group'><label for='input-email'>E-mail:</label>
            <div class='position-relative'><input class='form-control' id='input-email' type='email' name='email' placeholder='Your e-mail address' data-constraints='@Email @Required' /></div>
          </div>
        </div>
        <div class='col-md-4'>
          <div class='form-group'><label for='input-tel'>Phone:</label>
            <div class='position-relative'><input class='form-control' id='input-tel' type='tel' name='tel' placeholder='X-XXX-XXX-XXXX' data-constraints='@PhoneNumber @Required' /></div>
          </div>
        </div>
        <div class='col-12'>
          <div class='form-group'><label for='input-question'>Question:</label>
            <div class='position-relative'><textarea class='form-control' id='input-question' name='question' placeholder='Your question' data-constraints='@Required'></textarea></div>
          </div>
        </div>
      </div>
      <div class='offset-md'><button class='btn btn-lg btn-primary' type='submit'>Submit</button></div>
    </form>
    <div class='form-output snackbar snackbar-secondary' id='form-output-global'></div>
  </div>
</section>