<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 row-lg-80 row-xxl-110 justify-content-center'>
      <div class='col-xs-10 col-md-6 col-lg-4' data-animate='{"class":"fadeInUpBig"}'>
        <div class='post post-sm'><a class='post-img-link' href='post.html'><img src='images/persons/person-06-400x257.jpg' alt='' width='400' height='257' /></a>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
          </div>
          <h4 class='post-title'><a href='post.html'>Top 10 essential web design trends</a></h4>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-lg-4' data-animate='{"class":"fadeInUpBig","delay":"0.15s"}'>
        <div class='post post-sm'><a class='post-img-link' href='post.html'><img src='images/image-06-400x257.jpg' alt='' width='400' height='257' /></a>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
          </div>
          <h4 class='post-title'><a href='post.html'>15 impressive examples of one-page...</a></h4>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-lg-4' data-animate='{"class":"fadeInUpBig","delay":"0.3s"}'>
        <div class='post post-sm'><a class='post-img-link' href='post.html'><img src='images/image-05-400x257.jpg' alt='' width='400' height='257' /></a>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
          </div>
          <h4 class='post-title'><a href='post.html'>Best examples of online portfolio websites</a></h4>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-lg-4' data-animate='{"class":"fadeInUpBig"}'>
        <div class='post post-sm'><a class='post-img-link' href='post.html'><img src='images/image-11-400x257.jpg' alt='' width='400' height='257' /></a>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
          </div>
          <h4 class='post-title'><a href='post.html'>Top 10 essential web design trends</a></h4>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-lg-4' data-animate='{"class":"fadeInUpBig","delay":"0.15s"}'>
        <div class='post post-sm'><a class='post-img-link' href='post.html'><img src='images/image-47-400x257.jpg' alt='' width='400' height='257' /></a>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
          </div>
          <h4 class='post-title'><a href='post.html'>15 impressive examples of one-page...</a></h4>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-lg-4' data-animate='{"class":"fadeInUpBig","delay":"0.3s"}'>
        <div class='post post-sm'><a class='post-img-link' href='post.html'><img src='images/image-48-400x257.jpg' alt='' width='400' height='257' /></a>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
          </div>
          <h4 class='post-title'><a href='post.html'>Best examples of online portfolio websites</a></h4>
        </div>
      </div>
      <div class='col-12 text-center' data-animate='{"class":"fadeIn","delay":"0.15s"}'><a class='btn btn-round btn-lg btn-dark btn-anis' href='blog-grid-no-sidebar.html'>All posts</a></div>
    </div>
  </div>
</section>