<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h3>Check/radio buttons and toggles</h3>
    <div class='row row-30 justify-content-center'>
      <div class='col-sm-6 col-lg-4'>
        <ul class='list list-lg'>
          <li class='list-item'>
            <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check1' /> <label class='custom-control-label' for='check1'>Unchecked — normal</label></div>
          </li>
          <li class='list-item'>
            <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check2' checked='checked' /> <label class='custom-control-label' for='check2'>Checked — normal</label></div>
          </li>
          <li class='list-item'>
            <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check3' disabled='disabled' /> <label class='custom-control-label' for='check3'>Unchecked — disabled</label></div>
          </li>
          <li class='list-item'>
            <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check4' checked='checked' disabled='disabled' /> <label class='custom-control-label' for='check4'>Checked — disabled</label></div>
          </li>
        </ul>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <ul class='list list-lg'>
          <li class='list-item'>
            <div class='custom-control custom-radio'><input class='custom-control-input' type='radio' id='radio1' name='customRadio' /> <label class='custom-control-label' for='radio1'>Unchecked — normal</label></div>
          </li>
          <li class='list-item'>
            <div class='custom-control custom-radio'><input class='custom-control-input' type='radio' id='radio2' name='customRadio' checked='checked' /> <label class='custom-control-label' for='radio2'>Checked — normal</label></div>
          </li>
          <li class='list-item'>
            <div class='custom-control custom-radio'><input class='custom-control-input' type='radio' id='radio3' name='customRadio2' disabled='disabled' /> <label class='custom-control-label' for='radio3'>Unchecked — disabled</label></div>
          </li>
          <li class='list-item'>
            <div class='custom-control custom-radio'><input class='custom-control-input' type='radio' id='radio4' name='customRadio2' checked='checked' disabled='disabled' /> <label class='custom-control-label' for='radio4'>Checked — disabled</label></div>
          </li>
        </ul>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <ul class='list list-xl'>
          <li class='list-item'>
            <div class='d-flex align-items-center group-x-30'>
              <div class='switch-toggle-thin' data-multi-switch='{"targets":".switch-container-3"}'>
                <div class='guide'></div>
                <div class='slider'></div>
              </div>
              <div class='switch-toggle' data-multi-switch='{"targets":".switch-container-1"}'>
                <div class='guide'></div>
                <div class='slider'></div>
              </div><span class='small'>Off — normal</span>
            </div>
          </li>
          <li class='list-item'>
            <div class='d-flex align-items-center group-x-30'>
              <div class='switch-toggle-thin' data-multi-switch='{"targets":".switch-container-3","state":true}'>
                <div class='guide'></div>
                <div class='slider'></div>
              </div>
              <div class='switch-toggle' data-multi-switch='{"targets":".switch-container-1","state":true}'>
                <div class='guide'></div>
                <div class='slider'></div>
              </div><span class='small'>Off — normal</span>
            </div>
          </li>
          <li class='list-item'>
            <div class='d-flex align-items-center group-x-30'>
              <div class='switch-toggle-thin switch-toggle-thin-disabled' data-multi-switch='{"targets":".switch-container-3"}'>
                <div class='guide'></div>
                <div class='slider'></div>
              </div>
              <div class='switch-toggle switch-toggle-disabled' data-multi-switch='{"targets":".switch-container-1"}'>
                <div class='guide'></div>
                <div class='slider'></div>
              </div><span class='small text-black-50'>Off — normal</span>
            </div>
          </li>
          <li class='list-item'>
            <div class='d-flex align-items-center group-x-30'>
              <div class='switch-toggle-thin switch-toggle-thin-disabled' data-multi-switch='{"targets":".switch-container-3","state":true}'>
                <div class='guide'></div>
                <div class='slider'></div>
              </div>
              <div class='switch-toggle switch-toggle-disabled' data-multi-switch='{"targets":".switch-container-1","state":true}'>
                <div class='guide'></div>
                <div class='slider'></div>
              </div><span class='small text-black-50'>Off — normal</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>