<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h3>Input shapes</h3>
    <div class='row row-15 novi-disabled'>
      <div class='col-md-4'>
        <div class='form-group'><label for='inputShape1'>Rounded</label>
          <div class='position-relative'><input class='form-control rounded-0' id='inputShape1' type='text' placeholder='Input placeholder' /></div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='form-group'><label for='inputShape2'>Square</label>
          <div class='position-relative'><input class='form-control' id='inputShape2' type='text' placeholder='Input placeholder' /></div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='form-group'><label for='inputShape3'>Circle</label>
          <div class='position-relative'><input class='form-control rounded-pill' id='inputShape3' type='text' placeholder='Input placeholder' /></div>
        </div>
      </div>
    </div>
  </div>
</section>