<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h3>Input sizes</h3>
    <div class='row row-15 novi-disabled'>
      <div class='col-md-4'>
        <div class='form-group'><label for='inputSize1'>Input small</label>
          <div class='position-relative'><input class='form-control form-control-sm' id='inputSize1' type='text' placeholder='Input placeholder' /></div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='form-group'><label for='inputSize2'>Input normal</label>
          <div class='position-relative'><input class='form-control' id='inputSize2' type='text' placeholder='Input placeholder' /></div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class='form-group'><label for='inputSize3'>Input large</label>
          <div class='position-relative'><input class='form-control form-control-lg' id='inputSize3' type='text' placeholder='Input placeholder' /></div>
        </div>
      </div>
    </div>
  </div>
</section>