<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center novi-disabled'>
      <div class='col-md-6'>
        <h2 class='text-center'>Input</h2>
        <div class='form-group'><label for='input-styles1'>Focused</label>
          <div class='position-relative'><input class='form-control' id='input-styles1' type='email' placeholder='Enter text' /></div>
        </div>
        <div class='form-group'><label for='input-styles2'>Normal</label>
          <div class='position-relative'><input class='form-control' id='input-styles2' type='email' placeholder='Enter text' /></div>
        </div>
        <div class='form-group form-group-disabled'><label for='input-styles3'>Disabled</label>
          <div class='position-relative'><input class='form-control' id='input-styles3' type='email' placeholder='Enter text' disabled='disabled' /></div>
        </div>
      </div>
      <div class='col-md-6'>
        <h2 class='text-center'>Input with icon</h2>
        <div class='form-group'><label for='inputGroup1'>Focused</label>
          <div class='input-group'>
            <div class='input-group-prepend'><span class='input-group-text int-email novi-icon'></span></div><input class='form-control' id='inputGroup1' type='email' placeholder='Input placeholder' />
          </div>
        </div>
        <div class='form-group'><label for='inputGroup2'>Normal</label>
          <div class='input-group'>
            <div class='input-group-prepend'><span class='input-group-text int-email novi-icon'></span></div><input class='form-control' id='inputGroup2' type='email' placeholder='Input placeholder' />
          </div>
        </div>
        <div class='form-group form-group-disabled'><label for='inputGroup3'>Disabled</label>
          <div class='input-group'>
            <div class='input-group-prepend'><span class='input-group-text int-email novi-icon'></span></div><input class='form-control' id='inputGroup3' type='email' placeholder='Input placeholder' />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>