<section class='section section-lg bg-gradient-animated novi-background'>
  <div class='container'>
    <div class='row row-30 align-items-center'>
      <div class='col-md-6'>
        <h1 style='max-width: 450px;' data-animate='{"class":"fadeInUp"}'>Take control of your inbox.</h1>
        <p style='max-width: 600px;' data-animate='{"class":"fadeInUp","delay":"0.15s"}'><span class='h6'>Intense is an independent web design studio with a rich history. It started as a small family-owned business in Oakville.</span></p>
        <div class='offset-md' data-animate='{"class":"fadeInUp","delay":"0.3s"}'><a class='btn btn-lg btn-dark btn-round btn-anis' href='#'><span class='btn-icon int-apple novi-icon'></span><span>Download on the AppStore</span></a></div>
      </div>
      <div class='col-md-6 d-none d-md-block'><img src='images/image-55-613x599.png' alt='' width='613' height='599' /></div>
    </div>
  </div>
</section>