<section class='section section-sm context-dark bg-image novi-background' style='padding-bottom: 8%; background-image: url(images/image-29-1920x553.jpg);'>
  <div class='container'>
    <ul class='breadcrumb'>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='index.html'>Home</a></li>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='#'>Pages</a></li>
      <li class='breadcrumb-item'><span class='breadcrumb-text breadcrumb-active'>FAQ 2</span></li>
    </ul>
    <h1>Frequently asked<br />questions</h1>
    <h5>All you need to know about Intense design studio and how to get Support.</h5>
  </div>
</section>