<section class='section section-xl section-layer context-dark pb-0'>
  <div class='bg-layer bg-dark novi-background' style='bottom: 36%'></div>
  <div class='container'>
    <div class='row justify-content-center row-40 row-lg-50 row-xl-70 row-xxl-90'>
      <div class='col-12' data-animate='{"class":"fadeInUp"}'>
        <div class='row novi-disabled'>
          <div class='col-md-10 col-xl-9'>
            <h3>Design Systems New York is a non-profit community conference to share experiences, ideas and approaches on Design Systems</h3>
            <ul class='list list-xs'>
              <li class='text-contrast'>Workshops — 22th November</li>
              <li class='text-contrast'>Conference — 23th November</li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-md-10 col-xl-8' data-lightgallery='' data-animate='{"class":"fadeIn"}'>
        <article class='video lightgallery-item' data-html='#g9h9tuvhri'><img class='video-image' src='images/image-45-840x473.jpg' alt='' width='840' height='473' />
          <div class='video-link'>
            <div class='icon icon-circle icon-sm video-icon fa-play novi-icon'></div>
          </div>
        </article>
        <div class='d-none' id='g9h9tuvhri'><video class='lg-video-object lg-html5' controls='' preload='none'>
            <source src='video/bg-video-3.mp4' type='video/mp4'>
            </source></video></div>
      </div>
    </div>
  </div>
</section>