<section class='section section-lg bg-image d-flex align-items-center min-vh-100 mx-4 novi-background' style='background-image: url(images/image-46-1840x1000.jpg)'>
  <div class='container'>
    <div class='row novi-disabled'>
      <div class='col-sm-10 col-md-8 col-xl-7 col-xxl-6' data-animate='{"class":"fadeInUp"}'>
        <h1>Ideal everyday</h1>
        <p>Create exactly what you need with our powerful bootstrap toolkit.</p>
        <div class='offset-md'><a class='btn btn-lg btn-dark btn-anis' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'>Buy Intense Now</a></div>
      </div>
    </div>
  </div>
</section>