<section class='section section-sm section-layer pb-1'>
  <div class='bg-layer bg-image novi-background' style='bottom: 13.6%; background-image: url(images/image-26-1920x772.jpg);'></div>
  <div class='container'>
    <div class='context-dark'>
      <ul class='breadcrumb'>
        <li class='breadcrumb-item'><a class='breadcrumb-link' href='index.html'>Home</a></li>
        <li class='breadcrumb-item'><a class='breadcrumb-link' href='#'>Pages</a></li>
        <li class='breadcrumb-item'><span class='breadcrumb-text breadcrumb-active'>Services</span></li>
      </ul>
      <div class='row row-offset-xl novi-disabled'>
        <div class='col-lg-8 col-xl-7 col-xxl-9'>
          <h1>We will take care of your web design project regardless of its level of complexity</h1>
          <h5>We are not afraid of difficult tasks –<br class='d-none d-xs-block' />hundreds of our satisfied clients can prove that.</h5>
        </div>
      </div>
    </div>
    <div class='row row-30' style='margin-top: 10.6%;'>
      <div class='col-6 col-xs-5 col-md-4 col-lg-3'>
        <div class='counter counter-boxed'>
          <div class='counter-body'>
            <div class='counter-value h1'><span data-counter=''>72</span><span class='counter-postfix'>+</span></div>
            <div class='counter-title'>Team members</div>
          </div>
        </div>
      </div>
      <div class='col-6 col-xs-5 col-md-4 col-lg-3'>
        <div class='counter counter-boxed counter-boxed-primary'>
          <div class='counter-body'>
            <div class='counter-value h1'><span data-counter=''>15</span><span class='counter-postfix'>K+</span></div>
            <div class='counter-title'>Users</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>