<section class='section section-lg bg-transparent pt-5 novi-background'>
  <div class='container'>
    <ul class='breadcrumb'>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='index.html'>Home</a></li>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='#'>Pages</a></li>
      <li class='breadcrumb-item'><span class='breadcrumb-text breadcrumb-active'>FAQ 4</span></li>
    </ul>
    <h1>Frequently asked<br />questions</h1>
    <h5>All you need to know about Intense design studio and how to get Support.</h5>
  </div>
</section>