<section class='vide section section-lg text-center d-flex align-items-center min-vh-100 overlay-dark-02 context-dark novi-vide' data-vide-bg='video/bg-video-2' data-vide-options='posterType: jpg'>
  <div class='vide-inner'>
    <div class='container' data-animate='{"class":"fadeInUp"}'>
      <div class='row justify-content-center novi-disabled'>
        <div class='col-lg-7 col-xl-6'>
          <h1>Quality eCommerce consulting</h1>
          <p>Kick off your business in the right way with our solutions.</p><a class='btn btn-lg btn-primary' href='#'>Get started</a>
        </div>
      </div>
    </div>
  </div>
</section>