<section class='section section-lg text-center d-flex align-items-center min-vh-100 context-dark parallax'>
  <div class='parallax-layer parallax-3d novi-bg-image' data-coeff='.1' style='background-image: url( images/image-23-1920x817.jpg );'></div>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-10'>
        <h1>RD Navbar</h1>
        <p>Your reliable assistant to create any kind of navigation</p>
        <div class='offset-md group-30'><a class='btn btn-lg btn-primary' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'>Buy Intense Now</a></div>
      </div>
    </div>
  </div>
</section>