<section class='section section-lg bg-image text-center d-flex align-items-center min-vh-100 overlay-dark context-dark novi-background' style='background-image: url( images/image-30-1920x900.jpg )'>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-10'>
        <h1>Easy integration of calendar with template pages</h1>
        <p>Improve your appointment & schedule pages without issues.</p>
        <div class='offset-md group-30'><a class='btn btn-lg btn-primary' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'>Buy Intense Now</a><a class='btn btn-lg btn-light btn-outline' href='#fullcalendar' data-anchor-link=''>View widget</a></div>
      </div>
    </div>
  </div>
</section>