<section class='vide section section-lg d-flex align-items-center min-vh-100 context-dark novi-vide' data-vide-bg='video/bg-video-4' data-vide-options='posterType: jpg'>
  <div class='vide-inner'>
    <div class='container'>
      <div class='row row-30 align-items-end justify-content-between'>
        <div class='col-sm-6 col-md-5 col-xl-4 col-xxl-6' data-animate='{"class":"fadeInRight"}'>
          <h1>Professional photography services for you</h1>
          <p>We are a team of award-winning photographers ready to help you.</p>
        </div>
        <div class='col-sm-auto text-sm-right' data-animate='{"class":"fadeInLeft"}'>
          <p class='small'>178 West 27th Street, Suite 527,<br />New York NY 10012, United States</p>
          <div class='offset-xs'>
            <div class='d-inline-flex align-items-center'><span class='icon icon-xs int-phone novi-icon mr-2'></span>
              <div class='h6'><a href='tel:#'>+1 234 567 8901</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>