<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 flex-md-row-reverse align-items-center justify-content-center justify-content-md-between text-center text-md-left'>
      <div class='col-xs-8 col-md-6 col-xl-7' data-animate='{"class":"fadeInRightBig"}'><img src='images/image-45-730x640.jpg' alt='' width='730' height='640' /></div>
      <div class='col-xs-8 col-md-6 col-xl-4' data-animate='{"class":"fadeInLeftBig"}'>
        <div class='text-box'>
          <h2 class='text-primary'>Powerful options and tools</h2>
          <h5>Check out an incredible set of features provided by Intense.</h5><a class='link link-primary small' href='#'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a>
        </div>
      </div>
    </div>
  </div>
</section>