<section class='section intro intro-post bg-image context-dark novi-background' style='background-image: url( images/image-23-1920x817.jpg )'>
  <div class='container'>
    <ul class='breadcrumb'>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='index.html'>Home</a></li>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='#'>Blog</a></li>
      <li class='breadcrumb-item'><a class='breadcrumb-link' href='#'>Blog post</a></li>
      <li class='breadcrumb-item'><span class='breadcrumb-text breadcrumb-active'>Intro</span></li>
    </ul>
    <div class='row justify-content-center intro-content novi-disabled'>
      <div class='col-md-8 col-xl-6'>
        <div class='post-meta'>
          <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='#'>HTML</a></div>
        </div>
        <h1 class='intro-title'>We're enabling everyone to create for the web.</h1>
        <div class='post-meta intro-meta'>
          <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><span class='post-meta-text'>September 16, 2019</span></div>
        </div>
      </div>
    </div>
  </div>
</section>