<section class='section section-lg bg-gradient-animated novi-background'>
  <div class='container-fluid'>
    <h1 class='text-center' data-animate='{"class":"fadeInUp"}'>Check out other themes<br class='d-none d-xs-block' />based on Intense</h1>
    <div class='tab'>
      <ul class='nav nav-classic justify-content-center' role='tablist' data-animate='{"class":"fadeInUp"}'>
        <li class='nav-item'><a class='nav-link h4 active' data-toggle='tab' href='#navClassic1-1' role='tab' aria-selected='true'>Home Pages</a></li>
        <li class='nav-item'><a class='nav-link h4' data-toggle='tab' href='#navClassic1-2' role='tab' aria-selected='false'>Skins</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane fade show active' id='navClassic1-1' role='tabpanel'>
          <div class='row row-30 row-md-40 row-lg-50 justify-content-center'>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='index.html'><img src='images/layouts/layout-1-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='index.html'>Home — Default</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='home-consulting.html'><img src='images/layouts/layout-3-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='home-consulting.html'>Home — Consulting</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='home-business.html'><img src='images/layouts/layout-2-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='home-business.html'>Home — Business</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='home-studio.html'><img src='images/layouts/layout-5-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='home-studio.html'>Home — Studio</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='home-application.html'><img src='images/layouts/layout-6-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='home-application.html'>Home — App</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='home-event.html'><img src='images/layouts/layout-7-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='home-event.html'>Home — Event</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='home-blog.html'><img src='images/layouts/layout-8-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='home-blog.html'>Home — Blog</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='home-store.html'><img src='images/layouts/layout-9-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='home-store.html'>Home — Store</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='home-minimal.html'><img src='images/layouts/layout-10-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='home-minimal.html'>Home — Minimal</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto' data-animate='{"class":"fadeInUp"}'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='home-portfolio.html'><img src='images/layouts/layout-4-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='home-portfolio.html'>Home — Portfolio</a></div>
              </article>
            </div>
          </div>
        </div>
        <div class='tab-pane fade' id='navClassic1-2' role='tabpanel'>
          <div class='row row-40 row-md-50 justify-content-center flex-row-reverse'>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout'><a class='layout-figure thumbnail-up-shadow' href='index.html'><img src='images/layouts/layout-1-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='index.html'>Home — Default</a></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout layout-disabled'><a class='layout-figure thumbnail-up-shadow' href='#'><img src='images/layouts/layout-2-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='#'>Home — Business</a><span class='badge badge-warning ml-2'>soon</span></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout layout-disabled'><a class='layout-figure thumbnail-up-shadow' href='#'><img src='images/layouts/layout-3-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='#'>Home — Consulting</a><span class='badge badge-warning ml-2'>soon</span></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout layout-disabled'><a class='layout-figure thumbnail-up-shadow' href='#'><img src='images/layouts/layout-4-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='#'>Home — Portfolio</a><span class='badge badge-warning ml-2'>soon</span></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout layout-disabled'><a class='layout-figure thumbnail-up-shadow' href='#'><img src='images/layouts/layout-5-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='#'>Home — Studio</a><span class='badge badge-warning ml-2'>soon</span></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout layout-disabled'><a class='layout-figure thumbnail-up-shadow' href='#'><img src='images/layouts/layout-6-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='#'>Home — App</a><span class='badge badge-warning ml-2'>soon</span></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout layout-disabled'><a class='layout-figure thumbnail-up-shadow' href='#'><img src='images/layouts/layout-7-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='#'>Home — Event</a><span class='badge badge-warning ml-2'>soon</span></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout layout-disabled'><a class='layout-figure thumbnail-up-shadow' href='#'><img src='images/layouts/layout-8-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='#'>Home — Blog</a><span class='badge badge-warning ml-2'>soon</span></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout layout-disabled'><a class='layout-figure thumbnail-up-shadow' href='#'><img src='images/layouts/layout-9-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='#'>Home — Store</a><span class='badge badge-warning ml-2'>soon</span></div>
              </article>
            </div>
            <div class='col-xs-6 col-md-4 col-xl-auto'>
              <article class='layout layout-disabled'><a class='layout-figure thumbnail-up-shadow' href='#'><img src='images/layouts/layout-10-336x450.jpg' alt='' width='336' height='450' /></a>
                <div class='layout-title h6'><a class='layout-title-link' href='#'>Home — Minimal</a><span class='badge badge-warning ml-2'>soon</span></div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>