<section class='section section-md bg-transparent novi-background'>
  <div class='container text-center'>
    <div class='row row-30 grid-divided'>
      <div class='col-sm-6 py-sm-5' data-animate='{"class":"fadeIn"}'>
        <div class='text-box'>
          <h3>Ready to find<br />a Website?</h3><a class='link link-primary small' href='#'>Let's Get Started<span class='link-icon int-arrow-right novi-icon'></span></a>
        </div>
      </div>
      <div class='col-sm-6 py-sm-5' data-animate='{"class":"fadeIn"}'>
        <div class='text-box'>
          <h3>Ready to find<br />a Website?</h3><a class='link link-primary small' href='#'>Let's Get Started<span class='link-icon int-arrow-right novi-icon'></span></a>
        </div>
      </div>
    </div>
  </div>
</section>