<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Default lists</h2>
    <div class='row row-40 novi-disabled'>
      <div class='col-sm-6 col-lg-4'>
        <ul class='list list-marked-arrow'>
          <li class='list-item'>Dedication;</li>
          <li class='list-item'>Knowledge;<ul class='list list-marked-arrow'>
              <li class='list-item'>Experience;</li>
              <li class='list-item'>Creativity;</li>
            </ul>
          </li>
          <li class='list-item'>Reliability.</li>
        </ul>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <ul class='list list-marked'>
          <li class='list-item'>Dedication;</li>
          <li class='list-item'>Knowledge;<ul class='list list-marked'>
              <li class='list-item'>Experience;</li>
              <li class='list-item'>Creativity;</li>
            </ul>
          </li>
          <li class='list-item'>Reliability.</li>
        </ul>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <ol class='list list-ordered'>
          <li class='list-item'>Dedication;</li>
          <li class='list-item'>Knowledge;<ol class='list list-ordered'>
              <li class='list-item'>Experience;</li>
              <li class='list-item'>Creativity;</li>
            </ol>
          </li>
          <li class='list-item'>Reliability.</li>
        </ol>
      </div>
    </div>
  </div>
</section>