<section class='section section-lg bg-transparent'>
  <div class='container'>
    <h1 class='text-center'>Listing view</h1>
    <div class='row row-50 flex-lg-row-reverse novi-background'>
      <div class='col-lg-3'>
        <div class='pl-4'>
          <div class='row row-40 row-md-50'>
            <div class='col-sm-6 col-md-4 col-lg-12'>
              <h6>Categories list</h6>
              <div class='offset-xs'>
                <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check1' /> <label class='custom-control-label' for='check1'>All</label></div>
                <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check2' /> <label class='custom-control-label' for='check2'>Accessories</label></div>
                <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check3' /> <label class='custom-control-label' for='check3'>Glasses</label></div>
                <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check4' /> <label class='custom-control-label' for='check4'>iPhone Cases</label></div>
                <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check5' /> <label class='custom-control-label' for='check5'>Purses</label></div>
                <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check6' /> <label class='custom-control-label' for='check6'>Hats & Beanie</label></div>
                <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check7' /> <label class='custom-control-label' for='check7'>Hair accessories</label></div>
                <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check8' /> <label class='custom-control-label' for='check8'>Eau de Toilette</label></div>
                <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check9' /> <label class='custom-control-label' for='check9'>Stationery</label></div>
              </div>
            </div>
            <div class='col-sm-6 col-md-4 col-lg-12'>
              <h6>Color</h6>
              <div class='offset-xs group-10 d-flex flex-wrap'>
                <div class='checkbox-color'><input class='checkbox-color-input' type='checkbox' id='e8744ohhwvs' /> <label class='checkbox-color-label' for='e8744ohhwvs'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
                <div class='checkbox-color checkbox-color-primary'><input class='checkbox-color-input' type='checkbox' id='jiuwszm9po' /> <label class='checkbox-color-label' for='jiuwszm9po'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
                <div class='checkbox-color checkbox-color-secondary'><input class='checkbox-color-input' type='checkbox' id='x18ahmgnmvm' /> <label class='checkbox-color-label' for='x18ahmgnmvm'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
                <div class='checkbox-color checkbox-color-warning'><input class='checkbox-color-input' type='checkbox' id='ee6i74glgd7' /> <label class='checkbox-color-label' for='ee6i74glgd7'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
                <div class='checkbox-color checkbox-color-danger'><input class='checkbox-color-input' type='checkbox' id='jqdyr82nco' /> <label class='checkbox-color-label' for='jqdyr82nco'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
                <div class='checkbox-color checkbox-color-dark'><input class='checkbox-color-input' type='checkbox' id='x6cule7qko' /> <label class='checkbox-color-label' for='x6cule7qko'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
                <div class='checkbox-color checkbox-color-info'><input class='checkbox-color-input' type='checkbox' id='8xjtuf6tijc' /> <label class='checkbox-color-label' for='8xjtuf6tijc'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
                <div class='checkbox-color checkbox-color-success'><input class='checkbox-color-input' type='checkbox' id='a3ga2k9tnw5' /> <label class='checkbox-color-label' for='a3ga2k9tnw5'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
              </div>
            </div>
            <div class='col-md-4 col-lg-12'>
              <h6>Price</h6>
              <div class='offset-xs'>
                <div class='rd-range-value'>
                  <div class='rd-range-form-wrap'><span>$</span> <input class='rd-range-input rd-range-input-value-1' type='text' name='value-1' size='3' /></div>
                  <div class='rd-range-form-wrap'><span>$</span> <input class='rd-range-input rd-range-input-value-2' type='text' name='value-2' size='3' /></div>
                </div>
                <div class='rd-range' data-min='0' data-max='999' data-min-diff='100' data-start='[66, 335]' data-step='1' data-tooltip='false' data-input='.rd-range-input-value-1' data-input-2='.rd-range-input-value-2'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-lg-9'>
        <div class='product-toolbar justify-content-center justify-content-sm-between'>
          <div class='product-toolbar-item'>
            <div class='group-20'><a class='product-toolbar-icon icon-xs int-grid novi-icon' href='grid-shop-left-sidebar.html'></a><a class='product-toolbar-icon icon-xs int-list novi-icon active' href='list-shop-left-sidebar.html'></a></div>
          </div>
          <div class='product-toolbar-item'>1-9 of 15</div>
          <div class='product-toolbar-item'>
            <div class='group-20'><span>Show:</span> <input class='form-control form-control-sm form-control-inline' type='text' data-masked='99' value='09' size='5' /></div>
          </div>
        </div>
        <div class='row row-40 row-md-60 row-offset-lg'>
          <div class='col-12'>
            <article class='product product-horizontal'>
              <div class='media media-lg flex-column flex-xs-row align-items-xs-center'>
                <div class='media-left'>
                  <div class='product-figure'><a href='product-page.html'><img class='product-image' src='images/products/product-10-290x372.jpg' alt='' width='290' height='372' /></a><span class='badge badge-dark product-badge'>New</span></div>
                </div>
                <div class='media-body'>
                  <div class='rating rating-orange product-rating'>
                    <div class='rating-body'>
                      <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                      <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    </div>
                  </div>
                  <div class='product-title h6'><a href='product-page.html'>Black baseball cap</a></div>
                  <div class='product-price'><span>$12</span></div>
                  <div class='product-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach...</div><a class='btn btn-primary product-btn' href='product-page.html'>Add to Cart</a>
                </div>
              </div>
            </article>
          </div>
          <div class='col-12'>
            <article class='product product-horizontal'>
              <div class='media media-lg flex-column flex-xs-row align-items-xs-center'>
                <div class='media-left'>
                  <div class='product-figure'><a href='product-page.html'><img class='product-image' src='images/products/product-01-290x372.jpg' alt='' width='290' height='372' /></a><span class='badge badge-danger product-badge'>-30%</span></div>
                </div>
                <div class='media-body'>
                  <div class='rating rating-orange product-rating'>
                    <div class='rating-body'>
                      <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                      <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    </div>
                  </div>
                  <div class='product-title h6'><a href='product-page.html'>Iridescent iPhone case</a></div>
                  <div class='product-price'><del>$27</del><span>$19</span></div>
                  <div class='product-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach...</div><a class='btn btn-primary product-btn' href='product-page.html'>Add to Cart</a>
                </div>
              </div>
            </article>
          </div>
          <div class='col-12'>
            <article class='product product-horizontal'>
              <div class='media media-lg flex-column flex-xs-row align-items-xs-center'>
                <div class='media-left'>
                  <div class='product-figure'><a href='product-page.html'><img class='product-image' src='images/products/product-02-290x372.jpg' alt='' width='290' height='372' /></a></div>
                </div>
                <div class='media-body'>
                  <div class='rating rating-orange product-rating'>
                    <div class='rating-body'>
                      <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                      <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    </div>
                  </div>
                  <div class='product-title h6'><a href='product-page.html'>Black analogue watch</a></div>
                  <div class='product-price'><span>$43</span></div>
                  <div class='product-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach...</div><a class='btn btn-primary product-btn' href='product-page.html'>Add to Cart</a>
                </div>
              </div>
            </article>
          </div>
          <div class='col-12'>
            <article class='product product-horizontal'>
              <div class='media media-lg flex-column flex-xs-row align-items-xs-center'>
                <div class='media-left'>
                  <div class='product-figure'><a href='product-page.html'><img class='product-image' src='images/products/product-03-290x372.jpg' alt='' width='290' height='372' /></a></div>
                </div>
                <div class='media-body'>
                  <div class='rating rating-orange product-rating'>
                    <div class='rating-body'>
                      <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                      <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    </div>
                  </div>
                  <div class='product-title h6'><a href='product-page.html'>Ombré vinyl backpack</a></div>
                  <div class='product-price'><span>$29</span></div>
                  <div class='product-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach...</div><a class='btn btn-primary product-btn' href='product-page.html'>Add to Cart</a>
                </div>
              </div>
            </article>
          </div>
          <div class='col-12'>
            <article class='product product-horizontal'>
              <div class='media media-lg flex-column flex-xs-row align-items-xs-center'>
                <div class='media-left'>
                  <div class='product-figure'><a href='product-page.html'><img class='product-image' src='images/products/product-11-290x372.jpg' alt='' width='290' height='372' /></a></div>
                </div>
                <div class='media-body'>
                  <div class='rating rating-orange product-rating'>
                    <div class='rating-body'>
                      <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                      <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    </div>
                  </div>
                  <div class='product-title h6'><a href='product-page.html'>Golden earrings</a></div>
                  <div class='product-price'><span>$24</span></div>
                  <div class='product-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach...</div><a class='btn btn-primary product-btn' href='product-page.html'>Add to Cart</a>
                </div>
              </div>
            </article>
          </div>
          <div class='col-12'>
            <article class='product product-horizontal'>
              <div class='media media-lg flex-column flex-xs-row align-items-xs-center'>
                <div class='media-left'>
                  <div class='product-figure'><a href='product-page.html'><img class='product-image' src='images/products/product-04-290x372.jpg' alt='' width='290' height='372' /></a></div>
                </div>
                <div class='media-body'>
                  <div class='rating rating-orange product-rating'>
                    <div class='rating-body'>
                      <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                      <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    </div>
                  </div>
                  <div class='product-title h6'><a href='product-page.html'>Iridescent tote bag</a></div>
                  <div class='product-price'><span>$27</span></div>
                  <div class='product-text'>I’ve always cared about great visual design, but a few years ago I learned that I loved to teach...</div><a class='btn btn-primary product-btn' href='product-page.html'>Add to Cart</a>
                </div>
              </div>
            </article>
          </div>
        </div>
        <ul class='pag pag-simple'>
          <li class='pag-simple-item active'><a class='pag-simple-link' href='#'>1</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>2</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link pag-simple-link-next' href='#'><span>Next</span><span class='int-arrow-right novi-icon'></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>