<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-15 row-xxl-70'>
      <div class='col-lg-4'>
        <h2>Unordered list</h2>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <ul class='list list-marked-arrow'>
          <li class='list-item'>Fully responsive design</li>
          <li class='list-item'>Social integration<ul class='list list-marked-arrow'>
              <li class='list-item'>30+ predesigned pages</li>
              <li class='list-item'>Regular content updates</li>
            </ul>
          </li>
          <li class='list-item'>Lots of child themes</li>
        </ul>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <ul class='list list-marked'>
          <li class='list-item'>Fully responsive design</li>
          <li class='list-item'>Social integration<ul class='list list-marked'>
              <li class='list-item'>30+ predesigned pages</li>
              <li class='list-item'>Regular content updates</li>
            </ul>
          </li>
          <li class='list-item'>Lots of child themes</li>
        </ul>
      </div>
    </div>
    <div class='row row-15 row-xxl-70 row-offset-lg'>
      <div class='col-lg-4'>
        <h2>Ordered list</h2>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <ol class='list list-ordered'>
          <li class='list-item'>Fully responsive design</li>
          <li class='list-item'>Social integration<ol class='list list-ordered'>
              <li class='list-item'>30+ predesigned pages</li>
              <li class='list-item'>Regular content updates</li>
            </ol>
          </li>
          <li class='list-item'>Lots of child themes</li>
        </ol>
      </div>
    </div>
  </div>
</section>