<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Indexed lists</h2>
    <div class='row row-40'>
      <div class='col-sm-6'>
        <ol class='list list-xs list-ordered h3'>
          <li class='list-item'>Collaboration;</li>
          <li class='list-item'>Communication;</li>
          <li class='list-item'>Strategic Planning;</li>
          <li class='list-item'>Flexibility;</li>
          <li class='list-item'>Negotiation;</li>
          <li class='list-item'>Leadership;</li>
          <li class='list-item'>Management.</li>
        </ol>
      </div>
      <div class='col-sm-6'>
        <ol class='list list-xs list-ordered h5'>
          <li class='list-item'>Collaboration;</li>
          <li class='list-item'>Communication;</li>
          <li class='list-item'>Strategic Planning;</li>
          <li class='list-item'>Flexibility;</li>
          <li class='list-item'>Negotiation;</li>
          <li class='list-item'>Leadership;</li>
          <li class='list-item'>Management.</li>
        </ol>
      </div>
    </div>
  </div>
</section>