<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center novi-disabled'>
      <div class='col-md-8 col-lg-6 col-xl-5 col-xxl-4'>
        <h1 class='text-center'>Sign in</h1>
        <div class='tab'>
          <ul class='nav nav-classic justify-content-center' role='tablist'>
            <li class='nav-item'><a class='nav-link h4 active' data-toggle='tab' href='#login' role='tab' aria-selected='true'>Login</a></li>
            <li class='nav-item'><a class='nav-link h4' data-toggle='tab' href='#register' role='tab' aria-selected='false'>Registration</a></li>
          </ul>
          <div class='tab-content'>
            <div class='tab-pane fade show active' id='login' role='tabpanel'>
              <form class='rd-mailform'>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-prepend'><span class='input-group-text int-user novi-icon'></span></div><input class='form-control' type='text' name='login' placeholder='Your login' data-constraints='@Required' />
                  </div>
                </div>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-prepend'><span class='input-group-text int-user novi-icon'></span></div><input class='form-control input-password password-login' type='text' name='password' placeholder='Password' data-constraints='@Required' />
                    <div class='input-group-append'><span class='input-group-text input-group-text-nodivider input-password-icon' data-multi-switch='{"targets":".password-login"}'></span></div>
                  </div>
                </div><button class='btn btn-block btn-lg btn-primary' type='submit'>Sign in</button>
                <div class='offset-sm group-15 small'>
                  <div><u class='font-weight-medium'></u><a class='link-inherit' href='#'>Forgot your password?</a></div>
                  <div>Haven’t an account? <u class='font-weight-medium'></u><a class='link-inherit' href='register.html'>Sign up here.</a></div>
                </div>
              </form>
            </div>
            <div class='tab-pane fade' id='register' role='tabpanel'>
              <form class='rd-mailform'>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-prepend'><span class='input-group-text int-user novi-icon'></span></div><input class='form-control' type='text' name='name' placeholder='Your name' data-constraints='@Required' />
                  </div>
                </div>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-prepend'><span class='input-group-text int-user novi-icon'></span></div><input class='form-control' type='email' name='email' placeholder='E-mail' data-constraints='@Email @Required' />
                  </div>
                </div>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-prepend'><span class='input-group-text int-user novi-icon'></span></div><input class='form-control input-password password-register-1' type='text' name='password' placeholder='Password' data-constraints='@Required' />
                    <div class='input-group-append'><span class='input-group-text input-group-text-nodivider input-password-icon' data-multi-switch='{"targets":".password-register-1"}'></span></div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='input-group'>
                    <div class='input-group-prepend'><span class='input-group-text int-user novi-icon'></span></div><input class='form-control input-password password-register-2' type='text' name='password' placeholder='Confirm password' data-constraints='@Required' />
                    <div class='input-group-append'><span class='input-group-text input-group-text-nodivider input-password-icon' data-multi-switch='{"targets":".password-register-2"}'></span></div>
                  </div>
                </div>
                <div class='offset-xs'>
                  <div class='custom-control custom-checkbox'><input class='custom-control-input' type='checkbox' id='check1' /> <label class='custom-control-label' for='check1'>I agree with the <u class='font-weight-medium'></u></label><a class='link-inherit' href='#'>Terms of use.</a></div>
                </div><button class='btn btn-block btn-lg btn-secondary' type='submit'>Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>