<section class='section section-one-screen section-sm overlay-dark-07 novi-background'>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-8 col-lg-6 col-xxl-5'>
        <article class='accent-box'>
          <h4 class='accent-box-title text-center'>Login to your account</h4>
          <p class='accent-box-text text-center'>Enter your credentials below.</p>
          <form class='accent-box-form rd-mailform'>
            <div class='form-group'>
              <div class='input-group'>
                <div class='input-group-prepend'><span class='input-group-text int-user novi-icon'></span></div><input class='form-control' type='text' name='login' placeholder='Your login' data-constraints='@Required' />
              </div>
            </div>
            <div class='form-group'>
              <div class='input-group'>
                <div class='input-group-prepend'><span class='input-group-text int-user novi-icon'></span></div><input class='form-control input-password password-login' type='text' name='password' placeholder='Password' data-constraints='@Required' />
                <div class='input-group-append'><span class='input-group-text input-group-text-nodivider input-password-icon' data-multi-switch='{"targets":".password-login"}'></span></div>
              </div>
            </div><button class='btn btn-block btn-lg btn-primary accent-box-btn' type='submit'>Sign in</button>
            <div class='accent-box-text small group-15'>
              <div><u class='font-weight-medium'></u><a class='link-inherit' href='#'>Forgot your password?</a></div>
              <div>Haven’t an account? <u class='font-weight-medium'></u><a class='link-inherit' href='register.html'>Sign up here.</a></div>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</section>