<section class='section section-lg context-dark bg-gradient-shamrock-blue novi-background'>
  <div class='container'>
    <div class='row row-30 justify-content-center'>
      <div class='col-md-6 col-lg-5'><img src='images/partners/partner-5-369x182.png' alt='' width='369' height='182' data-animate='{"class":"bounceIn"}' /></div>
      <div class='col-md-6' data-animate='{"class":"fadeIn"}'>
        <h3>100% GPL</h3>
        <p>Feel free to use RD Mailform without any limits. This GPL licensed script can be installed as many times as you need.</p><a class='btn btn-light btn-outline' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'>Buy Intense Now</a>
      </div>
    </div>
  </div>
</section>