<section class='section section-lg text-center context-dark bg-image novi-background' style='background-image: url(&quot;images/image-03-1920x583.jpg&quot;)'>
  <div class='container'>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-9 col-lg-7 col-xl-6'>
        <h2>Mailchimp</h2>
        <p>Sign up to our newsletter and be the first to know about the latest news, special offers, events, and discounts.</p>
        <form class='mailchimp-mailform form-inline justify-content-center group-20 novi-disabled' data-form-output='mailchimp-output' action='https://templatemonster.us15.list-manage.com/subscribe/post?u=ba5bb362073a413f48e4a7b90&amp;id=8dc95d9dec' method='post'>
          <div class='form-inline-group'><input class='form-control' type='email' name='email' placeholder='Enter your email address' data-constraints='@Email @Required' /></div><button class='btn btn-lg btn-primary' type='submit'>Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>