<section class='section section-lg context-dark bg-image novi-background' style='background-image: url( images/image-23-1920x817.jpg )'>
  <div class='container'>
    <div class='row row-40 align-items-center justify-content-xl-between'>
      <div class='col-md-9 col-lg-5 col-xl-4'>
        <h2>Cross-Browser Support</h2>
        <p class='small'>RD Mailform is compatible with all the modern-day browsers. In such a way, all visitors can use your forms regardless of their browser preferences.</p><a class='btn btn-light btn-outline' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'>Buy Intense Now</a>
      </div>
      <div class='col-md-8 col-lg-7'><img class='shadow-sm' src='images/features/feature-03-700x478.png' alt='' width='700' height='478' /></div>
    </div>
  </div>
</section>