<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 flex-md-row-reverse justify-content-xl-between'>
      <div class='col-md-10 col-lg-5 col-xl-4 blurb-area'>
        <article class='blurb blurb-inline'>
          <div class='media media-md'>
            <div class='media-left'>
              <div class='blurb-embed'><span class='icon icon-circle icon-md icon-primary mdi mdi-emoticon novi-icon'></span></div>
            </div>
            <div class='media-body'>
              <div class='blurb-title h5'>User-Friendly Customization</div>
              <div class='blurb-text'>The script comes with ready-made presets, which will let you customize the form with comfort. The script also provides full customization of an email template.</div>
            </div>
          </div>
        </article>
        <article class='blurb blurb-inline'>
          <div class='media media-md'>
            <div class='media-left'>
              <div class='blurb-embed'><span class='icon icon-circle icon-md icon-primary-filled mdi mdi-web novi-icon'></span></div>
            </div>
            <div class='media-body'>
              <div class='blurb-title h5'>CSS Stylization</div>
              <div class='blurb-text'>Stylize practically all the form pattern attributes with ease. The script features a fully fledged CSS API built specifically for this purpose.</div>
            </div>
          </div>
        </article>
      </div>
      <div class='col-md-8 col-lg-7'><img class='shadow-sm' src='images/features/feature-03-700x478.png' alt='' width='700' height='478' /></div>
    </div>
  </div>
</section>