<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 flex-md-row-reverse justify-content-xl-between'>
      <div class='col-md-10 col-lg-5 col-xl-4 blurb-area'>
        <article class='blurb blurb-inline'>
          <div class='media media-md'>
            <div class='media-left'>
              <div class='blurb-embed'><span class='icon icon-circle icon-md icon-primary mdi mdi-cellphone-link novi-icon'></span></div>
            </div>
            <div class='media-body'>
              <div class='blurb-title h5'>Fully responsive</div>
              <div class='blurb-text'>Make use of responsive forms using this plugin. Whether visitors access your site via a desktop or smartphone, they can use your forms on all the devices.</div>
            </div>
          </div>
        </article>
        <article class='blurb blurb-inline'>
          <div class='media media-md'>
            <div class='media-left'>
              <div class='blurb-embed'><span class='icon icon-circle icon-md icon-primary-filled mdi mdi-grid novi-icon'></span></div>
            </div>
            <div class='media-body'>
              <div class='blurb-title h5'>Modular structure</div>
              <div class='blurb-text'>RD Mailform and its built-in plugins can be used independently of Intense. The modular structure of this script allows you to integrate it into any other HTML templates.</div>
            </div>
          </div>
        </article>
      </div>
      <div class='col-md-8 col-lg-7'><img class='shadow-sm' src='images/features/feature-03-700x478.png' alt='' width='700' height='478' /></div>
    </div>
  </div>
</section>