<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2>Soundcloud player</h2>
    <div class='row justify-content-center novi-disabled'>
      <div class='col-md-8 col-xl-6'>
        <div class='iframe iframe-soundcloud'><iframe class='iframe-item' src='about:blank' height='166' data-pended-iframe='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false'></iframe></div>
      </div>
    </div>
  </div>
</section>