<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-xs-10 col-xl-12 post-area'>
        <div class='post post-side post-side-large' data-animate='{"class":"fadeInRightBig"}'><a class='post-img-link' href='post-intro.html'><img src='images/image-49-620x398.jpg' alt='' width='620' height='398' /></a>
          <div class='post-inner'>
            <h3 class='post-title'><a href='post-intro.html'>Top 10 essential design trends that can revolutionize modern web design</a></h3>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-intro.html'>HTML</a></div>
            </div>
            <div class='post-text'></div>
          </div>
        </div>
        <div class='post post-side post-side-large post-side-reverse' data-animate='{"class":"fadeInLeftBig"}'><a class='post-img-link' href='post-intro.html'><img src='images/image-50-620x398.jpg' alt='' width='620' height='398' /></a>
          <div class='post-inner'>
            <h3 class='post-title'><a href='post-intro.html'>Top 10 essential design trends that can revolutionize modern web design</a></h3>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-intro.html'>HTML</a></div>
            </div>
            <div class='post-text'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>