<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Tab type #8</h2>
    <div class='tab tab-shadow'>
      <ul class='nav nav-inset' role='tablist'>
        <li class='nav-item'><a class='nav-link active' data-toggle='tab' href='#navInset1-1' role='tab' aria-selected='true'>Toolkit core</a></li>
        <li class='nav-item'><a class='nav-link' data-toggle='tab' href='#navInset1-2' role='tab' aria-selected='false'>Ui kit</a></li>
        <li class='nav-item'><a class='nav-link' data-toggle='tab' href='#navInset1-3' role='tab' aria-selected='false'>Plugins</a></li>
        <li class='nav-item'><a class='nav-link' data-toggle='tab' href='#navInset1-4' role='tab' aria-selected='false'>Documentation</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane fade show active' id='navInset1-1' role='tabpanel'>
          <div class='row row-15 row-lg-25 row-xxl-40'>
            <div class='col-12'>
              <h3>Bootstrap is a powerful toolkit<br class='d-none d-xl-inline' />for developing creative websites.</h3>
            </div>
            <div class='col-12'>
              <div class='row row-10 novi-disabled'>
                <div class='col-md-6'>In a nutshell, Bootstrap is the most popular mobile first front-end development framework available. It’s a collection of popular HTML, CSS and JavaScript components that can be used to speed up the development process of your website application and make it more flexible.</div>
                <div class='col-md-6'>The primary benefit of using Bootstrap as a CSS framework is to encourage consistency across internal tools. Rather surprisingly, until recently there were barely any processes in place to share common design patterns and assets. Bootstrap supports the latest versions of browsers.</div>
              </div>
            </div>
          </div>
        </div>
        <div class='tab-pane fade' id='navInset1-2' role='tabpanel'>
          <div class='row row-10'>
            <div class='col-md-6'>
              <h3>With our template’s rich UI kit, you can customize your website the way you want.</h3>
            </div>
            <div class='col-md-6'>Easily make any necessary customizations to your website. From replacing blocks and sections to changing content, our UI kit gives you the opportunity to control Intense the way you want.</div>
          </div>
        </div>
        <div class='tab-pane fade' id='navInset1-3' role='tabpanel'>
          <div class='row row-15 row-lg-25 row-xxl-40 novi-disabled'>
            <div class='col-12'>
              <h3>A wide variety of useful plugins for you</h3>
            </div>
            <div class='col-12'>
              <div class='row row-30'>
                <div class='col-12'>Intense can give you more than just impressive homepage layouts. It has a great set of plugins that can be used for integrating additional but very important features such as contact forms, sliders, call-to-actions, tables etc. Some of the included plugins are:</div>
                <div class='col-sm-6'>
                  <ul class='list list-marked-arrow'>
                    <li class='list-item'>Owl Carousel;</li>
                    <li class='list-item'>lightGallery;</li>
                    <li class='list-item'>Revolution Slider;</li>
                    <li class='list-item'>Timers;</li>
                    <li class='list-item'>Progress Bars.</li>
                  </ul>
                </div>
                <div class='col-sm-6'>
                  <div class='row row-15 novi-disabled'>
                    <div class='col-6'>
                      <div class='counter'>
                        <div class='counter-body'>
                          <div class='counter-value h1'><span data-counter=''>30</span><span class='counter-postfix'>+</span></div>
                          <div class='counter-title'>Plugins & components</div>
                        </div>
                      </div>
                    </div>
                    <div class='col-6'>
                      <div class='counter'>
                        <div class='counter-body'>
                          <div class='counter-value h1'><span data-counter=''>100</span><span class='counter-postfix'>%</span></div>
                          <div class='counter-title'>Responsive & Retina ready</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='tab-pane fade' id='navInset1-4' role='tabpanel'>
          <div class='row row-15 row-lg-25 row-xxl-40 novi-disabled'>
            <div class='col-12'>
              <h3>Easy-to-read & detailed documentation</h3>
            </div>
            <div class='col-12'>
              <div class='row row-15'>
                <div class='col-md-5 col-lg-4 col-xl-3'><img src='images/image-05-290x290.jpg' alt='' width='290' height='290' /></div>
                <div class='col-md-7 col-xl-8'>
                  <p>Our template is supplied with detailed documentation that describes the proper usage of Intense as well as everything about its installation and configuration. With the help of documentation, you can also learn about:</p>
                  <ul class='list list-marked-arrow'>
                    <li class='list-item'>Template structure;</li>
                    <li class='list-item'>Content editing;</li>
                    <li class='list-item'>Customization;</li>
                    <li class='list-item'>Modules and extensions;</li>
                    <li class='list-item'>Uploading template.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>