<section class='section section-lg bg-transparent novi-background' id='journey'>
  <div class='container'>
    <div class='row row-30 align-items-center justify-content-lg-between'>
      <div class='col-sm-6 col-md-5 col-lg-4' data-animate='{"class":"fadeInLeft"}'>
        <h6 class='text-primary'>Novi Builder</h6>
        <h1>Start building visually</h1>
        <p>Easily change any element of Intense with the best visual drag and drop builder.</p>
      </div>
      <div class='col-xs-10 col-sm-6 col-md-7'><img class='shadow-lg' src='images/image-33-730x456.gif' alt='' width='730' height='456' /></div>
    </div>
  </div>
</section>