<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='px-3 text-center'>Offer boxes type #4</h2>
    <div class='row row-30 justify-content-center'>
      <div class='col-sm-6 col-xl-5'><a class='offer-box offer-box-link' href='#'>
          <h5 class='offer-box-title'>Creating outstanding websites</h5>
          <div class='offer-box-text'>Intense provides you with everything necessary for creation of a powerful and responsive website.</div>
          <div class='offer-box-icon novi-icon int-arrow-right'></div>
        </a></div>
      <div class='col-sm-6 col-xl-5'><a class='offer-box offer-box-link' href='#'>
          <h5 class='offer-box-title'>Powerful customization tools</h5>
          <div class='offer-box-text'>With Intense, it is very easy to customize your existing website any way you want thanks to the rich UI kit.</div>
          <div class='offer-box-icon novi-icon int-arrow-right'></div>
        </a></div>
      <div class='col-sm-6 col-xl-5'><a class='offer-box offer-box-link' href='#'>
          <h5 class='offer-box-title'>Appealing online presence</h5>
          <div class='offer-box-text'>Intense also allows you to develop a totally unique web presence with a variety of pre-designed pages.</div>
          <div class='offer-box-icon novi-icon int-arrow-right'></div>
        </a></div>
    </div>
  </div>
</section>