<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center' data-animate='{"class":"fadeInUp"}'>What we offer</h2>
    <p class='text-center' data-animate='{"class":"fadeInUp"}'>Here are our most popular services that we provide to our customers.</p>
    <div class='row row-30 row-md-40 justify-content-center justify-content-xl-between'>
      <div class='col-sm-6 col-lg-4' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
          <div class='blurb-title h5'>eCommerce assessments</div>
          <div class='blurb-text'>We can assess your eCommerce and create a discovery document that can serve as the basis for your strategy.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-embed'><span class='blurb-icon ith-calendar novi-icon'></span></div>
          <div class='blurb-title h5'>Conversion rate optimization</div>
          <div class='blurb-text'>Let us take a look at your website and identify opportunities to increase your conversion rate &amp; average order value.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-embed'><span class='blurb-icon ith-layout-header novi-icon'></span></div>
          <div class='blurb-title h5'>Digital marketing strategy</div>
          <div class='blurb-text'>We provide guidance, monitoring, and recommendations to ensure your marketing campaign is beneficial.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-embed'><span class='blurb-icon ith-settings novi-icon'></span></div>
          <div class='blurb-title h5'>Customized CRM consulting</div>
          <div class='blurb-text'>We will work with you to develop the best consulting plan to suit your needs, no matter what digital presence you have.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-embed'><span class='blurb-icon ith-console novi-icon'></span></div>
          <div class='blurb-title h5'>B2B solutions</div>
          <div class='blurb-text'>We can help you execute the digital transformation of your marketing channel priorities concerning your B2B strategies.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-embed'><span class='blurb-icon ith-mail novi-icon'></span></div>
          <div class='blurb-title h5'>Strategy development</div>
          <div class='blurb-text'>Our eCommerce experts will partner with you, creating a business strategy that allows you to reach your goals.</div>
        </article>
      </div>
    </div>
  </div>
</section>