<section class='section section-lg bg-transparent novi-background'>
  <h2 class='px-3 text-center'>Offer boxes type #3</h2>
  <div class='row no-gutters'>
    <div class='col-sm-6 col-lg-3'>
      <div class='offer-box offer-box-thumbnail novi-background' style='background-image: url( images/image-09-480x308.jpg)'>
        <div class='offer-box-inner'>
          <h5 class='offer-box-title'><a href='#'>Helping you create outstanding and responsive websites</a></h5>
          <div class='offer-box-hover'>
            <div class='offer-box-text'>Intense provides you with everything necessary for creation of a powerful and responsive website.</div><a class='btn btn-primary offer-box-btn' href='#'>Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-6 col-lg-3'>
      <div class='offer-box offer-box-thumbnail novi-background' style='background-image: url( images/image-05-480x308.jpg)'>
        <div class='offer-box-inner'>
          <h5 class='offer-box-title'><a href='#'>Providing website owners worldwide with powerful customization tools</a></h5>
          <div class='offer-box-hover'>
            <div class='offer-box-text'>With Intense, it is very easy to customize your existing website any way you want thanks to the rich UI kit.</div><a class='btn btn-primary offer-box-btn' href='#'>Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-6 col-lg-3'>
      <div class='offer-box offer-box-thumbnail novi-background' style='background-image: url( images/persons/person-06-480x308.jpg)'>
        <div class='offer-box-inner'>
          <h5 class='offer-box-title'><a href='#'>Create an appealing online presence for your company with Intense</a></h5>
          <div class='offer-box-hover'>
            <div class='offer-box-text'>Intense also allows you to develop a totally unique web presence with a variety of pre-designed pages.</div><a class='btn btn-primary offer-box-btn' href='#'>Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class='col-sm-6 col-lg-3'>
      <div class='offer-box offer-box-thumbnail novi-background' style='background-image: url( images/image-18-480x308.jpg)'>
        <div class='offer-box-inner'>
          <h5 class='offer-box-title'><a href='#'>Build any type of website you want without using complex coding</a></h5>
          <div class='offer-box-hover'>
            <div class='offer-box-text'>Our template provides you with an easy way of building a website without having deep coding knowledge.</div><a class='btn btn-primary offer-box-btn' href='#'>Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>