<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Offer boxes type #2</h2>
    <div class='row row-30'>
      <div class='col-sm-6 col-lg-3'>
        <div class='offer-box offer-box-light'>
          <h5 class='offer-box-title'>Senior web<br />designer</h5>
          <div class='offer-box-divider'></div>
          <div class='offer-box-text'>We are looking for senior designers who are problem-solvers creating interfaces that elegantly merge form and function.</div>
          <ul class='offer-box-list'>
            <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
            <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
            <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
          </ul>
        </div>
      </div>
      <div class='col-sm-6 col-lg-3'>
        <div class='offer-box offer-box-light'>
          <h5 class='offer-box-title'>Senior UI/UX<br />graphic designer</h5>
          <div class='offer-box-divider'></div>
          <div class='offer-box-text'>Intense is seeking a Senior UI/UX Graphic Designer to join our growing team. This position will have a core focus on developing.</div>
          <ul class='offer-box-list'>
            <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
            <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
            <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
          </ul>
        </div>
      </div>
      <div class='col-sm-6 col-lg-3'>
        <div class='offer-box offer-box-light'>
          <h5 class='offer-box-title'>Full stack<br />developer</h5>
          <div class='offer-box-divider'></div>
          <div class='offer-box-text'>We need a Full Stack Developer who will be responsible for developing, implementing and maintaining IT software.</div>
          <ul class='offer-box-list'>
            <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
            <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
            <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
          </ul>
        </div>
      </div>
      <div class='col-sm-6 col-lg-3'>
        <div class='offer-box offer-box-light'>
          <h5 class='offer-box-title'>Front end<br />developer</h5>
          <div class='offer-box-divider'></div>
          <div class='offer-box-text'>We are looking for a versatile developer experienced with Front End Web Development, but also familiar with Back-End.</div>
          <ul class='offer-box-list'>
            <li><span class='offer-box-list-icon novi-icon int-marker'></span><span class='offer-box-list-text'>New York</span></li>
            <li><span class='offer-box-list-icon novi-icon int-clock'></span><span class='offer-box-list-text'>Full Time</span></li>
            <li><span class='offer-box-list-icon novi-icon int-calendar'></span><span class='offer-box-list-text'>March 12, 2019</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>