<section class='section section-xl bg-transparent novi-background'>
  <div class='container'>
    <div class='row justify-content-center row-40 row-lg-50 row-xl-70 row-xxl-90'>
      <div class='col-md-6' data-animate='{"class":"fadeInLeft"}'>
        <div class='offer-box offer-box-divided'>
          <h6 class='offer-box-subtitle'>Speakers</h6>
          <h3 class='offer-box-title'>Let your voice be heard at Design Systems New York</h3>
          <hr class='divider offer-box-divider' />
          <div class='offer-box-text'>We are always open to those who want to share knowledge. Participate in the call for papers by filling out a short form. Deadline: 1st September</div><a class='btn btn-lg btn-dark rounded-0 offer-box-btn' href='#'>I Want to Speak</a>
        </div>
      </div>
      <div class='col-md-6' data-animate='{"class":"fadeInRight"}'>
        <div class='offer-box offer-box-divided'>
          <h6 class='offer-box-subtitle'>Sponsors</h6>
          <h3 class='offer-box-title'>Bring your organisation closer to our community</h3>
          <hr class='divider offer-box-divider' />
          <div class='offer-box-text'>Support our event and help promoting knowledge-sharing accross brilliant minds.</div><a class='btn btn-lg btn-dark rounded-0 offer-box-btn' href='#'>I Want to Speak</a>
        </div>
      </div>
    </div>
  </div>
</section>