<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='px-3 text-center'>Offer boxes type #5</h2>
    <div class='row row-40'>
      <div class='col-sm-6 col-lg-4'>
        <div class='offer-box offer-box-classic'><img src='images/image-09-400x257.jpg' alt='' width='400' height='257' />
          <h5 class='offer-box-title'><a href='#'>Helping you create outstanding and responsive websites</a></h5>
          <div class='offer-box-text'>Intense provides you with everything necessary for creation of a powerful and responsive website.</div><a class='btn btn-primary offer-box-button' href='#'>Read more</a>
        </div>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <div class='offer-box offer-box-classic'><img src='images/image-05-400x257.jpg' alt='' width='400' height='257' />
          <h5 class='offer-box-title'><a href='#'>Providing website owners worldwide with powerful customization tools</a></h5>
          <div class='offer-box-text'>With Intense, it is very easy to customize your existing website any way you want thanks to the rich UI kit.</div><a class='btn btn-primary offer-box-button' href='#'>Read more</a>
        </div>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <div class='offer-box offer-box-classic'><img src='images/image-08-400x257.jpg' alt='' width='400' height='257' />
          <h5 class='offer-box-title'><a href='#'>Create an appealing online presence for your company with Intense</a></h5>
          <div class='offer-box-text'>Intense also allows you to develop a totally unique web presence with a variety of pre-designed pages.</div><a class='btn btn-primary offer-box-button' href='#'>Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>