<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <h2>Our team</h2>
    <div class='row row-40 row-md-50 justify-content-center'>
      <div class='col-xs-6 col-md-4 col-lg-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-04-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Mark Rogers</a></div>
          <div class='person-subtitle'>Lead Designer</div><a class='person-mail' href='mailto:#'>mrogers@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-4 col-lg-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-05-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Edward Rivera</a></div>
          <div class='person-subtitle'>Senior Front End Developer</div><a class='person-mail' href='mailto:#'>erivera@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-4 col-lg-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-07-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Lisa Baker</a></div>
          <div class='person-subtitle'>Head of Marketing</div><a class='person-mail' href='mailto:#'>lbaker@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-4 col-lg-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-09-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Jose Jackson</a></div>
          <div class='person-subtitle'>Senior Copywriter</div><a class='person-mail' href='mailto:#'>jjackson@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-4 col-lg-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-08-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Jean Hall</a></div>
          <div class='person-subtitle'>Back End Developer</div><a class='person-mail' href='mailto:#'>jhall@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-4 col-lg-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-06-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>John Wilson</a></div>
          <div class='person-subtitle'>CEO, Founder, Creative Director</div><a class='person-mail' href='mailto:#'>jwilson@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-4 col-lg-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-01-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Daniel Reed</a></div>
          <div class='person-subtitle'>UX Designer</div><a class='person-mail' href='mailto:#'>dreed@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-4 col-lg-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-10-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Alex Davis</a></div>
          <div class='person-subtitle'>SEO &amp; SMM specialist</div><a class='person-mail' href='mailto:#'>adavis@demolink.org</a>
        </div>
      </div>
    </div>
  </div>
</section>