<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h1>Our team</h1>
    <div class='isotope-wrap isotope-line'>
      <div class='isotope-filters'>
        <div class='isotope-filter active' data-isotope-filter='*'>All</div>
        <div class='isotope-filter' data-isotope-filter='.design'>Design</div>
        <div class='isotope-filter' data-isotope-filter='.development'>Development</div>
        <div class='isotope-filter' data-isotope-filter='.marketing'>Marketing</div>
      </div>
      <div class='isotope row row-30 row-md-50 row-xl-70' data-lightgallery=''>
        <div class='col-xs-6 col-md-4 col-lg-3 isotope-item design'>
          <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-04-290x290.jpg' alt='' width='290' height='290' /></a>
            <div class='person-title'><a href='team-member.html'>Mark Rogers</a></div>
            <div class='person-subtitle'>Lead Designer</div>
            <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
        <div class='col-xs-6 col-md-4 col-lg-3 isotope-item development'>
          <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-05-290x290.jpg' alt='' width='290' height='290' /></a>
            <div class='person-title'><a href='team-member.html'>Edward Rivera</a></div>
            <div class='person-subtitle'>Senior Front End Developer</div>
            <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
        <div class='col-xs-6 col-md-4 col-lg-3 isotope-item design'>
          <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-06-290x290.jpg' alt='' width='290' height='290' /></a>
            <div class='person-title'><a href='team-member.html'>Lisa Baker</a></div>
            <div class='person-subtitle'>Head of Marketing</div>
            <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
        <div class='col-xs-6 col-md-4 col-lg-3 isotope-item marketing'>
          <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-07-290x290.jpg' alt='' width='290' height='290' /></a>
            <div class='person-title'><a href='team-member.html'>Jose Jackson</a></div>
            <div class='person-subtitle'>Senior Copywriter</div>
            <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
        <div class='col-xs-6 col-md-4 col-lg-3 isotope-item marketing'>
          <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-09-290x290.jpg' alt='' width='290' height='290' /></a>
            <div class='person-title'><a href='team-member.html'>Jean Hall</a></div>
            <div class='person-subtitle'>Back End Developer</div>
            <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
        <div class='col-xs-6 col-md-4 col-lg-3 isotope-item development'>
          <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-08-290x290.jpg' alt='' width='290' height='290' /></a>
            <div class='person-title'><a href='team-member.html'>John Wilson</a></div>
            <div class='person-subtitle'>CEO, Founder, Creative Director</div>
            <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
        <div class='col-xs-6 col-md-4 col-lg-3 isotope-item design'>
          <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-01-290x290.jpg' alt='' width='290' height='290' /></a>
            <div class='person-title'><a href='team-member.html'>Daniel Reed</a></div>
            <div class='person-subtitle'>UX Designer</div>
            <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
        <div class='col-xs-6 col-md-4 col-lg-3 isotope-item marketing'>
          <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-10-290x290.jpg' alt='' width='290' height='290' /></a>
            <div class='person-title'><a href='team-member.html'>Alex Davis</a></div>
            <div class='person-subtitle'>SEO &amp; SMM specialist</div>
            <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>