<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center' data-animate='{"class":"fadeInUp"}'>Our design and<br />development approach</h2>
    <div class='row row-30 row-md-40 justify-content-center'>
      <div class='col-sm-6 col-lg-5' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-number h1'>01</span></div>
            <div class='blurb-title h5'>Project analysis and research</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>The customer provides us with detailed project-related information, gathered from supporting documents, process specs, systems, on-site analysis, market research, competitor analysis and end-user interviews.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-5' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed blurb-secondary'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-number h1'>02</span></div>
            <div class='blurb-title h5'>Alignment with your business goals</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>As a part of the project, you will have a business analyst assigned on the project to assure all the development process is well-aligned with your goals.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-5' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-number h1'>03</span></div>
            <div class='blurb-title h5'>The best cost to<br />quality ratio</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Quality does come at a price, but we manage to keep the best cost to quality ratio. It guarantees affordable prices on our services to clients worldwide.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-5' data-animate='{"class":"fadeInUp"}'>
        <article class='blurb blurb-boxed'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-number h1'>04</span></div>
            <div class='blurb-title h5'>Quality software<br />integration</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>After your app is developed, we’ll perform extensive integration process. An acceptance report will be created along with the software.</div>
        </article>
      </div>
    </div>
  </div>
</section>