<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2>Our team</h2>
    <div class='row row-40'>
      <div class='col-xs-6'>
        <div class='person person-thumbnail'><img class='person-thumbnail-img' src='images/persons/person-04-620x620.jpg' alt='' width='620' height='620' />
          <div class='person-thumbnail-inner'>
            <div class='person-title'><a href='team-member.html'>Mark Rogers</a></div>
            <div class='person-subtitle'>Lead Designer</div>
            <div class='person-icon'><a class='novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
      </div>
      <div class='col-xs-6'>
        <div class='person person-thumbnail'><img class='person-thumbnail-img' src='images/persons/person-05-620x620.jpg' alt='' width='620' height='620' />
          <div class='person-thumbnail-inner'>
            <div class='person-title'><a href='team-member.html'>Edward Rivera</a></div>
            <div class='person-subtitle'>Senior Developer</div>
            <div class='person-icon'><a class='novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
      </div>
      <div class='col-xs-6 col-lg-4'>
        <div class='person person-thumbnail'><img class='person-thumbnail-img' src='images/persons/person-01-400x400.jpg' alt='' width='400' height='400' />
          <div class='person-thumbnail-inner'>
            <div class='person-title'><a href='team-member.html'>Daniel Reed</a></div>
            <div class='person-subtitle'>UX Designer</div>
            <div class='person-icon'><a class='novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
      </div>
      <div class='col-xs-6 col-lg-4'>
        <div class='person person-thumbnail'><img class='person-thumbnail-img' src='images/persons/person-08-400x400.jpg' alt='' width='400' height='400' />
          <div class='person-thumbnail-inner'>
            <div class='person-title'><a href='team-member.html'>Jean Hall</a></div>
            <div class='person-subtitle'>Back End Developer</div>
            <div class='person-icon'><a class='novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
      </div>
      <div class='col-xs-6 col-lg-4'>
        <div class='person person-thumbnail'><img class='person-thumbnail-img' src='images/persons/person-06-400x400.jpg' alt='' width='400' height='400' />
          <div class='person-thumbnail-inner'>
            <div class='person-title'><a href='team-member.html'>John Wilson</a></div>
            <div class='person-subtitle'>CEO, Founder, Creative Director</div>
            <div class='person-icon'><a class='novi-icon int-twitter' href='#'></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>