<section class='section section-md bg-transparent novi-background'>
  <div class='container text-center'>
    <h2>Classic paginations</h2>
    <ul class='pag pag-simple justify-content-center'>
      <li class='pag-simple-item disabled'><a class='pag-simple-link pag-simple-link-prev' href='#'><span class='int-arrow-left novi-icon'></span><span>Prev</span></a></li>
      <li class='pag-simple-item active'><a class='pag-simple-link' href='#'>1</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link' href='#'>2</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link' href='#'>3</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link inactive' href='#'>..</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link' href='#'>24</a></li>
      <li class='pag-simple-item'><a class='pag-simple-link pag-simple-link-next' href='#'><span>Next</span><span class='int-arrow-right novi-icon'></span></a></li>
    </ul>
    <ul class='pagination justify-content-center'>
      <li class='page-item disabled'><a class='page-link page-link-prev int-arrow-left novi-icon' href='#'></a></li>
      <li class='page-item active'><a class='page-link' href='#'>1</a></li>
      <li class='page-item'><a class='page-link' href='#'>2</a></li>
      <li class='page-item'><a class='page-link' href='#'>3</a></li>
      <li class='page-item'><a class='page-link inactive' href='#'>..</a></li>
      <li class='page-item'><a class='page-link' href='#'>24</a></li>
      <li class='page-item'><a class='page-link page-link-next int-arrow-right novi-icon' href='#'></a></li>
    </ul>
    <ul class='pagination pagination-sm justify-content-center'>
      <li class='page-item disabled'><a class='page-link page-link-prev int-arrow-left novi-icon' href='#'></a></li>
      <li class='page-item active'><a class='page-link' href='#'>1</a></li>
      <li class='page-item'><a class='page-link' href='#'>2</a></li>
      <li class='page-item'><a class='page-link' href='#'>3</a></li>
      <li class='page-item'><a class='page-link inactive' href='#'>..</a></li>
      <li class='page-item'><a class='page-link' href='#'>24</a></li>
      <li class='page-item'><a class='page-link page-link-next int-arrow-right novi-icon' href='#'></a></li>
    </ul>
    <ul class='pagination pagination-rounded justify-content-center'>
      <li class='page-item disabled'><a class='page-link page-link-prev int-arrow-left novi-icon' href='#'></a></li>
      <li class='page-item active'><a class='page-link' href='#'>1</a></li>
      <li class='page-item'><a class='page-link' href='#'>2</a></li>
      <li class='page-item'><a class='page-link' href='#'>3</a></li>
      <li class='page-item'><a class='page-link inactive' href='#'>..</a></li>
      <li class='page-item'><a class='page-link' href='#'>24</a></li>
      <li class='page-item'><a class='page-link page-link-next int-arrow-right novi-icon' href='#'></a></li>
    </ul>
    <div class='pag pag-extended justify-content-center'><a class='pag-extended-item' href='#'>
        <h5 class='pag-extended-title'>10 reasons to choose Intense over other popular templates</h5>
        <div class='pag-extended-link pag-extended-link-prev'><span class='pag-extended-arrow int-arrow-left novi-icon'></span><span>Prev post</span></div>
      </a><a class='pag-extended-item' href='#'>
        <h5 class='pag-extended-title'>How to benefit from creating a quality designed website</h5>
        <div class='pag-extended-link pag-extended-link-next'><span>Next post</span><span class='pag-extended-arrow int-arrow-right novi-icon'></span></div>
      </a></div>
    <div class='pag pag-short pag-short-bordered justify-content-center'><a class='pag-short-link pag-short-link-prev' href='#'><span class='pag-short-arrow int-arrow-left novi-icon'></span><span>Prev post</span></a><a class='pag-short-link pag-short-link-next' href='#'><span>Next post</span><span class='pag-short-arrow int-arrow-right novi-icon'></span></a></div>
    <div class='pag pag-short justify-content-center'><a class='pag-short-link pag-short-link-prev' href='#'><span class='pag-short-arrow int-arrow-left novi-icon'></span><span>Prev post</span></a><a class='pag-short-link pag-short-link-next' href='#'><span>Next post</span><span class='pag-short-arrow int-arrow-right novi-icon'></span></a></div>
  </div>
</section>