<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2 class='text-primary'>Just a few<br />of our partners</h2>
    <div class='row row-30 row-lg-40 justify-content-center'>
      <div class='col-4 col-md' data-animate='{"class":"fadeInLeftBig","delay":"0.3s"}'><img src='images/logos/logo-03-50x71.png' alt='' width='50' height='71' /></div>
      <div class='col-4 col-md' data-animate='{"class":"fadeInLeftBig","delay":"0.15s"}'><img src='images/logos/logo-04-68x67.png' alt='' width='68' height='67' /></div>
      <div class='col-4 col-md' data-animate='{"class":"fadeIn"}'><img src='images/logos/logo-05-94x71.png' alt='' width='94' height='71' /></div>
      <div class='col-4 col-md' data-animate='{"class":"fadeInRightBig","delay":"0.15s"}'><img src='images/logos/logo-01-103x57.png' alt='' width='103' height='57' /></div>
      <div class='col-4 col-md' data-animate='{"class":"fadeInRightBig","delay":"0.3s"}'><img src='images/logos/logo-06-38x84.png' alt='' width='38' height='84' /></div>
    </div>
  </div>
</section>