<section class='section section-lg bg-200 novi-background'>
  <div class='container'>
    <div class='row row-30 novi-disabled'>
      <div class='col-md-5 col-xl-4'>
        <h4>Our partners</h4>
        <p>These companies are our lifelong partners whose efforts support our goals.</p>
      </div>
      <div class='col-md-7 col-xl-6 offset-xl-1'>
        <div class='row row-30 row-lg-40'>
          <div class='col-6'>
            <div class='partner'><img class='partner-image' src='images/partners/partner-1-290x120.jpg' alt='' width='290' height='120' /></div>
          </div>
          <div class='col-6'>
            <div class='partner'><img class='partner-image' src='images/partners/partner-2-290x120.jpg' alt='' width='290' height='120' /></div>
          </div>
          <div class='col-6'>
            <div class='partner'><img class='partner-image' src='images/partners/partner-3-290x120.jpg' alt='' width='290' height='120' /></div>
          </div>
          <div class='col-6'>
            <div class='partner'><img class='partner-image' src='images/partners/partner-4-290x120.jpg' alt='' width='290' height='120' /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>