<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2 class='text-center'>Member boxes type #3</h2>
    <div class='row row-30'>
      <div class='col-sm-6 col-lg-3'>
        <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-04-290x290.jpg' alt='' width='290' height='290' /></a>
          <div class='person-title'><a href='team-member.html'>Mark Rogers</a></div>
          <div class='person-subtitle'>Lead Designer</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
      <div class='col-sm-6 col-lg-3'>
        <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-05-290x290.jpg' alt='' width='290' height='290' /></a>
          <div class='person-title'><a href='team-member.html'>Edward Rivera</a></div>
          <div class='person-subtitle'>Senior Front End Developer</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
      <div class='col-sm-6 col-lg-3'>
        <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-06-290x290.jpg' alt='' width='290' height='290' /></a>
          <div class='person-title'><a href='team-member.html'>John Wilson</a></div>
          <div class='person-subtitle'>CEO, Founder, Creative Director</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
      <div class='col-sm-6 col-lg-3'>
        <div class='person'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-07-290x290.jpg' alt='' width='290' height='290' /></a>
          <div class='person-title'><a href='team-member.html'>Lisa Baker</a></div>
          <div class='person-subtitle'>Head of Marketing</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
    </div>
  </div>
</section>