<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <h2 data-animate='{"class":"fadeInUp"}'>Meet our team</h2>
    <div class='row row-30 justify-content-center'>
      <div class='col-xs-6 col-md-3' data-animate='{"class":"fadeInUp"}'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-04-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Mark Rogers</a></div>
          <div class='person-subtitle'>Lead Designer</div><a class='person-mail' href='mailto:#'>lgriffin@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-3' data-animate='{"class":"fadeInUp"}'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-05-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Edward Rivera</a></div>
          <div class='person-subtitle'>CEO, founder</div><a class='person-mail' href='mailto:#'>erivera@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-3' data-animate='{"class":"fadeInUp"}'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-07-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Lisa Baker</a></div>
          <div class='person-subtitle'>C++ &amp; C# developer</div><a class='person-mail' href='mailto:#'>lbaker@demolink.org</a>
        </div>
      </div>
      <div class='col-xs-6 col-md-3' data-animate='{"class":"fadeInUp"}'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-09-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Jose Jackson</a></div>
          <div class='person-subtitle'>JavaScript developer</div><a class='person-mail' href='mailto:#'>jjackson@demolink.org</a>
        </div>
      </div>
    </div>
  </div>
</section>