<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2>Member boxes type #2</h2>
    <div class='row row-30 justify-content-center'>
      <div class='col-sm-6 col-md-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-04-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Mark Rogers</a></div>
          <div class='person-subtitle'>Lead Designer</div><a class='person-mail' href='mailto:#'>lgriffin@demolink.org</a>
        </div>
      </div>
      <div class='col-sm-6 col-md-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-05-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Edward Rivera</a></div>
          <div class='person-subtitle'>Senior Front End Developer</div><a class='person-mail' href='mailto:#'>erivera@demolink.org</a>
        </div>
      </div>
      <div class='col-sm-6 col-md-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-07-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Lisa Baker</a></div>
          <div class='person-subtitle'>Head of Marketing</div><a class='person-mail' href='mailto:#'>lbaker@demolink.org</a>
        </div>
      </div>
      <div class='col-sm-6 col-md-3'>
        <div class='person person-rounded person-sm'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-09-176x176.jpg' alt='' width='176' height='176' /></a>
          <div class='person-title'><a href='team-member.html'>Jose Jackson</a></div>
          <div class='person-subtitle'>Senior Copywriter</div><a class='person-mail' href='mailto:#'>jjackson@demolink.org</a>
        </div>
      </div>
    </div>
  </div>
</section>