<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h2>Member boxes type #1</h2>
    <div class='row row-30 justify-content-center'>
      <div class='col-sm-6 col-md-4'>
        <div class='person person-lg'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-04-400x400.jpg' alt='' width='400' height='400' /></a>
          <div class='person-title'><a href='team-member.html'>Mark Rogers</a></div>
          <div class='person-subtitle'>Lead Designer</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4'>
        <div class='person person-lg'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-05-400x400.jpg' alt='' width='400' height='400' /></a>
          <div class='person-title'><a href='team-member.html'>Edward Rivera</a></div>
          <div class='person-subtitle'>Senior Front End Developer</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4'>
        <div class='person person-lg'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-06-400x400.jpg' alt='' width='400' height='400' /></a>
          <div class='person-title'><a href='team-member.html'>John Wilson</a></div>
          <div class='person-subtitle'>CEO, Founder, Creative Director</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
    </div>
  </div>
</section>