<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 justify-content-center'>
      <div class='col-md-6'>
        <h3>Select</h3>
        <div class='row novi-disabled'>
          <div class='col-12'>
            <div class='form-group'><label for='simple-select'>Simple select:</label>
              <div class='select-wrap'><select class='select2' id='simple-select' name='country' data-select2-options='{"placeholder":"Select country"}'>
                  <option label='placeholder'></option>
                  <option>USA</option>
                  <option>UK</option>
                  <option>Ukraine</option>
                  <option>Australia</option>
                  <option>Korea</option>
                  <option>Japan</option>
                  <option>Germany</option>
                  <option>Belarus</option>
                  <option>Poland</option>
                </select></div>
            </div>
            <div class='form-group'><label for='multiple-select'>Multiple select:</label>
              <div class='select-wrap'><select class='select2' id='multiple-select' name='country' multiple='multiple' data-select2-options='{"placeholder":"Select country"}'>
                  <option label='placeholder'></option>
                  <option>USA</option>
                  <option>UK</option>
                  <option>Ukraine</option>
                  <option>Australia</option>
                  <option>Korea</option>
                  <option>Japan</option>
                  <option>Germany</option>
                  <option>Belarus</option>
                  <option>Poland</option>
                </select></div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-6'>
        <h3>Input type time and date</h3>
        <div class='row row-22 novi-disabled'>
          <div class='col-12'>
            <div class='form-group'><label for='sample-date'>Date:</label>
              <div class='datetimepicker-group'>
                <div class='input-group'><input class='form-control' id='sample-date' type='text' name='sample-date' placeholder='Select date' data-datetimepicker='{"format":"L"}' />
                  <div class='input-group-append'><span class='input-group-text input-group-text-nodivider int-calendar novi-icon'></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-lg-6'>
            <div class='form-group'><label for='sample-time-start'>Required time interval start:</label>
              <div class='datetimepicker-group'>
                <div class='input-group'><input class='form-control' id='sample-time-start' type='text' name='sample-time-start' placeholder='Select time' data-datetimepicker='{"format":"LT"}' />
                  <div class='input-group-append'><span class='input-group-text input-group-text-nodivider int-clock novi-icon'></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-lg-6'>
            <div class='form-group'><label for='sample-time-end'>Required time interval end:</label>
              <div class='datetimepicker-group'>
                <div class='input-group'><input class='form-control' id='sample-time-end' type='text' name='sample-time-end' placeholder='Select time' data-datetimepicker='{"format":"LT"}' />
                  <div class='input-group-append'><span class='input-group-text input-group-text-nodivider int-clock novi-icon'></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>