<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h3>Similar products</h3>
    <div class='row row-30 row-sm-40 row-md-50'>
      <div class='col-6 col-md-4 col-lg-3'>
        <article class='product'>
          <div class='product-figure'><img class='product-image' src='images/products/product-10-290x372.jpg' alt='' width='290' height='372' />
            <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
          </div>
          <div class='product-title h6'><a href='product-page.html'>Black baseball cap</a></div>
          <div class='product-price'><span>$12</span></div>
        </article>
      </div>
      <div class='col-6 col-md-4 col-lg-3'>
        <article class='product'>
          <div class='product-figure'><img class='product-image' src='images/products/product-01-290x372.jpg' alt='' width='290' height='372' />
            <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
          </div>
          <div class='product-title h6'><a href='product-page.html'>Iridescent iPhone case</a></div>
          <div class='product-price'><span>$19</span></div>
        </article>
      </div>
      <div class='col-6 col-md-4 col-lg-3'>
        <article class='product'>
          <div class='product-figure'><img class='product-image' src='images/products/product-02-290x372.jpg' alt='' width='290' height='372' />
            <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div><span class='badge badge-dark product-badge'>New</span>
          </div>
          <div class='product-title h6'><a href='product-page.html'>Black analogue watch</a></div>
          <div class='product-price'><span>$43</span></div>
        </article>
      </div>
      <div class='col-6 col-md-4 col-lg-3'>
        <article class='product'>
          <div class='product-figure'><img class='product-image' src='images/products/product-03-290x372.jpg' alt='' width='290' height='372' />
            <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div><span class='badge badge-danger product-badge'>-22%</span>
          </div>
          <div class='product-title h6'><a href='product-page.html'>Ombré vinyl backpack</a></div>
          <div class='product-price'><del>$37</del><span>$29</span></div>
        </article>
      </div>
    </div>
  </div>
</section>