<section class='section section-lg bg-transparent novi-background'>
  <div class='container-fluid'>
    <h1 class='text-center'>Wide layout</h1>
    <div class='isotope-wrap isotope-scale-vertical isotope-scale-vertical-wide'>
      <div class='isotope-filters'>
        <div class='isotope-filter active' data-isotope-filter='*'>All</div>
        <div class='isotope-filter' data-isotope-filter='.design'>Design</div>
        <div class='isotope-filter' data-isotope-filter='.development'>Development</div>
        <div class='isotope-filter' data-isotope-filter='.marketing'>Marketing</div>
      </div>
      <div class='isotope row row-30 row-md-40' data-lightgallery=''>
        <div class='col-6 col-md-4 isotope-item development'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-07-1200x800.jpg'><img src='images/image-07-430x667.jpg' alt='' width='430' height='667' /></a></div>
        <div class='col-6 col-md-4 isotope-item design'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-15-1200x800.jpg'><img src='images/image-15-430x430.jpg' alt='' width='430' height='430' /></a></div>
        <div class='col-6 col-md-4 isotope-item design'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-16-1200x800.jpg'><img src='images/image-16-430x430.jpg' alt='' width='430' height='430' /></a></div>
        <div class='col-6 col-md-4 isotope-item design'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-17-1200x800.jpg'><img src='images/image-17-430x430.jpg' alt='' width='430' height='430' /></a></div>
        <div class='col-6 col-md-4 isotope-item development'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-05-1200x800.jpg'><img src='images/image-05-430x667.jpg' alt='' width='430' height='667' /></a></div>
        <div class='col-6 col-md-4 isotope-item marketing'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-13-1200x800.jpg'><img src='images/image-13-430x430.jpg' alt='' width='430' height='430' /></a></div>
        <div class='col-6 col-md-4 isotope-item development'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-06-1200x800.jpg'><img src='images/image-06-430x667.jpg' alt='' width='430' height='667' /></a></div>
        <div class='col-6 col-md-4 isotope-item marketing'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-14-1200x800.jpg'><img src='images/image-14-430x430.jpg' alt='' width='430' height='430' /></a></div>
        <div class='col-6 col-md-4 isotope-item marketing'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-20-1200x800.jpg'><img src='images/image-20-430x430.jpg' alt='' width='430' height='430' /></a></div>
      </div>
    </div>
  </div>
</section>