<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h1>Portfolio frode</h1>
    <div class='isotope-wrap isotope-line'>
      <div class='isotope-filters'>
        <div class='isotope-filter active' data-isotope-filter='*'>All</div>
        <div class='isotope-filter' data-isotope-filter='.design'>Design</div>
        <div class='isotope-filter' data-isotope-filter='.development'>Development</div>
        <div class='isotope-filter' data-isotope-filter='.marketing'>Marketing</div>
      </div>
      <div class='isotope row row-30 row-xl-80'>
        <div class='col-sm-6 isotope-item development'>
          <figure class='thumbnail thumbnail-frode'>
            <div class='thumbnail-frode-img'><img src='images/image-07-640x420.jpg' alt='' width='640' height='420' /></div>
            <figcaption class='thumbnail-frode-caption'>
              <div class='thumbnail-frode-content'>
                <h5 class='thumbnail-frode-title'>Web design</h5>
                <div class='thumbnail-frode-description'>Delivering quality web design services to our clients.</div>
              </div><a class='btn btn-secondary thumbnail-frode-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-sm-6 isotope-item marketing'>
          <figure class='thumbnail thumbnail-frode'>
            <div class='thumbnail-frode-img'><img src='images/image-06-640x420.jpg' alt='' width='640' height='420' /></div>
            <figcaption class='thumbnail-frode-caption'>
              <div class='thumbnail-frode-content'>
                <h5 class='thumbnail-frode-title'>Web development</h5>
                <div class='thumbnail-frode-description'>Creating dynamic and responsive websites &amp; web apps.</div>
              </div><a class='btn btn-secondary thumbnail-frode-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-sm-6 isotope-item development'>
          <figure class='thumbnail thumbnail-frode'>
            <div class='thumbnail-frode-img'><img src='images/image-13-640x420.jpg' alt='' width='640' height='420' /></div>
            <figcaption class='thumbnail-frode-caption'>
              <div class='thumbnail-frode-content'>
                <h5 class='thumbnail-frode-title'>Back-end development</h5>
                <div class='thumbnail-frode-description'>Handling the ‘behind-the-scenes’ functionality of web applications.</div>
              </div><a class='btn btn-secondary thumbnail-frode-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-sm-6 isotope-item design'>
          <figure class='thumbnail thumbnail-frode'>
            <div class='thumbnail-frode-img'><img src='images/image-05-640x420.jpg' alt='' width='640' height='420' /></div>
            <figcaption class='thumbnail-frode-caption'>
              <div class='thumbnail-frode-content'>
                <h5 class='thumbnail-frode-title'>UX design</h5>
                <div class='thumbnail-frode-description'>Designing appealing and functional interfaces.</div>
              </div><a class='btn btn-secondary thumbnail-frode-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-sm-6 isotope-item marketing'>
          <figure class='thumbnail thumbnail-frode'>
            <div class='thumbnail-frode-img'><img src='images/image-17-640x420.jpg' alt='' width='640' height='420' /></div>
            <figcaption class='thumbnail-frode-caption'>
              <div class='thumbnail-frode-content'>
                <h5 class='thumbnail-frode-title'>Content marketing</h5>
                <div class='thumbnail-frode-description'>An essential part of the digital marketing strategy for any business.</div>
              </div><a class='btn btn-secondary thumbnail-frode-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-sm-6 isotope-item design'>
          <figure class='thumbnail thumbnail-frode'>
            <div class='thumbnail-frode-img'><img src='images/image-14-640x420.jpg' alt='' width='640' height='420' /></div>
            <figcaption class='thumbnail-frode-caption'>
              <div class='thumbnail-frode-content'>
                <h5 class='thumbnail-frode-title'>Search engine optimization</h5>
                <div class='thumbnail-frode-description'>Optimize your website and take it higher on Google rankings.</div>
              </div><a class='btn btn-secondary thumbnail-frode-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>