<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h6 data-animate='{"class":"fadeInUp"}'>Our portfolio</h6>
    <h1 data-animate='{"class":"fadeInUp"}'>Take a look at the most recent<br class='d-none d-sm-block' />photos made by our photographers</h1>
    <div class='offset-xl group-30 d-flex flex-wrap justify-content-between align-items-end' data-animate='{"class":"fadeInUp"}'>
      <p>At Intense, every photographer takes pride in their work. In our<br class='d-none d-sm-block' />portfolio, you can find featured photos made by our photographers.</p>
      <div class='owl-remote-nav' id='owl-nav'></div>
    </div>
    <div class='owl-carousel owl-style-3' data-owl='{&quot;loop&quot;:false,&quot;center&quot;:true,&quot;nav&quot;:true,&quot;autoplay&quot;:false,&quot;autoplaySpeed&quot;:1000,&quot;smartSpeed&quot;:1000,&quot;navContainer&quot;:&quot;#owl-nav&quot;}' data-lightgallery='' data-autoplay='false' data-loop='false' data-mouse-drag='true' data-items='1' data-sm-items='2' data-md-items='3'>
      <div class='thumbnail-calma'><a class='thumbnail-calma-figure lightgallery-item' href='images/image-59-533x800.jpg'><img class='thumbnail-calma-image' src='images/image-59-400x600.jpg' alt='' width='400' height='600' /></a>
        <div class='thumbnail-calma-title h5'><a class='thumbnail-calma-title-link' href='#'>Landscapes</a></div>
        <div class='thumbnail-calma-text small'>Our team knows how to capture a stunning landscape and our photos can show it to you.</div>
      </div>
      <div class='thumbnail-calma'><a class='thumbnail-calma-figure lightgallery-item' href='images/image-60-533x800.jpg'><img class='thumbnail-calma-image' src='images/image-60-400x600.jpg' alt='' width='400' height='600' /></a>
        <div class='thumbnail-calma-title h5'><a class='thumbnail-calma-title-link' href='#'>Love Stories</a></div>
        <div class='thumbnail-calma-text small'>Get your love and emotions captured in a romantic photo shoot that you will remember.</div>
      </div>
      <div class='thumbnail-calma'><a class='thumbnail-calma-figure lightgallery-item' href='images/image-61-533x800.jpg'><img class='thumbnail-calma-image' src='images/image-61-400x600.jpg' alt='' width='400' height='600' /></a>
        <div class='thumbnail-calma-title h5'><a class='thumbnail-calma-title-link' href='#'>Commercials</a></div>
        <div class='thumbnail-calma-text small'>Our photographers can show the bright sides and advantages of your product to make it stand out.</div>
      </div>
      <div class='thumbnail-calma'><a class='thumbnail-calma-figure lightgallery-item' href='images/image-62-449x800.jpg'><img class='thumbnail-calma-image' src='images/image-62-400x600.jpg' alt='' width='400' height='600' /></a>
        <div class='thumbnail-calma-title h5'><a class='thumbnail-calma-title-link' href='#'>Events</a></div>
        <div class='thumbnail-calma-text small'>We can easily capture any kind of event, no matter if it’s something official or informal.</div>
      </div>
      <div class='thumbnail-calma'><a class='thumbnail-calma-figure lightgallery-item' href='images/image-63-1200x800.jpg'><img class='thumbnail-calma-image' src='images/image-63-400x600.jpg' alt='' width='400' height='600' /></a>
        <div class='thumbnail-calma-title h5'><a class='thumbnail-calma-title-link' href='#'>Wildlife</a></div>
        <div class='thumbnail-calma-text small'>Looking for quality wildlife photography? Our team of professional photographers knows how to help you.</div>
      </div>
      <div class='thumbnail-calma'><a class='thumbnail-calma-figure lightgallery-item' href='images/image-64-533x800.jpg'><img class='thumbnail-calma-image' src='images/image-64-400x600.jpg' alt='' width='400' height='600' /></a>
        <div class='thumbnail-calma-title h5'><a class='thumbnail-calma-title-link' href='#'>Fashion</a></div>
        <div class='thumbnail-calma-text small'>Our fashion photographers know how to portray the fashionable clothing the right way.</div>
      </div>
    </div>
  </div>
</section>