<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h1>Portfolio connor</h1>
    <div class='isotope-wrap isotope-line'>
      <div class='isotope-filters'>
        <div class='isotope-filter active' data-isotope-filter='*'>All</div>
        <div class='isotope-filter' data-isotope-filter='.design'>Design</div>
        <div class='isotope-filter' data-isotope-filter='.development'>Development</div>
        <div class='isotope-filter' data-isotope-filter='.marketing'>Marketing</div>
      </div>
      <div class='isotope row row-30 row-xl-80'>
        <div class='col-md-6 isotope-item development'>
          <figure class='thumbnail thumbnail-connor'><img src='images/image-07-640x420.jpg' alt='' width='640' height='420' />
            <figcaption class='thumbnail-connor-caption'>
              <h3 class='thumbnail-connor-title'>Web design</h3>
              <div class='thumbnail-connor-description'>Delivering quality web design services to our clients.</div><a class='btn btn-primary thumbnail-connor-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-md-6 isotope-item marketing'>
          <figure class='thumbnail thumbnail-connor'><img src='images/image-06-640x420.jpg' alt='' width='640' height='420' />
            <figcaption class='thumbnail-connor-caption'>
              <h3 class='thumbnail-connor-title'>Web development</h3>
              <div class='thumbnail-connor-description'>Creating dynamic and responsive websites &amp; web apps.</div><a class='btn btn-primary thumbnail-connor-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-md-6 isotope-item development'>
          <figure class='thumbnail thumbnail-connor'><img src='images/image-13-640x420.jpg' alt='' width='640' height='420' />
            <figcaption class='thumbnail-connor-caption'>
              <h3 class='thumbnail-connor-title'>Back-end development</h3>
              <div class='thumbnail-connor-description'>Handling the ‘behind-the-scenes’ functionality of web applications.</div><a class='btn btn-primary thumbnail-connor-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-md-6 isotope-item design'>
          <figure class='thumbnail thumbnail-connor'><img src='images/image-05-640x420.jpg' alt='' width='640' height='420' />
            <figcaption class='thumbnail-connor-caption'>
              <h3 class='thumbnail-connor-title'>UX design</h3>
              <div class='thumbnail-connor-description'>Designing appealing and functional interfaces.</div><a class='btn btn-primary thumbnail-connor-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-md-6 isotope-item marketing'>
          <figure class='thumbnail thumbnail-connor'><img src='images/image-17-640x420.jpg' alt='' width='640' height='420' />
            <figcaption class='thumbnail-connor-caption'>
              <h3 class='thumbnail-connor-title'>Content marketing</h3>
              <div class='thumbnail-connor-description'>An essential part of the digital marketing strategy for any business.</div><a class='btn btn-primary thumbnail-connor-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
        <div class='col-md-6 isotope-item design'>
          <figure class='thumbnail thumbnail-connor'><img src='images/image-14-640x420.jpg' alt='' width='640' height='420' />
            <figcaption class='thumbnail-connor-caption'>
              <h3 class='thumbnail-connor-title'>Search engine optimization</h3>
              <div class='thumbnail-connor-description'>Optimize your website and take it higher on Google rankings.</div><a class='btn btn-primary thumbnail-connor-btn' href='#'>Take a look</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>