<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-9 col-lg-8'>
        <div class='post'>
          <h3 class='post-title'><a href='post.html'>Top 10 essential design trends that can revolutionize modern web design</a></h3>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post.html'>Adam Smith</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post.html'>September 16, 2019</a></div>
          </div><a class='post-img-link' href='post.html'><img src='images/image-09-840x540.jpg' alt='' width='840' height='540' /></a>
          <div class='post-text'>This year may bring us a lot of surprises as standards in web design change and we experience lots of new trends. You can take these trends in and decide if they can help you.</div>
          <div class='post-meta'>
            <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post.html'>3 Comment(s)</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
              <div class='post-tags'>Tags: <a class='post-tag' href='post.html'>Web design</a>, <a class='post-tag' href='post.html'>Articles</a></div>
            </div>
          </div><a class='btn btn-primary post-btn' href='post.html'>Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>