<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-9 col-lg-8'>
        <div class='post post-thumbnail novi-background post-thumbnail-large' style='background-image: url( images/image-08-840x540.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Adam Smith</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>3</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Best examples of online portfolio: 10 designers who got it right and achieved their goals</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>Out of all of the creative people in the world, designers have a very clear vision of what their online portfolio should look like. Their line of work demands a site that lives up to...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>