<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-6 col-lg-4'>
        <div class='post post-sm'><a class='post-img-link' href='post.html'><img src='images/image-09-400x257.jpg' alt='' width='400' height='257' /></a>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post.html'>Mark Rogers</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post.html'>September 16, 2019</a></div>
          </div>
          <h5 class='post-title'><a href='post.html'>Top 10 essential design trends that can revolutionize modern web design</a></h5>
          <div class='post-text'>This year may bring us a lot of surprises as standards in web design change and we experience lots...</div>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post.html'>Read more</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post.html'>25</a></div>
          </div>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-lg-4'>
        <div class='post post-sm'><a class='post-img-link' href='post.html'><img src='images/image-05-400x257.jpg' alt='' width='400' height='257' /></a>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post.html'>Mark Rogers</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post.html'>September 16, 2019</a></div>
          </div>
          <h5 class='post-title'><a href='post.html'>15 impressive examples of one-page website design picked by our team</a></h5>
          <div class='post-text'>Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all...</div>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post.html'>Read more</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post.html'>25</a></div>
          </div>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-lg-4'>
        <div class='post post-sm'><a class='post-img-link' href='post.html'><img src='images/image-08-400x257.jpg' alt='' width='400' height='257' /></a>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post.html'>Mark Rogers</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post.html'>September 16, 2019</a></div>
          </div>
          <h5 class='post-title'><a href='post.html'>Best examples of online portfolio: 10 designers who got it right</a></h5>
          <div class='post-text'>Out of all creative people in the world, designers have a very clear vision of what their online portfolio...</div>
          <div class='post-meta'>
            <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post.html'>Read more</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post.html'>25</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>