<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-xs-10 col-md-12'>
        <div class='post-container'>
          <div class='post-container-item'>
            <div class='post'><a class='post-img-link' href='post.html'><img src='images/image-05-570x366.jpg' alt='' width='570' height='366' /></a>
              <h3 class='post-title'><a href='post.html'>15 impressive examples of one-page website design</a></h3>
              <div class='post-meta'>
                <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
                <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post.html'>Mark Rogers</a></div>
                <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post.html'>September 16, 2019</a></div>
              </div>
              <div class='post-text'>Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page.</div>
              <div class='post-meta post-meta-footer'>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post.html'>Read more</a></div>
                <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post.html'>25</a></div>
              </div>
            </div>
          </div>
          <div class='post-container-item'>
            <div class='post'><a class='post-img-link' href='post.html'><img src='images/image-09-570x366.jpg' alt='' width='570' height='366' /></a>
              <h3 class='post-title'><a href='post.html'>15 impressive examples of one-page website design picked by our team</a></h3>
              <div class='post-meta'>
                <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post.html'>HTML</a></div>
                <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post.html'>Mark Rogers</a></div>
                <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post.html'>September 16, 2019</a></div>
              </div>
              <div class='post-text'>Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page.</div>
              <div class='post-meta post-meta-footer'>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post.html'>Read more</a></div>
                <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post.html'>25</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>