<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-12'>
        <div class='post post-side post-side-large'><a class='post-img-link' href='post-intro.html'><img src='images/image-06-620x398.jpg' alt='' width='620' height='398' /></a>
          <div class='post-inner'>
            <h3 class='post-title'><a href='post-intro.html'>5 design tips that will increase your conversions</a></h3>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-intro.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-intro.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-intro.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>If you want to increase ROI from your website, you can go about it in two ways: increase traffic or increase conversions. It is much easier to increase conversions...</div>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-intro.html'>Read more<span class='link-icon int-arrow-right novi-icon'></span></a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-intro.html'>25</a></div>
            </div>
          </div>
        </div>
        <div class='post post-side post-side-large post-side-reverse'><a class='post-img-link' href='post-intro.html'><img src='images/image-05-620x398.jpg' alt='' width='620' height='398' /></a>
          <div class='post-inner'>
            <h3 class='post-title'><a href='post-intro.html'>Best examples of online portfolio: 10 designers who got it right</a></h3>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-intro.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-intro.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-intro.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>Out of all of the creative people in the world, designers have a very clear vision of what their online portfolio should look like. Their line of work demands a site that lives up to...</div>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-intro.html'>Read more<span class='link-icon int-arrow-right novi-icon'></span></a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-intro.html'>25</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>