<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h6 data-animate='{"class":"fadeInUp"}'>Blog</h6>
    <h1 data-animate='{"class":"fadeInUp"}'>Read the latest news & photography<br class='d-none d-sm-block' />tips published by our team</h1>
    <div class='owl-carousel owl-style-2' data-owl='{&quot;nav&quot;:true,&quot;autoplaySpeed&quot;:1000,&quot;smartSpeed&quot;:1000}' data-items='1' data-sm-items='2' data-md-items='1'>
      <article class='post post-side-large-2'>
        <div class='row row-30 justify-content-xl-between align-items-lg-center'>
          <div class='col-md-7'><a class='post-img-link' href='post-intro.html'><img src='images/image-68-730x469.jpg' alt='' width='730' height='469' /></a></div>
          <div class='col-md-5 col-xl-4'>
            <div class='post-inner'>
              <div class='post-meta'>
                <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-intro.html'>September 16, 2019</a></div>
              </div>
              <h3 class='post-title'><a href='post-intro.html'>Top 10 photography tips to improve the look of your photos</a></h3>
              <div class='post-text small'>Whether you are a beginner or more experienced with photography, here are some of our favorite tips...</div>
              <div class='post-meta'>
                <div class='post-meta-item'><a class='btn btn-lg btn-rect btn-dark post-btn' href='post-intro.html'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a></div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class='post post-side-large-2'>
        <div class='row row-30 justify-content-xl-between align-items-lg-center'>
          <div class='col-md-7'><a class='post-img-link' href='post-intro.html'><img src='images/image-69-730x469.jpg' alt='' width='730' height='469' /></a></div>
          <div class='col-md-5 col-xl-4'>
            <div class='post-inner'>
              <div class='post-meta'>
                <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-intro.html'>September 16, 2019</a></div>
              </div>
              <h3 class='post-title'><a href='post-intro.html'>How to Take Your Everyday Photography to the Next Level</a></h3>
              <div class='post-text small'>As with many hobbies, the great thing about photography is you can reignite your passion. So...</div>
              <div class='post-meta'>
                <div class='post-meta-item'><a class='btn btn-lg btn-rect btn-dark post-btn' href='post-intro.html'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a></div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class='post post-side-large-2'>
        <div class='row row-30 justify-content-xl-between align-items-lg-center'>
          <div class='col-md-7'><a class='post-img-link' href='post-intro.html'><img src='images/image-70-730x469.jpg' alt='' width='730' height='469' /></a></div>
          <div class='col-md-5 col-xl-4'>
            <div class='post-inner'>
              <div class='post-meta'>
                <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-intro.html'>September 16, 2019</a></div>
              </div>
              <h3 class='post-title'><a href='post-intro.html'>12 Common Photography Mistakes You Should Avoid</a></h3>
              <div class='post-text small'>None of us are perfect and we all make mistakes. While some photographers might be naturally...</div>
              <div class='post-meta'>
                <div class='post-meta-item'><a class='btn btn-lg btn-rect btn-dark post-btn' href='post-intro.html'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a></div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>