<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-9 col-lg-8'>
        <div class='post post-boxed'>
          <div class='post-meta post-meta-between'>
            <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post.html'>HTML</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post.html'>Adam Smith</a></div>
            <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post.html'>September 16, 2019</a></div>
            <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post.html'><span class='post-meta-icon int-chat novi-icon'></span><span>3</span></a></div>
          </div>
          <h3 class='post-title'><a href='post.html'>15 impressive examples of one-page website design picked by our team</a></h3><a class='post-img-link' href='post.html'><img src='images/image-05-760x489.jpg' alt='' width='760' height='489' /></a>
          <div class='post-text'>Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page.</div>
          <div class='post-meta post-meta-between post-meta-lg'>
            <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
              <div class='post-tags'>Tags: <a class='post-tag' href='post.html'>Web design</a>, <a class='post-tag' href='post.html'>Articles</a></div>
            </div>
            <div class='post-meta-item'><a class='btn btn-secondary' href='post.html'>Read more</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>