<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-6 col-lg-4'>
        <div class='post post-hover post-sm'>
          <div class='post-img-link'><a href='post-with-sidebar.html'><img src='images/image-06-400x257.jpg' alt='' width='400' height='257' /></a><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post-with-sidebar.html'>HTML</a></div>
          <div class='post-inner'>
            <h5 class='post-title'><a href='post-with-sidebar.html'>5 design tips that will increase your conversions</a></h5>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>If you want to increase ROI from your website, you can go about it in two ways: increase traffic or increase conversions. It is much easier to increase conversions...</div>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='btn btn-secondary' href='post-with-sidebar.html'>Read more</a></div>
              <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post-with-sidebar.html'><span class='post-meta-icon int-chat novi-icon'></span><span>25</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-lg-4'>
        <div class='post post-hover post-sm'>
          <div class='post-img-link'><a href='post-with-sidebar.html'><img src='images/image-10-400x257.jpg' alt='' width='400' height='257' /></a><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post-with-sidebar.html'>HTML</a></div>
          <div class='post-inner'>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Different sides of the dark user interface design</a></h5>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>Dark design is and always will be a trend. The level of darkness will always vary, but basically, it’s really hard to screw up a simple, dark design. This is...</div>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='btn btn-secondary' href='post-with-sidebar.html'>Read more</a></div>
              <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post-with-sidebar.html'><span class='post-meta-icon int-chat novi-icon'></span><span>25</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-lg-4'>
        <div class='post post-hover post-sm'>
          <div class='post-img-link'><a href='post-with-sidebar.html'><img src='images/image-11-400x257.jpg' alt='' width='400' height='257' /></a><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post-with-sidebar.html'>HTML</a></div>
          <div class='post-inner'>
            <h5 class='post-title'><a href='post-with-sidebar.html'>How to design accessible color systems</a></h5>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>Our team of developers and designers constantly explores ways of refining the color palette to make it more accessible and legible for users across all products...</div>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='btn btn-secondary' href='post-with-sidebar.html'>Read more</a></div>
              <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post-with-sidebar.html'><span class='post-meta-icon int-chat novi-icon'></span><span>25</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>