<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-6'>
        <div class='post post-hover post-sm'>
          <div class='post-img-link'><a href='post-with-sidebar.html'><img src='images/image-09-620x398.jpg' alt='' width='620' height='398' /></a><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post-with-sidebar.html'>HTML</a></div>
          <div class='post-inner'>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Top 10 essential web design trends</a></h5>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>This year may bring us a lot of surprises as standards in web design change and we experience lots...</div>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='btn btn-secondary' href='post-with-sidebar.html'>Read more</a></div>
              <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post-with-sidebar.html'><span class='post-meta-icon int-chat novi-icon'></span><span>25</span></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-xs-10 col-md-6'>
        <div class='post post-hover post-sm'>
          <div class='post-img-link'><a href='post-with-sidebar.html'><img src='images/image-05-620x398.jpg' alt='' width='620' height='398' /></a><a class='post-meta-link post-meta-linkbox post-meta-linkbox-primary' href='post-with-sidebar.html'>HTML</a></div>
          <div class='post-inner'>
            <h5 class='post-title'><a href='post-with-sidebar.html'>Top 10 essential web design trends</a></h5>
            <div class='post-meta'>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
            </div>
            <div class='post-text'>This year may bring us a lot of surprises as standards in web design change and we experience lots...</div>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='btn btn-secondary' href='post-with-sidebar.html'>Read more</a></div>
              <div class='post-meta-item'><a class='post-meta-link post-meta-linkbox' href='post-with-sidebar.html'><span class='post-meta-icon int-chat novi-icon'></span><span>25</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>