<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-12 post-area'>
        <div class='post post-creative post-sm'>
          <div class='post-creative-img'><img src='images/image-09-730x470.jpg' alt='' width='730' height='470' /></div>
          <div class='post-inner'>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-intro.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-intro.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-intro.html'>September 16, 2019</a></div>
            </div>
            <h3 class='post-title'><a href='post-intro.html'>Top 10 essential design trends that can revolutionize modern web design</a></h3>
            <div class='post-text'>This year may bring us a lot of surprises as standards in web design change and we experience lots of new trends. You can take these trends in and decide if they can help you.</div>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-intro.html'>Read more</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-intro.html'>25</a></div>
            </div>
          </div>
        </div>
        <div class='post post-creative post-sm post-creative-reverse'>
          <div class='post-creative-img'><img src='images/image-05-730x469.jpg' alt='' width='730' height='469' /></div>
          <div class='post-inner'>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-intro.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-intro.html'>Mark Rogers</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-intro.html'>September 16, 2019</a></div>
            </div>
            <h3 class='post-title'><a href='post-intro.html'>15 impressive examples of one-page website design picked by our team</a></h3>
            <div class='post-text'>Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page. We have gathered a collection of the best designs in this post.</div>
            <div class='post-meta'>
              <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-intro.html'>Read more</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-intro.html'>25</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>