<section class='section section-md bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center'>
      <div class='col-xs-10 col-md-6 col-xxl-7'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-09-730x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Adam Smith</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>3</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Top 10 essential design trends that can revolutionize modern web design and bring innovations</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>This year may bring us a lot of surprises as standards in web design change and we experience lots of new trends. You can take these trends in and decide if...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Web design</a>, <a class='post-tag' href='post-with-sidebar.html'>Articles</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-xxl-5'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/persons/person-06-510x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Adam Smith</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>3</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>15 impressive examples of one-page website design picked by our team</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page. We have gathered a collection...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Web design</a>, <a class='post-tag' href='post-with-sidebar.html'>Articles</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-xxl-5'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-06-510x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Mark Rogers</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>25</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>5 design tips that will increase your conversions</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>If you want to increase ROI from your website, you can go about it in two ways: increase traffic or increase conversions. It is much easier to increase conversions...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Design</a>, <a class='post-tag' href='post-with-sidebar.html'>UI/UX</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-xs-10 col-md-6 col-xxl-7'>
        <div class='post post-thumbnail novi-background post-sm' style='background-image: url( images/image-08-730x470.jpg)'>
          <div class='post-inner'>
            <div class='post-meta post-meta-between'>
              <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-with-sidebar.html'>HTML</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>Adam Smith</a></div>
              <div class='post-meta-item'></div>
              <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>September 16, 2019</a></div>
              <div class='post-meta-item'><span class='post-meta-icon int-chat novi-icon'></span><a class='post-meta-link' href='post-with-sidebar.html'>3</a></div>
            </div>
            <h4 class='post-title'><a href='post-with-sidebar.html'>Best examples of online portfolio: 10 designers who got it right and achieved their goals</a></h4>
            <div class='post-thumbnail-hover-content'>
              <div class='post-text'>Out of all of the creative people in the world, designers have a very clear vision of what their online portfolio should look like. Their line of work demands a site that lives up to...</div>
              <div class='post-meta post-meta-between post-meta-lg'>
                <div class='post-meta-item'><span class='post-meta-icon int-tag novi-icon'></span>
                  <div class='post-tags'>Tags: <a class='post-tag' href='post-with-sidebar.html'>Web design</a>, <a class='post-tag' href='post-with-sidebar.html'>Articles</a></div>
                </div>
                <div class='post-meta-item'><a class='btn btn-primary post-btn' href='post-with-sidebar.html'>Read more</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>