<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Plans type #4</h2>
    <div class='pricing-table-container'>
      <table class='pricing-table accordion accordion-small'>
        <thead>
          <tr class='pricing-table-header'>
            <th class='pricing-table-title h4'>The basics</th>
            <th>
              <div class='h3 pricing-table-column-title'>Pro</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </th>
            <th>
              <div class='h3 pricing-table-column-title'>Premium</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </th>
            <th>
              <div class='h3 pricing-table-column-title'>Business</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class='pricing-table-subheader'>
            <td class='pricing-table-meta'>Monthly price</td>
            <td>
              <div class='pricing-table-value h2'>$15<span class='pricing-table-postfix'>/mo</span></div>
            </td>
            <td>
              <div class='pricing-table-value h2'>$55<span class='pricing-table-postfix'>/mo</span></div>
            </td>
            <td>
              <div class='pricing-table-value h2'>$55<span class='pricing-table-postfix'>/mo</span></div>
            </td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-1'><a class='accordion-header accordion-group-table-1' href='#' data-multi-switch='{"targets":".accordion-table-1","isolate":".accordion-group-table-1"}'>Websites</a>
                <div class='accordion-body accordion-table-1' data-multi-switch-target-slide=''>With the help of Intense, you can easily design any type of website you need. Moreover, if you need several website on a single account, we will be glad to provide you with everything you need for that purpose.</div>
              </div>
            </td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>
              <div class='accordion-item accordion-table-2'><a class='accordion-header accordion-group-table-1' href='#' data-multi-switch='{"targets":".accordion-table-2","isolate":".accordion-group-table-1"}'>Pages</a>
                <div class='accordion-body accordion-table-2' data-multi-switch-target-slide=''>Intense contains a great variety of pages that will perfectly fit your website. From pre-designed blog layouts to portfolio pages, we offer our customers everything they need to build an appealing website.</div>
              </div>
            </td>
            <td>20</td>
            <td>35</td>
            <td>50</td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-3'><a class='accordion-header accordion-group-table-1' href='#' data-multi-switch='{"targets":".accordion-table-3","isolate":".accordion-group-table-1"}'>Website layouts</a>
                <div class='accordion-body accordion-table-3' data-multi-switch-target-slide=''>Intense offers lots of website layouts so you can select the one that meets your needs. Whether you need an impressively designed photographer portfolio or a business website, Intense has every required tool for that.</div>
              </div>
            </td>
            <td>3</td>
            <td>6</td>
            <td>9</td>
          </tr>
          <tr class='pricing-table-header'>
            <th class='pricing-table-title h4'>Features</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr class='pricing-table-row-empty'>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-4'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-4","isolate":".accordion-group-table-2"}'>Forms</a>
                <div class='accordion-body accordion-table-4' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr>
            <td>
              <div class='accordion-item accordion-table-5'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-5","isolate":".accordion-group-table-2"}'>Sliders</a>
                <div class='accordion-body accordion-table-5' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-6'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-6","isolate":".accordion-group-table-2"}'>Content blocks</a>
                <div class='accordion-body accordion-table-6' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr>
            <td>
              <div class='accordion-item accordion-table-7'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-7","isolate":".accordion-group-table-2"}'>Transitions</a>
                <div class='accordion-body accordion-table-7' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-8'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-8","isolate":".accordion-group-table-2"}'>24/7 Support</a>
                <div class='accordion-body accordion-table-8' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr class='pricing-table-row-empty'>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td>
              <div class='h3 pricing-table-column-title'>Pro</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </td>
            <td>
              <div class='h3 pricing-table-column-title'>Premium</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </td>
            <td>
              <div class='h3 pricing-table-column-title'>Business</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>