<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Plans type #5</h2>
    <div class='tab'>
      <ul class='nav nav-line' role='tablist'>
        <li class='nav-item'><a class='nav-link h6 active' data-toggle='tab' href='#navPrice1' role='tab' aria-selected='true'>Breakfast</a></li>
        <li class='nav-item'><a class='nav-link h6' data-toggle='tab' href='#navPrice2' role='tab' aria-selected='false'>Lunch</a></li>
        <li class='nav-item'><a class='nav-link h6' data-toggle='tab' href='#navPrice3' role='tab' aria-selected='false'>Dinner</a></li>
      </ul>
      <div class='tab-content'>
        <div class='tab-pane fade show active' id='navPrice1' role='tabpanel'>
          <div class='row row-30 novi-disabled'>
            <div class='col-md-6 pricing-list-area'>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$4.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>English breakfast</h6>
                  <div class='pricing-list-description'>Smoked streaky bacon, Cumberland sausage, black pudding, eggs, mushrooms &amp; grilled tomato, toast with butter &amp; preserves.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$11.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Vegetarian breakfast</h6>
                  <div class='pricing-list-description'>Eggs, spinach, sautéed potatoes, mushrooms &amp; grilled tomato,toast with butter &amp; preserves,tea or coffee, fresh orange or grapefruit juice.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$12.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Children’s breakfast</h6>
                  <div class='pricing-list-description'>Choice of cereals, eggy bread, fish finger stack, mini-English breakfast.</div>
                </div>
              </div>
            </div>
            <div class='col-md-6 pricing-list-area'>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$3.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Traditional breakfast</h6>
                  <div class='pricing-list-description'>Fried free range eggs, Cumberland sausage, smoked streaky bacon, roasted plum tomatoes, mushrooms &amp; toast.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$7.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Garden breakfast</h6>
                  <div class='pricing-list-description'>Poached free range eggs, halloumi, roasted plum tomatoes, charred red peppers, smashed avocado, hollandaise, and pea shoots.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$17.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Brunch</h6>
                  <div class='pricing-list-description'>Two fried free range eggs, smoked streaky bacon, Cumberland sausage, roasted plum tomatoes, mushrooms, and potato rösti.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='tab-pane fade' id='navPrice2' role='tabpanel'>
          <div class='row row-30 novi-disabled'>
            <div class='col-md-6 pricing-list-area'>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$7.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Crispy Honey Mustard Chicken Salad</h6>
                  <div class='pricing-list-description'>Our Original Crispy Chicken Tenders on a bed of fresh mixed greens. Topped with applewood smoked bacon &amp; Monterey Jack.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$13.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Apple BBQ Chicken Sandwich</h6>
                  <div class='pricing-list-description'>Flame-broiled boneless chicken breast, apple BBQ sauce and Vermont Cheddar cheese with applewood smoked bacon.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$15.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Soup &amp; House Salad</h6>
                  <div class='pricing-list-description'>A fresh House Salad paired with a crock of creamy chowder or steaming soup. Enjoy it with Heart of Caesar Wedge.</div>
                </div>
              </div>
            </div>
            <div class='col-md-6 pricing-list-area'>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$5.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Twin Catch</h6>
                  <div class='pricing-list-description'>Baked North Atlantic cod paired with tender shrimp and crusted with seasoned cracker crumbs and butter. Served with one side.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$16.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Honey BBQ Chicken Wrap</h6>
                  <div class='pricing-list-description'>Crispy chicken tenders drenched in honey BBQ sauce. Wrapped up with lettuce, tomatoes, Monterey Jack and cheddar cheeses.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$19.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Broiled Sirloin Tips</h6>
                  <div class='pricing-list-description'>Hand-cut and marinated with our secret recipe. A lunch-sized portion of our signature tips served with two sides.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='tab-pane fade' id='navPrice3' role='tabpanel'>
          <div class='row row-30 novi-disabled'>
            <div class='col-md-6 pricing-list-area'>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$17.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Baked Brie</h6>
                  <div class='pricing-list-description'>Honey and almond topped French cheese served with grapes, apples, strawberries and olive oil brushed croutons.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$21.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Mediterranean Platter</h6>
                  <div class='pricing-list-description'>Roasted garlic hummus, feta cheese, assorted olives and artichoke tapenade, topped with pickled red onions and pepperoncini.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$3.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Escargots</h6>
                  <div class='pricing-list-description'>Tender snails baked in our house garlic butter topped with crispy puff pastry.</div>
                </div>
              </div>
            </div>
            <div class='col-md-6 pricing-list-area'>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$14.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Colorado Lamb T-Bone</h6>
                  <div class='pricing-list-description'>Grilled, then lightly glazed with a balsamic, Dijon mustard, brown sugar reduction, then topped with house garlic butter.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$18.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Trout Amandine</h6>
                  <div class='pricing-list-description'>Pan-seared, sustainably-raised, whole boneless filet Rocky Mountain trout with brown butter and toasted almond sauce.</div>
                </div>
              </div>
              <div class='pricing-list'>
                <div class='pricing-list-value h6'>$27.89</div>
                <div class='pricing-list-content'>
                  <h6 class='pricing-list-title'>Roast Half Duck</h6>
                  <div class='pricing-list-description'>Slow-roasted Maple Leaf Farms duck served crisp and tender with choice of honey almond sauce or a fresh orange.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>