<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Plans type #1</h2>
    <div class='plans'>
      <div class='plans-switcher'>
        <div class='plans-switcher-text'>Monthly billing</div>
        <div>
          <div class='switch-toggle plans-toggle' data-multi-switch='{"targets":".switch-container-1"}'>
            <div class='guide'></div>
            <div class='slider'></div>
          </div>
        </div>
        <div>
          <div class='plans-switcher-text'>Annual billing</div>
          <div class='plans-switcher-subtext'>Save up to 20%</div>
        </div>
      </div>
      <div class='plans-switch-container switch-container switch-container-1'>
        <div class='switch-inner'>
          <div class='row row-30 align-items-end novi-disabled'>
            <div class='col-lg-4'>
              <div class='pricing pricing-box'>
                <div class='pricing-box-header'>
                  <div class='pricing-box-title h3'>Pro</div>
                  <div class='pricing-box-subtitle lead'>Ideal for getting started</div>
                  <div class='pricing-box-divider'></div>
                </div>
                <div class='pricing-box-body'>
                  <div class='pricing-box-value'>$15<span class='pricing-box-postfix'>/mo</span></div>
                  <div class='pricing-box-value-meta'>Billed monthly</div>
                  <ul class='pricing-box-list'>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>2 websites</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>20 pages</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>3 website layouts</li>
                  </ul><button class='btn btn-block btn-lg pricing-box-btn btn-primary'>Start a Free 7-day Trial</button>
                  <div class='pricing-box-links'><span>or</span><a class='pricing-box-link' href='#'>See More Features</a></div>
                </div>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='pricing pricing-box pricing-box-accent-secondary'>
                <div class='pricing-box-header'>
                  <div class='pricing-box-label'>Most popular</div>
                  <div class='pricing-box-title h3'>Premium</div>
                  <div class='pricing-box-subtitle lead'>Ideal for getting started</div>
                  <div class='pricing-box-divider'></div>
                </div>
                <div class='pricing-box-body'>
                  <div class='pricing-box-value'>$55<span class='pricing-box-postfix'>/mo</span></div>
                  <div class='pricing-box-value-meta'>Billed monthly</div>
                  <ul class='pricing-box-list'>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>3 websites</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>35 pages</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>6 website layouts</li>
                  </ul><button class='btn btn-block btn-lg pricing-box-btn btn-primary'>Start a Free 7-day Trial</button>
                  <div class='pricing-box-links'><span>or</span><a class='pricing-box-link' href='#'>See More Features</a></div>
                </div>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='pricing pricing-box'>
                <div class='pricing-box-header'>
                  <div class='pricing-box-title h3'>Business</div>
                  <div class='pricing-box-subtitle lead'>Ideal for getting started</div>
                  <div class='pricing-box-divider'></div>
                </div>
                <div class='pricing-box-body'>
                  <div class='pricing-box-value'>$85<span class='pricing-box-postfix'>/mo</span></div>
                  <div class='pricing-box-value-meta'>Billed monthly</div>
                  <ul class='pricing-box-list'>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>4 websites</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>50 pages</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>9 website layouts</li>
                  </ul><button class='btn btn-block btn-lg pricing-box-btn btn-primary'>Start a Free 7-day Trial</button>
                  <div class='pricing-box-links'><span>or</span><a class='pricing-box-link' href='#'>See More Features</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='switch-inner'>
          <div class='row row-30 align-items-end novi-disabled'>
            <div class='col-lg-4'>
              <div class='pricing pricing-box'>
                <div class='pricing-box-header'>
                  <div class='pricing-box-title h3'>Pro</div>
                  <div class='pricing-box-subtitle lead'>Ideal for getting started</div>
                  <div class='pricing-box-divider'></div>
                </div>
                <div class='pricing-box-body'>
                  <div class='pricing-box-value'>$10<span class='pricing-box-postfix'>/mo</span></div>
                  <div class='pricing-box-value-meta'>Billed monthly</div>
                  <ul class='pricing-box-list'>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>2 websites</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>30 pages</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>3 website layouts</li>
                  </ul><button class='btn btn-block btn-lg pricing-box-btn btn-primary'>Start a Free 7-day Trial</button>
                  <div class='pricing-box-links'><span>or</span><a class='pricing-box-link' href='#'>See More Features</a></div>
                </div>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='pricing pricing-box pricing-box-accent-secondary'>
                <div class='pricing-box-header'>
                  <div class='pricing-box-label'>Most popular</div>
                  <div class='pricing-box-title h3'>Premium</div>
                  <div class='pricing-box-subtitle lead'>Ideal for getting started</div>
                  <div class='pricing-box-divider'></div>
                </div>
                <div class='pricing-box-body'>
                  <div class='pricing-box-value'>$50<span class='pricing-box-postfix'>/mo</span></div>
                  <div class='pricing-box-value-meta'>Billed monthly</div>
                  <ul class='pricing-box-list'>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>3 websites</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>35 pages</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>6 website layouts</li>
                  </ul><button class='btn btn-block btn-lg pricing-box-btn btn-primary'>Start a Free 7-day Trial</button>
                  <div class='pricing-box-links'><span>or</span><a class='pricing-box-link' href='#'>See More Features</a></div>
                </div>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='pricing pricing-box'>
                <div class='pricing-box-header'>
                  <div class='pricing-box-title h3'>Business</div>
                  <div class='pricing-box-subtitle lead'>Ideal for getting started</div>
                  <div class='pricing-box-divider'></div>
                </div>
                <div class='pricing-box-body'>
                  <div class='pricing-box-value'>$80<span class='pricing-box-postfix'>/mo</span></div>
                  <div class='pricing-box-value-meta'>Billed monthly</div>
                  <ul class='pricing-box-list'>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>4 websites</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>50 pages</li>
                    <li><span class='pricing-box-list-icon int-check-circle-filled novi-icon'></span>9 website layouts</li>
                  </ul><button class='btn btn-block btn-lg pricing-box-btn btn-primary'>Start a Free 7-day Trial</button>
                  <div class='pricing-box-links'><span>or</span><a class='pricing-box-link' href='#'>See More Features</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='plans-description'><span>At the end of your trial, you may downgrade to our basic Free plan:</span><br /><span class='font-weight-normal'>1 website, 10 pages, 1 website layout.</span></div>
    </div>
  </div>
</section>