<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Compare Plans, Side by Side</h2>
    <p class='text-center'>Easy to switch at any time</p>
    <div class='pricing-table-container'>
      <table class='pricing-table accordion accordion-small'>
        <thead>
          <tr class='pricing-table-header'>
            <th class='pricing-table-title h4'>The basics</th>
            <th>
              <div class='h3 pricing-table-column-title'>Pro</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </th>
            <th>
              <div class='h3 pricing-table-column-title'>Premium</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </th>
            <th>
              <div class='h3 pricing-table-column-title'>Business</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class='pricing-table-subheader'>
            <td class='pricing-table-meta'>Monthly price</td>
            <td>
              <div class='pricing-table-value h2'>$15<span class='pricing-table-postfix'>/mo</span></div>
            </td>
            <td>
              <div class='pricing-table-value h2'>$55<span class='pricing-table-postfix'>/mo</span></div>
            </td>
            <td>
              <div class='pricing-table-value h2'>$55<span class='pricing-table-postfix'>/mo</span></div>
            </td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-1'><a class='accordion-header accordion-group-table-1' href='#' data-multi-switch='{"targets":".accordion-table-1","isolate":".accordion-group-table-1","state":true}'>Social accounts</a>
                <div class='accordion-body accordion-table-1' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td>8</td>
            <td>8</td>
            <td>8</td>
          </tr>
          <tr>
            <td>
              <div class='accordion-item accordion-table-2'><a class='accordion-header accordion-group-table-1' href='#' data-multi-switch='{"targets":".accordion-table-2","isolate":".accordion-group-table-1"}'>Scheduled posts per social account</a>
                <div class='accordion-body accordion-table-2' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td>8</td>
            <td>8</td>
            <td>8</td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-3'><a class='accordion-header accordion-group-table-1' href='#' data-multi-switch='{"targets":".accordion-table-3","isolate":".accordion-group-table-1"}'>Users</a>
                <div class='accordion-body accordion-table-3' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td>8</td>
            <td>8</td>
            <td>8</td>
          </tr>
          <tr class='pricing-table-header'>
            <th class='pricing-table-title h4'>Social Networks</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr class='pricing-table-row-empty'>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-4'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-4","isolate":".accordion-group-table-2"}'>Instagram</a>
                <div class='accordion-body accordion-table-4' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr>
            <td>
              <div class='accordion-item accordion-table-5'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-5","isolate":".accordion-group-table-2"}'>Facebook</a>
                <div class='accordion-body accordion-table-5' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-6'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-6","isolate":".accordion-group-table-2"}'>Twitter</a>
                <div class='accordion-body accordion-table-6' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr>
            <td>
              <div class='accordion-item accordion-table-7'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-7","isolate":".accordion-group-table-2"}'>LinkedIn</a>
                <div class='accordion-body accordion-table-7' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr class='pricing-table-row-fill'>
            <td>
              <div class='accordion-item accordion-table-8'><a class='accordion-header accordion-group-table-2' href='#' data-multi-switch='{"targets":".accordion-table-8","isolate":".accordion-group-table-2"}'>Pinterest</a>
                <div class='accordion-body accordion-table-8' data-multi-switch-target-slide=''>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
              </div>
            </td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
            <td><span class='int-check-circle-filled novi-icon text-dark h5'></span></td>
          </tr>
          <tr class='pricing-table-row-empty'>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td>
              <div class='h3 pricing-table-column-title'>Pro</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </td>
            <td>
              <div class='h3 pricing-table-column-title'>Premium</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </td>
            <td>
              <div class='h3 pricing-table-column-title'>Business</div><button class='btn btn-lg btn-primary pricing-table-btn'>Start Trial</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>