<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Plans type #3</h2>
    <div class='plans plans-column'>
      <div class='plans-switcher text-center text-lg-left'>
        <div class='switch-item'><span class='switch-item-label'>Monthly billing</span>
          <div class='switch-toggle-thin plans-toggle' data-multi-switch='{"targets":".switch-container-3"}'>
            <div class='guide'></div>
            <div class='slider'></div>
          </div>
        </div>
        <ul class='list list-divided plans-list-meta'>
          <li>Social accounts</li>
          <li>Scheduled posts</li>
          <li>User</li>
        </ul>
      </div>
      <div class='plans-switch-container'>
        <div class='plans-switch-inner switch-container switch-container-3'>
          <div class='switch-inner'>
            <div class='row row-30 no-gutters novi-disabled'>
              <div class='col-sm-6 col-lg-3'>
                <div class='pricing pricing-column'>
                  <div class='pricing-column-title h4'>Free</div>
                  <div class='pricing-column-subtitle'>Great choice</div>
                  <div class='pricing-column-divider'></div>
                  <div class='pricing-column-value'>$0<span class='pricing-column-postfix'>/mo</span></div>
                  <div class='pricing-column-value-meta'>Billed monthly</div>
                  <ul class='list list-divided pricing-column-list'>
                    <li>1 website</li>
                    <li>10 pages</li>
                    <li>1 website layout</li>
                  </ul><button class='btn btn-block btn-primary pricing-column-btn'>Sign up</button>
                  <div class='pricing-column-links'><span>or</span><a class='pricing-column-link' href='#'>See More Features</a></div>
                </div>
              </div>
              <div class='col-sm-6 col-lg-3'>
                <div class='pricing pricing-column pricing-column-accent'>
                  <div class='pricing-column-label'>Most popular</div>
                  <div class='pricing-column-title h4'>Basic</div>
                  <div class='pricing-column-subtitle'>Ideal for getting started</div>
                  <div class='pricing-column-divider'></div>
                  <div class='pricing-column-value'>$15<span class='pricing-column-postfix'>/mo</span></div>
                  <div class='pricing-column-value-meta'>Billed monthly</div>
                  <ul class='list list-divided pricing-column-list'>
                    <li>2 websites</li>
                    <li>20 pages</li>
                    <li>3 website layouts</li>
                  </ul><button class='btn btn-block btn-primary pricing-column-btn'>Sign up</button>
                  <div class='pricing-column-links'><span>or</span><a class='pricing-column-link' href='#'>See More Features</a></div>
                </div>
              </div>
              <div class='col-sm-6 col-lg-3'>
                <div class='pricing pricing-column'>
                  <div class='pricing-column-title h4'>Standard</div>
                  <div class='pricing-column-subtitle'>Perfect for all websites</div>
                  <div class='pricing-column-divider'></div>
                  <div class='pricing-column-value'>$55<span class='pricing-column-postfix'>/mo</span></div>
                  <div class='pricing-column-value-meta'>Billed monthly</div>
                  <ul class='list list-divided pricing-column-list'>
                    <li>3 websites</li>
                    <li>35 pages</li>
                    <li>6 website layouts</li>
                  </ul><button class='btn btn-block btn-primary pricing-column-btn'>Sign up</button>
                  <div class='pricing-column-links'><span>or</span><a class='pricing-column-link' href='#'>See More Features</a></div>
                </div>
              </div>
              <div class='col-sm-6 col-lg-3'>
                <div class='pricing pricing-column'>
                  <div class='pricing-column-title h4'>Premium</div>
                  <div class='pricing-column-subtitle'>For complex websites</div>
                  <div class='pricing-column-divider'></div>
                  <div class='pricing-column-value'>$85<span class='pricing-column-postfix'>/mo</span></div>
                  <div class='pricing-column-value-meta'>Billed monthly</div>
                  <ul class='list list-divided pricing-column-list'>
                    <li>4 websites</li>
                    <li>50 pages</li>
                    <li>9 website layouts</li>
                  </ul><button class='btn btn-block btn-primary pricing-column-btn'>Sign up</button>
                  <div class='pricing-column-links'><span>or</span><a class='pricing-column-link' href='#'>See More Features</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class='switch-inner'>
            <div class='row row-30 no-gutters novi-disabled'>
              <div class='col-sm-6 col-lg-3'>
                <div class='pricing pricing-column'>
                  <div class='pricing-column-title h4'>Free</div>
                  <div class='pricing-column-subtitle'>Great choice</div>
                  <div class='pricing-column-divider'></div>
                  <div class='pricing-column-value'>$0<span class='pricing-column-postfix'>/mo</span></div>
                  <div class='pricing-column-value-meta'>Billed monthly</div>
                  <ul class='list list-divided pricing-column-list'>
                    <li>1 website</li>
                    <li>10 pages</li>
                    <li>1 website layout</li>
                  </ul><button class='btn btn-block btn-primary pricing-column-btn'>Sign up</button>
                  <div class='pricing-column-links'><span>or</span><a class='pricing-column-link' href='#'>See More Features</a></div>
                </div>
              </div>
              <div class='col-sm-6 col-lg-3'>
                <div class='pricing pricing-column pricing-column-accent'>
                  <div class='pricing-column-label'>Most popular</div>
                  <div class='pricing-column-title h4'>Basic</div>
                  <div class='pricing-column-subtitle'>Ideal for getting started</div>
                  <div class='pricing-column-divider'></div>
                  <div class='pricing-column-value'>$10<span class='pricing-column-postfix'>/mo</span></div>
                  <div class='pricing-column-value-meta'>Billed monthly</div>
                  <ul class='list list-divided pricing-column-list'>
                    <li>2 websites</li>
                    <li>20 pages</li>
                    <li>3 website layouts</li>
                  </ul><button class='btn btn-block btn-primary pricing-column-btn'>Sign up</button>
                  <div class='pricing-column-links'><span>or</span><a class='pricing-column-link' href='#'>See More Features</a></div>
                </div>
              </div>
              <div class='col-sm-6 col-lg-3'>
                <div class='pricing pricing-column'>
                  <div class='pricing-column-title h4'>Standard</div>
                  <div class='pricing-column-subtitle'>Perfect for all websites</div>
                  <div class='pricing-column-divider'></div>
                  <div class='pricing-column-value'>$50<span class='pricing-column-postfix'>/mo</span></div>
                  <div class='pricing-column-value-meta'>Billed monthly</div>
                  <ul class='list list-divided pricing-column-list'>
                    <li>3 websites</li>
                    <li>35 pages</li>
                    <li>6 website layouts</li>
                  </ul><button class='btn btn-block btn-primary pricing-column-btn'>Sign up</button>
                  <div class='pricing-column-links'><span>or</span><a class='pricing-column-link' href='#'>See More Features</a></div>
                </div>
              </div>
              <div class='col-sm-6 col-lg-3'>
                <div class='pricing pricing-column'>
                  <div class='pricing-column-title h4'>Premium</div>
                  <div class='pricing-column-subtitle'>For complex websites</div>
                  <div class='pricing-column-divider'></div>
                  <div class='pricing-column-value'>$80<span class='pricing-column-postfix'>/mo</span></div>
                  <div class='pricing-column-value-meta'>Billed monthly</div>
                  <ul class='list list-divided pricing-column-list'>
                    <li>4 websites</li>
                    <li>50 pages</li>
                    <li>9 website layouts</li>
                  </ul><button class='btn btn-block btn-primary pricing-column-btn'>Sign up</button>
                  <div class='pricing-column-links'><span>or</span><a class='pricing-column-link' href='#'>See More Features</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='plans-description'><span>At the end of your trial, you may downgrade to our basic Free plan:</span><br /><span class='font-weight-normal'>1 website, 10 pages, 1 website layout.</span></div>
      </div>
    </div>
  </div>
</section>