<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-50 novi-disabled'>
      <div class='col-sm-4 col-lg-7'>
        <div class='row row-sm-20 gutters-20 product-overview-gallery' data-lightgallery=''>
          <div class='col-sm-12 col-lg-6'><a class='thumbnail-up-shadow lightgallery-item' href='images/products/product-13-710x910.jpg'><img src='images/products/product-13-355x455.jpg' alt='' width='355' height='455' /></a></div>
          <div class='col-sm-12 col-lg-6'><a class='thumbnail-up-shadow lightgallery-item' href='images/products/product-14-710x910.jpg'><img src='images/products/product-14-355x455.jpg' alt='' width='355' height='455' /></a></div>
          <div class='col-sm-12 col-lg-6'><a class='thumbnail-up-shadow lightgallery-item' href='images/products/product-15-710x910.jpg'><img src='images/products/product-15-355x455.jpg' alt='' width='355' height='455' /></a></div>
          <div class='col-sm-12 col-lg-6'><a class='thumbnail-up-shadow lightgallery-item' href='images/products/product-16-710x910.jpg'><img src='images/products/product-16-355x455.jpg' alt='' width='355' height='455' /></a></div>
          <div class='col-sm-12 col-lg-6'><a class='thumbnail-up-shadow lightgallery-item' href='images/products/product-17-710x910.jpg'><img src='images/products/product-17-355x455.jpg' alt='' width='355' height='455' /></a></div>
        </div>
      </div>
      <div class='col-sm-8 col-lg-5'>
        <div class='product-overview pl-xxl-5'>
          <div class='product-overview-item'>
            <div class='small font-weight-normal'>iPhone Cases</div>
            <h3 class='product-overview-name'>Phone case with chain</h3>
            <div class='product-overview-price'><del>$38</del><span>$34</span></div>
            <div class='product-overview-rating'>
              <div class='rating rating-orange'>
                <div class='rating-body'>
                  <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                </div>
              </div><a class='product-overview-review ml-4' href='#reviews' data-anchor-link=''>3 customer reviews</a>
            </div>
            <div class='product-overview-item'>
              <h6 class='product-overview-title'>Select size:</h6>
              <div class='group-10 d-flex flex-wrap'>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='eaws1k6tj7u' name='productSize' disabled='disabled' /> <label class='checkbox-tag-label' for='eaws1k6tj7u'>XS</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='rdu942106lh' name='productSize' /> <label class='checkbox-tag-label' for='rdu942106lh'>S</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='2wll9elc2im' name='productSize' /> <label class='checkbox-tag-label' for='2wll9elc2im'>S Tall</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='ujcb19aic3f' name='productSize' disabled='disabled' /> <label class='checkbox-tag-label' for='ujcb19aic3f'>M</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='ptmnupioeor' name='productSize' /> <label class='checkbox-tag-label' for='ptmnupioeor'>M Tall</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='imo9psiiqso' name='productSize' /> <label class='checkbox-tag-label' for='imo9psiiqso'>L</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='wik6texqk7a' name='productSize' /> <label class='checkbox-tag-label' for='wik6texqk7a'>L Tall</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='d9cac53g69k' name='productSize' /> <label class='checkbox-tag-label' for='d9cac53g69k'>XL</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='7pnob8fm1yj' name='productSize' /> <label class='checkbox-tag-label' for='7pnob8fm1yj'>XL Tall</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='6oj4wvx0xyu' name='productSize' /> <label class='checkbox-tag-label' for='6oj4wvx0xyu'>2XL</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='zmjt50b4e68' name='productSize' /> <label class='checkbox-tag-label' for='zmjt50b4e68'>2XL Tall</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='1wy84vsqsiu' name='productSize' disabled='disabled' /> <label class='checkbox-tag-label' for='1wy84vsqsiu'>3X</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='c1dftot5vru' name='productSize' disabled='disabled' /> <label class='checkbox-tag-label' for='c1dftot5vru'>3X Tall</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='tqhuhoumj' name='productSize' disabled='disabled' /> <label class='checkbox-tag-label' for='tqhuhoumj'>4XL</label></div>
                <div class='checkbox-tag'><input class='checkbox-tag-input' type='radio' id='pmiwc0zz75' name='productSize' disabled='disabled' /> <label class='checkbox-tag-label' for='pmiwc0zz75'>4XL Tall</label></div>
              </div>
            </div>
          </div>
          <div class='product-overview-item'>
            <h6 class='product-overview-title'>Select color:</h6>
            <div class='group-10 d-flex flex-wrap'>
              <div class='checkbox-color'><input class='checkbox-color-input' type='radio' id='afssjoj6bqd' name='productColor' /> <label class='checkbox-color-label' for='afssjoj6bqd'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
              <div class='checkbox-color checkbox-color-primary'><input class='checkbox-color-input' type='radio' id='3ugpin5jjic' name='productColor' /> <label class='checkbox-color-label' for='3ugpin5jjic'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
              <div class='checkbox-color checkbox-color-secondary'><input class='checkbox-color-input' type='radio' id='a56ux3illve' name='productColor' /> <label class='checkbox-color-label' for='a56ux3illve'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
              <div class='checkbox-color checkbox-color-warning'><input class='checkbox-color-input' type='radio' id='gxc5hz98njh' name='productColor' /> <label class='checkbox-color-label' for='gxc5hz98njh'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
              <div class='checkbox-color checkbox-color-danger'><input class='checkbox-color-input' type='radio' id='1zd04wpxts2' name='productColor' /> <label class='checkbox-color-label' for='1zd04wpxts2'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
              <div class='checkbox-color checkbox-color-dark'><input class='checkbox-color-input' type='radio' id='la13q8l1j3g' name='productColor' /> <label class='checkbox-color-label' for='la13q8l1j3g'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
              <div class='checkbox-color checkbox-color-info'><input class='checkbox-color-input' type='radio' id='u6oylycayee' name='productColor' /> <label class='checkbox-color-label' for='u6oylycayee'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
              <div class='checkbox-color checkbox-color-success'><input class='checkbox-color-input' type='radio' id='39vzvwoemne' name='productColor' /> <label class='checkbox-color-label' for='39vzvwoemne'><span class='checkbox-color-content int-check novi-icon'></span></label></div>
            </div>
          </div>
          <div class='product-overview-item'>
            <div class='d-flex flex-wrap align-items-end group-20'>
              <div class='form-group'><label class='d-block' for='input-quality'>Qty:</label> <input class='form-control form-control-inline' id='input-quality' data-spinner='' type='number' name='spinner' value='1' /></div>
              <div class='flex-grow-1'><a class='btn btn-block btn-lg btn-dark' href='cart.html'><span class='btn-icon int-cart novi-icon'></span><span>Add to Cart</span></a></div>
            </div>
          </div>
          <div class='product-overview-description'>
            <p>This iridescent phone case with a silver chain is a perfect choice for any lady looking for quality phone protection. This phone case:</p>
            <ul class='list list-marked'>
              <li class='list-item'>Is bright & lightweight;</li>
              <li class='list-item'>Fits any phone or smartphone;</li>
              <li class='list-item'>Offers full protection;</li>
              <li class='list-item'>Has additional inside pockets;</li>
              <li class='list-item'>Comes with a branded dust bag.</li>
            </ul>
            <div class='accordion accordion-classic'>
              <div class='accordion-item accordion-1'><a class='accordion-header' href='#' data-multi-switch='{"targets":".accordion-1"}'>Size & fit</a>
                <div class='accordion-body accordion-1' data-multi-switch-target-slide=''>
                  <ul class='list list-marked'>
                    <li class='list-item'>Designed to fit your daily style;</li>
                    <li class='list-item'>Use our guide to pick the best purchase option.</li>
                  </ul>
                </div>
              </div>
              <div class='accordion-item accordion-2'><a class='accordion-header' href='#' data-multi-switch='{"targets":".accordion-2","state":true}'>Free shipping & returns</a>
                <div class='accordion-body accordion-2' data-multi-switch-target-slide=''>
                  <p>Free worldwide shipping and 30-day free returns, only with us. We offer 3 different shipping options:</p>
                  <ul class='list list-marked'>
                    <li class='list-item'>Standard / arrives 2-4 business days</li>
                    <li class='list-item'>Two-day / arrives 2-3 business days</li>
                    <li class='list-item'>Next-day / arrives 1-2 business days</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>