<section class='section section-md bg-transparent novi-background' id='reviews'>
  <div class='container'>
    <h3>Customer reviews</h3>
    <div class='d-flex align-items-center mt-4'>
      <div class='rating rating-orange'>
        <div class='rating-body'>
          <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
        </div>
      </div>
      <div class='small ml-4'>Based on 3 reviews</div>
    </div><a class='btn btn-secondary' href='#'>Write a review</a>
    <hr class='divider divider-sm' />
    <div class='comment'>
      <div class='comment-title h5'>Great product!</div>
      <div class='rating rating-orange comment-rating'>
        <div class='rating-body'>
          <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
        </div>
      </div>
      <div class='comment-panel'>
        <ul class='comment-meta'>
          <li class='comment-meta-item'>by <span class='font-weight-medium'>Kevin Anderson</span></li>
          <li class='comment-meta-item'>Posted <time class='font-weight-medium' datetime='2019-09-16'>September 16, 2019</time></li>
        </ul>
      </div>
      <div class='comment-text'>Thank you for quick shipping and amazing quality of this product! My nephew is more than happy with what you provided.</div>
    </div>
    <hr class='divider divider-sm' />
    <div class='comment'>
      <div class='comment-title h5'>Amazing quality &amp; beautiful color</div>
      <div class='rating rating-orange comment-rating'>
        <div class='rating-body'>
          <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
        </div>
      </div>
      <div class='comment-panel'>
        <ul class='comment-meta'>
          <li class='comment-meta-item'>by <span class='font-weight-medium'>Adam Smith</span></li>
          <li class='comment-meta-item'>Posted <time class='font-weight-medium' datetime='2019-09-16'>September 16, 2019</time></li>
        </ul>
      </div>
      <div class='comment-text'>This product is not only beautiful &amp; bright, it is very reliable and of high quality. Thanks to your shop I now have what I was looking for.</div>
    </div>
    <hr class='divider divider-sm' />
    <div class='comment'>
      <div class='comment-title h5'>Best customer service</div>
      <div class='rating rating-orange comment-rating'>
        <div class='rating-body'>
          <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
        </div>
      </div>
      <div class='comment-panel'>
        <ul class='comment-meta'>
          <li class='comment-meta-item'>by <span class='font-weight-medium'>Sarah Peters</span></li>
          <li class='comment-meta-item'>Posted <time class='font-weight-medium' datetime='2019-09-16'>September 16, 2019</time></li>
        </ul>
      </div>
      <div class='comment-text'>My mom recommended this store and I’m not disappointed at all. Thank you for quick delivery and easy payment, I’ll surely use your website again.</div>
    </div>
  </div>
</section>