<section class='section section-lg bg-transparent novi-background' id='reviews'>
  <div class='container'>
    <div class='row justify-content-lg-end'>
      <div class='col-lg-11'>
        <div class='tab'>
          <ul class='nav nav-classic' role='tablist'>
            <li class='nav-item'><a class='nav-link h4 active' data-toggle='tab' href='#navClassic1-1' role='tab' aria-selected='true'>Information</a></li>
            <li class='nav-item'><a class='nav-link h4' data-toggle='tab' href='#navClassic1-2' role='tab' aria-selected='false'>Size & fit</a></li>
            <li class='nav-item'><a class='nav-link h4' data-toggle='tab' href='#navClassic1-3' role='tab' aria-selected='false'>Reviews</a></li>
          </ul>
          <div class='tab-content'>
            <div class='tab-pane fade show active' id='navClassic1-1' role='tabpanel'>
              <p>This vinyl backpack is extremely durable and useful. It features a unique design and is a good choice for storing whatever you need. The backpack also offers:</p>
              <ul class='list list-marked'>
                <li class='list-item'>Reliable zip locks;</li>
                <li class='list-item'>One front pocket;</li>
                <li class='list-item'>Adjustable shoulder straps;</li>
                <li class='list-item'>Internal zip pocket;</li>
                <li class='list-item'>Synthetic lining.</li>
              </ul>
            </div>
            <div class='tab-pane fade' id='navClassic1-2' role='tabpanel'>
              <ul class='list list-marked'>
                <li class='list-item'>Height = 19 cm; Length = 16 cm; Depth = 8 cm;</li>
                <li class='list-item'>Handle = 2 cm; Shoulder strap = 45 cm.</li>
              </ul>
            </div>
            <div class='tab-pane fade' id='navClassic1-3' role='tabpanel'>
              <h3>Customer reviews</h3>
              <div class='d-flex align-items-center mt-4'>
                <div class='rating rating-orange'>
                  <div class='rating-body'>
                    <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  </div>
                </div>
                <div class='small ml-4'>Based on 3 reviews</div>
              </div><a class='btn btn-secondary' href='#'>Write a review</a>
              <hr class='divider divider-sm' />
              <div class='comment'>
                <div class='comment-title h5'>Great product!</div>
                <div class='rating rating-orange comment-rating'>
                  <div class='rating-body'>
                    <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  </div>
                </div>
                <div class='comment-panel'>
                  <ul class='comment-meta'>
                    <li class='comment-meta-item'>by <span class='font-weight-medium'>Kevin Anderson</span></li>
                    <li class='comment-meta-item'>Posted <time class='font-weight-medium' datetime='2019-09-16'>September 16, 2019</time></li>
                  </ul>
                </div>
                <div class='comment-text'>Thank you for quick shipping and amazing quality of this product! My nephew is more than happy with what you provided.</div>
              </div>
              <hr class='divider divider-sm' />
              <div class='comment'>
                <div class='comment-title h5'>Amazing quality &amp; beautiful color</div>
                <div class='rating rating-orange comment-rating'>
                  <div class='rating-body'>
                    <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  </div>
                </div>
                <div class='comment-panel'>
                  <ul class='comment-meta'>
                    <li class='comment-meta-item'>by <span class='font-weight-medium'>Adam Smith</span></li>
                    <li class='comment-meta-item'>Posted <time class='font-weight-medium' datetime='2019-09-16'>September 16, 2019</time></li>
                  </ul>
                </div>
                <div class='comment-text'>This product is not only beautiful &amp; bright, it is very reliable and of high quality. Thanks to your shop I now have what I was looking for.</div>
              </div>
              <hr class='divider divider-sm' />
              <div class='comment'>
                <div class='comment-title h5'>Best customer service</div>
                <div class='rating rating-orange comment-rating'>
                  <div class='rating-body'>
                    <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                    <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  </div>
                </div>
                <div class='comment-panel'>
                  <ul class='comment-meta'>
                    <li class='comment-meta-item'>by <span class='font-weight-medium'>Sarah Peters</span></li>
                    <li class='comment-meta-item'>Posted <time class='font-weight-medium' datetime='2019-09-16'>September 16, 2019</time></li>
                  </ul>
                </div>
                <div class='comment-text'>My mom recommended this store and I’m not disappointed at all. Thank you for quick delivery and easy payment, I’ll surely use your website again.</div>
              </div>
              <div class='row row-offset-xl'>
                <div class='col-md-11 col-lg-10 col-xl-9 novi-disabled'>
                  <h3>Write a review</h3>
                  <p class='small mt-3'>Your email address will not be published. Required fields are marked *</p>
                  <form class='rd-mailform form-disabled'>
                    <div class='form-group'><label for='input-review'>Review *</label>
                      <div class='position-relative'><textarea class='form-control' id='input-review' name='review' placeholder='Say something nice...' data-constraints='@Required'></textarea></div>
                    </div>
                    <div class='form-group'><label for='input-name'>Name *</label>
                      <div class='position-relative'><input class='form-control' id='input-name' type='text' name='name' placeholder='Your name' data-constraints='@Required' /></div>
                    </div>
                    <div class='form-group'><label for='input-email'>E-mail *</label>
                      <div class='position-relative'><input class='form-control' id='input-email' type='email' name='email' placeholder='Your e-mail address' data-constraints='@Email @Required' /></div>
                    </div><button class='btn btn-lg btn-secondary' type='submit'>Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>