<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Linear bars</h2>
    <div class='row row-50 row-lg-80 row-xl-100'>
      <div class='col-12'>
        <div class='row justify-content-center novi-disabled'>
          <div class='col-md-8 col-lg-7 col-xl-6 progress-linear-area'>
            <div class='progress-linear progress-linear-lg progress-linear-shamrock-blue'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>HTML/CSS<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>75</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
              </div>
            </div>
            <div class='progress-linear progress-linear-lg progress-linear-blue-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>JavaScript<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>99</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
              </div>
            </div>
            <div class='progress-linear progress-linear-lg progress-linear-electric-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>UI/UX Design<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>45</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-12'>
        <div class='row justify-content-center novi-disabled'>
          <div class='col-md-8 col-lg-7 col-xl-6 progress-linear-area'>
            <div class='progress-linear progress-linear-reverse progress-linear-shamrock-blue'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>HTML/CSS<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>75</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
              </div>
            </div>
            <div class='progress-linear progress-linear-reverse progress-linear-blue-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>JavaScript<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>99</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
              </div>
            </div>
            <div class='progress-linear progress-linear-reverse progress-linear-electric-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>UI/UX Design<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>45</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-12'>
        <div class='row justify-content-center novi-disabled'>
          <div class='col-md-8 col-lg-7 col-xl-6 progress-linear-area'>
            <div class='progress-linear progress-linear-lg progress-linear-shamrock-blue'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>HTML/CSS<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>75</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
                <div class='progress-linear-text'>HTML &amp; CSS are used worldwide for website development.</div>
              </div>
            </div>
            <div class='progress-linear progress-linear-lg progress-linear-blue-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>JavaScript<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>99</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
                <div class='progress-linear-text'>JavaScript is a dynamic computer programming language.</div>
              </div>
            </div>
            <div class='progress-linear progress-linear-lg progress-linear-electric-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>UI/UX Design<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>45</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
                <div class='progress-linear-text'>UI &amp; UX design simplify interaction with interfaces.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-12'>
        <div class='row justify-content-center novi-disabled'>
          <div class='col-md-8 col-lg-7 col-xl-6 progress-linear-area'>
            <div class='progress-linear progress-linear-creative progress-linear-shamrock-blue'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                  <div class='progress-linear-counter-wrap'><span class='progress-linear-counter'>75</span>%</div>
                </div>
                <div class='progress-linear-text'>HTML/CSS</div>
              </div>
            </div>
            <div class='progress-linear progress-linear-creative progress-linear-blue-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                  <div class='progress-linear-counter-wrap'><span class='progress-linear-counter'>99</span>%</div>
                </div>
                <div class='progress-linear-text'>JavaScript</div>
              </div>
            </div>
            <div class='progress-linear progress-linear-creative progress-linear-electric-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                  <div class='progress-linear-counter-wrap'><span class='progress-linear-counter'>45</span>%</div>
                </div>
                <div class='progress-linear-text'>UI/UX Design</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>