<section class='section section-lg bg-transparent novi-background'>
  <div class='container text-center'>
    <h3>Pie charts</h3>
    <div class='row row-30 row-offset-lg'>
      <div class='col-sm-6 col-md-4'>
        <div class='progress-circle'>
          <div class='progress-circle-inner'><svg class='progress-circle-bar' x='0' y='0' width='170' height='170' viewbox='0 0 170 170'>
              <defs>
                <lineargradient id='ncmq917szd'>
                  <stop offset='0%' stop-color='#43dd93'></stop>
                  <stop offset='100%' stop-color='#28a8ff'></stop>
                </lineargradient>
              </defs>
              <circle class='bg' cx='85' cy='85' r='80'></circle>
              <circle class='fg clipped' cx='85' cy='85' r='80' style='stroke: url(#ncmq917szd)'></circle>
            </svg>
            <div class='progress-circle-counter-value'><span class='progress-circle-counter'>75</span>%</div>
          </div>
          <div class='progress-circle-title h5'>HTML/CSS</div>
          <div class='progress-circle-text small'>HTML &amp; CSS are used worldwide for website development.</div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4'>
        <div class='progress-circle'>
          <div class='progress-circle-inner'><svg class='progress-circle-bar' x='0' y='0' width='170' height='170' viewbox='0 0 170 170'>
              <defs>
                <lineargradient id='p03zt90c8q'>
                  <stop offset='0%' stop-color='#28a8ff'></stop>
                  <stop offset='100%' stop-color='#7d2eff'></stop>
                </lineargradient>
              </defs>
              <circle class='bg' cx='85' cy='85' r='80'></circle>
              <circle class='fg clipped' cx='85' cy='85' r='80' style='stroke: url(#p03zt90c8q)'></circle>
            </svg>
            <div class='progress-circle-counter-value'><span class='progress-circle-counter'>89</span>%</div>
          </div>
          <div class='progress-circle-title h5'>JavaScript</div>
          <div class='progress-circle-text small'>JavaScript is a dynamic computer programming language.</div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4'>
        <div class='progress-circle'>
          <div class='progress-circle-inner'><svg class='progress-circle-bar' x='0' y='0' width='170' height='170' viewbox='0 0 170 170'>
              <defs>
                <lineargradient id='zv28d7r7qe'>
                  <stop offset='0%' stop-color='#7d2eff'></stop>
                  <stop offset='100%' stop-color='#c728ff'></stop>
                </lineargradient>
              </defs>
              <circle class='bg' cx='85' cy='85' r='80'></circle>
              <circle class='fg clipped' cx='85' cy='85' r='80' style='stroke: url(#zv28d7r7qe)'></circle>
            </svg>
            <div class='progress-circle-counter-value'><span class='progress-circle-counter'>85</span>%</div>
          </div>
          <div class='progress-circle-title h5'>UI/UX Design</div>
          <div class='progress-circle-text small'>UI &amp; UX design simplify interaction with interfaces.</div>
        </div>
      </div>
    </div>
  </div>
</section>