<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-50 justify-content-between flex-lg-row-reverse novi-disabled' data-lightgallery=''>
      <div class='col-lg-6 col-xxl-5'>
        <div class='row row-30 row-xl-70'>
          <div class='col-lg-12'>
            <div class='person person-side'>
              <div class='person-side-left'><img class='person-img' src='images/persons/person-04-120x120.jpg' alt='' width='120' height='120' /></div>
              <div class='person-side-body'>
                <div class='person-title'><a href='team-member.html'>Mark Rogers</a></div>
                <div class='person-subtitle'>Lead designer</div>
              </div>
            </div>
          </div>
          <div class='col-md-10 col-lg-12'>
            <h2>Search engine optimization</h2>
            <p>Discover how our team makes your website show up in the list of top 10 search results.</p>
          </div>
          <div class='col-lg-12'>
            <h5>Project overview</h5>
            <p>SEO (Search Engine Optimization) is the practice of optimizing content to be discovered through a search engine’s organic search results. It demonstrates search engines that your content is the best result at hand.</p>
          </div>
          <div class='col-lg-12'>
            <h5>Details</h5>
            <p>Search engine optimization (SEO) is the art and science of getting pages to rank higher in search engines such as Google. This is a set of measures that includes a wide variety of useful techniques such as:</p>
            <ul class='list list-marked-arrow mt-4'>
              <li class='list-item'>Keyword research;</li>
              <li class='list-item'>Content marketing;</li>
              <li class='list-item'>Link building;</li>
              <li class='list-item'>On-page optimization;</li>
              <li class='list-item'>Site architecture optimization.</li>
            </ul>
          </div>
          <div class='col-lg-12'>
            <div class='group-30 d-flex text-dark'><a class='icon icon-sm icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-sm icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-sm icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-sm icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-sm icon-social int-linkedin novi-icon' href='#'></a></div>
          </div>
        </div>
      </div>
      <div class='col-lg-5 col-xxl-6'>
        <div class='row row-30 row-md-40'>
          <div class='col-6 col-sm-4 col-lg-12'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-05-1200x800.jpg'><img src='images/image-05-620x815.jpg' alt='' width='620' height='815' /></a></div>
          <div class='col-6 col-sm-4 col-lg-12'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-21-1200x800.jpg'><img src='images/image-21-620x815.jpg' alt='' width='620' height='815' /></a></div>
          <div class='col-6 col-sm-4 col-lg-12'><a class='thumbnail-up-shadow lightgallery-item' href='images/image-13-1200x800.jpg'><img src='images/image-13-620x815.jpg' alt='' width='620' height='815' /></a></div>
        </div>
      </div>
    </div>
  </div>
</section>