<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30' data-animate='{"class":"fadeInRight"}'>
      <div class='col-md-3 col-xl-2'>
        <h5>My projects</h5>
      </div>
      <div class='col-md-9 col-xl-6'>
        <h2>I have designed dozens of appealing interfaces for websites and web apps. Take a look at my projects below.</h2>
      </div>
      <div class='col-md-9 offset-md-3 col-xl-4 offset-xl-0 text-xl-right'>
        <div class='group-30 d-xl-inline-flex flex-xl-column'><a class='btn btn-lg btn-info' href='#'><span class='btn-icon int-behance novi-icon'></span><span>Behance</span></a><a class='btn btn-lg btn-danger' href='#'><span class='btn-icon int-dribble novi-icon'></span><span>Dribbble</span></a></div>
      </div>
    </div>
    <div class='row row-offset-xl row-30 row-md-40'>
      <div class='col-xs-10 col-md-6' data-animate='{"class":"fadeInUp"}'>
        <figure class='thumbnail thumbnail-louis novi-background'><img class='thumbnail-louis-image' src='images/partners/partner-1-inverse-180x49.png' alt='' width='180' height='49' />
          <figcaption class='thumbnail-louis-caption novi-background'>
            <div class='group-20 d-flex justify-content-between'>
              <div class='thumbnail-louis-title'>Website interface design</div><a class='link' href='portfolio-wide-vertical.html'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class='col-xs-10 col-md-6' data-animate='{"class":"fadeInUp"}'>
        <figure class='thumbnail thumbnail-louis novi-background'><img class='thumbnail-louis-image' src='images/partners/partner-4-inverse-107x31.png' alt='' width='107' height='31' />
          <figcaption class='thumbnail-louis-caption novi-background'>
            <div class='group-20 d-flex justify-content-between'>
              <div class='thumbnail-louis-title'>UX design</div><a class='link' href='portfolio-wide-vertical.html'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class='col-xs-10 col-md-6' data-animate='{"class":"fadeInUp"}'>
        <figure class='thumbnail thumbnail-louis novi-background'><img class='thumbnail-louis-image' src='images/partners/partner-3-inverse-180x45.png' alt='' width='180' height='45' />
          <figcaption class='thumbnail-louis-caption novi-background'>
            <div class='group-20 d-flex justify-content-between'>
              <div class='thumbnail-louis-title'>Motion design</div><a class='link' href='portfolio-wide-vertical.html'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class='col-xs-10 col-md-6' data-animate='{"class":"fadeInUp"}'>
        <figure class='thumbnail thumbnail-louis novi-background'><img class='thumbnail-louis-image' src='images/partners/partner-2-inverse-133x38.png' alt='' width='133' height='38' />
          <figcaption class='thumbnail-louis-caption novi-background'>
            <div class='group-20 d-flex justify-content-between'>
              <div class='thumbnail-louis-title'>Web application UI design</div><a class='link' href='portfolio-wide-vertical.html'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>