<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 row-xl-70' data-lightgallery=''>
      <div class='col-lg-12'>
        <h2>Search engine optimization</h2>
        <div class='owl-carousel' data-owl='{&quot;loop&quot;:false,&quot;dots&quot;:true}'><a class='thumbnail-zoom lightgallery-item' href='images/image-05-1280x700.jpg'><img src='images/image-05-1280x700.jpg' alt='' width='1280' height='700' /></a><a class='thumbnail-zoom lightgallery-item' href='images/image-06-1280x700.jpg'><img src='images/image-06-1280x700.jpg' alt='' width='1280' height='700' /></a><a class='thumbnail-zoom lightgallery-item' href='images/image-07-1280x700.jpg'><img src='images/image-07-1280x700.jpg' alt='' width='1280' height='700' /></a><a class='thumbnail-zoom lightgallery-item' href='images/image-13-1280x700.jpg'><img src='images/image-13-1280x700.jpg' alt='' width='1280' height='700' /></a><a class='thumbnail-zoom lightgallery-item' href='images/image-21-1280x700.jpg'><img src='images/image-21-1280x700.jpg' alt='' width='1280' height='700' /></a></div>
      </div>
      <div class='col-lg-6 col-xxl-5'>
        <h3>Project overview</h3>
        <p>SEO (Search Engine Optimization) is the practice of optimizing content to be discovered through a search engine’s organic search results. It demonstrates search engines that your content is the best result at hand.</p><a class='btn btn-primary btn-lg' href='#'>Order now</a>
        <div class='group-30 d-flex text-dark mt-5'><a class='icon icon-sm icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-sm icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-sm icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-sm icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-sm icon-social int-linkedin novi-icon' href='#'></a></div>
      </div>
      <div class='col-lg-6 col-xxl-5 offset-xxl-1 dl-area'>
        <h3>Details</h3>
        <p>Search engine optimization (SEO) is the art and science of getting pages to rank higher in search engines such as Google. This is a set of measures that includes a wide variety of useful techniques.</p>
        <dl class='dl-horizontal small'>
          <dt>Client:</dt>
          <dd>Ronald Oswald</dd>
        </dl>
        <dl class='dl-horizontal small'>
          <dt>E-mail:</dt>
          <dd><a href='mailto:#'>mail@example.com</a></dd>
        </dl>
        <dl class='dl-horizontal small'>
          <dt>Date of completion:</dt>
          <dd>04/11/2019</dd>
        </dl>
        <dl class='dl-horizontal small'>
          <dt>Last update:</dt>
          <dd>04/23/2019</dd>
        </dl>
        <dl class='dl-horizontal small'>
          <dt>Website:</dt>
          <dd><a href='#'>https://www.demolink.org</a></dd>
        </dl>
      </div>
    </div>
  </div>
</section>