<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Testimonials type #5</h2>
    <div class='row row-40 row-md-50'>
      <div class='col-sm-6 col-lg-4'>
        <article class='quote text-center'><img class='quote-author-image' src='images/persons/person-01-100x100.jpg' alt='' width='100' height='100' />
          <div class='rating quote-rating'>
            <div class='rating-body'>
              <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
              <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            </div>
          </div>
          <div class='quote-text h5'><q>Intense is full of great details and very useful tools. The template code is clear and easy-to-edit. Moreover, it is well-documented and supported.</q></div>
          <div class='quote-author'>
            <div class='quote-author-name'>Kevin Davis</div>
            <div class='quote-author-position'>Client</div>
          </div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='quote text-center'><img class='quote-author-image' src='images/persons/person-02-100x100.jpg' alt='' width='100' height='100' />
          <div class='rating quote-rating'>
            <div class='rating-body'>
              <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
              <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            </div>
          </div>
          <div class='quote-text h5'><q>It is a great template with everything my website needed. It took me a few hours to figure all out but it was worth the investment.</q></div>
          <div class='quote-author'>
            <div class='quote-author-name'>Paul Sanders</div>
            <div class='quote-author-position'>Client</div>
          </div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='quote text-center'><img class='quote-author-image' src='images/persons/person-03-100x100.jpg' alt='' width='100' height='100' />
          <div class='rating quote-rating'>
            <div class='rating-body'>
              <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
              <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            </div>
          </div>
          <div class='quote-text h5'><q>This template has lots of preconfigured child themes, effects, and components. It is a great choice if you need a customizable website.</q></div>
          <div class='quote-author'>
            <div class='quote-author-name'>Helen Wright</div>
            <div class='quote-author-position'>Client</div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>