<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Testimonials slider type #7</h2>
    <div class='row row-30 align-items-center'>
      <div class='col-sm-5 d-none d-sm-block'><img src='images/image-02-510x419.png' alt='' width='510' height='419' /></div>
      <div class='col-sm-7'>
        <div class='pl-xl-5'>
          <div class='owl-carousel' data-owl='{&quot;dots&quot;:true}'>
            <article class='quote'>
              <div class='rating quote-rating'>
                <div class='rating-body'>
                  <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                </div>
              </div>
              <div class='quote-text h5'><q>Intense is full of great details and very useful tools. The template code is clear and easy-to-edit. Moreover, it is well-documented and supported.</q></div>
              <div class='quote-author'>
                <div class='quote-author-name'>Kevin Davis</div>
                <div class='quote-author-position'>Client</div>
              </div>
            </article>
            <article class='quote'>
              <div class='rating quote-rating'>
                <div class='rating-body'>
                  <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                </div>
              </div>
              <div class='quote-text h5'><q>It is a great template with everything my website needed. It took me a few hours to figure all out but it was worth the investment.</q></div>
              <div class='quote-author'>
                <div class='quote-author-name'>Paul Sanders</div>
                <div class='quote-author-position'>Client</div>
              </div>
            </article>
            <article class='quote'>
              <div class='rating quote-rating'>
                <div class='rating-body'>
                  <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                </div>
              </div>
              <div class='quote-text h5'><q>This template has lots of preconfigured child themes, effects, and components. It is a great choice if you need a customizable website.</q></div>
              <div class='quote-author'>
                <div class='quote-author-name'>Helen Wright</div>
                <div class='quote-author-position'>Client</div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>