<section class='section section-lg parallax-container overlay-dark-07 context-dark novi-background' data-parallax-img='images/image-21-1920x970.jpg'>
  <div class='container'>
    <div class='row row-40 row-md-50'>
      <div class='col-sm-6 col-lg-4'>
        <article class='quote'>
          <div class='rating quote-rating'>
            <div class='rating-body'>
              <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
              <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            </div>
          </div>
          <div class='quote-text h5'><q>Intense is full of great details and very useful tools. The template code is clear and easy-to-edit. Moreover, it is well-documented and supported.</q></div>
          <div class='quote-author'>
            <div class='media media-md align-items-center'>
              <div class='media-left'><img class='quote-author-image' src='images/persons/person-01-64x64.jpg' alt='' width='64' height='64' /></div>
              <div class='media-body'>
                <div class='quote-author-name'>Kevin Davis</div>
                <div class='quote-author-position'>Client</div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='quote'>
          <div class='rating quote-rating'>
            <div class='rating-body'>
              <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
              <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            </div>
          </div>
          <div class='quote-text h5'><q>It is a great template with everything my website needed. It took me a few hours to figure all out but it was worth the investment.</q></div>
          <div class='quote-author'>
            <div class='media media-md align-items-center'>
              <div class='media-left'><img class='quote-author-image' src='images/persons/person-02-64x64.jpg' alt='' width='64' height='64' /></div>
              <div class='media-body'>
                <div class='quote-author-name'>Paul Sanders</div>
                <div class='quote-author-position'>Client</div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='quote'>
          <div class='rating quote-rating'>
            <div class='rating-body'>
              <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
              <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            </div>
          </div>
          <div class='quote-text h5'><q>This template has lots of preconfigured child themes, effects, and components. It is a great choice if you need a customizable website.</q></div>
          <div class='quote-author'>
            <div class='media media-md align-items-center'>
              <div class='media-left'><img class='quote-author-image' src='images/persons/person-03-64x64.jpg' alt='' width='64' height='64' /></div>
              <div class='media-body'>
                <div class='quote-author-name'>Helen Wright</div>
                <div class='quote-author-position'>Client</div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>