<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center' data-animate='{"class":"fadeInUp"}'>Recent testimonials<br />submitted by our clients</h2>
    <div class='row row-30 align-items-center'>
      <div class='col-sm-5 d-none d-sm-block' data-animate='{"class":"fadeInLeft"}'><img src='images/image-02-510x419.png' alt='' width='510' height='419' /></div>
      <div class='col-sm-7'>
        <div class='pl-xl-5'>
          <div class='owl-carousel' data-owl='{&quot;dots&quot;:true}'>
            <article class='quote'>
              <div class='rating quote-rating'>
                <div class='rating-body'>
                  <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                </div>
              </div>
              <div class='quote-text h5'><q>Intense is an innovative and professional company that has provided us with valuable software development services. We are very happy with our decision to cooperate with them.</q></div>
              <div class='quote-author'>
                <div class='quote-author-name'>Kevin Davis</div>
                <div class='quote-author-position'>Client</div>
              </div>
            </article>
            <article class='quote'>
              <div class='rating quote-rating'>
                <div class='rating-body'>
                  <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                </div>
              </div>
              <div class='quote-text h5'><q>Intense proved to be a professional service provider from the outset. We appreciate their proactive approach and ability to suggest improvements to a prospective solution.</q></div>
              <div class='quote-author'>
                <div class='quote-author-name'>Paul Sanders</div>
                <div class='quote-author-position'>Client</div>
              </div>
            </article>
            <article class='quote'>
              <div class='rating quote-rating'>
                <div class='rating-body'>
                  <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                  <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
                </div>
              </div>
              <div class='quote-text h5'><q>Our company has great respect for the technical and management capabilities of Intense, whose people are highly competent, easy to work with, and result-oriented.</q></div>
              <div class='quote-author'>
                <div class='quote-author-name'>Helen Wright</div>
                <div class='quote-author-position'>Client</div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>