<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Testimonials slider type #1</h2>
    <div class='owl-carousel owl-style-2' data-owl='{&quot;dots&quot;:true}' data-items='1' data-sm-items='2' data-md-items='3'>
      <article class='quote'>
        <div class='rating quote-rating'>
          <div class='rating-body'>
            <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          </div>
        </div>
        <div class='quote-text h5'><q>Intense is full of great details and very useful tools. The template code is clear and easy-to-edit. Moreover, it is well-documented and supported.</q></div>
        <div class='quote-author'>
          <div class='media media-md align-items-center'>
            <div class='media-left'><img class='quote-author-image' src='images/persons/person-01-64x64.jpg' alt='' width='64' height='64' /></div>
            <div class='media-body'>
              <div class='quote-author-name'>Kevin Davis</div>
              <div class='quote-author-position'>Client</div>
            </div>
          </div>
        </div>
      </article>
      <article class='quote'>
        <div class='rating quote-rating'>
          <div class='rating-body'>
            <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          </div>
        </div>
        <div class='quote-text h5'><q>It is a great template with everything my website needed. It took me a few hours to figure all out but it was worth the investment.</q></div>
        <div class='quote-author'>
          <div class='media media-md align-items-center'>
            <div class='media-left'><img class='quote-author-image' src='images/persons/person-02-64x64.jpg' alt='' width='64' height='64' /></div>
            <div class='media-body'>
              <div class='quote-author-name'>Paul Sanders</div>
              <div class='quote-author-position'>Client</div>
            </div>
          </div>
        </div>
      </article>
      <article class='quote'>
        <div class='rating quote-rating'>
          <div class='rating-body'>
            <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          </div>
        </div>
        <div class='quote-text h5'><q>This template has lots of preconfigured child themes, effects, and components. It is a great choice if you need a customizable website.</q></div>
        <div class='quote-author'>
          <div class='media media-md align-items-center'>
            <div class='media-left'><img class='quote-author-image' src='images/persons/person-03-64x64.jpg' alt='' width='64' height='64' /></div>
            <div class='media-body'>
              <div class='quote-author-name'>Helen Wright</div>
              <div class='quote-author-position'>Client</div>
            </div>
          </div>
        </div>
      </article>
      <article class='quote'>
        <div class='rating quote-rating'>
          <div class='rating-body'>
            <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          </div>
        </div>
        <div class='quote-text h5'><q>I’ve got really enjoyable experience with your product. Its easy setup is a huge plus for me. I even didn’t turn to support service.</q></div>
        <div class='quote-author'>
          <div class='media media-md align-items-center'>
            <div class='media-left'><img class='quote-author-image' src='images/persons/person-01-64x64.jpg' alt='' width='64' height='64' /></div>
            <div class='media-body'>
              <div class='quote-author-name'>Edward Williams</div>
              <div class='quote-author-position'>Client</div>
            </div>
          </div>
        </div>
      </article>
      <article class='quote'>
        <div class='rating quote-rating'>
          <div class='rating-body'>
            <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          </div>
        </div>
        <div class='quote-text h5'><q>I guess I’ll be a returning client of your company. Your Live Chat service is awesome. It allows to settle any issue 24/7 and do it quickly.</q></div>
        <div class='quote-author'>
          <div class='media media-md align-items-center'>
            <div class='media-left'><img class='quote-author-image' src='images/persons/person-02-64x64.jpg' alt='' width='64' height='64' /></div>
            <div class='media-body'>
              <div class='quote-author-name'>Matthew Lee</div>
              <div class='quote-author-position'>Client</div>
            </div>
          </div>
        </div>
      </article>
      <article class='quote'>
        <div class='rating quote-rating'>
          <div class='rating-body'>
            <div class='rating-empty'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
            <div class='rating-fill' style='width: 90%'><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span><span class='int-star'></span></div>
          </div>
        </div>
        <div class='quote-text h5'><q>Intense is a superb product for a reasonable price. Easy to read instructions are really helpful. Excellent, I have nothing to add.</q></div>
        <div class='quote-author'>
          <div class='media media-md align-items-center'>
            <div class='media-left'><img class='quote-author-image' src='images/persons/person-03-64x64.jpg' alt='' width='64' height='64' /></div>
            <div class='media-body'>
              <div class='quote-author-name'>Mary Roberts</div>
              <div class='quote-author-position'>Client</div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>