<section class='section section-lg context-dark bg-gradient-blue-violet novi-background'>
  <div class='container'>
    <div class='row row-40 row-xl-70 justify-content-center'>
      <div class='col-md-6 col-lg-5' data-animate='{"class":"fadeInLeft"}'>
        <h3>Various Menu Types</h3>
        <p>With RD Navbar you can create all kind of navigation elements: dropdown, megamenu, tabmenu and a lot more.</p><a class='btn btn-outline btn-light btn-anis' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'><span class='btn-icon int-cart novi-icon'></span><span>Buy Intense Now</span></a>
      </div>
      <div class='col-md-6 col-lg-5' data-animate='{"class":"fadeInRight"}'><img src='images/image-42-676x359.png' alt='' width='676' height='359' /></div>
    </div>
  </div>
</section>