<section class='section section-lg bg-900 context-dark novi-background'>
  <div class='container'>
    <h1>Reviews</h1>
    <div class='owl-carousel' data-owl='{&quot;dots&quot;:true}' data-items='1' data-md-items='2' data-xl-items='3'>
      <article class='review'>
        <div class='review-text h4'><q>The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. Create exactly what you need with our powerful bootstrap toolkit.</q></div>
        <div class='review-info'>
          <div class='review-author-name h6'>John Doe</div>
          <div class='review-time'><time datetime='2019-05-16'>May 16, 2019</time></div>
        </div>
      </article>
      <article class='review'>
        <div class='review-text h4'><q>The smartest and most flexible bootstrap template by TemplateMonster you've ever seen.</q></div>
        <div class='review-info'>
          <div class='review-author-name h6'>John Doe</div>
          <div class='review-time'><time datetime='2019-06-16'>June 16, 2019</time></div>
        </div>
      </article>
      <article class='review'>
        <div class='review-text h4'><q>The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. Create exactly what you need with our.</q></div>
        <div class='review-info'>
          <div class='review-author-name h6'>John Doe</div>
          <div class='review-time'><time datetime='2019-07-16'>July 16, 2019</time></div>
        </div>
      </article>
      <article class='review'>
        <div class='review-text h4'><q>The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. Create exactly what you need with our powerful bootstrap toolkit.</q></div>
        <div class='review-info'>
          <div class='review-author-name h6'>John Doe</div>
          <div class='review-time'><time datetime='2019-08-16'>August 16, 2019</time></div>
        </div>
      </article>
      <article class='review'>
        <div class='review-text h4'><q>The smartest and most flexible bootstrap template by TemplateMonster you've ever seen.</q></div>
        <div class='review-info'>
          <div class='review-author-name h6'>John Doe</div>
          <div class='review-time'><time datetime='2019-09-16'>September 16, 2019</time></div>
        </div>
      </article>
      <article class='review'>
        <div class='review-text h4'><q>The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. Create exactly what you need with our.</q></div>
        <div class='review-info'>
          <div class='review-author-name h6'>John Doe</div>
          <div class='review-time'><time datetime='2019-10-16'>October 16, 2019</time></div>
        </div>
      </article>
    </div>
  </div>
</section>