<section class='section'>
  <div class='rev_slider_wrapper fullscreen-container context-dark bg-900 text-center' id='rev_slider_crossfade_wrapper'>
    <div class='rev_slider fullscreenbanner' id='rev_slider_crossfade' style='display:none;' data-version='5.4.1'>
      <ul>
        <li data-transition='crossfade' data-delay='9000'><img class='rev-slidebg' src='images/image-23-1920x817.jpg' alt='' data-bgposition='center center' data-kenburns='on' data-duration='30000' data-ease='Linear.easeNone' data-scalestart='140' data-scaleend='100' data-bgparallax='15' />
          <div class='rev_row_zone rev_row_zone_middle'>
            <div class='tp-caption' data-type='row' data-frames='[{&quot;delay&quot;:10,&quot;speed&quot;:400,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:400,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'>
              <div class='tp-caption' data-type='column' data-columnwidth='100%' data-frames='[{&quot;delay&quot;:&quot;+0&quot;,&quot;speed&quot;:400,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;opacity:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:400,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'>
                <section class='section-sm'>
                  <div class='container'>
                    <div class='row justify-content-sm-center align-items-sm-center novi-disabled'>
                      <div class='col-xl-10'>
                        <div class='tp-caption' data-type='text' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[200%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:550;e:Power4.easeInOut;' data-transform_out='opacity:0;s:300;e:Power1.easeOut;s:300;e:Power1.easeOut;' data-mask_in='x:0px;y:0px;' data-start='0' data-splitin='chars' data-splitout='none' data-elementdelay='0.06'>
                          <h1 class='text-uppercase'>Welcome to Intense</h1>
                        </div>
                        <div class='tp-caption mt-4' data-type='text' data-whitespace='normal' data-frames='[{&quot;delay&quot;:550,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'>
                          <h5>The smartest and most flexible bootstrap template by TemplateMonster you've ever seen. Create exactly what you need with our powerful bootstrap toolkit.</h5>
                        </div>
                        <div class='tp-caption mt-4' data-type='text' data-whitespace='normal' data-frames='[{&quot;delay&quot;:950,&quot;speed&quot;:1600,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'><a class='btn btn-lg btn-light btn-outline btn-anis' href='https://www.templatemonster.com/intense-multipurpose-html-template.html' target='_blank'>Buy intense now</a></div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li data-transition='crossfade' data-delay='9000'><img class='rev-slidebg' src='images/image-58-1920x180.jpg' alt='' data-bgposition='center center' data-kenburns='on' data-duration='30000' data-ease='Linear.easeNone' data-scalestart='140' data-scaleend='100' data-bgparallax='15' />
          <div class='rev_row_zone rev_row_zone_middle'>
            <div class='tp-caption' data-type='row' data-frames='[{&quot;delay&quot;:10,&quot;speed&quot;:400,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:400,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'>
              <div class='tp-caption' data-type='column' data-columnwidth='100%' data-frames='[{&quot;delay&quot;:&quot;+0&quot;,&quot;speed&quot;:400,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;opacity:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:400,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'>
                <section class='section-sm'>
                  <div class='container'>
                    <div class='row justify-content-sm-center align-items-sm-center novi-disabled'>
                      <div class='col-xl-10'>
                        <div class='tp-caption' data-type='text' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[200%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:550;e:Power4.easeInOut;' data-transform_out='opacity:0;s:300;e:Power1.easeOut;s:300;e:Power1.easeOut;' data-mask_in='x:0px;y:0px;' data-start='0' data-splitin='chars' data-splitout='none' data-elementdelay='0.06'>
                          <h1 class='text-uppercase'>Built as a framework</h1>
                        </div>
                        <div class='tp-caption mt-4' data-type='text' data-whitespace='normal' data-frames='[{&quot;delay&quot;:550,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'>
                          <h5>Intense was designed as extended version of bootstrap, built as a complex and flexible solution with a dozen of completely new utilities, components and plugins.</h5>
                        </div>
                        <div class='tp-caption mt-4' data-type='text' data-whitespace='normal' data-frames='[{&quot;delay&quot;:950,&quot;speed&quot;:1600,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'><a class='btn btn-lg btn-light btn-outline btn-anis' href='ui-kit.html'>See it in action</a></div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li data-transition='crossfade' data-delay='9000'><img class='rev-slidebg' src='images/image-57-1920x180.jpg' alt='' data-bgposition='center center' data-kenburns='on' data-duration='30000' data-ease='Linear.easeNone' data-scalestart='140' data-scaleend='100' data-bgparallax='15' />
          <div class='rev_row_zone rev_row_zone_middle'>
            <div class='tp-caption' data-type='row' data-frames='[{&quot;delay&quot;:10,&quot;speed&quot;:400,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:400,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'>
              <div class='tp-caption' data-type='column' data-columnwidth='100%' data-frames='[{&quot;delay&quot;:&quot;+0&quot;,&quot;speed&quot;:400,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;opacity:0;&quot;,&quot;to&quot;:&quot;opacity:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:400,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'>
                <section class='section-sm'>
                  <div class='container'>
                    <div class='row justify-content-sm-center align-items-sm-center novi-disabled'>
                      <div class='col-xl-10'>
                        <div class='tp-caption' data-type='text' data-whitespace='normal' data-transform_idle='o:1;' data-transform_in='y:[200%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:550;e:Power4.easeInOut;' data-transform_out='opacity:0;s:300;e:Power1.easeOut;s:300;e:Power1.easeOut;' data-mask_in='x:0px;y:0px;' data-start='0' data-splitin='chars' data-splitout='none' data-elementdelay='0.06'>
                          <h1 class='text-uppercase'>Unlimited Opportunities</h1>
                        </div>
                        <div class='tp-caption mt-4' data-type='text' data-whitespace='normal' data-frames='[{&quot;delay&quot;:550,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'>
                          <h5>Intense is the easiest way for you to build different sites without using many themes.</h5>
                        </div>
                        <div class='tp-caption mt-4' data-type='text' data-whitespace='normal' data-frames='[{&quot;delay&quot;:950,&quot;speed&quot;:1600,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]'><a class='btn btn-lg btn-light btn-outline btn-anis' href='#'>Discover child themes</a></div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class='tp-bannertimer' style='height: 10px; background: rgba(255,255,255,0.25);'></div>
    </div>
    <div class='rev-slider-preloader'>
      <div class='rev-slider-preloader-item'>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>