<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h6 class='text-primary'>Our services & solutions</h6>
    <h2>We deliver the best web design, development,<br />and digital marketing services for you</h2>
    <div class='row row-offset-lg row-30 row-md-40'>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-modern'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
            <div class='blurb-title h5'>Responsive web design services</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Our primary specialization is creative and responsive web design that ensures optimal viewing experience.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-modern'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
            <div class='blurb-title h5'>Web development of any complexity</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>We also develop functional and feature-rich websites that are built to strengthen your business.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-modern'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
            <div class='blurb-title h5'>Online marketing & PR services</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Our marketing services are great for increasing conversions and traffic to your website to help you reach the set goals.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-modern'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
            <div class='blurb-title h5'>Copywriting and content management</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Need quality and engaging content for your website or marketing campaign? We can easily help you with it.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-modern'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
            <div class='blurb-title h5'>Branding strategy and logo design</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>The team of Intense can help you create a proper brand identity that plays a vital role in your company’s success.</div>
        </article>
      </div>
      <div class='col-sm-6 col-lg-4'>
        <article class='blurb blurb-modern'>
          <div class='blurb-header'>
            <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
            <div class='blurb-title h5'>Search engine optimization</div>
          </div>
          <hr class='blurb-divider divider divider-sm' />
          <div class='blurb-text'>Our affordable SEO services deliver a modern SEO strategy designed to engage your customers.</div>
        </article>
      </div>
    </div>
  </div>
</section>