<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h6 data-animate='{"class":"fadeInUp"}'>Best photography solutions</h6>
  </div>
  <div class='swiper-container mt-5' style='min-height: 75vh'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide section-lg px-xl-5 align-items-lg-end context-dark overlay-dark-02' style='background-image: url( images/image-71-1920x700.jpg )'>
        <div class='container'>
          <div class='row row-20 justify-content-between align-items-end'>
            <div class='col-sm-8 col-md-6'>
              <h2>Photos that are a perfect reflection of your lifestyle</h2>
              <p class='small'>Lifestyle photography services capture the precious moments of<br class='d-none d-lg-block' />your life that you value instead of capturing staged photos.</p>
            </div>
            <div class='col-auto'><a class='link small' href='#'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a></div>
          </div>
        </div>
      </div>
      <div class='swiper-slide section-lg px-xl-5 align-items-lg-end context-dark' style='background-image: url( images/image-72-1920x700.jpg )'>
        <div class='container'>
          <div class='row row-20 justify-content-between align-items-end'>
            <div class='col-sm-8 col-md-6'>
              <h2>Corporate photography for all your business needs</h2>
              <p class='small'>Corporate photography helps businesses of all kinds to build trust<br class='d-none d-lg-block' />online and individuals to connect with their audience.</p>
            </div>
            <div class='col-auto'><a class='link small' href='#'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a></div>
          </div>
        </div>
      </div>
      <div class='swiper-slide section-lg px-xl-5 align-items-lg-end context-dark overlay-dark' style='background-image: url( images/image-73-1920x700.jpg )'>
        <div class='container'>
          <div class='row row-20 justify-content-between align-items-end'>
            <div class='col-sm-8 col-md-6'>
              <h2>Architectural & commercial photography services</h2>
              <p class='small'>Through architectural and commercial photography services, we<br class='d-none d-lg-block' />help express companies’ stories to fuel the brand images.</p>
            </div>
            <div class='col-auto'><a class='link small' href='#'>Learn more<span class='link-icon int-arrow-right novi-icon'></span></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class='swiper-pagination d-xl-none'></div>
    <div class='swiper-button-prev d-none d-xl-flex'></div>
    <div class='swiper-button-next d-none d-xl-flex'></div>
  </div>
</section>