<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Your fit. Your style</h2>
    <p class='text-center'>Create exactly what you need with our powerful bootstrap toolkit.</p>
    <div class='row row-50 novi-disabled'>
      <div class='col-12'>
        <div class='row row-30 row-sm-40 row-md-50 row-offset-lg'>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-10-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Black baseball cap</a></div>
              <div class='product-price'><span>$12</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig","delay":"0.15s"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-01-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Iridescent iPhone case</a></div>
              <div class='product-price'><span>$19</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig","delay":"0.3s"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-02-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div><span class='badge badge-dark product-badge'>New</span>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Black analogue watch</a></div>
              <div class='product-price'><span>$43</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig","delay":"0.45s"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-03-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div><span class='badge badge-danger product-badge'>-22%</span>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Ombré vinyl backpack</a></div>
              <div class='product-price'><del>$37</del><span>$29</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-11-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Golden earrings</a></div>
              <div class='product-price'><span>$24</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig","delay":"0.15s"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-04-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Iridescent tote bag</a></div>
              <div class='product-price'><span>$27</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig","delay":"0.3s"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-05-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Stationery collection</a></div>
              <div class='product-price'><span>$33</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig","delay":"0.45s"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-06-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Iridescent belt bag</a></div>
              <div class='product-price'><span>$9</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-12-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>White sneakers</a></div>
              <div class='product-price'><span>$45</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig","delay":"0.15s"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-07-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Pom pom pen</a></div>
              <div class='product-price'><span>$2</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig","delay":"0.3s"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-08-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div><span class='badge badge-danger product-badge'>-11%</span>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Phone case with chain</a></div>
              <div class='product-price'><del>$38</del><span>$34</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product' data-animate='{"class":"fadeInUpBig","delay":"0.45s"}'>
              <div class='product-figure'><img class='product-image' src='images/products/product-09-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Rose eau de toilette</a></div>
              <div class='product-price'><span>$39</span></div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>