<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h1 class='text-center'>Grid shop</h1>
    <div class='row row-50 novi-disabled'>
      <div class='col-12'>
        <div class='product-toolbar justify-content-center justify-content-sm-between'>
          <div class='product-toolbar-item'>
            <div class='group-20'><a class='product-toolbar-icon icon-xs int-grid novi-icon active' href='grid-shop-left-sidebar.html'></a><a class='product-toolbar-icon icon-xs int-list novi-icon' href='list-shop-left-sidebar.html'></a></div>
          </div>
          <div class='product-toolbar-item'>1-9 of 15</div>
          <div class='product-toolbar-item'>
            <div class='group-20'><span>Show:</span> <input class='form-control form-control-sm form-control-inline' type='text' data-masked='99' value='09' size='5' /></div>
          </div>
        </div>
        <div class='row row-30 row-sm-40 row-md-50 row-offset-lg'>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-10-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Black baseball cap</a></div>
              <div class='product-price'><span>$12</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-01-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Iridescent iPhone case</a></div>
              <div class='product-price'><span>$19</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-02-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div><span class='badge badge-dark product-badge'>New</span>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Black analogue watch</a></div>
              <div class='product-price'><span>$43</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-03-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div><span class='badge badge-danger product-badge'>-22%</span>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Ombré vinyl backpack</a></div>
              <div class='product-price'><del>$37</del><span>$29</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-11-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Golden earrings</a></div>
              <div class='product-price'><span>$24</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-04-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Iridescent tote bag</a></div>
              <div class='product-price'><span>$27</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-05-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Stationery collection</a></div>
              <div class='product-price'><span>$33</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-06-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Iridescent belt bag</a></div>
              <div class='product-price'><span>$9</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-12-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>White sneakers</a></div>
              <div class='product-price'><span>$45</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-07-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Pom pom pen</a></div>
              <div class='product-price'><span>$2</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-08-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div><span class='badge badge-danger product-badge'>-11%</span>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Phone case with chain</a></div>
              <div class='product-price'><del>$38</del><span>$34</span></div>
            </article>
          </div>
          <div class='col-6 col-md-4 col-lg-3'>
            <article class='product'>
              <div class='product-figure'><img class='product-image' src='images/products/product-09-290x372.jpg' alt='' width='290' height='372' />
                <div class='product-link'><a class='icon icon-circle icon-xs icon-primary-filled int-cart novi-icon' href='product-page.html'></a></div>
              </div>
              <div class='product-title h6'><a href='product-page.html'>Rose eau de toilette</a></div>
              <div class='product-price'><span>$39</span></div>
            </article>
          </div>
        </div>
        <ul class='pag pag-simple justify-content-center'>
          <li class='pag-simple-item active'><a class='pag-simple-link' href='#'>1</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link' href='#'>2</a></li>
          <li class='pag-simple-item'><a class='pag-simple-link pag-simple-link-next' href='#'><span>Next</span><span class='int-arrow-right novi-icon'></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>