<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30'>
      <div class='col-sm-6 col-md-4 col-lg-3'>
        <div class='widget'>
          <h6 class='widget-title'>Categories list</h6>
          <div class='widget-body'>
            <ul class='widget-list'>
              <li><a class='link-inherit' href='#'>News</a></li>
              <li><a class='link-inherit' href='#'>Trends</a></li>
              <li><a class='link-inherit' href='#'>Tips</a></li>
              <li><a class='link-inherit' href='#'>Design tools</a></li>
              <li><a class='link-inherit' href='#'>Web development</a></li>
              <li><a class='link-inherit' href='#'>Resources</a></li>
              <li><a class='link-inherit' href='#'>Portfolio inspiration</a></li>
              <li><a class='link-inherit' href='#'>Reviews</a></li>
              <li><a class='link-inherit' href='#'>Graphics</a></li>
              <li><a class='link-inherit' href='#'>UI/UX design</a></li>
              <li><a class='link-inherit' href='#'>Interviews</a></li>
              <li><a class='link-inherit' href='#'>Content ideas</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4 col-lg-3'>
        <div class='widget'>
          <h6 class='widget-title'>Recent post</h6>
          <div class='widget-body post-area'>
            <div class='post post-simple post-sm'>
              <h5 class='post-title'><a href='post-intro.html'>This year’s top 10 essential design trends</a></h5>
              <div class='post-meta'>
                <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-intro.html'>HTML</a></div>
                <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-intro.html'>September 16, 2019</a></div>
              </div>
            </div>
            <div class='post post-simple post-sm'>
              <h5 class='post-title'><a href='post-intro.html'>15 impressive examples of one-page website design</a></h5>
              <div class='post-meta'>
                <div class='post-meta-item'><a class='post-meta-link post-meta-link-primary' href='post-intro.html'>HTML</a></div>
                <div class='post-meta-item'><span class='post-meta-icon int-clock novi-icon'></span><a class='post-meta-link' href='post-intro.html'>September 16, 2019</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4 col-lg-3'>
        <div class='widget'>
          <h6 class='widget-title'>Recent comments</h6>
          <div class='widget-body'>
            <div class='post post-simple post-sm'>
              <div class='post-meta'>
                <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-intro.html'>Mark Rogers</a></div>
              </div>
              <h5 class='post-title'><a href='post-intro.html'>Best examples of online portfolio websites</a></h5>
            </div>
            <div class='post post-simple post-sm'>
              <div class='post-meta'>
                <div class='post-meta-item'><span class='post-meta-icon int-user novi-icon'></span><a class='post-meta-link' href='post-intro.html'>Mark Rogers</a></div>
              </div>
              <h5 class='post-title'><a href='post-intro.html'>5 design tips that will increase your conversions</a></h5>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4 col-lg-3'>
        <div class='widget'>
          <h6 class='widget-title'>Archive list</h6>
          <div class='widget-body'>
            <ul class='widget-list'>
              <li><a class='link-inherit' href='#'>November 2019</a><span>2</span></li>
              <li><a class='link-inherit' href='#'>October 2019</a><span>14</span></li>
              <li><a class='link-inherit' href='#'>September 2019</a><span>8</span></li>
              <li><a class='link-inherit' href='#'>August 2019</a><span>3</span></li>
              <li><a class='link-inherit' href='#'>July 2019</a><span>1</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>