<section class='section section-lg overlay-dark-08 context-dark bg-image novi-background' style='background-image: linear-gradient(#171724 0%, transparent 51.86%), url( images/image-19-1920x1247.jpg )'>
  <div class='container'>
    <div class='row row-50 row-lg-80 row-xl-100 row-xxl-150 novi-disabled'>
      <div class='col-12'>
        <div class='row row-40 justify-content-lg-between novi-disabled'>
          <div class='col-md-5' data-animate='{"class":"fadeInUp"}'>
            <h2>Skills and experience that shape eCommerce</h2>
            <p>Our team combines expertise with unique set of skills for our clients’ success.</p>
          </div>
          <div class='col-md-7 col-lg-6 progress-linear-area'>
            <div class='progress-linear progress-linear-lg progress-linear-shamrock-blue'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>Creative Thinking<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>75</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
                <div class='progress-linear-text'>Many of the problems we face require creative approach and thinking.</div>
              </div>
            </div>
            <div class='progress-linear progress-linear-lg progress-linear-blue-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>Communication<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>99</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
                <div class='progress-linear-text'>Effective communication plays one of the primary roles in our work.</div>
              </div>
            </div>
            <div class='progress-linear progress-linear-lg progress-linear-electric-violet'>
              <div class='progress-linear-inner'>
                <div class='progress-linear-title'>Research<span class='progress-linear-counter-wrap'> — <span class='progress-linear-counter'>45</span>%</span></div>
                <div class='progress-linear-body'>
                  <div class='progress-linear-bar'></div>
                </div>
                <div class='progress-linear-text'>We carry out a vast amount of research to provide efficient solutions.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-12'>
        <div class='row row-40 justify-content-lg-between novi-disabled'>
          <div class='col-md-5' data-animate='{"class":"fadeInUp"}'>
            <h2>We've helped businesses increase their revenue on average by 90% in their first year with us!</h2>
            <p>Here are some statistics showing the results of our recent projects.</p>
          </div>
          <div class='col-md-7 col-lg-6'>
            <div class='row row-40'>
              <div class='col-auto col-xs-6'>
                <div class='counter'>
                  <div class='counter-body'>
                    <div class='counter-value h1'><span class='counter-prefix'>$</span><span data-counter=''>2</span><span class='counter-postfix'>m+</span></div>
                    <div class='counter-title'>Amount of Increased<br />Revenue</div>
                  </div>
                </div>
              </div>
              <div class='col-auto col-xs-6'>
                <div class='counter'>
                  <div class='counter-body'>
                    <div class='counter-value h1'><span data-counter=''>2478</span></div>
                    <div class='counter-title'>Regular Clients and<br />Partners</div>
                  </div>
                </div>
              </div>
              <div class='col-auto col-xs-6'>
                <div class='counter'>
                  <div class='counter-body'>
                    <div class='counter-value h1'><span class='counter-prefix'>+</span><span data-counter=''>83</span><span class='counter-postfix'>%</span></div>
                    <div class='counter-title'>Avg. Annual Increase<br />in Traffic</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>