<section class='section section-lg bg-transparent novi-background'>
  <div class='container' data-animate='{"class":"fadeInRight"}'>
    <div class='row row-30'>
      <div class='col-md-3 col-xl-2'>
        <h5>Skills</h5>
      </div>
      <div class='col-md-9 col-xl-6'>
        <h2>UI/UX design, Application design, UX research, Visual communication, Prototyping, Wireframing, HTML/CSS/JavaScript</h2>
      </div>
      <div class='col-md-9 offset-md-3 col-xl-4 offset-xl-0'>
        <div class='group-40 d-flex flex-wrap justify-content-xxl-between pl-xl-3'><img src='images/logos/logo-07-64x64.png' alt='' width='64' height='64' /><img src='images/logos/logo-08-64x64.png' alt='' width='64' height='64' /><img src='images/logos/logo-09-64x64.png' alt='' width='64' height='64' /><img src='images/logos/logo-10-64x64.png' alt='' width='64' height='64' /></div>
      </div>
    </div>
  </div>
</section>