<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row novi-disabled'>
      <div class='col-lg-8 col-xl-6 offset-lg-1'>
        <h2>I’m a creator</h2>
        <h4>I got my start as a web and software designer, but soon became obsessed with the world of audience building and book publishing.</h4>
      </div>
    </div>
    <div class='row row-offset-lg justify-content-center novi-disabled'>
      <div class='col-lg-10'>
        <div class='row row-30 row-md-40'>
          <div class='col-sm-6'><a class='offer-box offer-box-link' href='#'>
              <h5 class='offer-box-title'>The app design handbook</h5>
              <div class='offer-box-text'>This handbook is a perfect giude to the world of web design for both beginners and seasoned experts.</div>
              <div class='offer-box-icon novi-icon int-arrow-right'></div>
            </a></div>
          <div class='col-sm-6'><a class='offer-box offer-box-link' href='#'>
              <h5 class='offer-box-title'>Designing web applications</h5>
              <div class='offer-box-text'>In my second book I’ve decided to dive deeper into the world of web apps and describe how they are built.</div>
              <div class='offer-box-icon novi-icon int-arrow-right'></div>
            </a></div>
          <div class='col-sm-6'><a class='offer-box offer-box-link' href='#'>
              <h5 class='offer-box-title'>Figma for web design</h5>
              <div class='offer-box-text'>My recent book is aimed at professional web designers who are just discovering Figma as a web design tool.</div>
              <div class='offer-box-icon novi-icon int-arrow-right'></div>
            </a></div>
        </div>
      </div>
    </div>
  </div>
</section>