<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Snackbars</h2>
    <div class='row justify-content-center'>
      <div class='col-md-8 col-lg-6 col-xxl-4'>
        <div class='snackbar snackbar-primary'>
          <div class='snackbar-inner'>
            <div class='snackbar-title'><span class='icon snackbar-icon novi-icon int-check'></span>Message sent</div>
          </div>
        </div>
        <div class='snackbar snackbar-primary'>
          <div class='snackbar-inner'>
            <div class='snackbar-title'><span class='icon snackbar-icon novi-icon int-check'></span>Marked as read</div><button class='link link-primary'>Undo</button>
          </div>
        </div>
        <div class='snackbar snackbar-secondary'>
          <div class='snackbar-inner'>
            <div class='snackbar-title'><span class='icon snackbar-icon novi-icon fa-circle-o-notch fa-spin'></span>Sending</div><button class='link link-secondary'>Undo</button>
          </div>
        </div>
        <div class='snackbar snackbar-danger'>
          <div class='snackbar-inner'>
            <div class='snackbar-title'><span class='icon snackbar-icon novi-icon int-warning'></span>Form submission failed</div><button class='link link-danger'>Retry</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>