<section class='section section-xl bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 row-lg-50 row-xl-70 row-xxl-90'>
      <div class='col-sm-6 col-md-4' data-animate='{"class":"fadeInUp"}'>
        <div class='person person-gray person-md'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-04-400x400.jpg' alt='' width='400' height='400' /></a>
          <div class='person-title'><a href='team-member.html'>Mark Rogers</a></div>
          <div class='person-subtitle'>Lead Designer</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4' data-animate='{"class":"fadeInUp","delay":"0.15s"}'>
        <div class='person person-gray person-md'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-05-400x400.jpg' alt='' width='400' height='400' /></a>
          <div class='person-title'><a href='team-member.html'>Edward Rivera</a></div>
          <div class='person-subtitle'>Senior Developer</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4' data-animate='{"class":"fadeInUp","delay":"0.3s"}'>
        <div class='person person-gray person-md'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-06-400x400.jpg' alt='' width='400' height='400' /></a>
          <div class='person-title'><a href='team-member.html'>John Wilson</a></div>
          <div class='person-subtitle'>CEO, Founder, Creative Director</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4' data-animate='{"class":"fadeInUp"}'>
        <div class='person person-gray person-md'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-01-400x400.jpg' alt='' width='400' height='400' /></a>
          <div class='person-title'><a href='team-member.html'>Daniel Reed</a></div>
          <div class='person-subtitle'>UX Designer</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
      <div class='col-sm-6 col-md-4' data-animate='{"class":"fadeInUp","delay":"0.15s"}'>
        <div class='person person-gray person-md'><a class='person-img-link' href='team-member.html'><img class='person-img' src='images/persons/person-08-400x400.jpg' alt='' width='400' height='400' /></a>
          <div class='person-title'><a href='team-member.html'>Jean Hall</a></div>
          <div class='person-subtitle'>Back End Developer</div>
          <div class='person-social'><a class='person-icon icon-social novi-icon int-twitter' href='#'></a></div>
        </div>
      </div>
    </div>
  </div>
</section>