<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <h3 data-animate='{"class":"fadeInUp"}'>The proof is in the numbers!</h3>
    <div class='row row-30 justify-content-center justify-content-xl-between'>
      <div class='col-xs-6 col-md-4' data-animate='{"class":"fadeInUp"}'>
        <div class='counter'>
          <div class='counter-body'>
            <div class='counter-value h1'><span class='counter-prefix'>+</span><span data-counter=''>278</span><span class='counter-postfix'>%</span> <svg class='text-primary' width='.62em' height='.62em' viewBox='0 0 41 41'>
                <path d='M11.5222 40.67L0.566195 29.714L21.0922 9.188L15.3502 3.446L40.4302 0.805998L37.7902 25.886L32.0482 20.144L11.5222 40.67Z' fill='currentColor'></path>
              </svg></div>
            <div class='counter-title'>Increase in revenue</div>
          </div>
        </div><img src='images/partners/partner-1-180x49.png' alt='' width='180' height='49' />
      </div>
      <div class='col-xs-6 col-md-4' data-animate='{"class":"fadeInUp"}'>
        <div class='counter'>
          <div class='counter-body'>
            <div class='counter-value h1'><span class='counter-prefix'>+</span><span data-counter=''>146</span><span class='counter-postfix'>%</span> <svg class='text-primary' width='.62em' height='.62em' viewBox='0 0 41 41'>
                <path d='M11.5222 40.67L0.566195 29.714L21.0922 9.188L15.3502 3.446L40.4302 0.805998L37.7902 25.886L32.0482 20.144L11.5222 40.67Z' fill='currentColor'></path>
              </svg></div>
            <div class='counter-title'>Increase in traffic</div>
          </div>
        </div><img src='images/partners/partner-2-133x38.png' alt='' width='133' height='38' />
      </div>
      <div class='col-xs-6 col-md-4' data-animate='{"class":"fadeInUp"}'>
        <div class='counter'>
          <div class='counter-body'>
            <div class='counter-value h1'><span class='counter-prefix'>+</span><span data-counter=''>541</span><span class='counter-postfix'>%</span> <svg class='text-primary' width='.62em' height='.62em' viewBox='0 0 41 41'>
                <path d='M11.5222 40.67L0.566195 29.714L21.0922 9.188L15.3502 3.446L40.4302 0.805998L37.7902 25.886L32.0482 20.144L11.5222 40.67Z' fill='currentColor'></path>
              </svg></div>
            <div class='counter-title'>Increase in conversion</div>
          </div>
        </div><img src='images/partners/partner-3-180x45.png' alt='' width='180' height='45' />
      </div>
    </div>
  </div>
</section>