<section class='section section-lg overlay-secondary-06 bg-image pt-5 novi-background' style='background-image: url(images/image-31-1920x954.jpg)'>
  <div class='container'>
    <div class='context-dark'>
      <ul class='breadcrumb'>
        <li class='breadcrumb-item'><a class='breadcrumb-link' href='index.html'>Home</a></li>
        <li class='breadcrumb-item'><a class='breadcrumb-link' href='#'>Pages</a></li>
        <li class='breadcrumb-item'><span class='breadcrumb-text breadcrumb-active'>Subscribe</span></li>
      </ul>
      <h1 class='text-center'>Subscribe</h1>
    </div>
    <div class='row row-offset-lg row-30 justify-content-center novi-disabled'>
      <div class='col-md-11 col-lg-8'>
        <article class='accent-box'>
          <h4 class='accent-box-title'>Discover the latest trends in<br class='d-none d-xs-block' />design and tech</h4>
          <p class='accent-box-text'>Trying to stay on top of it all? Get the best tools, resources and inspiration sent to your inbox weekly.</p>
          <form class='accent-box-form form-inline group-20 rd-mailform novi-disabled' data-form-output='form-output' data-form-type='subscribe' method='post' action='components/rd-mailform/rd-mailform.php'>
            <div class='form-inline-group'><input class='form-control' type='email' placeholder='Your e-mail address' name='email' data-constraints='@Email' /></div><button class='btn btn-lg btn-primary' type='submit'>Subscribe</button>
          </form>
          <div class='form-output snackbar snackbar-secondary' id='form-output'></div>
          <div class='offset-md small'>By clicking the button you agree to the <u class='font-weight-medium'></u><a class='link-inherit' href='privacy-policy.html'>Privacy Policy</a> and <u class='font-weight-medium'></u><a class='link-inherit' href='#'>Terms and Conditions</a></div>
        </article>
      </div>
    </div>
  </div>
</section>