<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Table type #1</h2>
    <h4 class='table-title'>Recent users</h4>
    <table class='table table-responsive-xl table-striped table-classic'>
      <thead>
        <tr>
          <th class='text-center' style='min-width: 50px; width: 5.5%'>
            <div class='icon icon-xs int-sort-up novi-icon'></div>
          </th>
          <th style='min-width: 280px; width: 25.3%'>Name & surname</th>
          <th style='min-width: 320px; width: 25.3%'>E-mail</th>
          <th class='text-center' style='min-width: 70px; width: 18.6%'>Account status</th>
          <th style='min-width: 220px; width: 25.3%'>Registration date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='text-center'>#1</td>
          <td><a href='#'>Douglas Ross</a></td>
          <td>dross@demolink.org<span class='badge badge-primary ml-2'>Primary</span></td>
          <td class='text-center'>
            <div class='int-check novi-icon'></div>
          </td>
          <td><time datetime='2019-01-01'>2019/01/01</time></td>
        </tr>
        <tr>
          <td class='text-center'>#2</td>
          <td><a href='#'>William Torres</a></td>
          <td>wtorres@demolink.org<span class='badge badge-warning ml-2'>Warning</span></td>
          <td class='text-center'>
            <div class='int-check novi-icon'></div>
          </td>
          <td><time datetime='2019-01-12'>2019/01/12</time></td>
        </tr>
        <tr>
          <td class='text-center'>#3</td>
          <td><a href='#'>Maria Bell</a></td>
          <td>mbell@demolink.org</td>
          <td class='text-center'>
            <div class='int-close novi-icon'></div>
          </td>
          <td><time datetime='2019-01-17'>2019/01/17</time></td>
        </tr>
        <tr>
          <td class='text-center'>#4</td>
          <td><a href='#'>Ruth Carter</a></td>
          <td>rcarter@demolink.org<span class='badge badge-danger ml-2'>Danger</span></td>
          <td class='text-center'>
            <div class='int-check novi-icon'></div>
          </td>
          <td><time datetime='2019-01-24'>2019/01/24</time></td>
        </tr>
        <tr>
          <td class='text-center'>#5</td>
          <td><a href='#'>Christopher Smith</a></td>
          <td>csmith@demolink.org</td>
          <td class='text-center'>
            <div class='int-check novi-icon'></div>
          </td>
          <td><time datetime='2019-01-31'>2019/01/31</time></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>