<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 justify-content-lg-between novi-disabled'>
      <div class='col-md-4'>
        <h4>Team demographics</h4>
        <p>At Intense, we employ top experts in the web design and development. Here are some interesting facts about our team.</p>
      </div>
      <div class='col-md-8 col-lg-7'>
        <div>
          <div class='row'>
            <div class='col-6 col-xs-5 col-md-6 col-xl-5'>
              <div class='counter'>
                <div class='counter-body'>
                  <div class='counter-value h1'><span data-counter=''>57</span><span class='counter-postfix'>%</span></div>
                  <div class='counter-title'>Men</div>
                </div>
              </div>
            </div>
            <div class='col-6 col-xs-5 col-md-6 col-xl-5'>
              <div class='counter'>
                <div class='counter-body'>
                  <div class='counter-value h1'><span data-counter=''>43</span><span class='counter-postfix'>%</span></div>
                  <div class='counter-title'>Women</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class='divider divider-sm' />
        <p class='small'>All of our staff members are certified and seasoned professionals.<br class='d-none d-xs-block' />We are always open to talented and ambitious people looking forward to join our team.</p>
        <div class='offset-sm group-30 d-flex align-items-center flex-wrap flex-xs-nowrap'>
          <h3>Want to help build the future of the web design industry?</h3>
          <div class='flex-shrink-0'><a class='btn btn-lg btn-secondary' href='contact-us.html'>Join Our Team</a></div>
        </div>
      </div>
    </div>
  </div>
</section>