<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 justify-content-center justify-content-md-between novi-disabled'>
      <div class='col-9 col-xs-7 col-sm-6 col-md-4 text-center'><img class='rounded-circle' src='images/persons/person-06-400x400.jpg' alt='' width='400' height='400' /><a class='btn btn-lg btn-primary' href='contact-me.html'>Free Consultation</a>
        <div class='offset-sm'>
          <div class='d-inline-flex align-items-center'><span class='icon icon-xs novi-icon int-phone mr-2'></span>
            <div class='h5'><a href='tel:#'>+1 234 567 8901</a></div>
          </div>
        </div>
        <div class='offset-xxs'><a class='font-weight-normal' href='mailto:#'>jwilson@demolink.org</a></div>
        <div class='offset-sm'>
          <div class='group-30 d-inline-flex text-900'><a class='icon icon-sm icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-sm icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-sm icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-sm icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-sm icon-social int-linkedin novi-icon' href='#'></a></div>
        </div>
      </div>
      <div class='col-md-7'>
        <div class='row row-30 row-md-50'>
          <div class='col-12'>
            <h2>Hello, I’m John Wilson.<br />I’m the CEO, founder & creative director of Intense.</h2>
          </div>
          <div class='col-12'>
            <h5>A few words about me</h5>
            <p>As the CEO of Intense, I oversee the business and manage our projects. I also do a lot of the 'hands-on' work across all aspects of the business whenever possible. I also act as a creative director of the company. My responsibilities include managing the brand of Intense as well as leading our creative team.</p>
            <p>When I founded Intense in 1999, I haven’t imagined what it will grow into. Today my company is not only a successful web studio & digital agency. It’s also a well-known brand known for the following core values:</p>
          </div>
          <div class='col-12'>
            <ol class='list list-ordered h5'>
              <li class='list-item'>Creativity</li>
              <li class='list-item'>Quality</li>
              <li class='list-item'>Service</li>
              <li class='list-item'>Honesty</li>
              <li class='list-item'>Commitment</li>
              <li class='list-item'>Integrity</li>
              <li class='list-item'>Care</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>