<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-40 novi-background'>
      <div class='col-xs-10 col-md-5'><img class='rounded-lg' src='images/persons/person-04-510x510.jpg' alt='' width='510' height='510' /><a class='btn btn-block btn-lg btn-primary' href='contact-me.html'>Get in Touch</a>
        <div class='offset-md'>
          <div class='d-inline-flex align-items-center'><span class='icon icon-xs int-phone novi-icon mr-2'></span>
            <div class='h5'><a href='tel:#'>+1 234 567 8901</a></div>
          </div>
        </div>
        <ul class='list list-xs small'>
          <li class='list-item'>Monday-Friday: 8am - 6pm</li>
          <li class='list-item'>Saturday-Sunday: 8am - 2pm</li>
          <li class='list-item'>Holidays: closed</li>
        </ul>
        <div class='offset-xs'><a class='font-weight-normal' href='mailto:#'>mrogers@demolink.org</a></div>
        <div class='offset-sm'>
          <div class='group-30 d-inline-flex text-900'><a class='icon icon-sm icon-social int-youtube novi-icon' href='#'></a><a class='icon icon-sm icon-social int-facebook novi-icon' href='#'></a><a class='icon icon-sm icon-social int-instagram novi-icon' href='#'></a><a class='icon icon-sm icon-social int-twitter novi-icon' href='#'></a><a class='icon icon-sm icon-social int-linkedin novi-icon' href='#'></a></div>
        </div>
      </div>
      <div class='col-md-7'>
        <div class='pl-xl-4'>
          <div class='row row-30 row-md-40 row-xl-60'>
            <div class='col-12'>
              <h2>Hello,<br />I’m Mark Rogers.<br />I’m the lead designer at Intense where I create stunning websites.</h2>
            </div>
            <div class='col-12'>
              <h5>I design products</h5>
              <p>I’m a web designer/developer focused on crafting great web experiences. Designing has been my passion since the days I started working with computers but I found myself into web design since 2007. I enjoy creating beautifully designed, intuitive and functional websites.</p>
            </div>
            <div class='col-12'>
              <h5>Working with Intense</h5>
              <p>For over past 8 years, I have worked for one of the best web studios - Intense. Here I create award-winning works for its wonderful clients. Moreover, I can make this happen for your business as well.</p>
            </div>
            <div class='col-12 progress-linear-area'>
              <div class='progress-linear progress-linear-lg progress-linear-shamrock-blue'>
                <div class='progress-linear-inner'>
                  <div class='progress-linear-title'>Responsive Design<span class='progress-linear-counter-wrap hidden'> — <span class='progress-linear-counter'>75</span>%</span></div>
                  <div class='progress-linear-body'>
                    <div class='progress-linear-bar'></div>
                  </div>
                </div>
              </div>
              <div class='progress-linear progress-linear-lg progress-linear-blue-violet'>
                <div class='progress-linear-inner'>
                  <div class='progress-linear-title'>Logo Design<span class='progress-linear-counter-wrap hidden'> — <span class='progress-linear-counter'>99</span>%</span></div>
                  <div class='progress-linear-body'>
                    <div class='progress-linear-bar'></div>
                  </div>
                </div>
              </div>
              <div class='progress-linear progress-linear-lg progress-linear-electric-violet'>
                <div class='progress-linear-inner'>
                  <div class='progress-linear-title'>Mobile App UI Design<span class='progress-linear-counter-wrap hidden'> — <span class='progress-linear-counter'>45</span>%</span></div>
                  <div class='progress-linear-body'>
                    <div class='progress-linear-bar'></div>
                  </div>
                </div>
              </div>
            </div>
            <div class='col-12'>
              <h5>Awards:</h5>
              <div class='row row-20 gutters-20 row-text'>
                <div class='col-6 col-sm-4 col-md-6 col-lg-4'>
                  <article class='award'>
                    <div class='award-title h3'>2019</div>
                    <div class='award-text small'>MAGNUM 30 under 30, Winner</div>
                  </article>
                </div>
                <div class='col-6 col-sm-4 col-md-6 col-lg-4'>
                  <article class='award'>
                    <div class='award-title h3'>2018</div>
                    <div class='award-text small'>The Other Hundred, 1st Prize</div>
                  </article>
                </div>
                <div class='col-6 col-sm-4 col-md-6 col-lg-4'>
                  <article class='award'>
                    <div class='award-title h3'>2016</div>
                    <div class='award-text small'>American Photography 30</div>
                  </article>
                </div>
                <div class='col-6 col-sm-4 col-md-6 col-lg-4'>
                  <article class='award'>
                    <div class='award-title h3'>2014</div>
                    <div class='award-text small'>AOP Student Awards, Finalist</div>
                  </article>
                </div>
                <div class='col-6 col-sm-4 col-md-6 col-lg-4'>
                  <article class='award'>
                    <div class='award-title h3'>2013</div>
                    <div class='award-text small'>Leica Oskar Barnack Award</div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>