<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30'>
      <div class='col-lg-4'>
        <h2>Text alignment</h2>
      </div>
      <div class='col-lg-8'>
        <h1>Left aligned text</h1>
        <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. You will definitely have a great experience of using our web page.</p>
        <h1 class='text-center'>Centered text</h1>
        <p class='text-center'>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. You will definitely have a great experience of using our web page.</p>
        <h1 class='text-right'>Right aligned text</h1>
        <p class='text-right'>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. You will definitely have a great experience of using our web page.</p>
      </div>
    </div>
  </div>
</section>