<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Janes thumbnail</h2>
    <div class='row row-30 justify-content-center'>
      <div class='col-sm-8 col-md-6'>
        <figure class='thumbnail-janes'>
          <div class='thumbnail-janes-img'><img src='images/image-07-620x420.jpg' alt='' width='620' height='420' /></div>
          <figcaption class='thumbnail-janes-caption'>
            <div class='thumbnail-janes-content'>
              <h5 class='thumbnail-janes-title'>Web Design</h5>
              <div class='thumbnail-janes-description'>Delivering quality web design services to our clients.</div>
            </div><a class='btn btn-primary thumbnail-janes-btn' href='#'>Take a look</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>