<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Upward thumbnail</h2>
    <div class='row row-30 justify-content-center'>
      <div class='col-sm-8 col-md-6'>
        <figure class='thumbnail-upward'><img class='thumbnail-upward-img' src='images/image-07-620x420.jpg' alt='' width='620' height='420' />
          <figcaption class='thumbnail-upward-caption'>
            <div class='thumbnail-upward-content'>
              <h5 class='thumbnail-upward-title'>Web Design</h5>
              <div class='thumbnail-upward-description'>Delivering quality web design services to our clients.</div>
            </div><a class='btn btn-primary thumbnail-upward-btn' href='#'>Take a look</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>