<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Connor thumbnail</h2>
    <div class='row row-30 justify-content-center'>
      <div class='col-sm-8 col-md-6'>
        <figure class='thumbnail thumbnail-connor'><img src='images/image-07-620x420.jpg' alt='' width='620' height='420' />
          <figcaption class='thumbnail-connor-caption'>
            <h3 class='thumbnail-connor-title'>Web Design</h3>
            <div class='thumbnail-connor-description'>Delivering quality web design services to our clients.</div><a class='btn btn-primary thumbnail-connor-btn' href='#'>Take a look</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>