<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2 class='text-center'>Josip thumbnail</h2>
    <div class='row row-30 justify-content-center'>
      <div class='col-sm-8 col-md-6'>
        <figure class='thumbnail thumbnail-josip'><img class='thumbnail-josip-img' src='images/image-07-620x420.jpg' alt='' width='620' height='420' />
          <figcaption class='thumbnail-josip-caption'>
            <div class='thumbnail-josip-inner'>
              <div class='thumbnail-josip-content'>
                <h5 class='thumbnail-josip-title'>Web Design</h5>
                <div class='thumbnail-josip-description'>Delivering quality web design services to our clients.</div>
              </div><a class='btn btn-secondary thumbnail-josip-btn' href='#'>Take a look</a>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>