<section class='section section-xl bg-transparent novi-background'>
  <div class='container content-row-area'>
    <h1 data-animate='{"class":"fadeIn"}'>Tickets</h1>
    <div class='content-row content-row-sm' data-animate='{"class":"fadeInRightBig"}'>
      <div class='content-row-item content-row-body'>
        <h6 class='content-row-title'>Combo: DSL Conf + Workshop by Sid: Accessibility in Design Systems</h6>
      </div>
      <div class='content-row-item'><a class='btn btn-lg btn-dark content-row-btn rounded-0' href='#'>Get Tickets</a></div>
    </div>
    <div class='content-row content-row-sm' data-animate='{"class":"fadeInRightBig","delay":"0.15s"}'>
      <div class='content-row-item content-row-body'>
        <h6 class='content-row-title'>Workshop by Jina: A Real-World Design Systems Workshop</h6>
      </div>
      <div class='content-row-item'><a class='btn btn-lg btn-dark content-row-btn rounded-0' href='#'>Get Tickets</a></div>
    </div>
    <div class='content-row content-row-sm' data-animate='{"class":"fadeInRightBig","delay":"0.3s"}'>
      <div class='content-row-item content-row-body'>
        <h6 class='content-row-title'>Combo: DSL Conf + Workshop by Jina: A Real-World Design Systems Workshop</h6>
      </div>
      <div class='content-row-item'><a class='btn btn-lg btn-dark content-row-btn rounded-0' href='#'>Get Tickets</a></div>
    </div>
  </div>
</section>