<section class='section section-lg bg-transparent text-center pb-0 novi-background'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-10 col-xl-9'>
        <h2>Make Easier Interface</h2>
        <p>Intense provides a poweful and flexible exntended toolkit in addition to basic Bootstrap. If you’ve used Bootstrap itself, you’ll find this all super familiar and easy-to-use.</p>
        <div class='offset-md group-15'><a class='btn btn-sm btn-danger' href='accordions.html'><span class='btn-icon mdi mdi-playlist-plus novi-icon'></span><span>Accordions</span></a><a class='btn btn-sm btn-danger' href='tabs.html'><span class='btn-icon mdi mdi-format-line-spacing novi-icon'></span><span>Tabs</span></a><a class='btn btn-sm btn-danger' href='widgets.html'><span class='btn-icon mdi mdi-border-left novi-icon'></span><span>Widgets</span></a><a class='btn btn-sm btn-danger' href='pagination.html'><span class='btn-icon mdi mdi-numeric-1-box-outline novi-icon'></span><span>Pagination</span></a><a class='btn btn-sm btn-danger' href='breadcrumbs.html'><span class='btn-icon mdi mdi-drag-horizontal novi-icon'></span><span>Breadcrumbs</span></a><a class='btn btn-sm btn-danger' href='calls-to-action.html'><span class='btn-icon mdi mdi-vector-triangle novi-icon'></span><span>Calls to action</span></a></div>
      </div>
    </div>
    <div class='offset-md'><img src='images/features/feature-01-1229x446.png' alt='' width='1229' height='446' /></div>
  </div>
</section>