<section class='section section-lg bg-900 context-dark novi-background'>
  <div class='container'>
    <div class='row row-30 justify-content-between flex-md-row-reverse'>
      <div class='col-md-6'><img src='images/image-53-620x479.jpg' alt='' width='620' height='479' data-animate='{"class":"fadeIn"}' /></div>
      <div class='col-md-6 col-xl-5 dl-area'>
        <h1 data-animate='{"class":"fadeIn"}'>Venue</h1>
        <dl data-animate='{"class":"fadeInLeftBig"}'>
          <dt class='font-weight-normal'>Address</dt>
          <dd class='text-contrast'>178 West 27th Street, Suite 527, New York NY 10012, United States</dd>
        </dl>
        <dl data-animate='{"class":"fadeInLeftBig","delay":"0.15s"}'>
          <dt class='font-weight-normal'>Address</dt>
          <dd class='text-contrast'>178 West 27th Street, Suite 527, New York NY 10012, United States</dd>
        </dl>
        <dl data-animate='{"class":"fadeInLeftBig","delay":"0.3s"}'>
          <dt class='font-weight-normal'>Address</dt>
          <dd class='text-contrast'>178 West 27th Street, Suite 527, New York NY 10012, United States</dd>
        </dl>
      </div>
    </div>
  </div>
</section>