<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <h2>Who we are?</h2>
    <div class='row row-20'>
      <div class='col-md-6'>
        <p>Intense is an independent web design studio with a rich history. It started as a small business in Los Angeles, CA, and has grown enough to successfully occupy two large buildings in two different cities.</p>
      </div>
      <div class='col-md-6'>
        <p>Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.</p>
      </div>
    </div>
  </div>
</section>