<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30'>
      <div class='col-lg-6'>
        <h6 class='text-primary'>Why choose us?</h6>
        <h2>We combine professionalism with passion and dedication</h2>
        <p>We're dedicated to giving you the best service possible by keeping our solutions friendly, simple and effective. If you don’t trust our word for it, feel free to read the testimonials on our website to learn more about various reasons why our clients choose Intense.</p>
      </div>
      <div class='col-xs-10 col-md-8 col-lg-6'><img src='images/image-17-620x460.jpg' alt='' width='620' height='460' /></div>
    </div>
  </div>
</section>