<section class='section section-lg bg-transparent text-center novi-background'>
  <div class='container'>
    <h2 data-animate='{"class":"fadeInUp"}'>Why thousands of clients<br />choose Intense</h2>
    <div class='owl-carousel owl-style-3' data-owl='{&quot;center&quot;:true,&quot;dots&quot;:true,&quot;autoplayTimeout&quot;:4500,&quot;autoplaySpeed&quot;:4500,&quot;slideTransition&quot;:&quot;linear&quot;,&quot;dotsClass&quot;:&quot;owl-dots text-center&quot;}' data-items='1' data-xs-items='2' data-lg-items='3'>
      <article class='blurb blurb-boxed'>
        <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
        <div class='blurb-title h5'>Quick results</div>
        <div class='blurb-text'>We work quickly and effectively to provide the best results and efficient solutions for our customers worldwide.</div>
      </article>
      <article class='blurb blurb-boxed blurb-primary'>
        <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
        <div class='blurb-title h5'>Powerful apps</div>
        <div class='blurb-text'>Our team offers a wide variety of powerful and sustainable apps for a great range of business purposes.</div>
      </article>
      <article class='blurb blurb-boxed blurb-secondary'>
        <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
        <div class='blurb-title h5'>Unique design</div>
        <div class='blurb-text'>Our designers manage to create really catchy and unique designs for our products to stand out.</div>
      </article>
      <article class='blurb blurb-boxed blurb-success'>
        <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
        <div class='blurb-title h5'>Money saving</div>
        <div class='blurb-text'>Our products cost less than their analogs by other companies. However, our apps are more feature-rich &amp; efficient.</div>
      </article>
      <article class='blurb blurb-boxed blurb-info'>
        <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
        <div class='blurb-title h5'>Efficient support</div>
        <div class='blurb-text'>Intense team offers extensive and high-quality online support to its customers all over the world at any time.</div>
      </article>
      <article class='blurb blurb-boxed blurb-warning'>
        <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
        <div class='blurb-title h5'>Innovative technologies</div>
        <div class='blurb-text'>Our developers use the latest innovative technologies to deliver the best software solutions to our customers.</div>
      </article>
      <article class='blurb blurb-boxed blurb-danger'>
        <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
        <div class='blurb-title h5'>Great usability</div>
        <div class='blurb-text'>Improved usability and UX are distinctive features of our products, for which our customers love Intense.</div>
      </article>
      <article class='blurb blurb-boxed blurb-dark'>
        <div class='blurb-embed'><span class='blurb-icon ith-layers novi-icon'></span></div>
        <div class='blurb-title h5'>Full responsiveness</div>
        <div class='blurb-text'>Our apps have fully responsive interface and design that allow our users to run our products on any modern device.</div>
      </article>
    </div>
  </div>
</section>