<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 justify-content-lg-between'>
      <div class='col-md-5 col-lg-4'>
        <h2>Why choose me</h2>
        <p>Here are a few reasons why companies all over the world trust me and my team’s qualifications and choose Intense.</p>
      </div>
      <div class='col-md-7 blurb-area'>
        <article class='blurb blurb-inline'>
          <div class='media media-md align-items-center'>
            <div class='media-left'>
              <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
            </div>
            <div class='media-body'>
              <div class='blurb-title h5'>Focused on Your Needs</div>
              <div class='blurb-text'>You never have to worry about getting answers to your questions. My experienced approach is to ensure that you will get what you need at the right time.</div>
            </div>
          </div>
        </article>
        <article class='blurb blurb-inline'>
          <div class='media media-md align-items-center'>
            <div class='media-left'>
              <div class='blurb-embed'><span class='blurb-icon ith-devices novi-icon'></span></div>
            </div>
            <div class='media-body'>
              <div class='blurb-title h5'>Quality Design at Affordable Prices</div>
              <div class='blurb-text'>I understand the importance of maintaining a budget and keeping a project on schedule. That’s why I only propose solutions that meet your project’s goal.</div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>