<section class='section section-lg bg-transparent novi-background'>
  <div class='container'>
    <div class='row row-30 row-md-40 justify-content-xl-between novi-disabled'>
      <div class='col-xs-9 col-md-6 col-lg-5' data-animate='{"class":"fadeInUp"}'><img src='images/image-17-510x510.jpg' alt='' width='510' height='510' /></div>
      <div class='col-lg-7 col-xl-6' data-animate='{"class":"fadeInRight"}'>
        <h2>Why top eCommerce companies choose us</h2>
        <div class='row row-40 row-lg-50'>
          <div class='col-12 col-xs-6'>
            <article class='blurb blurb-classic'>
              <div class='blurb-header'>
                <div class='blurb-embed'><span class='blurb-icon ith-cart novi-icon'></span></div>
                <div class='blurb-title h5'>We are dedicated to your success</div>
              </div>
              <div class='blurb-text'>Our main goal is to help your online store stand out while putting your interest first.</div>
            </article>
          </div>
          <div class='col-12 col-xs-6'>
            <article class='blurb blurb-classic'>
              <div class='blurb-header'>
                <div class='blurb-embed'><span class='blurb-icon ith-chart novi-icon'></span></div>
                <div class='blurb-title h5'>Our focus is on growth</div>
              </div>
              <div class='blurb-text'>Our team focuses on our clients’ store growth at all times to give the best results.</div>
            </article>
          </div>
          <div class='col-12 col-xs-6'>
            <article class='blurb blurb-classic'>
              <div class='blurb-header'>
                <div class='blurb-embed'><span class='blurb-icon ith-glasses novi-icon'></span></div>
                <div class='blurb-title h5'>Transparency is our middle name</div>
              </div>
              <div class='blurb-text'>We’re transparent and we don’t nickel and dime our clients or charge excessive fees.</div>
            </article>
          </div>
          <div class='col-12 col-xs-6'>
            <article class='blurb blurb-classic'>
              <div class='blurb-header'>
                <div class='blurb-embed'><span class='blurb-icon ith-muscle novi-icon'></span></div>
                <div class='blurb-title h5'>We’re experts</div>
              </div>
              <div class='blurb-text'>We have been successfully working in the eCommerce consulting field for 10+ years.</div>
            </article>
          </div>
        </div><a class='btn btn-lg btn-primary' href='#'>Learn More</a>
      </div>
    </div>
  </div>
</section>