include _navigation

mixin rd-navbar
	//RD Navbar
	header.section.rd-navbar-wrap( data-preset!={ title:'Navbar Event', category:'header', reload:true, id:'navbar-event' } )
		nav.rd-navbar.navbar-event( data-rd-navbar!= { responsive: { 1200: { stickUpOffset: '60px' } } } )&attributes( attributes )
			.navbar-section.navbar-non-stuck
				.navbar-container
					.navbar-cell.flex-grow-1
						.navbar-subpanel
							.navbar-subpanel-item
								button.navbar-button.navbar-info-button.mdi-dots-vertical.novi-icon( data-multi-switch!= {
									targets: '.rd-navbar',
									scope:   '.rd-navbar',
									class:   'navbar-info-active',
									isolate: '[data-multi-switch]'
								})

								.navbar-info
									a.navbar-info-link( href='#' ) #[span.navbar-info-icon.int-marker.novi-icon] 178 West 27th Street, Suite 527, New York NY 10012, United States
									a.navbar-info-link( href='tel:#' ) #[span.navbar-info-icon.int-phone.novi-icon] +1 234 567 8901

			.navbar-section
				.navbar-container
					.navbar-cell
						.navbar-panel
							button.navbar-switch.int-hamburger.novi-icon( data-multi-switch!= {
								targets: '.rd-navbar',
								scope:   '.rd-navbar',
								isolate: '[data-multi-switch]'
							})

							.navbar-logo
								a.navbar-logo-link( href= homePage.link )
									+img( logo.default ).navbar-logo-default( alt= logo.name )
									+img( logo.inverse ).navbar-logo-inverse( alt= logo.name )

					.navbar-cell.navbar-sidebar
						+navigation( menu )
