//- Thumbnail frode
	@param {object} data - thumbnail data object
	@param {array} data.img - thumbnail image params (path, width, height)
	@param {string} data.title - thumbnail title
	@param {string} data.description - thumbnail description text
	@param {string} data.link - thumbnail link
	@param {string} data.btnText - thumbnail button text
mixin thumbnail-frode( data )
	// Thumbnail frode
	figure.thumbnail.thumbnail-frode&attributes( attributes )
		.thumbnail-frode-img
			+img( data.img )
		figcaption.thumbnail-frode-caption
			.thumbnail-frode-content
				h5.thumbnail-frode-title= data.title
				.thumbnail-frode-description= data.description
			a.btn.btn-secondary.thumbnail-frode-btn( href= data.link ? data.link : '#' )= data.btnText ? data.btnText : 'Take a look'
