-
	var
		thumbnail1 = {
			title: 'Web design',
			text: 'Delivering quality web design services to our clients.'
		},
		thumbnail2 = {
			title: 'Web development',
			text: 'Creating dynamic and responsive websites & web apps.'
		},
		thumbnail3 = {
			title: 'Back-end development',
			text: 'Handling the ‘behind-the-scenes’ functionality of web applications. '
		},
		thumbnail4 = {
			title: 'UX design',
			text: 'Designing appealing and functional interfaces.'
		},
		thumbnail5 = {
			title: 'Content marketing',
			text: 'An essential part of the digital marketing strategy for any business. '
		},
		thumbnail6 = {
			title: 'Search engine optimization',
			text: 'Optimize your website and take it higher on Google rankings.'
		}
