// Donut chart
-
	var
		dataDonut = [
			{ label: "Series1",  data: 10 },
			{ label: "Series2",  data: 30 },
			{ label: "Series3",  data: 90 },
			{ label: "Series4",  data: 70 }
		],
		optionsDonut = {
			colors: ['#6b39bd', '#28A8FF', '#31c77f', '#F19711', '#E72660', '#C728FF'], // same in script.js
			grid: {
				show: false,
				hoverable: true,
				clickable: true
			},
			series: {
				pie: {
					show: true,
					innerRadius: 0.5
				}
			}
		};

.flotchart-container.flotchart-container-pie( data-flotchart-data= dataDonut, data-flotchart-options= optionsDonut )
