.row.row-15.row-lg-25.row-xxl-40.novi-disabled
	.col-12
		h3 A wide variety of useful plugins for you
	.col-12
		.row.row-30
			.col-12 Intense can give you more than just impressive homepage layouts. It has a great set of plugins that can be used for integrating additional but very important features such as contact forms, sliders, call-to-actions, tables etc. Some of the included plugins are:
			.col-sm-7.col-lg-6
				ul.list.list-marked-arrow
					li.list-item Owl Carousel;
					li.list-item lightGallery;
					li.list-item Revolution Slider;
					li.list-item Timers;
					li.list-item Progress Bars.
			.col-sm-5.col-lg-6
				.row.row-15.novi-disabled
					.col-6.col-sm-12.col-lg-6
						+counter({
							value: 30,
							postfix: '+',
							title: 'Plugins & components'
						})
					.col-6.col-sm-12.col-lg-6
						+counter({
							value:   100,
							postfix: '%',
							title:   'Responsive & Retina ready'
						})
