// CTA
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-15' } )
	.container
		h2 Need a quality designed website?
		p The experienced team of Intense can create what you need.
		a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
