include ../blurb/_blurb

// Features
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Features', category:'blurb', reload:false, id:'features-1' } )
	.container
		.row.row-30.align-items-center.justify-content-xl-between.novi-disabled
			.col-xl-4
				h2 Best solutions for our clients
			.col-xl-7
				p Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.
		.row.row-30.row-lg-40.row-offset-lg
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'Web design',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				})
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'Web development',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				}).blurb-secondary
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'Online marketing',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				})
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'Copywriting',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				})
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'Graphic design',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				})
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'Logo development',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				})
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'Branding',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				})
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'Social media marketing',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				})
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'Search engine optimization',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				})
			.col-6.col-sm-4.col-md-3.col-lg-auto
				+blurb-minimal({
					title: 'PPC marketing',
					embed: '<span class="blurb-icon ith-devices novi-icon"></span>'
				}).blurb-primary
