include ../person/_person

// Our founders
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Our Founders', category:'person', reload:false, id:'our-founders' } )
	.container
		h4 Our core team members
		.row.row-30.row-offset-sm
			.col-xs-6.col-md-4
				+person({
					img: 'persons/person-04-400x400',
					title: 'Mark Rogers',
					subtitle: 'Lead Designer',
					links: [
						{ iconClass: 'int-twitter' }
					]
				}).person-lg
			.col-xs-6.col-md-4
				+person({
					img: 'persons/person-05-400x400',
					title: 'Edward Rivera',
					subtitle: 'Senior Front End Developer',
					links: [
						{ iconClass: 'int-twitter' }
					]
				}).person-lg
			.col-xs-6.col-md-4
				+person({
					img: 'persons/person-06-400x400',
					title: 'John Wilson',
					subtitle: 'CEO, Founder, Creative Director',
					links: [
						{ iconClass: 'int-twitter' }
					]
				}).person-lg
