// Banner
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'About Me', category:'content box', reload:false, id:'about-me-2' } )
	.container
		.jumbotron.jumbotron-lg.rounded-0.context-dark.bg-image.novi-background( style='background-image: url("images/image-24-1280x730.jpg")' )
			.row.no-gutters.novi-disabled
				.col-sm-9.col-md-7
					h1 Hello,
						br
						| I’m Amanda Barry.
						| I’m a creator, author, speaker, designer,
						| and public activist.
