// Badge styles
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Badge Styles', category:'sample', reload:false, id:'badge-styles' } )
	.container
		h2 Badge styles
		.row.novi-disabled
			.col-12
				.group-30
					span.badge.badge-dark Default
					span.badge.badge-primary Primary
					span.badge.badge-secondary Secondary
					span.badge.badge-success Success
					span.badge.badge-warning Warning
					span.badge.badge-danger Danger
					span.badge.badge-info Info
