// Badge shapes
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Badge Shapes', category:'sample', reload:false, id:'badge-shapes' } )
	.container
		h2 Badge shapes
		.row.novi-disabled
			.col-12
				.group-30
					span.badge.badge-dark.badge-square Default
					span.badge.badge-dark Default
					span.badge.badge-dark.badge-circle Default
