include ../breadcrumb/_breadcrumb

// Breadcrumb default
section.section.section-sm.bg-transparent.novi-background( data-preset!={ title:'Breadcrumb', category:'breadcrumb', reload:false, id:'breadcrumb-1' } )
	.container
		+breadcrumb( breadcrumbs )
		h4= pageName
