// Button hover effects
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button Hover Sample', category:'sample', reload:false, id:'button-hover-sample' } )
	.container.text-center
		h2 Button hover effects
		p Make unique animations for your buttons with our hover effects

		h4.mt-5 Anis
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-primary.btn-anis Primary
				button.btn.btn-secondary.btn-anis Secondary
				button.btn.btn-warning.btn-anis Warning
				button.btn.btn-danger.btn-anis Danger
				button.btn.btn-dark.btn-anis Dark
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-outline.btn-primary.btn-anis Primary
				button.btn.btn-outline.btn-secondary.btn-anis Secondary
				button.btn.btn-outline.btn-warning.btn-anis Warning
				button.btn.btn-outline.btn-danger.btn-anis Danger
				button.btn.btn-outline.btn-dark.btn-anis Dark

		h4.mt-5 Aqil
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-primary.btn-aqil-horizontal Primary
				button.btn.btn-secondary.btn-aqil-horizontal Secondary
				button.btn.btn-warning.btn-aqil-horizontal Warning
				button.btn.btn-danger.btn-aqil-vertical Danger
				button.btn.btn-dark.btn-aqil-vertical Dark
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-outline.btn-primary.btn-aqil-horizontal Primary
				button.btn.btn-outline.btn-secondary.btn-aqil-horizontal Secondary
				button.btn.btn-outline.btn-warning.btn-aqil-horizontal Warning
				button.btn.btn-outline.btn-danger.btn-aqil-vertical Danger
				button.btn.btn-outline.btn-dark.btn-aqil-vertical Dark

		h4.mt-5 Rayen
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-primary.btn-rayen( data-text='Primary' ) Primary
				button.btn.btn-secondary.btn-rayen( data-text='Secondary' ) Secondary
				button.btn.btn-warning.btn-rayen( data-text='Warning' ) Warning
				button.btn.btn-danger.btn-rayen( data-text='Danger' ) Danger
				button.btn.btn-dark.btn-rayen( data-text='Dark' ) Dark
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-outline.btn-primary.btn-rayen( data-text='Primary' ) Primary
				button.btn.btn-outline.btn-secondary.btn-rayen( data-text='Secondary' ) Secondary
				button.btn.btn-outline.btn-warning.btn-rayen( data-text='Warning' ) Warning
				button.btn.btn-outline.btn-danger.btn-rayen( data-text='Danger' ) Danger
				button.btn.btn-outline.btn-dark.btn-rayen( data-text='Dark' ) Dark

		h4.mt-5 Nuka
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-primary.btn-nuka Primary
				button.btn.btn-secondary.btn-nuka Secondary
				button.btn.btn-warning.btn-nuka Warning
				button.btn.btn-danger.btn-nuka Danger
				button.btn.btn-dark.btn-nuka Dark

		h4.mt-5 Naira
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-primary.btn-naira-up
					span.btn-icon.fa-upload.novi-icon
					span.btn-text Upload
				button.btn.btn-secondary.btn-naira-up
					span.btn-icon.fa-upload.novi-icon
					span.btn-text Upload
				button.btn.btn-warning.btn-naira-up
					span.btn-icon.fa-upload.novi-icon
					span.btn-text Upload
				button.btn.btn-danger.btn-naira-down
					span.btn-icon.fa-download.novi-icon
					span.btn-text Donwload
				button.btn.btn-dark.btn-naira-down
					span.btn-icon.fa-download.novi-icon
					span.btn-text Donwload
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-outline.btn-primary.btn-naira-up
					span.btn-icon.fa-upload.novi-icon
					span.btn-text Upload
				button.btn.btn-outline.btn-secondary.btn-naira-up
					span.btn-icon.fa-upload.novi-icon
					span.btn-text Upload
				button.btn.btn-outline.btn-warning.btn-naira-up
					span.btn-icon.fa-upload.novi-icon
					span.btn-text Upload
				button.btn.btn-outline.btn-danger.btn-naira-down
					span.btn-icon.fa-download.novi-icon
					span.btn-text Donwload
				button.btn.btn-outline.btn-dark.btn-naira-down
					span.btn-icon.fa-download.novi-icon
					span.btn-text Donwload

		h4.mt-5 Polat
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-primary.btn-polat-up
					span.btn-icon.int-cart.novi-icon
					span.btn-text Add to cart
				button.btn.btn-secondary.btn-polat-up
					span.btn-icon.int-cart.novi-icon
					span.btn-text Add to cart
				button.btn.btn-warning.btn-polat-up
					span.btn-icon.int-cart.novi-icon
					span.btn-text Add to cart
				button.btn.btn-danger.btn-polat-left
					span.btn-icon.fa-cog.novi-icon
					span.btn-text Settings
				button.btn.btn-dark.btn-polat-left
					span.btn-icon.fa-cog.novi-icon
					span.btn-text Settings
		.mt-3
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-outline.btn-primary.btn-polat-up
					span.btn-icon.int-cart.novi-icon
					span.btn-text Add to cart
				button.btn.btn-outline.btn-secondary.btn-polat-up
					span.btn-icon.int-cart.novi-icon
					span.btn-text Add to cart
				button.btn.btn-outline.btn-warning.btn-polat-up
					span.btn-icon.int-cart.novi-icon
					span.btn-text Add to cart
				button.btn.btn-outline.btn-danger.btn-polat-left
					span.btn-icon.fa-cog.novi-icon
					span.btn-text Settings
				button.btn.btn-outline.btn-dark.btn-polat-left
					span.btn-icon.fa-cog.novi-icon
					span.btn-text Settings
