// Button groups
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button Group Sample', category:'sample', reload:false, id:'button-group-sample' } )
	.container.text-center
		h2 Button groups
		p Wrap the series of buttons in #[code .btn-group]
		.mt-5.text-center
			.btn-group
				button.btn.btn-primary Button
				button.btn.btn-secondary Button
