// Button sizes
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button Sizes Sample', category:'sample', reload:false, id:'button-sizes-sample' } )
	.container.text-center
		h2 Button sizes
		p Want a larger or smaller ones? Add #[code .btn-lg] or #[code .btn-sm] classes for additional sizes.
		.mt-5
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-lg.btn-primary Large
				button.btn.btn-primary Default
				button.btn.btn-sm.btn-primary Small
