// Button styles
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button Styles Sample', category:'sample', reload:false, id:'button-styles-sample' } )
	.container.text-center
		h2 Button styles
		p Use any of the available button classes to quickly create a styled button.
		.mt-5
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-primary Primary
				button.btn.btn-secondary Secondary
				button.btn.btn-warning Warning
				button.btn.btn-danger Danger
				button.btn.btn-dark Dark
				button.btn.btn-outline.btn-primary Outlined
				button.link.link-secondary Link
