include ../counter/_counter

// Counters Type #5
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Counter Boxed Sample', category:'counter', reload:true, id:'counter-boxed-sample-1' } )
	.container
		h3 Counters Type #5
		.row.row-30.row-offset-lg
			.col-6.col-md-3
				+counter({
					value: 72,
					postfix: '+',
					title: 'Team members'
				}).counter-boxed

			.col-6.col-md-3
				+counter({
					value: 2013,
					title: 'Year of foundation'
				}).counter-boxed.counter-boxed-primary

			.col-6.col-md-3
				+counter({
					value: 15,
					postfix: 'K',
					title: 'Users'
				}).counter-boxed

			.col-6.col-md-3
				+counter({
					prefix: '$',
					value: 3,
					postfix: 'M',
					title: 'In total funding'
				}).counter-boxed.counter-boxed-secondary
