// Call to action type #2
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-2' } )
	.container
		h2 Call to action type #2
		p Create exactly what you need with our powerful bootstrap toolkit.
		a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
