include ../breadcrumb/_breadcrumb

// FAQ
section.section.section-lg.bg-transparent.pt-5.novi-background( data-preset!={ title:'Intro', category:'content box, faq', reload:false, id:'intro-1' } )
	.container
		+breadcrumb( breadcrumbs )
		h1 Frequently asked
			br
			| questions
		h5 All you need to know about Intense design studio and how to get Support.
