// Parallax in action
section.section.section-lg.text-center.parallax.context-dark( data-preset!={ title:'Parallax In Action', category:'parallax', reload:true, id:'parallax-in-action' } )
	.parallax-layer.parallax-3d.novi-bg-image( data-coeff='.2', style='background-image: url( images/image-23-1920x817.jpg );' )
	.container
		.row.row-30.justify-content-center
			.col-md-6.col-lg-5
				+img( 'partners/partner-5-369x182.png' )( data-animate!={ class: 'bounceIn' } )
			.col-md-6( data-animate!={ class: 'fadeIn' } )
				h3 Released under GPL license
				p You are free to integrate the script on as many themes as you wish.
				a.btn.btn-light.btn-outline( href= buyLink, target='_blank' ) Buy Intense Now
