include ../blurb/_blurb

// RD Navbar opportunities
section.section.section-lg.context-dark.bg-gradient-blue-violet.novi-background( data-preset!={ title:'RD Navbar Opportunities', category:'content box', reload:false, id:'rd-navbar-opportunities' } )
	.container
		.row.row-40.row-xl-70.justify-content-center
			.col-md-6.col-lg-5( data-animate!={ class: 'fadeInLeft' } )
				h3 Various Menu Types
				p With RD Navbar you can create all kind of navigation elements: dropdown, megamenu, tabmenu and a lot more.
				a.btn.btn-outline.btn-light.btn-anis( href= buyLink, target='_blank' )
					span.btn-icon.int-cart.novi-icon
					span Buy Intense Now
			.col-md-6.col-lg-5( data-animate!={ class: 'fadeInRight' } )
				+img( 'image-42-676x359.png' )
