// Features
section.section.bg-transparent.novi-background( data-preset!={ title:'Features', category:'carousel', reload:false, id:'features-2' } )
	.container
		.row.align-items-center.slick-creative.novi-disabled
			.col-md-7.d-md-flex.flex-md-row-reverse
				.slick-slider.slider-for.slider-images( data-slick!={
					arrows: false,
					asNavFor: '.slider-nav',
					adaptiveHeight: true
				} )
					.text-right: +img( 'image-34-1042x910.png' )
					.text-right: +img( 'image-35-1042x910.png' )
					.text-right: +img( 'image-36-1042x910.png' )
			.col-md-5.pt-5( style='padding-bottom: 14.2%' )
				.pl-xxl-3
					h6.text-primary Create
					.slick-slider.slider-nav( data-slick!={
						arrows: false,
						asNavFor: '.slider-for',
						autoplay: true,
						autoplaySpeed: 3000,
						focusOnSelect: true,
						variableWidth: true
					} )
						.slick-dot Websites
						.slick-dot Sliders
						.slick-dot Content Blocks
					.slick-slider.slider-for( data-slick!={
						arrows: false,
						asNavFor: '.slider-nav'
					} )
						p Intense gives you a variety of powerful options, useful tools, and unlimited designs to easily create a website of your dreams that your clients will love.
						p Use the built-in slider plugins to create appealing blocks with smooth sliders that are completely responsive and customizable.
						p Change the layout of Intense with the included content blocks ranging from counters to tabs and accordions and other impressive elements.
