include ../blurb/_blurb

// Home blurbs
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Blurbs', category:'blurb', reload:false, id:'blurbs' } )
	.container
		h1( data-animate!={ class: 'fadeIn' } ) We’ll give you an email alias. You’ll like sharing this email when brands ask for one.
		p( data-animate!={ class: 'fadeIn' } ): span.h6 Intense is an independent web design studio with a rich history.
		.row.row-30.align-items-center
			.col-md-6( data-animate!={ class: 'fadeIn' } )
				+img( 'image-56-583x402.png' )
			.col-md-6.blurb-area
				+blurb-inline({
					alignY: 'align-items-center',
					embed:  '<span class="blurb-icon ith-devices icon-dark novi-icon"></span>',
					title:  'Based on Bootstrap 4',
					text:   'Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.'
				})( data-animate!={ class: 'fadeInRightBig' } )
				+blurb-inline({
					alignY: 'align-items-center',
					embed:  '<span class="blurb-icon ith-devices icon-dark novi-icon"></span>',
					title:  'Based on Bootstrap 4',
					text:   'Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.'
				})( data-animate!={ class: 'fadeInRightBig', delay: '0.15s' } )
				+blurb-inline({
					alignY: 'align-items-center',
					embed:  '<span class="blurb-icon ith-devices icon-dark novi-icon"></span>',
					title:  'Based on Bootstrap 4',
					text:   'Intense is based on the one of the most popular and flexible CSS Frameworks - Bootstrap.'
				})( data-animate!={ class: 'fadeInRightBig', delay: '0.3s' } )
