// About us
section.section.bg-transparent.novi-background( data-preset!={ title:'About Us', category:'content box', reload:false, id:'about-us-2' } )
	.container
		.row.justify-content-lg-between
			.col-sm-8.col-md-7.col-lg-6
				.section-lg
					h6( data-animate!={ class: 'fadeInUp' } ) A few words about us
					h1( data-animate!={ class: 'fadeInUp' } ) Creating images worth sharing and cherishing for years to come
					.row.justify-content-lg-end.novi-disabled
						.col-lg-10.col-xl-9.col-xxl-8( data-animate!={ class: 'fadeInUp' } )
							p Founded in 2006, Intense strives to provide excellent photography at competitive prices to make your photography experience not only painless, but downright fun. We offer business portraits, family portraits, pictures of children and babies etc.
			.col-sm-4.col-md-5( data-animate!={ class: 'fadeInUp' } )
				+img( 'image-55-510x730' ).d-none.d-sm-block( style='transform: translateY(-22%)' )
