include ../vide/_vide

// Intro
+vide( 'video/bg-video-2' ).section.section-lg.text-center.d-flex.align-items-center.min-vh-100.overlay-dark-02.context-dark.novi-vide( data-preset!={ title:'Intro', category:'intro, media', reload:true, id:'intro-7' } )
	.container( data-animate!={ class: 'fadeInUp' } )
		.row.justify-content-center.novi-disabled
			.col-lg-7.col-xl-6
				h1 Quality eCommerce consulting
				p Kick off your business in the right way with our solutions.
				a.btn.btn-lg.btn-primary( href='#' ) Get started
