// Image Section
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Image Section', category:'content box', reload:false, id:'image-section' } )
	.container( data-animate!={ class: 'bounceIn' } )
		svg.image-mask( width='54.7%', height='545', viewBox="0 0 700 545", preserveAspectRatio="xMidYMid slice" )
			defs
				mask#mask2
					path( d="M656.715 112.771C557.276 -35.2482 274 -21.0001 134.324 65.7998C84.7302 99.5589 54.7654 128.694 24.4886 183.227C-13.3574 251.394 -31.248 443.581 155.756 508.502C290.359 555.23 522.768 574.261 642.701 458.498C707.122 385.424 724.558 213.759 656.715 112.771Z" fill="#fff" )
			image( mask="url(#mask2)" xlink:href="images/image-06-1200x800.jpg" height="100%" width="100%" preserveAspectRatio="xMidYMid slice" )
