// Child themes
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Child Themes', category:'content box', reload:true, id:'child-themes' } )
	.container
		.row.row-15.align-items-center.flex-md-row-reverse
			.col-sm-6.col-md-5( data-animate!={ class: 'fadeInRight' } )
				h6.text-primary Child themes
				h1 A wide variety of child themes for your website
				p Choose from a variety of Child themes and use any of them for your website.
			.col-sm-6.col-md-7( data-animate!={ class: 'fadeInLeft' } )
				+img( 'image-37-690x730.png' )
