// Advantages
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Advantages', category:'content box, tab', reload:true, id:'advantages' } )
	.container
		.tab.tab-scale-horizontal
			ul.nav.nav-scale-horizontal.tab-embed( role='tablist' )
				li.nav-item: a.nav-link.h4.active( data-toggle='tab', href='#navScale2-1', role='tab', aria-selected='true' ) Flexibility
				li.nav-item: a.nav-link.h4( data-toggle='tab', href='#navScale2-2', role='tab', aria-selected='false' ) Team support
				li.nav-item: a.nav-link.h4( data-toggle='tab', href='#navScale2-3', role='tab', aria-selected='false' ) Technology
				li.nav-item: a.nav-link.h4( data-toggle='tab', href='#navScale2-4', role='tab', aria-selected='false' ) Satisfaction
			.tab-content
				#navScale2-1.tab-pane.fade.show.active( role='tabpanel' )
					h4 Our development team works onshore & offshore, depending on your requirements, to ensure cost-efficient and quality solutions. We are aimed at developing software that is suited to your needs in a timeframe that fits you the best way.
					p Intense can easily adjust to your demands and requirements to deliver a great app for you.

				#navScale2-2.tab-pane.fade( role='tabpanel' )
					h4 An entire team of business analysts, project managers, UI designers, developers, testers, deployment support is at your service at Intense – all at the cost of a single developer. Our dedicated team will also provide extensive support for you.
					p Whatever software solution your company requires, you can always count on us.

				#navScale2-3.tab-pane.fade( role='tabpanel' )
					h4 Choose from our pool of experienced experts on diverse technologies such as Microsoft.NET, SharePoint, PHP, iOS, Android, Salesforce, and more. We are ready to work on a project of any complexity.
					p No matter what platform you use, we can develop an app for it.

				#navScale2-4.tab-pane.fade( role='tabpanel' )
					h4 Our client portal transparently facilitates tracking of even the most minute task details and provides regular status updates. It helps our customers to stay in the know of how their project is developed and supported throughout its lifecycle.
					p We make every possible effort to deliver the utmost customer satisfaction.
