// Clients
section.section.section-lg.bg-200.novi-background( data-preset!={ title:'Clients', category:'partner', reload:false, id:'clients-1' } )
	.container
		.row.row-30.justify-content-xl-between.novi-disabled
			.col-md-10.col-lg-5( data-animate!={ class: 'fadeInLeft' } )
				h2 We’ve helped multiple stores go eCommerce
				p Our team has worked with some of the biggest online stores to help them succeed.
			.col-md-10.col-lg-7.col-xl-6( data-animate!={ class: 'fadeInUp' } )
				.row.row-30.row-lg-40
					.col-6: .partner: +img( 'partners/partner-1-290x120' ).partner-image
					.col-6: .partner: +img( 'partners/partner-2-290x120' ).partner-image
					.col-6: .partner: +img( 'partners/partner-3-290x120' ).partner-image
					.col-6: .partner: +img( 'partners/partner-4-290x120' ).partner-image
