// Call to action
section.section.section-lg.bg-dark.text-center.text-lg-left.context-dark.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-16' } )
	.container
		.row.row-30.align-items-lg-center.justify-content-lg-between
			.col-lg-8.col-xl-7.col-xxl-6( data-animate!={ class: 'fadeInLeftBig' } )
				h1 Download now
				p.h6 Intense is an independent web design studio with a rich history. #[br]started as a small family-owned business in Oakville.
			.col-lg-auto( data-animate!={ class: 'fadeInRightBig' } )
				a.btn.btn-lg.btn-round( href= buyLink, target='_blank' )
					span.btn-icon.int-apple.novi-icon
					span Download on the AppStore
