// Round icon styles
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Round Icons Styles Sample', category:'icon sample', reload:false, id:'round-icons-styles-sample' } )
	.container
		h2 Round icon styles
		.mt-5
			.group-30.d-flex.flex-wrap.align-items-start.justify-content-center
				.icon.icon-md.icon-round.icon-primary.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-secondary.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-dark.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-shamrock-blue.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-blue-violet.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-electric-violet.fa-television.novi-icon
		.mt-4
			.group-30.d-flex.flex-wrap.align-items-start.justify-content-center
				.icon.icon-md.icon-round.icon-primary-filled.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-secondary-filled.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-dark-filled.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-shamrock-blue-filled.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-blue-violet-filled.fa-television.novi-icon
				.icon.icon-md.icon-round.icon-electric-violet-filled.fa-television.novi-icon
