// Ellipse icon sizes
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Ellipse Icon Sizes Sample', category:'icon sample', reload:false, id:'ellipse-icon-sizes-sample' } )
	.container
		h2 Ellipse icon sizes
		.mt-5
			.group-30.d-flex.flex-wrap.align-items-start.justify-content-center
				.icon.icon-circle.icon-xs.icon-dark-filled.fa-television.novi-icon
				.icon.icon-circle.icon-sm.icon-dark-filled.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-dark-filled.fa-television.novi-icon
				.icon.icon-circle.icon-lg.icon-dark-filled.fa-television.novi-icon
				.icon.icon-circle.icon-xl.icon-dark-filled.fa-television.novi-icon
