// Icon styles
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Icon Styles Sample', category:'icon sample', reload:false, id:'icon-styles-sample' } )
	.container
		h2 Default icon styles
		.mt-5
			.group-30.d-flex.flex-wrap.align-items-start.justify-content-center
				.icon.icon-md.icon-primary.fa-television.novi-icon
				.icon.icon-md.icon-secondary.fa-television.novi-icon
				.icon.icon-md.icon-dark.fa-television.novi-icon
				.icon.icon-md.icon-shamrock-blue.fa-television.novi-icon
				.icon.icon-md.icon-blue-violet.fa-television.novi-icon
				.icon.icon-md.icon-electric-violet.fa-television.novi-icon
