// Input shapes
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Input Shapes Sample', category:'input sample', reload:false, id:'input-shapes-sample' } )
	.container
		h3 Input shapes
		.row.row-15.novi-disabled
			.col-md-4
				.form-group
					label( for='inputShape1' ) Rounded
					.position-relative
						input.form-control.rounded-0( id='inputShape1', type='text', placeholder='Input placeholder' )
			.col-md-4
				.form-group
					label( for='inputShape2' ) Square
					.position-relative
						input.form-control( id='inputShape2', type='text', placeholder='Input placeholder' )
			.col-md-4
				.form-group
					label( for='inputShape3' ) Circle
					.position-relative
						input.form-control.rounded-pill( id='inputShape3', type='text', placeholder='Input placeholder' )
