// Intro Captcha
section.section.section-lg.text-center.d-flex.align-items-center.min-vh-100.overlay-dark-03.context-dark.bg-image.novi-background( style='background-image: url( images/image-32-1920x1000.jpg )', data-preset!={ title:'Intro Captcha', category:'intro', reload:false, id:'intro-captcha' } )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-9
				h1 reCaptcha
				h5 Say no to spam messages with integrated Google reCaptcha tool. Now you can simply enable message filtering with one of the most effective spam filters so far and say goodbye forever to unsolicited emails.
				a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
