// List shop left sidebar
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'List Shop Left Sidebar', category:'shop', reload:true, id:'list-shop-left-sidebar' } )
	.container
		h1.text-center Listing view
		.row.row-50.novi-disabled
			.col-lg-3
				include ../product/_sidebar-product
			.col-lg-9
				include ../product/_list-product
