// List ordered sample
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'List Ordered Sample', category:'content box, sample', reload:false, id:'list-ordered-sample' } )
	.container
		h2.text-center Indexed lists
		.row.row-40
			.col-sm-6
				ol.list.list-xs.list-ordered.h3
					li.list-item Collaboration;
					li.list-item Communication;
					li.list-item Strategic Planning;
					li.list-item Flexibility;
					li.list-item Negotiation;
					li.list-item Leadership;
					li.list-item Management.
			.col-sm-6
				ol.list.list-xs.list-ordered.h5
					li.list-item Collaboration;
					li.list-item Communication;
					li.list-item Strategic Planning;
					li.list-item Flexibility;
					li.list-item Negotiation;
					li.list-item Leadership;
					li.list-item Management.
