// Partners
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Partners', category:'partner', reload:false, id:'partners-3' } )
	.container.text-center
		h2.text-primary Just a few #[br]of our partners
		.row.row-30.row-lg-40.justify-content-center
			.col-4.col-md( data-animate!={ class: 'fadeInLeftBig', delay: '0.3s' } ): +img( 'logos/logo-03-50x71.png' )
			.col-4.col-md( data-animate!={ class: 'fadeInLeftBig', delay: '0.15s' } ): +img( 'logos/logo-04-68x67.png' )
			.col-4.col-md( data-animate!={ class: 'fadeIn' } ): +img( 'logos/logo-05-94x71.png' )
			.col-4.col-md( data-animate!={ class: 'fadeInRightBig', delay: '0.15s' } ): +img( 'logos/logo-01-103x57.png' )
			.col-4.col-md( data-animate!={ class: 'fadeInRightBig', delay: '0.3s' } ): +img( 'logos/logo-06-38x84.png' )
