// Partners
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Partners', category:'partner', reload:false, id:'partners-2' } )
	.container
		h1.text-center Our customers
		.row.row-30.novi-disabled
			.col-md-5.col-xl-4
				h4 These companies are our regular clients & partners whose efforts support our goals and help us deliver top-notch web design and development services.
			.col-md-7.col-xl-6.offset-xl-1
				.row.row-30.row-lg-40
					.col-6: .partner: +img( 'partners/partner-1-290x120' ).partner-image
					.col-6: .partner: +img( 'partners/partner-2-290x120' ).partner-image
					.col-6: .partner: +img( 'partners/partner-3-290x120' ).partner-image
					.col-6: .partner: +img( 'partners/partner-4-290x120' ).partner-image
