// Portfolio fullwidth 3 column
section.section.section-lg.pb-0.bg-transparent.text-center.novi-background( data-preset!={ title:'Portfolio Fullwidth 3 Columns', category:'thumbnail, gallery, isotope', reload:true, id:'portfolio-fullwidth-3-columns' } )
	h1 Fullwidth layout
	.isotope-wrap.isotope-line
		.isotope-filters.isotope-filters-wide
			.isotope-filter.active( data-isotope-filter="*" ) All
			.isotope-filter( data-isotope-filter=".design" ) Design
			.isotope-filter( data-isotope-filter=".development" ) Development
			.isotope-filter( data-isotope-filter=".marketing" ) Marketing
		.isotope.row.no-gutters( data-lightgallery )
			.col-6.col-sm-4.isotope-item.development
				a.thumbnail-light.lightgallery-item( href='images/image-07-1200x800.jpg' )
					+img( 'image-07-640x640' )
			.col-6.col-sm-4.isotope-item.development
				a.thumbnail-light.lightgallery-item( href='images/image-15-1200x800.jpg' )
					+img( 'image-15-640x640' )
			.col-6.col-sm-4.isotope-item.development
				a.thumbnail-light.lightgallery-item( href='images/image-16-1200x800.jpg' )
					+img( 'image-16-640x640' )

			.col-6.col-sm-4.isotope-item.design
				a.thumbnail-light.lightgallery-item( href='images/image-17-1200x800.jpg' )
					+img( 'image-17-640x640' )
			.col-6.col-sm-4.isotope-item.design
				a.thumbnail-light.lightgallery-item( href='images/image-14-1200x800.jpg' )
					+img( 'image-14-640x640' )
			.col-6.col-sm-4.isotope-item.design
				a.thumbnail-light.lightgallery-item( href='images/image-05-1200x800.jpg' )
					+img( 'image-05-640x640' )

			.col-6.col-sm-4.isotope-item.marketing
				a.thumbnail-light.lightgallery-item( href='images/image-06-1200x800.jpg' )
					+img( 'image-06-640x640' )
			.col-6.col-sm-4.isotope-item.marketing
				a.thumbnail-light.lightgallery-item( href='images/image-13-1200x800.jpg' )
					+img( 'image-13-640x640' )
			.col-6.col-sm-4.isotope-item.marketing
				a.thumbnail-light.lightgallery-item( href='images/image-20-1200x800.jpg' )
					+img( 'image-20-640x640' )
