include ../post/_post

// Post hover 3 columns
section.section.section-md.bg-transparent.novi-background( data-preset!={ title:'Post Hover 3 Columns', category:'blog', reload:false, id:'post-hover-3-columns' } )
	.container
		.row.row-40.justify-content-center
			.col-xs-10.col-md-6.col-lg-4
				+post-hover({
					title:    post4.title,
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					img:      'image-06-400x257',
					postText: post4.textShort,
					coments:  '25'
				}).post-sm

			.col-xs-10.col-md-6.col-lg-4
				+post-hover({
					title:    post5.title,
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					img:      'image-10-400x257',
					postText: post5.text,
					coments:  '25'
				}).post-sm

			.col-xs-10.col-md-6.col-lg-4
				+post-hover({
					title:    post6.title,
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					img:      'image-11-400x257',
					postText: post6.text,
					coments:  '25'
				}).post-sm
