include ../multiswitch/_multiswitch
include ../pricing/_pricing

// Pricing box sample
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Pricing Box Sample', category:'price', reload:true, id:'pricing-box-sample' } )
	.container
		h2.text-center Plans type #1
		.plans
			.plans-switcher
				.plans-switcher-text Monthly billing
				div
					+switch-toggle({ targets: '.switch-container-1' }).plans-toggle
				div
					.plans-switcher-text Annual billing
					.plans-switcher-subtext Save up to 20%

			.plans-switch-container.switch-container.switch-container-1
				.switch-inner
					.row.row-30.align-items-end.novi-disabled
						.col-lg-4
							+pricing-box({
								title: 'Pro',
								subtitle: 'Ideal for getting started',
								price: '15',
								list: [ '2 websites', '20 pages', '3 website layouts' ]
							})

						.col-lg-4
							+pricing-box({
								label: 'Most popular',
								title: 'Premium',
								subtitle: 'Ideal for getting started',
								price: '55',
								list: [ '3 websites', '35 pages', '6 website layouts' ]
							}).pricing-box-accent-secondary

						.col-lg-4
							+pricing-box({
								title: 'Business',
								subtitle: 'Ideal for getting started',
								price: '85',
								list: [ '4 websites', '50 pages', '9 website layouts' ]
							})

				.switch-inner
					.row.row-30.align-items-end.novi-disabled
						.col-lg-4
							+pricing-box({
								title: 'Pro',
								subtitle: 'Ideal for getting started',
								price: '10',
								list: [ '2 websites', '30 pages', '3 website layouts' ]
							})

						.col-lg-4
							+pricing-box({
								label: 'Most popular',
								title: 'Premium',
								subtitle: 'Ideal for getting started',
								price: '50',
								list: [ '3 websites', '35 pages', '6 website layouts' ]
							}).pricing-box-accent-secondary

						.col-lg-4
							+pricing-box({
								title: 'Business',
								subtitle: 'Ideal for getting started',
								price: '80',
								list: [ '4 websites', '50 pages', '9 website layouts' ]
							})

			.plans-description
				span At the end of your trial, you may downgrade to our basic Free plan:
				br
				span.font-weight-normal 1 website, 10 pages, 1 website layout.
