include ../person/_person

// Project gallery 2
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Project Gallery', category:'gallery, content box', reload:false, id:'project-gallery-2' } )
	.container
		.row.row-50.justify-content-between.flex-lg-row-reverse.novi-disabled( data-lightgallery )
			.col-lg-6.col-xxl-5
				.row.row-30.row-xl-70
					.col-lg-12
						+person-side({
							img:         'persons/person-04-120x120',
							title:       'Mark Rogers',
							description: 'Lead designer'
						})
					.col-md-10.col-lg-12
						h2 Search engine optimization
						p Discover how our team makes your website show up in the list of top 10 search results.
					.col-lg-12
						h5 Project overview
						p SEO (Search Engine Optimization) is the practice of optimizing content to be discovered through a search engine’s organic search results. It demonstrates search engines that your content is the best result at hand.
					.col-lg-12
						h5 Details
						p Search engine optimization (SEO) is the art and science of getting pages to rank higher in search engines such as Google. This is a set of measures that includes a wide variety of useful techniques such as:
						ul.list.list-marked-arrow.mt-4
							li.list-item Keyword research;
							li.list-item Content marketing;
							li.list-item Link building;
							li.list-item On-page optimization;
							li.list-item Site architecture optimization.
					.col-lg-12
						.group-30.d-flex.text-dark
							a.icon.icon-sm.icon-social.int-youtube.novi-icon( href='#' )
							a.icon.icon-sm.icon-social.int-facebook.novi-icon( href='#' )
							a.icon.icon-sm.icon-social.int-instagram.novi-icon( href='#' )
							a.icon.icon-sm.icon-social.int-twitter.novi-icon( href='#' )
							a.icon.icon-sm.icon-social.int-linkedin.novi-icon( href='#' )

			.col-lg-5.col-xxl-6
				.row.row-30.row-md-40
					.col-6.col-sm-4.col-lg-12
						a.thumbnail-up-shadow.lightgallery-item( href='images/image-05-1200x800.jpg' )
							+img( 'image-05-620x815' )
					.col-6.col-sm-4.col-lg-12
						a.thumbnail-up-shadow.lightgallery-item( href='images/image-21-1200x800.jpg' )
							+img( 'image-21-620x815' )
					.col-6.col-sm-4.col-lg-12
						a.thumbnail-up-shadow.lightgallery-item( href='images/image-13-1200x800.jpg' )
							+img( 'image-13-620x815' )
