include ../quote/_quote

// Quote boxed
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Quote Boxed', category:'quote', reload:false, id:'quote-boxed-2' } )
	.container
		h2.text-center Testimonials type #3
		.row.row-30
			.col-sm-6.col-lg-4
				+quote-boxed({
					text:     quote1.text,
					img:      'persons/person-01-90x90',
					name:     quote1.name,
					position: quote1.position
				})
			.col-sm-6.col-lg-4
				+quote-boxed({
					text:     quote2.text,
					img:      'persons/person-02-90x90',
					name:     quote2.name,
					position: quote2.position
				})
			.col-sm-6.col-lg-4
				+quote-boxed({
					text:     quote3.text,
					img:      'persons/person-03-90x90',
					name:     quote3.name,
					position: quote3.position
				})
