include ../quote/_quote

// Quote cloud shadow slider
section.section.section-lg.section-layer( data-preset!={ title:'Quote Cloud Shadow Slider', category:'quote, carousel', reload:true, id:'quote-cloud-shadow-slider' } )
	.bg-layer.bg-primary.novi-background( style='bottom: 44%' )
	.container
		h2.text-center.context-dark What clients say
		// Owl Carousel
		.owl-carousel.owl-style-1( data-owl= { dots: true, dotsClass: 'owl-dots text-center' }, data-items='1', data-sm-items='2', data-md-items='3' )
			+quote-cloud({
				text:     quote1.text,
				img:      'persons/person-01-64x64',
				name:     quote1.name,
				position: quote1.position
			}).quote-cloud-shadow
			+quote-cloud({
				text:     quote2.text,
				img:      'persons/person-02-64x64',
				name:     quote2.name,
				position: quote2.position
			}).quote-cloud-shadow
			+quote-cloud({
				text:     quote3.text,
				img:      'persons/person-03-64x64',
				name:     quote3.name,
				position: quote3.position
			}).quote-cloud-shadow
			+quote-cloud({
				text:     quote4.text,
				img:      'persons/person-01-64x64',
				name:     quote4.name,
				position: quote4.position
			}).quote-cloud-shadow
			+quote-cloud({
				text:     quote5.text,
				img:      'persons/person-02-64x64',
				name:     quote5.name,
				position: quote5.position
			}).quote-cloud-shadow
			+quote-cloud({
				text:     quote6.text,
				img:      'persons/person-03-64x64',
				name:     quote6.name,
				position: quote6.position
			}).quote-cloud-shadow
