// Text rotator zoom
section.section.section-lg.bg-gradient-shamrock-blue.context-dark.overflow-hidden.text-center.novi-background( data-preset!={ title:'Text Rotator Zoom', category:'text rotator', reload:true, id:'text-rotator-zoom' } )
	.container
		h2 Zoom Animation
		h3.mt-5
			| Intense is the 
			span.text-rotator(
				data-text-class= 'text-dark',
				data-words= 'most complex,most powerful,most flexible',
				data-rotate-interval= '3000',
				data-rotate-animation= 'zoomInDown, zoomOutDown' )
				span.rotate-area
			=' '
			| Bootstrap theme on TemplateMonster
