// Text rotator slide
section.section.section-lg.bg-800.context-dark.overflow-hidden.text-center.novi-background( data-preset!={ title:'Text Rotator Slide', category:'text rotator', reload:true, id:'text-rotator-slide' } )
	.container
		h2 Slide Animation
		h3.mt-5
			| Intense is the 
			span.text-rotator(
				data-text-class= 'text-primary',
				data-words= 'most complex,most powerful,most flexible',
				data-rotate-interval= '3000',
				data-rotate-animation= 'slideInDown, slideOutDown' )
				span.rotate-area
			=' '
			| Bootstrap theme on TemplateMonster
