include ../thumbnail-tamaz/_thumbnail-tamaz

// Thumbnail Tamaz
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Thumbnail Tamaz', category:'thumbnail', reload:false, id:'thumbnail-tamaz' } )
	.container
		h2.text-center Tamaz thumbnail
		.row.row-30.justify-content-center
			.col-sm-8.col-md-6
				+thumbnail-tamaz({
					img: 'image-07-620x420',
					title: 'Web Design',
					description: 'Delivering quality web design services to our clients.'
				})
