// Typography example
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Typography Example', category:'sample', reload:false, id:'typography-example' } )
	.container
		.row.row-30
			.col-lg-4
				h2 Type scale
			.col-sm-6.col-lg-4
				h1 Heading 1
				h2 Heading 2
				h3 Heading 3
				h4 Heading 4
				h5 Heading 5
				h6 Heading 6
			.col-sm-6.col-lg-4
				p This is normal text
				p.font-weight-lighter This is light text
				p: b This is bold text
				p: u This is text inserted to the document
				p.lead This is big text
				p: small This is small text
				p: strong This is strong text
				p: del This is text deleted from the document
				p: code This is code text
				p: mark This is highlighted text
