// Lists
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Lists', category:'sample', reload:false, id:'lists' } )
	.container
		.row.row-15.row-xxl-70
			.col-lg-4
				h2 Unordered list
			.col-sm-6.col-lg-4
				ul.list.list-marked-arrow
					li.list-item Fully responsive design
					li.list-item Social integration
						ul.list.list-marked-arrow
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
					li.list-item Lots of child themes
			.col-sm-6.col-lg-4
				ul.list.list-marked
					li.list-item Fully responsive design
					li.list-item Social integration
						ul.list.list-marked
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
					li.list-item Lots of child themes

		.row.row-15.row-xxl-70.row-offset-lg
			.col-lg-4
				h2 Ordered list
			.col-sm-6.col-lg-4
				ol.list.list-ordered
					li.list-item Fully responsive design
					li.list-item Social integration
						ol.list.list-ordered
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
					li.list-item Lots of child themes
