// UI Kit
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'UI Kit', category:'content box, ui kit', reload:false, id:'ui-kit-3' } )
	.container
		.row.row-40.justify-content-center.flex-lg-row-reverse
			.col-sm-10.col-lg-5.col-xl-4
				h2 Information Flow
				p.small Content is the most important part of any website. Template components of Intense are designed for perception of information as comfortable. These include sections, infographics, counters, tables, etc.
				.offset-sm.group-15
					a.btn.btn-sm.btn-primary( href='tables.html' )
						span.btn-icon.mdi.mdi-table.novi-icon
						span Tables
					a.btn.btn-sm.btn-primary( href='pricing-and-plans.html' )
						span.btn-icon.mdi.mdi-coin.novi-icon
						span Pricing and plans
					a.btn.btn-sm.btn-primary( href='media-elements.html' )
						span.btn-icon.mdi.mdi-youtube-play.novi-icon
						span Media elements
					a.btn.btn-sm.btn-primary( href='blurbs.html' )
						span.btn-icon.mdi.mdi-emoticon.novi-icon
						span Blurbs
					a.btn.btn-sm.btn-primary( href='infographics.html' )
						span.btn-icon.mdi.mdi-trending-up.novi-icon
						span Infographics
					a.btn.btn-sm.btn-primary( href='countdowns.html' )
						span.btn-icon.mdi.mdi-timer.novi-icon
						span Countdowns
					a.btn.btn-sm.btn-primary( href='alerts.html' )
						span.btn-icon.mdi.mdi-alert-outline.novi-icon
						span Alerts
					a.btn.btn-sm.btn-primary( href='counters.html' )
						span.btn-icon.mdi.mdi-timelapse.novi-icon
						span Counters
					a.btn.btn-sm.btn-primary( href='text-rotator.html' )
						span.btn-icon.mdi.mdi-format-textdirection-l-to-r.novi-icon
						span Text rotator
					a.btn.btn-sm.btn-primary( href='posts.html' )
						span.btn-icon.mdi.mdi-clipboard-outline.novi-icon
						span Posts
					a.btn.btn-sm.btn-primary( href='maps.html' )
						span.btn-icon.mdi.mdi-map-marker-circle.novi-icon
						span Maps

			.col-sm-10.col-lg-7
				+img( 'features/feature-03-700x478.png' ).shadow-sm

