// Who we are
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Who We Are', category:'content box', reload:false, id:'who-we-are' } )
	.container
		h2 Who we are?
		.row.row-20
			.col-md-6
				p Intense is an independent web design studio with a rich history. It started as a small business in Los Angeles, CA, and has grown enough to successfully occupy two large buildings in two different cities.
			.col-md-6
				p Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.
