include ../logo/_logo
include ../rights/_rights

// Footer event
footer.section.footer.bg-transparent.novi-background( data-preset!={ title:'Footer Event', category:'footer', reload:true, id:'footer-event' } )
	.container
		.row.row-40.row-md-50.justify-content-md-between.justify-content-xl-end
			.col-xs-4.col-lg-2
				+logo
			.col-6.col-xs-4.col-lg-2
				ul.list.list-xl.small.font-weight-normal
					li.list-item: a.list-link( href='#' ) Participate
					li.list-item: a.list-link( href='#' ) Tickets
					li.list-item: a.list-link( href='#' ) Venue
			.col-6.col-xs-4.col-lg-3
				h6 Get in touch at
				.mt-2
					a.small.font-weight-normal( href='mailto:#' ) mail@demolink.org
			.col-md-9.col-lg-5.col-xl-4.offset-xl-1
				h6 Subscribe to our newsletter
				form.rd-mailform( data-form-output='form-output-footer-event', data-form-type='subscribe', method='post', action='components/rd-mailform/rd-mailform.php' )
					.form-group-icon.novi-disabled
						input.form-control( type='email', name='email', placeholder='Enter your email address', data-constraints='@Email @Required' )
						button.form-group-icon-btn.int-arrow-right.novi-icon
				#form-output-footer-event.form-output.snackbar.snackbar-dark

		hr.divider.divider-sm.footer-divider

		.footer-panel
			.group-20.d-flex.flex-wrap.align-items-center.justify-content-between.novi-disabled
				div
					.group-x-30.d-inline-flex.flex-wrap
						a.footer-link( href='#' ) Cookies
						a.footer-link( href='privacy-policy.html' ) Privacy Policy
						a.footer-link( href='#' ) Data-retention policy
						a.footer-link( href='#' ) Code of Conduct
				div
					.group-30.d-inline-flex.text-900
						a.icon.icon-xs.icon-social.int-youtube.novi-icon( href='#' )
						a.icon.icon-xs.icon-social.int-facebook.novi-icon( href='#' )
						a.icon.icon-xs.icon-social.int-instagram.novi-icon( href='#' )
						a.icon.icon-xs.icon-social.int-twitter.novi-icon( href='#' )
						a.icon.icon-xs.icon-social.int-linkedin.novi-icon( href='#' )
			+rights-2
