@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Base
.google-map {
	height: 250px;
	width: 100%;

	img {
		margin-top: 0;
		vertical-align: top;
	}
}


// Spacing
h2 + .google-map { margin-top: 50px }


// Media
@include media-breakpoint-up(lg) {
	.google-map {
		height: 570px;
	}
}

@include media-breakpoint-up(xxl) {
	.google-map {
		height: 660px;
	}

	h2 + .google-map { margin-top: 70px }
}
