// Nuka Effect
.btn-nuka {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	transform: translateZ(0);

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: -$btn-border-width;
		right: -$btn-border-width;
		z-index: -1;
		border-radius: inherit;
		pointer-events: none;
	}

	&::before {
		top: -$btn-border-width;
		bottom: -$btn-border-width;
		transform: scaleX(.7);
		border: inherit;
		opacity: .7;
		transition: .25s;
	}

	&::after {
		top: 0;
		bottom: 0;
		transition: all .25s, background-color .2s .05s;
	}

	&:hover {
		background-color: transparent;
		border-color: transparent;

		&::before {
			transform: scaleX(1);
			opacity: 1;
		}

		&::after {
			left: 0;
			right: 0;
		}
	}
}


// Theming
@each $color, $value in $theme-colors {
	.btn-#{$color}.btn-nuka {
		&::before {
			border-color: $value;
		}

		&::after {
			background: $value;
		}

		&:hover {
			color: $value;

			&::after {
				background-color: transparent;
			}
		}
	}
}
