h3 Write a review
p.small.mt-3 Your email address will not be published. Required fields are marked *

form.rd-mailform.form-disabled
	.form-group
		label( for='input-review' ) Review *
		.position-relative
			textarea.form-control( id='input-review', name='review', placeholder='Say something nice...', data-constraints='@Required' )
	.form-group
		label( for='input-name' ) Name *
		.position-relative
			input.form-control( id='input-name', type='text', name='name', placeholder='Your name', data-constraints='@Required' )
	.form-group
		label( for='input-email' ) E-mail *
		.position-relative
			input.form-control( id='input-email', type='email', name='email', placeholder='Your e-mail address', data-constraints='@Email @Required' )
	button.btn.btn-lg.btn-secondary( type='submit' ) Submit
