.widget
	h6.widget-title About us
	.widget-body
		+post-simple({
			link:     'about-us.html',
			img:      'image-17-310x200',
			title:    'Intense is the most powerful Bootstrap theme',
			postText: 'I’ve always cared about great visual design, but a few years ago I learned that I loved to teach as well. That led to starting this blog, building iPhone apps...',
			btnText:  'Read more'
		}).post-sm
