.widget
	h6.widget-title Tags
	.widget-body
		.tag-container
			a.tag.tag-light( href='#' ) Web design
			a.tag.tag-light( href='#' ) UI/UX
			a.tag.tag-light( href='#' ) Tips
			a.tag.tag-light( href='#' ) Development
			a.tag.tag-light( href='#' ) Inspiration
			a.tag.tag-light( href='#' ) Graphic design
			a.tag.tag-light( href='#' ) Design ideas
			a.tag.tag-light( href='#' ) Portfolios
			a.tag.tag-light( href='#' ) Trends
			a.tag.tag-light( href='#' ) Articles
			a.tag.tag-light( href='#' ) Tools for design
