extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'About Us';

block page
	+rd-navbar

	include ../components/section/_about-intro
	include ../components/section/_about-vision
	include ../components/section/_divider-section
	include ../components/section/_about-values
	include ../components/section/_about-partners
	include ../components/section/_about-counters
	include ../components/section/_about-review
	include ../components/section/_about-persons
	include ../components/section/_divider-section
	include ../components/section/_about-team-demographics
	include ../components/section/_divider-section
	include ../components/section/_about-testimonials
	include ../components/footer/_footer-default
