extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Alerts';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_alert-sample
	include ../components/section/_snackbars-sample
	include ../components/footer/_footer-default
