extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Appointment calendar';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_appointment-calendar
	include ../components/section/_appointment-form-1
	include ../components/footer/_footer-default
