extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Blog classic creative';
		pageId = 'blog-classic-creative';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_blog-classic-creative
	include ../components/footer/_footer-default
