extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Blog modern with sidebar';
		pageId = 'blog-modern-with-sidebar';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_blog-modern-with-sidebar
	include ../components/footer/_footer-default
