extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Blog modern 2 columns';
		pageId = 'blog-modern-2-columns';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_blog-modern-2-columns
	include ../components/footer/_footer-default
