extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Charts & graphs';

block page
	+rd-navbar

	include ../components/section/_intro-chart
	include ../components/section/_highcharts
	include ../components/section/_flotcharts
	include ../components/section/_cta-type-1-gradient
	include ../components/footer/_footer-default
