extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Contact us';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-lg
	include ../components/section/_how-to-find-us
	include ../components/section/_divider-section
	include ../components/section/_contact-us
	include ../components/footer/_footer-default
