extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Contact me';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_contact-me
	include ../components/section/_get-in-touch-2
	include ../components/footer/_footer-default
