extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar-store

block variables
	-
		pageName = 'Store';
		pageId = 'home-store';

block page
	+rd-navbar

	include ../components/section/_home-store-intro
	include ../components/section/_home-store-content-1
	include ../components/section/_home-store-content-2
	include ../components/section/_home-store-shop
	include ../components/footer/_footer-store
