extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar-consulting

block variables
	-
		pageName = 'Consulting';
		pageId = 'home-consulting';

block page
	+rd-navbar

	include ../components/section/_home-consulting-intro
	include ../components/section/_home-consulting-statistics
	include ../components/section/_home-consulting-clients
	include ../components/section/_home-consulting-why-choose-us
	include ../components/section/_home-consulting-skills-and-counters
	include ../components/section/_cta-type-2-gradient
	include ../components/section/_home-consulting-what-we-offer
	include ../components/section/_home-consulting-faq
	include ../components/section/_cta-type-2-video
	include ../components/footer/_footer-consulting
