extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar-business

block variables
	-
		pageName = 'Business';
		pageId = 'home-business';

block page
	+rd-navbar

	include ../components/section/_home-business-intro
	include ../components/section/_home-business-why-choose-us
	include ../components/section/_home-business-about-us
	include ../components/section/_home-business-clients
	include ../components/section/_quote-slider-with-images
	include ../components/section/_home-business-case-studies
	include ../components/section/_cta-type-2-v2
	include ../components/section/_home-business-image
	include ../components/section/_home-business-advantages
	include ../components/section/_home-business-our-approach
	include ../components/section/_person-sm-1
	include ../components/section/_cta-type-5
	include ../components/footer/_footer-business
