extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Infographics';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_progress-linear-sample
	include ../components/section/_progress-circle-sample
	include ../components/footer/_footer-default
