extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'List shop right sidebar',
		pageId = 'list-shop-right-sidebar';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_list-shop-right-sidebar
	include ../components/footer/_footer-default
