extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Parallax';

block page
	+rd-navbar

	include ../components/section/_intro-parallax
	include ../components/section/_feature-fullcalendar-browser
	include ../components/section/_feature-fullcalendar-license
	include ../components/section/_feature-parallax-in-action
	include ../components/footer/_footer-default
