extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Portfolio Janes';
		pageId = 'portfolio-janes';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_portfolio-janes
	include ../components/footer/_footer-default
