extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Project single 3';
		pageId = 'portfolio-single-3';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_project-gallery-3
	include ../components/footer/_footer-default
