extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Project single 2';
		pageId = 'portfolio-single-2';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_project-gallery-2
	include ../components/footer/_footer-default
