extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Posts';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_post-classic-sample-1
	include ../components/section/_divider-section

	include ../components/section/_post-boxed-sample
	include ../components/section/_divider-section

	include ../components/section/_post-thumbnail-sample-1
	include ../components/section/_divider-section

	include ../components/section/_post-side-sample-1
	include ../components/section/_divider-section

	include ../components/section/_post-side-sample-2
	include ../components/section/_divider-section

	include ../components/section/_post-number-sample
	include ../components/section/_divider-section

	include ../components/section/_post-classic-3-column-sample
	include ../components/section/_divider-section

	include ../components/section/_post-classic-2-column-sample
	include ../components/section/_divider-section

	include ../components/section/_post-hover-3-column-sample
	include ../components/section/_divider-section

	include ../components/section/_post-hover-2-column-sample
	include ../components/section/_divider-section

	include ../components/section/_post-side-sample-3
	include ../components/section/_divider-section

	include ../components/section/_post-classic-flow-sample
	include ../components/section/_divider-section

	include ../components/section/_post-creative-sample-1
	include ../components/section/_divider-section

	include ../components/section/_post-thumbnail-sample-2
	include ../components/footer/_footer-default
