extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Product page 3';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_product-overview-3
	include ../components/footer/_footer-default
