extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'RD Mailform';

block page
	+rd-navbar

	include ../components/section/_intro-form-plugins
	include ../components/section/_mailform-features
	include ../components/section/_mailform-browser
	include ../components/section/_mailform-features-2
	include ../components/section/_mailform-cta
	include ../components/section/_mailform-compatible-scripts
	include ../components/section/_mailform-license
	include ../components/section/_mailform
	include ../components/footer/_footer-default
