extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/revolution/_revolution-slides

block variables
	-
		pageName = 'Crossfade';
		pageId = 'revolution-crossfade';

block page
	+rd-navbar#header-crossfade

	include ../components/section/_revolution-crossfade
	include ../components/footer/_footer-default
