-
	var
		logo = {
			default: 'logo-default-114x27.svg',
			inverse: 'logo-inverse-114x27.svg',
			name: 'Intense'
		},

		buyLink = 'https://www.templatemonster.com/intense-multipurpose-html-template.html',

		menu = {
			type: 'root',
			child: [
				{
					title: 'Home',
					link: 'index.html',
					home: true,
					child: {
						type: 'megamenu',
						child: [
							{
								type: 'column',
								child: [
									{
										type: 'block',
										title: 'Home Types',
										child: [
											{
												title: 'Default',
												link: 'index.html'
											},
											{
												title: 'Consulting',
												id: 'home-consulting'
											},
											{
												title: 'Business',
												id: 'home-business'
											},
											{
												title: 'Studio',
												id: 'home-studio'
											},
											{
												title: 'Application',
												id: 'home-application'
											},
											{
												title: 'Event',
												id: 'home-event'
											},
											{
												title: 'Blog',
												id: 'home-blog'
											},
											{
												title: 'Store',
												id: 'home-store'
											},
											{
												title: 'Minimal',
												id: 'home-minimal'
											},
											{
												title: 'Portfolio',
												id: 'home-portfolio'
											}
										]
									}
								]
							},
							{
								type: 'column',
								child: [
									{
										type: 'block',
										title: 'Childs',
										child: [
											{
												title: 'GreenDesk',
												link: '../green-desk/index.html'
											},
											{
												title: 'Seabay',
												badge: '<span class="badge badge-info">new</span>',
												link: '../seabay/index.html'
											},
											{
												title: 'Book',
												badge: '<span class="badge badge-warning">soon</span>',
												class: 'navbar-navigation-item-disabled'
											},
											{
												title: 'Product',
												badge: '<span class="badge badge-warning">soon</span>',
												class: 'navbar-navigation-item-disabled'
											},
											{
												title: 'Travel',
												badge: '<span class="badge badge-warning">soon</span>',
												class: 'navbar-navigation-item-disabled'
											},
											{
												title: 'Startup',
												badge: '<span class="badge badge-warning">soon</span>',
												class: 'navbar-navigation-item-disabled'
											},
											{
												title: 'Event',
												badge: '<span class="badge badge-warning">soon</span>',
												class: 'navbar-navigation-item-disabled'
											},
											{
												title: 'Agency',
												badge: '<span class="badge badge-warning">soon</span>',
												class: 'navbar-navigation-item-disabled'
											},
											{
												title: 'Business',
												badge: '<span class="badge badge-warning">soon</span>',
												class: 'navbar-navigation-item-disabled'
											},
											{
												title: 'Corporate',
												badge: '<span class="badge badge-warning">soon</span>',
												class: 'navbar-navigation-item-disabled'
											}
										]
									}
								]
							},
							{
								type: 'column',
								attributes: { style: 'flex-basis: 50%;' },
								child: [
									{
										type: 'banner',
										link: buyLink,
										image: 'banners/banner-01-620x360.png'
									}
								]
							}
						]
					}
				},

				{
					title: 'Features',
					link: '#',
					child: {
						type: 'dropdown',
						child: [
							{
								title: 'Revolution Slider',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'Parallax Zoom Slices',
											id: 'revolution-parallax-zoom-slices'
										},
										{
											title: 'Crossfade',
											id: 'revolution-crossfade'
										},
										{
											title: 'Fade through',
											id: 'revolution-fade-through'
										},
										{
											title: 'Slide',
											id: 'revolution-slide'
										},
										{
											title: 'Overlay',
											id: 'revolution-overlay'
										},
										{
											title: 'Slots Zoom',
											id: 'revolution-slots-zoom'
										}
									]
								}
							},
							{
								title: 'Plugins',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{ title: 'Fullcalendar' },
										{ title: 'Parallax' },
										{ title: 'Vide' },
										{ title: 'RD Navbar' },
										{ title: 'RD Twitter Feed', class: 'navbar-navigation-item-disabled' },
										{ title: 'RD Flickr Gallery', class: 'navbar-navigation-item-disabled' },
										{ title: 'RD Mailform' },
										{ title: 'Google ReCaptcha' },
										{
											title: 'Mailchimp & Campaign Monitor',
											id: 'subscribe-2'
										},
										{ title: 'Charts & Graphs' }
									]
								}
							},
							{
								title: 'Headers',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'Default',
											id: 'header-default'
										},
										{
											title: 'Consulting',
											id: 'header-consulting'
										},
										{
											title: 'Business',
											id: 'header-business'
										},
										{
											title: 'Studio',
											id: 'header-studio'
										},
										{
											title: 'Application',
											id: 'header-app'
										},
										{
											title: 'Event',
											id: 'header-event'
										},
										{
											title: 'Blog',
											id: 'header-blog'
										},
										{
											title: 'Store',
											id: 'header-store'
										},
										{
											title: 'Minimal',
											id: 'header-minimal'
										},
										{
											title: 'Portfolio',
											id: 'header-portfolio',
											badge: '<span class="badge badge-warning">soon</span>',
											class: 'navbar-navigation-item-disabled'
										}
									]
								}
							},
							{
								title: 'Footers'
							},
							{
								title: 'Advanced UI Kit',
								link: 'ui-kit.html'
							}
						]
					}
				},

				{
					title: 'Pages',
					link: '#',
					child: {
						type: 'megamenu',
						title: 'Pages',
						class: 'navbar-dark',
						child: [
							{
								type: 'column',
								child: [
									{ title: 'About us' },
									{ title: 'About us 2' },
									{ title: 'About me' },
									{ title: 'About me 2' },
									{ title: 'Services' },
									{ title: 'Our team' },
									{ title: 'Our team 2' },
									{ title: 'Team member' },
									{ title: 'Team member 2' }
								]
							},
							{
								type: 'column',
								child: [
									{ title: 'Careers' },
									{ title: 'FAQ' },
									{ title: 'FAQ 2' },
									{ title: 'FAQ 3' },
									{ title: 'FAQ 4' },
									{ title: 'Contact me' },
									{ title: 'Contact us' },
									{ title: 'Contact us 2' }
								]
							},
							{
								type: 'column',
								child: [
									{ title: 'Get in touch' },
									{ title: 'Contact us 3' },
									{ title: 'Subscribe' },
									{ title: 'Sitemap' },
									{ title: 'Coming soon' },
									{ title: 'Search results' },
									{ title: 'Login' },
									{ title: 'Register' },
									{
										title: 'Login / Register',
										id: 'login-register'
									}
								]
							},
							{
								type: 'column',
								child: [
									{ title: 'Pricing' },
									{ title: 'Appointment' },
									{ title: 'Appointment calendar' },
									{ title: 'Maintenance' },
									{ title: 'Clients' },
									{ title: 'Under construction' },
									{ title: '404 page' },
									{ title: '503 page' },
									{ title: 'Privacy policy' }
								]
							}
						]
					}
				},

				{
					title: 'Portfolio',
					link: '#',
					child: {
						type: 'dropdown',
						child: [
							{
								title: 'Grid layout',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'Horizontal',
											id: 'portfolio-grid-horizontal'
										},
										{
											title: 'Vertical',
											id: 'portfolio-grid-vertical'
										}
									]
								}
							},
							{
								title: 'Masonry layout',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'Horizontal',
											id: 'portfolio-masonry-horizontal'
										},
										{
											title: 'Vertical',
											id: 'portfolio-masonry-vertical'
										}
									]
								}
							},
							{
								title: 'Wide layout',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'Horizontal',
											id: 'portfolio-wide-horizontal'
										},
										{
											title: 'Vertical',
											id: 'portfolio-wide-vertical'
										}
									]
								}
							},
							{
								title: 'Fullwidth layout',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: '3 columns',
											id: 'portfolio-fullwidth-3'
										},
										{
											title: '4 columns',
											id: 'portfolio-fullwidth-4'
										},
										{
											title: '5 columns',
											id: 'portfolio-fullwidth-5'
										}
									]
								}
							},
							{
								title: 'Custom effects',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'Bella effect',
											id: 'portfolio-bella'
										},
										{
											title: 'Connor effect',
											id: 'portfolio-connor'
										},
										{
											title: 'Frode effect',
											id: 'portfolio-frode'
										},
										{
											title: 'Janes effect',
											id: 'portfolio-janes'
										},
										{
											title: 'Josip effect',
											id: 'portfolio-josip'
										},
										{
											title: 'Mike effect',
											id: 'portfolio-mike'
										},
										{
											title: 'Tamaz effect',
											id: 'portfolio-tamaz'
										}
									]
								}
							},
							{
								title: 'Single project',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'Default',
											id: 'portfolio-single-1'
										},
										{
											title: 'Variant 2',
											id: 'portfolio-single-2'
										},
										{
											title: 'Variant 3',
											id: 'portfolio-single-3'
										}
									]
								}
							}
						]
					}
				},

				{
					title: 'Blog',
					link: '#',
					child: {
						type: 'dropdown',
						child: [
							{
								title: 'Blog classic',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'No sidebar',
											id: 'blog-classic-no-sidebar'
										},
										{
											title: 'With sidebar',
											id: 'blog-classic-with-sidebar'
										},
										{
											title: '2 columns',
											id: 'blog-classic-2-columns'
										},
										{
											title: '3 columns',
											id: 'blog-classic-3-columns'
										},
										{
											title: 'Creative',
											id: 'blog-classic-creative'
										}
									]
								}
							},
							{
								title: 'Blog boxed',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'No sidebar',
											id: 'blog-boxed-no-sidebar'
										},
										{
											title: 'With sidebar',
											id: 'blog-boxed-with-sidebar'
										}
									]
								}
							},
							{
								title: 'Blog thumbnail',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'No sidebar',
											id: 'blog-thumbnail-no-sidebar'
										},
										{
											title: 'With sidebar',
											id: 'blog-thumbnail-with-sidebar'
										},
										{
											title: '2 columns',
											id: 'blog-thumbnail-2-columns'
										},
										{
											title: 'Creative',
											id: 'blog-thumbnail-creative'
										}
									]
								}
							},
							{
								title: 'Blog modern',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'No sidebar',
											id: 'blog-modern-no-sidebar'
										},
										{
											title: 'With sidebar',
											id: 'blog-modern-with-sidebar'
										},
										{
											title: 'Rounded',
											id: 'blog-modern-rounded'
										},
										{
											title: '2 columns',
											id: 'blog-modern-2-columns'
										},
										{
											title: 'Large layout',
											id: 'blog-modern-large'
										}
									]
								}
							},
							{
								title: 'Blog dated',
								link: 'blog-dated.html'
							},
							{
								title: 'Blog hover',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: '2 columns',
											id: 'blog-hover-2-columns'
										},
										{
											title: '3 columns',
											id: 'blog-hover-3-columns'
										}
									]
								}
							},
							{
								title: 'Blog creative'
							},
							{
								title: 'Blog post',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'No sidebar',
											id: 'post'
										},
										{
											title: 'With sidebar',
											id: 'post-with-sidebar'
										},
										{
											title: 'Intro',
											id: 'post-intro'
										}
									]
								}
							}
						]
					}
				},

				{
					title: 'Shop',
					link: '#',
					child: {
						type: 'dropdown',
						child: [
							{
								title: 'Grid view',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'No sidebar',
											id: 'grid-shop-no-sidebar'
										},
										{
											title: 'Left sidebar',
											id: 'grid-shop-left-sidebar'
										},
										{
											title: 'Right sidebar',
											id: 'grid-shop-right-sidebar'
										}
									]
								}
							},
							{
								title: 'List view',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{
											title: 'Left sidebar',
											id: 'list-shop-left-sidebar'
										},
										{
											title: 'Right sidebar',
											id: 'list-shop-right-sidebar'
										}
									]
								}
							},
							{
								title: 'Single product',
								link: '#',
								child: {
									type: 'dropdown',
									child: [
										{ title: 'Product page' },
										{ title: 'Product page 2' },
										{ title: 'Product page 3' }
									]
								}
							},
							{
								title: 'Cart'
							}
						]
					}
				},

				{
					title: 'Components',
					link: '#',
					child: {
						type: 'megamenu',
						title: 'Components',
						class: 'navbar-dark',
						child: [
							{
								type: 'column',
								child: [
									{ title: 'Typography' },
									{ title: 'Buttons' },
									{ title: 'Counters' },
									{ title: 'Dividers' },
									{ title: 'Form elements' },
									{ title: 'Icons' },
									{ title: 'Infographics' },
									{ title: 'Badges' }
								]
							},
							{
								type: 'column',
								child: [
									{ title: 'Tables' },
									{ title: 'Tabs' },
									{ title: 'Breadcrumbs' },
									{ title: 'Accordions' },
									{ title: 'Thumbnails' },
									{ title: 'Alerts' },
									{ title: 'Testimonials' },
									{ title: 'Countdowns' }
								]
							},
							{
								type: 'column',
								child: [
									{ title: 'Blurbs' },
									{ title: 'Persons' },
									{ title: 'Pricing and plans' },
									{ title: 'Pagination' },
									{ title: 'Comments' },
									{ title: 'Lists' },
									{ title: 'Grid system' },
									{ title: 'Calls to action' }
								]
							},
							{
								type: 'column',
								child: [
									{ title: 'Posts' },
									{ title: 'Widgets' },
									{ title: 'Maps' },
									{ title: 'Offer boxes' },
									{ title: 'Media elements' },
									{ title: 'Text rotator' },
									{ title: 'Animations' }
								]
							}
						]
					}
				}
			]
		},

		homePage,
		pageName,
		pageId,
		pageClass,
		pageImage,
		htmlClass,
		breadcrumbs = [];
