// Variables
$person-md-title-fsz: $h3-font-size;


// Media
@include media-breakpoint-up( xl ) {
	.person-md {
		.person-title { font-size: 36px; }
		.person-icon { font-size: 26px; }

		* + .person-subtitle { margin-top: 10px; }
		* + .person-social { margin-top: 15px; }
	}
}

@include media-breakpoint-up( xxl ) {
	.person-md {
		.person-title { font-size: $person-md-title-fsz; }

		* + .person-title { margin-top: 45px; }
		* + .person-subtitle { margin-top: 17px; }
		* + .person-social { margin-top: 22px; }
	}
}
