.row.row-15.row-lg-25.row-xxl-40
	.col-12
		h3 Bootstrap is a powerful toolkit #[br.d-none.d-xl-inline]for developing creative websites.
	.col-12
		.row.row-10.novi-disabled
			.col-md-6 In a nutshell, Bootstrap is the most popular mobile first front-end development framework available. It’s a collection of popular HTML, CSS and JavaScript components that can be used to speed up the development process of your website application and make it more flexible.
			.col-md-6 The primary benefit of using Bootstrap as a CSS framework is to encourage consistency across internal tools. Rather surprisingly, until recently there were barely any processes in place to share common design patterns and assets. Bootstrap supports the latest versions of browsers.
