-
	var
		quote1 = {
			text: 'Intense is full of great details and very useful tools. The template code is clear and easy-to-edit. Moreover, it  is well-documented and supported.',
			name: 'Kevin Davis',
			position: 'Client'
		},
		quote2 = {
			text: 'It is a great template with everything my website needed. It took me a few hours to figure all out but it was worth the investment.',
			name: 'Paul Sanders',
			position: 'Client'
		},
		quote3 = {
			text: 'This template has lots of preconfigured child themes, effects, and components. It is a great choice if you need a customizable website.',
			name: 'Helen Wright',
			position: 'Client'
		},
		quote4 = {
			text: 'I’ve got really enjoyable experience with your product. Its easy setup is a huge plus for me. I even didn’t turn to support service.',
			name: 'Edward Williams',
			position: 'Client'
		},
		quote5 = {
			text: 'I guess I’ll be a returning client of your company. Your Live Chat service is awesome. It allows to settle any issue 24/7 and do it quickly.',
			name: 'Matthew Lee',
			position: 'Client'
		},
		quote6 = {
			text: 'Intense is a superb product for a reasonable price. Easy to read instructions are really helpful. Excellent, I have nothing to add.',
			name: 'Mary Roberts',
			position: 'Client'
		}
