//- Copyright
mixin rights
	// Copyright
	p.rights&attributes( attributes )
		span &copy; 2019&nbsp;
		span= logo.name
		span . All rights reserved.&nbsp;
		a.rights-link( href='privacy-policy.html' ) Privacy Policy

mixin rights-2
	// Copyright
	p.rights&attributes( attributes )
		span &copy; 2019&nbsp;
		span= logo.name
		span . All rights reserved