include ../rights/_rights

// Footer studio
footer.footer.footer-sm.bg-transparent.text-400.context-dark.novi-background( data-preset!={ title:'Footer Studio', category:'footer', reload:false, id:'footer-studio' } )
	.container
		.row.row-15.align-items-center.justify-content-between.footer-panel
			.col-auto
				+rights
			.col-auto
				.group-30.d-flex.text-white
					a.icon.icon-xs.icon-social.int-behance.novi-icon( href='#' )
					a.icon.icon-xs.icon-social.int-dribble.novi-icon( href='#' )
					a.icon.icon-xs.icon-social.int-linkedin.novi-icon( href='#' )
