@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/alert";

// Spacing
* + .blog-divider { margin-top: px-to-rem( 25px ); }


// Modifying
.blog-divider {
	.blog-divider-item + .blog-divider-item {
		margin-top: px-to-rem( 35px );
		padding-top: px-to-rem( 35px );
		border-top: 1px solid $border-color;
	}
}

// Media
@include media-breakpoint-up( xxl ) {
	.blog-divider {
		.blog-divider-item + .blog-divider-item {
			margin-top: px-to-rem( 81px );
			padding-top: px-to-rem( 68px );
		}
	}

	.blog-divider-md {
		.blog-divider-item + .blog-divider-item {
			margin-top: px-to-rem( 70px );
			padding-top: px-to-rem( 70px );
		}
	}

	* + .blog-divider { margin-top: px-to-rem( 68px ); }
}


