include ../product/_product

.row.row-30.row-sm-40.row-md-50.row-offset-lg
	.col-6.col-md-4.col-lg-3
		+product({
			img: 'products/product-10-290x372',
			title: 'Black baseball cap',
			price: '12'
		})( data-animate!={ class: 'fadeInUpBig' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img:   'products/product-01-290x372',
			title: 'Iridescent iPhone case',
			price: '19'
		})( data-animate!={ class: 'fadeInUpBig', delay: '0.15s' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img:   'products/product-02-290x372',
			title: 'Black analogue watch',
			price: '43',
			productNew: true
		})( data-animate!={ class: 'fadeInUpBig', delay: '0.3s' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img:   'products/product-03-290x372',
			title: 'Ombré vinyl backpack',
			price: '29',
			priceOld: '37'
		})( data-animate!={ class: 'fadeInUpBig', delay: '0.45s' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img: 'products/product-11-290x372',
			title: 'Golden earrings',
			price: '24'
		})( data-animate!={ class: 'fadeInUpBig' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img:   'products/product-04-290x372',
			title: 'Iridescent tote bag',
			price: '27'
		})( data-animate!={ class: 'fadeInUpBig', delay: '0.15s' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img:   'products/product-05-290x372',
			title: 'Stationery collection',
			price: '33'
		})( data-animate!={ class: 'fadeInUpBig', delay: '0.3s' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img:   'products/product-06-290x372',
			title: 'Iridescent belt bag',
			price: '9'
		})( data-animate!={ class: 'fadeInUpBig', delay: '0.45s' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img: 'products/product-12-290x372',
			title: 'White sneakers',
			price: '45'
		})( data-animate!={ class: 'fadeInUpBig' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img:   'products/product-07-290x372',
			title: 'Pom pom pen',
			price: '2'
		})( data-animate!={ class: 'fadeInUpBig', delay: '0.15s' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img:   'products/product-08-290x372',
			title: 'Phone case with chain',
			price: '34',
			priceOld: '38'
		})( data-animate!={ class: 'fadeInUpBig', delay: '0.3s' } )
	.col-6.col-md-4.col-lg-3
		+product({
			img:   'products/product-09-290x372',
			title: 'Rose eau de toilette',
			price: '39'
		})( data-animate!={ class: 'fadeInUpBig', delay: '0.45s' } )
