// 404 section
section.section.service-section.service-section-xl.bg-transparent.text-center.novi-background( data-preset!={ title:'404', category:'service', reload:false, id:'404' } )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-8.col-lg-6
				h1 Error 404 :(
				h4 Sorry, but page was not found
				p You may have mistyped the address or the page may have moved.
				.button-group
					a.btn.btn-lg.btn-primary( href='index.html' )
						span.btn-icon.int-arrow-left.novi-icon
						span Back to home
					a.btn.btn-lg.btn-secondary( href='contact-us.html' ) Contact us
