// Why Intense
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Why Intense', category:'content box', reload:false, id:'why-intense' } )
	.container
		.row.row-30.align-items-center.flex-md-row-reverse
			.col-xs-10.col-sm-6.col-md-5: .pl-xl-4
				h6.text-primary Why Intense
				h2 Lots of reasons to work with us
				ul.list.list-marked-arrow
					li.list-item Over 20 years of experience
					li.list-item Quick response
					li.list-item Creative approach
					li.list-item Friendly & qualified staff
					li.list-item Affordable prices
			.col-xs-10.col-md-7: +img( 'image-06-730x730' )
