// Classic accordion
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Accordion Sample', category:'accordion', reload:true, id:'accordion-sample-3' } )
	.container
		h2.text-center Classic accordion
		.row.justify-content-center.novi-disabled
			.col-lg-10.col-xxl-8
				.accordion.accordion-classic
					.accordion-item.accordion-classic-sample-1
						a.accordion-header.accordion-classic-sample-group( href='#', data-multi-switch!={ targets: '.accordion-classic-sample-1', isolate: '.accordion-classic-sample-group' } ) General information
						.accordion-body.accordion-classic-sample-1( data-multi-switch-target-slide )
							h4 Welcome to our Privacy Policy page! When you use our web site services, you trust us with your information.
							p.mt-4 Welcome to our Privacy Policy page! When you use our web site services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. When you share information with us, we can make our services even better for you. For instance, we can show you more relevant search results and ads, help you connect with people or to make sharing with others quicker and easier. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy.

					.accordion-item.accordion-classic-sample-2
						a.accordion-header.accordion-classic-sample-group( href='#', data-multi-switch!={ targets: '.accordion-classic-sample-2', isolate: '.accordion-classic-sample-group' } ) Right to access, correct and delete data and to object to data processing
						.accordion-body.accordion-classic-sample-2( data-multi-switch-target-slide )
							h4 Our customers have the right to access, correct and delete personal data relating to them.
							p.mt-4 Our customers have the right to access, correct and delete personal data relating to them, and to object to the processing of such data, by addressing a written request, at any time. The Company makes every effort to put in place suitable precautions to safeguard the security and privacy of personal data, and to prevent it from being altered, corrupted, destroyed or accessed by unauthorized third parties.

					.accordion-item.accordion-classic-sample-3
						a.accordion-header.accordion-classic-sample-group( href='#', data-multi-switch!={ targets: '.accordion-classic-sample-3', isolate: '.accordion-classic-sample-group', state: true } ) Management of personal data
						.accordion-body.accordion-classic-sample-3( data-multi-switch-target-slide )
							h4 You can view or edit your personal data online for many of our services.
							p.mt-4 You can also make choices about our collection and use of your data. How you can access or control your personal data will depend on which services you use. You can choose whether you wish to receive promotional communications from our web site by email, SMS, physical mail, and telephone. If you receive promotional email or SMS messages from us and would like to opt out, you can do so by following the directions in that message.
