include ../alert/_alert
include ../breadcrumb/_breadcrumb

// Appointment
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Appointment Form', category:'form', reload:true, id:'appointment-form-1' } )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-8.col-xl-7
				h2.text-center Make an appointment
				form.rd-mailform( data-form-output='form-output-global', data-form-type='contact', method='post', action='components/rd-mailform/rd-mailform.php' )
					.row.row-15.gutters-20.novi-disabled
						.col-12
							.form-group
								label( for='input-name' ) Name:
								.position-relative
									input.form-control( id='input-name', type='text', name='name', placeholder='Your name', data-constraints='@Required' )
						.col-12
							.form-group
								label( for='input-email' ) E-mail:
								.position-relative
									input.form-control( id='input-email', type='email', name='email', placeholder='Your e-mail address', data-constraints='@Email @Required' )
						.col-12
							.form-group
								label( for='input-date' ) Date:
								.datetimepicker-group
									.input-group
										input.form-control( id='input-date', type='text', name='date', placeholder='Select date', data-datetimepicker!={ format: 'L' }, data-constraints='@Required' )
										.input-group-append
											span.input-group-text.input-group-text-nodivider.int-calendar.novi-icon
						.col-md-6
							.form-group
								label( for='input-time-start' ) Required time interval start:
								.datetimepicker-group
									.input-group
										input.form-control( id='input-time-start', type='text', name='time-start', placeholder='Select time', data-datetimepicker!={ format: 'LT' }, data-constraints='@Required' )
										.input-group-append
											span.input-group-text.input-group-text-nodivider.int-clock.novi-icon
						.col-md-6
							.form-group
								label( for='input-time-end' ) Required time interval start:
								.datetimepicker-group
									.input-group
										input.form-control( id='input-time-end', type='text', name='time-end', placeholder='Select time', data-datetimepicker!={ format: 'LT' }, data-constraints='@Required' )
										.input-group-append
											span.input-group-text.input-group-text-nodivider.int-clock.novi-icon
						.col-md-12
							.form-group
								label( for='input-question' ) Question:
								.position-relative
									textarea.form-control( id='input-question', name='question', placeholder='Your question', data-constraints='@Required' )
						.col-md-12.mt-3
							button.btn.btn-lg.btn-primary( type='submit' ) Submit

				#form-output-global.form-output.snackbar.snackbar-secondary
