// Badge sizes
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Badge Sizes', category:'sample', reload:false, id:'badge-sizes' } )
	.container
		h2.text-center Badge sizes
		.row.justify-content-center.novi-disabled
			.col-xl-5
				h1 1h — Heading
					span.badge-wrap
						span.badge.badge-primary Primary
				h2 2h — Heading
					span.badge-wrap
						span.badge.badge-secondary Secondary
				h3 3h — Heading
					span.badge-wrap
						span.badge.badge-success Success
				h4 4h — Heading
					span.badge-wrap
						span.badge.badge-warning Warning
				h5 5h — Heading
					span.badge-wrap
						span.badge.badge-danger Danger
				h6 6h — Heading
					span.badge-wrap
						span.badge.badge-info Info
