include ../post/_post
include ../pag/_pag

// Modern layout without sidebar
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Blog Modern', category:'blog', reload:false, id:'blog-modern' } )
	.container
		.row.row-40.justify-content-center
			.col-md-8.post-area
				h1.text-center Modern layout
				+post-side({
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					coments:  '25',
					title:    post1.title,
					img:      'image-09-400x257',
					postText: post1.textShort
				}).post-sm.divider-layout

				+post-side({
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					coments:  '25',
					title:    post2.title,
					img:      'image-05-400x257',
					postText: post2.textShort
				}).post-sm.divider-layout

				+post-side({
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					coments:  '25',
					title:    post3.title,
					img:      'image-08-400x257',
					postText: post3.textShort
				}).post-sm.divider-layout

				+post-side({
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					coments:  '25',
					title:    post4.title,
					img:      'image-06-400x257',
					postText: post4.textShort3
				}).post-sm.divider-layout

				+post-side({
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					coments:  '25',
					title:    post5.title,
					img:      'image-10-400x257',
					postText: post5.textShort2
				}).post-sm.divider-layout

				+post-side({
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					coments:  '25',
					title:    post7.title,
					img:      'image-11-400x257',
					postText: post7.textShort
				}).post-sm.divider-layout

				+post-side({
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					coments:  '25',
					title:    post8.title,
					img:      'persons/person-06-400x257',
					postText: post8.textShort
				}).post-sm.divider-layout

				+pag-simple([
					{ value: '1', actionClass: 'active' },
					{ value: '2' },
					{ value: '3' },
					{ value: '4' },
					{ value: '5' },
					{ value: '..', class: 'inactive' },
					{ value: '24' },
					{ next: true }
				]).divider-layout.justify-content-center
