include ../post/_post
include ../pag/_pag

// Classic layout with sidebar
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Blog Classic', category:'blog', reload:true, id:'blog-classic-5' } )
	.container
		.row.row-40.justify-content-lg-between.post-area
			.col-md-8
				h1 Classic layout
				+post-classic({
					title:    post1.title,
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					img:      'image-09-840x540',
					postText: post1.text,
					coments:  '25 Comment(s)',
					tags:     [ 'Design', 'UI/UX' ]
				}).divider-layout

				+post-classic({
					title:    post2.title,
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					img:      'image-05-840x540',
					postText: post2.text,
					coments:  '25 Comment(s)',
					tags:     [ 'Design', 'UI/UX' ]
				}).divider-layout

				+post-classic({
					title:    post3.title,
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					img:      'image-08-840x540',
					postText: post3.text,
					coments:  '25 Comment(s)',
					tags:     [ 'Design', 'UI/UX' ]
				}).divider-layout

				+post-classic({
					title:    post4.titleLarge,
					label:    'HTML',
					autor:    'Mark Rogers',
					date:     'September 16, 2019',
					img:      'image-06-840x540',
					postText: post4.text,
					coments:  '25 Comment(s)',
					tags:     [ 'Design', 'UI/UX' ]
				}).divider-layout

				+pag-simple([
					{ value: '1', actionClass: 'active' },
					{ value: '2' },
					{ value: '3' },
					{ value: '4' },
					{ value: '5' },
					{ value: '..', class: 'inactive' },
					{ value: '24' },
					{ next: true }
				])

			.col-md-4.col-xxl-3.widget-area
				include ../widget/_blog-sidebar-widgets
