include ../blurb/_blurb

// Blurb ordered type #5
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Blurb Ordered Sample', category:'blurb', reload:false, id:'blurb-ordered-sample-5' } )
	.container
		.row.row-30
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-number h1">01</span>',
					title: 'Blog and shop pages',
					text: 'Post your latest news and integrate eCommerce features with our pre-designed blog & shop pages.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-number h1">02</span>',
					title: 'Blog and shop pages',
					text: 'Post your latest news and integrate eCommerce features with our pre-designed blog & shop pages.'
				}).blurb-modern
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-number h1">03</span>',
					title: 'Blog and shop pages',
					text: 'Post your latest news and integrate eCommerce features with our pre-designed blog & shop pages.'
				}).blurb-modern
