include ../blurb/_blurb

// Blurb ordered type #4
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Blurb Ordered Sample', category:'blurb', reload:false, id:'blurb-ordered-sample-4' } )
	.container
		.row.row-40
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-number h1">01</span>',
					title: 'Highly responsive website layout',
					text: 'All pages of Intense are completely responsive guaranteeing that your website will look great on any device.'
				})
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-number h1">02</span>',
					title: 'Highly responsive website layout',
					text: 'All pages of Intense are completely responsive guaranteeing that your website will look great on any device.'
				})
			.col-sm-6.col-lg-4
				+blurb-modern({
					embed: '<span class="blurb-number h1">03</span>',
					title: 'Highly responsive website layout',
					text: 'All pages of Intense are completely responsive guaranteeing that your website will look great on any device.'
				})
