include ../breadcrumb/_breadcrumb

// Breadcrumb default
section.section.section-lg.bg-transparent.pt-5.novi-background( data-preset!={ title:'Breadcrumb', category:'breadcrumb', reload:false, id:'breadcrumb-5' } )
	.container
		+breadcrumb( breadcrumbs )
		h1= pageName
