// Button with icon
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button With Icon Sample', category:'sample', reload:false, id:'button-with-icon-sample' } )
	.container.text-center
		h2 Button with icon
		p Combine icons with your buttons for more complex components
		.mt-5
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-lg.btn-primary
					span.btn-icon.int-check.novi-icon
					span Button
				button.btn.btn-primary
					span.btn-icon.int-check.novi-icon
					span Button
				button.btn.btn-sm.btn-primary
					span.btn-icon.int-check.novi-icon
					span Button
				button.link.link-secondary #[span.text-primary.int-check.novi-icon] Button
		.mt-4
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-lg.btn-primary
					span Button
					span.btn-icon.int-check.novi-icon
				button.btn.btn-primary
					span Button
					span.btn-icon.int-check.novi-icon
				button.btn.btn-sm.btn-primary
					span Button
					span.btn-icon.int-check.novi-icon
				button.link.link-secondary Button #[span.text-primary.int-check.novi-icon]
