// Button blocks
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button Block Sample', category:'sample', reload:false, id:'button-block-sample' } )
	.container.text-center
		h2 Button blocks
		p Create buttons that fits the entire parent width by adding #[code .btn-block] class to it.
		.row.justify-content-center.novi-disabled
			.col-12.col-sm-8.col-md-6.col-lg-4
				button.btn.btn-block.btn-primary Button
				button.btn.btn-block.btn-secondary Button
