 // Active buttons
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button Active Sample', category:'sample', reload:false, id:'button-active-sample' } )
	.container.text-center
		h2 Active buttons
		p Add #[code .active] class to your button to mark it as active.
		.mt-5
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				button.btn.btn-primary.active Button
				button.btn.btn-secondary.active Button
