// Disabled buttons
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button Disabled Sample', category:'sample', reload:false, id:'button-disabled-sample' } )
	.container.text-center
		.row.justify-content-center.novi-disabled
			.col-lg-8
				h2 Disabled buttons
				p Make your buttons look unclickable by adding #[code .disabled] class to anchor elements or #[code disabled] attribute to button elements.
				.mt-5
					.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
						button.btn.btn-primary.disabled Button
						button.btn.btn-secondary.disabled Button
