// Anchor buttons
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Button Anchor Sample', category:'sample', reload:false, id:'button-anchor-sample' } )
	.container.text-center
		h2 Anchor buttons
		p Create anchor buttons by adding your button classes to an #[code &lt;a>] tag
		.mt-5
			.d-inline-flex.justify-content-center.align-items-center.flex-wrap.group-20
				a.btn.btn-primary( href='#' ) Button
				a.btn.btn-secondary( href='#' ) Button
