// Intro
section.section.section-lg.bg-transparent.pb-0.novi-background( data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-3' } )
	.container
		.row.novi-disabled
			.col-xs-9.col-sm-8.col-md-7.col-lg-6
				h1 We're reshaping business. #[a #[u ( href='contact-us.html' ) Join us]].
				h5 Be part of the team that’s transforming the world’s most recognized companies.
