// Contact us
section.section.section-md.bg-transparent.novi-background( data-preset!={ title:'Contact Us', category:'contacts', reload:false, id:'contact-us-1' } )
	.container
		.row.row-30
			.col-sm-6
				h6.text-primary Intense office #1
				.offset-sm
					.d-inline-flex.align-items-center
						span.icon.icon-xs.int-phone.novi-icon.mr-2
						.h5: a( href='tel:#' ) +1 234 567 8901
				.offset-xs
					.h5 7609 Mckinley Ave, Los Angeles, CA 90001, United States
				ul.list.list-xs.small
					li.list-item Monday-Friday: 8am - 6pm
					li.list-item Saturday-Sunday: 8am - 2pm
					li.list-item Holidays: closed
				ul.list
					li.list-item: a.link.link-secondary( href='mailto:#' ) mail@demolink.org
					li.list-item: a.link.link-secondary( href='mailto:#' ) info@demolink.org
			.col-sm-6
				h6.text-primary Intense office #2
				.offset-sm
					.d-inline-flex.align-items-center
						span.icon.icon-xs.int-phone.novi-icon.mr-2
						.h5: a( href='tel:#' ) +1 234 567 8901
				.offset-xs
					.h5 178 West 27th Street, Suite 527, New York, NY 10012, United States
				ul.list.list-xs.small
					li.list-item Monday-Friday: 8am - 6pm
					li.list-item Saturday-Sunday: 8am - 2pm
					li.list-item Holidays: closed
				ul.list
					li.list-item: a.link.link-secondary( href='mailto:#' ) mail@demolink.org
					li.list-item: a.link.link-secondary( href='mailto:#' ) info@demolink.org
