// Call to action
section.section.section-lg.bg-gradient-shamrock-blue.context-dark.text-center.text-lg-left.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-8' } )
	.container
		.row.row-30.align-items-lg-center.justify-content-lg-between
			.col-lg-8( data-animate!={ class: 'fadeInLeft' } )
				h2 Intense is exactly what you need
				h5 Check out an incredible set of features provided by Intense.
			.col-lg-auto( data-animate!={ class: 'fadeInRight' } )
				a.btn.btn-lg.btn-secondary( href= buyLink, target='_blank' ) Buy Intense Now
