// Call to action type #5
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-5' } )
	.container
		.jumbotron.bg-primary.context-dark.px-sm-0.novi-background
			.row.row-30.justify-content-center
				.col-sm-8.col-md-6.col-xl-5
					h2 Call to action type #5
					h5 Check out an incredible set of features provided by Intense.
				.col-sm-8.col-md-5.col-lg-4.col-xl-3.text-md-right
					a.btn.btn-lg.btn-secondary( href= buyLink, target='_blank' ) Buy Intense Now
