// Call to action
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-9' } )
	.container
		h1 Your career starts here
		p Can't find the job you want? Send your resume to #[u.font-weight-medium #[a.link-inherit( href='mailto:#' ) info@demolink.com]] , and we'll contact
			| #[br.d-none.d-lg-block]
			| you when a new position opens.
		a.btn.btn-lg.btn-secondary( href='contact-us.html' ) Contact us
