// Call to action
section.section.section-md.bg-gradient-animated.text-center.novi-background( data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-10' } )
	.container( data-animate!={ class: 'fadeInUp' } )
		h2 Growing eCommerce is what we do
		h5 Learn what you need to transform your online store into the source of instant benefit.
		a.btn.btn-lg.btn-primary( href='#' ) Let’s Chat
