// Call to action
+vide( 'video/bg-video-3' ).section.text-center.overlay-dark-02.context-dark.novi-vide( style='padding: 13% 0;', data-preset!={ title:'Call To Action', category:'call to action', reload:false, id:'call-to-action-12' } )
	.container( data-animate!={ class: 'fadeInUp' } )
		h2 Professional eCommerce consulting
		h5 Find out how we can help you make  your store more profitable.
		a.btn.btn-lg.btn-secondary( href='#' ) Let’s Chat
