// Dividers
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Dividers Sample', category:'content box', reload:false, id:'dividers-sample' } )
	.container
		h2.text-center Dividers
		.row.row-40.row-md-60.row-xl-80
			.col-12
				hr.divider.divider-sm
				hr.divider
				hr.divider.divider-lg
				hr.divider.divider-xl
			.col-12
				hr.divider.divider-dark.divider-sm
				hr.divider.divider-dark
				hr.divider.divider-dark.divider-lg
				hr.divider.divider-dark.divider-xl
