include ../blurb/_blurb

// Layout Based
section.section.section-lg.bg-800.context-dark.pb-0.novi-background( data-preset!={ title:'RD Navabr Overview', category:'content box', reload:false, id:'rd-navabr-overview' } )
	.container.text-center
		h2( data-animate!={ class: 'fadeIn' } ) Layout Based
		p( data-animate!={ class: 'fadeIn' } ) RD Navbar was created for professionals by professionals. With it, you can dynamically switch between various navigation types you create.
		.row.row-40.row-xl-70.justify-content-center.novi-disabled
			.col-md-10( data-animate!={ class: 'fadeInUp' } )
				+img( 'image-41-812x500.png' )
