// Check Plugin Highlights
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Cross-Browser Support', category:'partner', reload:false, id:'cross-browser-support' } )
	.container.text-center
		h2( data-animate!={ class: 'fadeIn' } ) Cross-Browser Support
		p( data-animate!={ class: 'fadeIn' } ) The script was optimized to run flawlessly across all the major web browsers.
		.group-15.mt-5
			+img( 'browsers/chrome-59x57.png' )( data-animate!={ class: 'fadeInLeftBig', delay: '0.2s' } )
			+img( 'browsers/firefox-59x60.png' )( data-animate!={ class: 'fadeInLeftBig' } )
			+img( 'browsers/safari-59x57.png' )( data-animate!={ class: 'fadeInRightBig' } )
			+img( 'browsers/edge-59x59.png' )( data-animate!={ class: 'fadeInRightBig', delay: '0.2s' } )
