// Get in touch with reCaptcha
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Get In Touch', category:'form, contacts', reload:true, id:'get-in-touch-1' } )
	.container
		.row.row-20.justify-content-center.novi-disabled
			.col-md-9.col-lg-8.col-xl-7
				h2 Get in Touch
				form.rd-mailform( data-form-output='form-captcha-output', data-form-type='contact', method='post', action='components/rd-mailform/rd-mailform.php' )
					.row.row-20.gutters-20.novi-disabled
						.col-xs-6
							.form-group
								label( for='input-name' ) Name:
								.position-relative
									input.form-control( id='input-name', type='text', name='name', placeholder='Your name', data-constraints='@Required' )
						.col-xs-6
							.form-group
								label( for='input-email' ) E-mail:
								.position-relative
									input.form-control( id='input-email', type='email', name='email', placeholder='Your e-mail address', data-constraints='@Email @Required' )
						.col-12
							.form-group
								label( for='input-question' ) Question:
								.position-relative
									textarea.form-control( id='input-question', name='question', placeholder='Your question', data-constraints='@Required' )
						.col-12
							// Google captcha
							label Captcha:
							div: .form-group.d-inline-block
								.recaptcha( id='captcha', data-sitekey='6LfZlSETAAAAAC5VW4R4tQP8Am_to4bM3dddxkEt', data-auto-size='' )
					.offset-md
						.group-20
							button.btn.btn-lg.btn-primary( type='submit' ) Submit
							button.btn.btn-lg.btn-dark( type='reset' ) Reset

				#form-captcha-output.form-output.snackbar.snackbar-secondary
