// Grid system
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Grid System', category:'sample', reload:false, id:'grid-system' } )
	.container
		.text-center
			h2 Bootstrap grid
			p Default Bootstrap Grid is also included. It is fully compatible with Flex Grid from our Bootstrap Toolkit.
			.row.grid-sample
				+loop( 12 )
					.col-1
						code .col-1
				+loop( 6 )
					.col-2
						code .col-2
				+loop( 4 )
					.col-3
						code .col-3
				+loop( 3 )
					.col-4
						code .col-4
				+loop( 2 )
					.col-6
						code .col-6
				.col-7
					code .col-7
				.col-5
					code .col-5
				.col-8
					code .col-8
				.col-4
					code .col-4
				.col-9
					code .col-9
				.col-3
					code .col-3
				.col-10
					code .col-10
				.col-2
					code .col-2
				.col-11
					code .col-11
				.col-1
					code .col-1
