// Content box
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Content Box', category:'content box', reload:false, id:'content-box-1' } )
	.container
		.row.row-30.align-items-center.justify-content-center.justify-content-md-between.text-center.text-md-left
			.col-xs-8.col-md-6.col-xl-7( data-animate!={ class: 'fadeInLeftBig' } )
				+img( 'products/product-03-730x640' )
			.col-xs-8.col-md-6.col-xl-4( data-animate!={ class: 'fadeInRightBig' } )
				.text-box
					h2 The quarter size experience
					p Create exactly what you need with our powerful bootstrap toolkit.
