// Intro
section.section.section-lg.bg-gradient-animated.novi-background( data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-6' } )
	.container
		.row.row-30.align-items-center
			.col-md-6
				h1( style='max-width: 450px;', data-animate!={ class: 'fadeInUp' } ) Take control of your inbox.
				p( style='max-width: 600px;', data-animate!={ class: 'fadeInUp', delay: '0.15s' } ): span.h6 Intense is an independent web design studio with a rich history. It started as a small family-owned business in Oakville.
				.offset-md( data-animate!={ class: 'fadeInUp', delay: '0.3s' } )
					a.btn.btn-lg.btn-dark.btn-round.btn-anis( href='#' )
						span.btn-icon.int-apple.novi-icon
						span Download on the AppStore
			.col-md-6.d-none.d-md-block
				+img( 'image-55-613x599.png' )
