// Experience
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Experience', category:'blurb', reload:false, id:'experience' } )
	.container( data-animate!={ class: 'fadeInRight' } )
		.row.row-30.novi-disabled
			.col-md-3.col-xl-2
				h5 Experience
			.col-md-9.col-xl-10
				.row.row-20.gutters-20.row-text
					.col-6.col-lg-4.col-xl-3
						article.award.award-secondary
							.award-title.h3 2019
							.award-text.small Intense,
								| #[br.d-none.d-xs-block]
								| Leading UI/UX designer
					.col-6.col-lg-4.col-xl-3
						article.award
							.award-title.h3 2018
							.award-text.small ZGP Web Agency,
								| #[br.d-none.d-xs-block]
								| Product Designer
					.col-6.col-lg-4.col-xl-3
						article.award
							.award-title.h3 2017
							.award-text.small Pixx Creative Studio,
								| #[br.d-none.d-xs-block]
								| Leading UX designer
					.col-6.col-lg-4.col-xl-3
						article.award
							.award-title.h3 2014
							.award-text.small Xtra Web,
								| #[br.d-none.d-xs-block]
								| UX Designer
					.col-6.col-lg-4.col-xl-3
						article.award
							.award-title.h3 2012
							.award-text.small LA Web Studio,
								| #[br.d-none.d-xs-block]
								| Junior Designer
