// Skills
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Skills', category:'content box, partner', reload:true, id:'skills-3' } )
	.container( data-animate!={ class: 'fadeInRight' } )
		.row.row-30
			.col-md-3.col-xl-2
				h5 Skills
			.col-md-9.col-xl-6
				h2 UI/UX design, Application design, UX research, Visual communication, Prototyping, Wireframing, HTML/CSS/JavaScript
			.col-md-9.offset-md-3.col-xl-4.offset-xl-0
				.group-40.d-flex.flex-wrap.justify-content-xxl-between.pl-xl-3
					+img( 'logos/logo-07-64x64.png' )
					+img( 'logos/logo-08-64x64.png' )
					+img( 'logos/logo-09-64x64.png' )
					+img( 'logos/logo-10-64x64.png' )
