// Intro
section.section.section-lg.bg-image.d-flex.align-items-center.min-vh-100.mx-4.novi-background( style='background-image: url(images/image-46-1840x1000.jpg)', data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-15' } )
	.container
		.row.novi-disabled
			.col-sm-10.col-md-8.col-xl-7.col-xxl-6( data-animate!={ class: 'fadeInUp' } )
				h1 Ideal everyday
				p Create exactly what you need with our powerful bootstrap toolkit.
				.offset-md
					a.btn.btn-lg.btn-dark.btn-anis( href= buyLink, target='_blank' ) Buy Intense Now
