include ../counter/_counter

// Our recent case studies
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Case Studies', category:'content box, counter', reload:false, id:'case-studies' } )
	.container
		h2.text-center( data-animate!={ class: 'fadeInUp' } ) Our recent case studies
		.row.row-50.row-lg-60
			.col-12( data-animate!={ class: 'fadeInUp' } )
				article.shadow-sm
					.row.justify-content-center.flex-md-row-reverse.justify-content-md-start.novi-disabled
						.col-md-6.text-right
							svg.image-mask( width='97.2%', height='490', viewBox="0 0 603 490", preserveAspectRatio="xMidYMid slice" )
								defs
									mask#mask3
										path( d="M603 474.871C399.28 503.917 171.274 502.112 63.2662 369.071C-34.9479 248.094 -15.9947 89.1755 100.569 0H603V474.871Z" fill="#fff" )
								image( mask="url(#mask3)" xlink:href="images/image-05-1200x800.jpg" height="100%" width="100%" preserveAspectRatio="xMidYMid slice" )
						.col-10.col-md-5
							.section-md
								div
									h3 Data modeling tool for NoSQL databases
									p.d-none.d-lg-block A revolutionary data modeling tool that introduces traditional database design concepts to NoSQL DBs.
								.row.row-offset-md.row-lg-40
									.col-6.col-lg-auto
										+counter({
											value: 4,
											valueColor: 'text-secondary',
											title: 'Backend engineers'
										})
									.col-6.col-lg-5
										+counter({
											value: 99,
											valueColor: 'text-secondary',
											postfix: '%',
											title: 'Positive reviews'
										})
			.col-12( data-animate!={ class: 'fadeInUp' } )
				article.shadow-sm
					.row.justify-content-center.flex-md-row-reverse.justify-content-md-end.align-items-md-end.novi-disabled
						.col-10.col-md-5
							.section-md
								div
									h3 State-of-the-art file sorting & processing technology
									p.d-none.d-lg-block We developed a unique information technology solution that provides new file sorting algorithms.
								.row.row-offset-md.row-lg-40
									.col-6.col-lg-5
										+counter({
											value: 8,
											valueColor: 'text-secondary',
											postfix: '+',
											title: 'C++ engineers'
										})
									.col-6.col-lg-5
										+counter({
											value: 30,
											valueColor: 'text-secondary',
											title: 'Hours of work'
										})
						.col-md-6
							svg.image-mask( width='97.2%', height='490', viewBox="0 0 603 490", preserveAspectRatio="xMidYMid slice" )
								defs
									mask#mask4
										path( d="M0 15.1286C203.72 -13.9173 431.726 -12.1121 539.734 120.929C637.948 241.906 618.995 400.824 502.431 490H0V15.1286Z" fill="#fff" )
								image( mask="url(#mask4)" xlink:href="images/image-46-1200x800.jpg" height="100%" width="100%" preserveAspectRatio="xMidYMid slice" )
