include ../content-row/_content-row

// Venue
section.section.section-lg.bg-900.context-dark.novi-background( data-preset!={ title:'Venue', category:'content box', reload:false, id:'venue' } )
	.container
		.row.row-30.justify-content-between.flex-md-row-reverse
			.col-md-6
				+img( 'image-53-620x479' )( data-animate!={ class: 'fadeIn' } )
			.col-md-6.col-xl-5.dl-area
				h1( data-animate!={ class: 'fadeIn' } ) Venue
				dl( data-animate!={ class: 'fadeInLeftBig' } )
					dt.font-weight-normal Address
					dd.text-contrast 178 West 27th Street, Suite 527, New York NY 10012, United States
				dl( data-animate!={ class: 'fadeInLeftBig', delay: '0.15s' } )
					dt.font-weight-normal Address
					dd.text-contrast 178 West 27th Street, Suite 527, New York NY 10012, United States
				dl( data-animate!={ class: 'fadeInLeftBig', delay: '0.3s' } )
					dt.font-weight-normal Address
					dd.text-contrast 178 West 27th Street, Suite 527, New York NY 10012, United States
