// Intro
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Intro', category:'content box', reload:false, id:'intro-11' } )
	.container
		.row.row-30.flex-md-row-reverse.align-items-center.justify-content-center.justify-content-md-between.text-center.text-md-left
			.col-xs-8.col-md-6.col-xl-7( data-animate!={ class: 'fadeInRightBig' } )
				+img( 'image-43-730x640' )
			.col-xs-8.col-md-6.col-xl-4( data-animate!={ class: 'fadeInLeftBig' } )
				h2.text-primary The smartest bootstrap template
				a.btn.btn-lg.btn-dark.btn-anis( href= buyLink, target='_blank' ) Buy intense now
