// FAQ
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'faq', category:'faq, accordion', reload:true, id:'faq-3' } )
	.container
		.row.row-30.justify-content-center.justify-content-lg-between
			.col-md-4( data-animate!={ class: 'fadeInUp' } )
				.sticky.sticky-top
					h2 Frequently asked questions
			.col-md-8.col-lg-7
				.accordion.accordion-classic
					.accordion-item.accordion-1( data-animate!={ class: 'fadeInRight' } )
						a.accordion-header.accordion-group-1( href='#', data-multi-switch!={
							targets: '.accordion-1',
							isolate: '.accordion-group-1'
						} ) What kind of consulting services do you offer?
						.accordion-body.accordion-1( data-multi-switch-target-slide )
							h4 Besides eCommerce consulting services, we offer a wide range of additional solutions for your store.
							p.mt-4 At Intense, we provide a wide variety of consulting services for owners and managers of online stores to make their eCommerce presence more beneficial and successful. We can also provide necessary design improvements for your online shop.
					.accordion-item.accordion-2( data-animate!={ class: 'fadeInRight' } )
						a.accordion-header.accordion-group-1( href='#', data-multi-switch!={
							targets: '.accordion-2',
							isolate: '.accordion-group-1'
						} ) How will potential shoppers find my online store?
						.accordion-body.accordion-2( data-multi-switch-target-slide )
							h4 There’s a variety of ways for your potential customers to find your online store.
							p.mt-4 Every day millions of people are searching on the Internet for the things you are selling. We can help get your product listings into the top results of search engines like Google® and Yahoo®. Using Search Engine Optimization, our experts will make changes to your website and create links from other quality websites to make it more attractive to search engines. As an added bonus, you'll get two great online marketing offers to start promoting your online store. Feel free to contact us directly to find out more.
					.accordion-item.accordion-3( data-animate!={ class: 'fadeInRight' } )
						a.accordion-header.accordion-group-1( href='#', data-multi-switch!={
							targets: '.accordion-3',
							isolate: '.accordion-group-1',
							state: true
						} ) What is a merchant account?
						.accordion-body.accordion-3( data-multi-switch-target-slide )
							h4 Merchant account allows you to sell online and establish payment options for your future customers.
							p.mt-4 A merchant account is a special agreement with a bank that allows you to accept credit card payments. If you want to sell online, you will need to provide your shoppers with payment options that will make them feel comfortable about their transactions. Credit card transactions are the most popular method of online payment and the best way to process credit card payments online is to have your own merchant account.
