// Round icon sizes
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Round Icon Sizes Sample', category:'icon sample', reload:false, id:'round-icon-sizes-sample' } )
	.container
		h2 Round icon sizes
		.mt-5
			.group-30.d-flex.flex-wrap.align-items-start.justify-content-center
				.icon.icon-round.icon-xs.icon-secondary-filled.fa-television.novi-icon
				.icon.icon-round.icon-sm.icon-secondary-filled.fa-television.novi-icon
				.icon.icon-round.icon-md.icon-secondary-filled.fa-television.novi-icon
				.icon.icon-round.icon-lg.icon-secondary-filled.fa-television.novi-icon
				.icon.icon-round.icon-xl.icon-secondary-filled.fa-television.novi-icon
