// Default icon sizes
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Default Icon Sizes Sample', category:'icon sample', reload:false, id:'default-icon-sizes-sample' } )
	.container
		h2 Default icon sizes
		.mt-5
			.group-30.d-flex.flex-wrap.align-items-start.justify-content-center
				.icon.icon-xs.icon-secondary.fa-television.novi-icon
				.icon.icon-sm.icon-secondary.fa-television.novi-icon
				.icon.icon-md.icon-secondary.fa-television.novi-icon
				.icon.icon-lg.icon-secondary.fa-television.novi-icon
				.icon.icon-xl.icon-secondary.fa-television.novi-icon
