// Ellipse icon styles
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Ellipse Icon Styles Sample', category:'icon sample', reload:false, id:'ellipse-icon-styles-sample' } )
	.container
		h2 Ellipse icon styles
		.mt-5
			.group-30.d-flex.flex-wrap.align-items-start.justify-content-center
				.icon.icon-circle.icon-md.icon-primary.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-secondary.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-dark.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-shamrock-blue.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-blue-violet.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-electric-violet.fa-television.novi-icon
		.mt-4
			.group-30.d-flex.flex-wrap.align-items-start.justify-content-center
				.icon.icon-circle.icon-md.icon-primary-filled.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-secondary-filled.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-dark-filled.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-shamrock-blue-filled.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-blue-violet-filled.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-electric-violet-filled.fa-television.novi-icon
