// Icon shapes
section.section.section-lg.bg-transparent.text-center.novi-background( data-preset!={ title:'Icon Shapes Sample', category:'icon sample', reload:false, id:'icon-shapes-sample' } )
	.container
		h2 Icon shapes
		.mt-5
			.group-30.d-flex.flex-wrap.align-items-center.justify-content-center
				.icon.icon-md.icon-primary.fa-television.novi-icon
				.icon.icon-circle.icon-md.icon-primary-filled.fa-television.novi-icon
				.icon.icon-round.icon-md.icon-primary-filled.fa-television.novi-icon
				.icon.icon-rect.icon-md.icon-primary-filled.fa-television.novi-icon
