include ../breadcrumb/_breadcrumb

// Intro RD Navbar
section.section.section-lg.text-center.d-flex.align-items-center.min-vh-100.context-dark.parallax( data-preset!={ title:'Intro RD Navbar', category:'intro', reload:true, id:'intro-rd-navbar' } )
	.parallax-layer.parallax-3d.novi-bg-image( data-coeff='.1' style='background-image: url( images/image-23-1920x817.jpg );' )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-10
				h1 RD Navbar
				p Your reliable assistant to create any kind of navigation
				.offset-md.group-30
					a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
