include ../breadcrumb/_breadcrumb

// Intro post
section.section.intro.intro-post.bg-image.context-dark.novi-background( style='background-image: url( images/image-23-1920x817.jpg )', data-preset!={ title:'Intro Post', category:'intro, blog', reload:false, id:'intro-post-2' } )
	.container
		+breadcrumb( breadcrumbs )
		.row.justify-content-center.intro-content.novi-disabled
			.col-md-8.col-xl-6
				.post-meta
					.post-meta-item: a.post-meta-link.post-meta-linkbox.post-meta-linkbox-primary( href='#' ) HTML
				h1.intro-title We're enabling everyone to create for the web.
				.post-meta.intro-meta
					.post-meta-item
						span.post-meta-icon.int-clock.novi-icon
						span.post-meta-text September 16, 2019
