// Intro form plugins
section.section.section-lg.text-center.d-flex.align-items-center.min-vh-100.overlay-dark-03.context-dark.bg-image.novi-background( style='background-image: url( images/image-32-1920x1000.jpg )', data-preset!={ title:'Intro Form Plugins', category:'intro', reload:false, id:'intro-form-plugins' } )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-9
				h1 Set of form plugins
				h5 Add a form to any page, where you want to motivate visitors for a contact. Depending on your needs, you can use a contact, subscription or booking form type.
				.offset-sm.group-30
					a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
					a.btn.btn-lg.btn-light.btn-outline( href='#rdMailform', data-anchor-link ) View widget
