include ../breadcrumb/_breadcrumb

// Intro calendar
section.section.section-lg.bg-image.text-center.d-flex.align-items-center.min-vh-100.overlay-dark.context-dark.novi-background( style='background-image: url( images/image-30-1920x900.jpg )', data-preset!={ title:'Intro Calendar', category:'intro', reload:false, id:'intro-calendar' } )
	.container
		.row.justify-content-center.novi-disabled
			.col-md-10
				h1 Easy integration of calendar with template pages
				p Improve your appointment & schedule pages without issues.
				.offset-md.group-30
					a.btn.btn-lg.btn-primary( href= buyLink, target='_blank' ) Buy Intense Now
					a.btn.btn-lg.btn-light.btn-outline( href='#fullcalendar', data-anchor-link='' ) View widget
