// Mailform browser
section.section.section-lg.context-dark.bg-image.novi-background( style='background-image: url( images/image-23-1920x817.jpg )', data-preset!={ title:'Mailform Browser', category:'content box, call to action', reload:false, id:'mailform-browser' } )
	.container
		.row.row-40.align-items-center.justify-content-xl-between
			.col-md-9.col-lg-5.col-xl-4
				h2 Cross-Browser Support
				p.small RD Mailform is compatible with all the modern-day browsers. In such a way, all visitors can use your forms regardless of their browser preferences.
				a.btn.btn-light.btn-outline( href= buyLink, target='_blank' ) Buy Intense Now
			.col-md-8.col-lg-7
				+img( 'features/feature-03-700x478.png' ).shadow-sm
