// Media soundcloud
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Media Soundcloud', category:'media', reload:true, id:'media-soundcloud' } )
	.container.text-center
		h2 Soundcloud player
		.row.justify-content-center.novi-disabled
			.col-md-8.col-xl-6
				.iframe.iframe-soundcloud
					iframe.iframe-item( src='about:blank', height='166', data-pended-iframe='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false' )
