include ../offer-box/_offer-box

// Offer box thumbnail
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Offer Box Thumbnail Sample', category:'offer box', reload:false, id:'offer-box-thumbnail-sample' } )
	h2.px-3.text-center Offer boxes type #3
	.row.no-gutters
		.col-sm-6.col-lg-3
			+offer-box-thumbnail({
				imgBackground: 'image-09-480x308',
				title: 'Helping you create outstanding and responsive websites',
				text:  'Intense provides you with everything necessary for creation of a powerful and responsive website.'
			})

		.col-sm-6.col-lg-3
			+offer-box-thumbnail({
				imgBackground: 'image-05-480x308',
				title: 'Providing website owners worldwide with powerful customization tools',
				text:  'With Intense, it is very easy to customize your existing website any way you want thanks to the rich UI kit.'
			})

		.col-sm-6.col-lg-3
			+offer-box-thumbnail({
				imgBackground: 'persons/person-06-480x308',
				title: 'Create an appealing online presence for your company with Intense',
				text:  'Intense also allows you to develop a totally unique web presence with a variety of pre-designed pages.'
			})

		.col-sm-6.col-lg-3
			+offer-box-thumbnail({
				imgBackground: 'image-18-480x308',
				title: 'Build any type of website you want without using complex coding',
				text:  'Our template provides you with an easy way of building a website without having deep coding knowledge.'
			})
