include ../breadcrumb/_breadcrumb

// FAQ
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'FAQ', category:'faq, accordion', reload:true, id:'faq-4' } )
	.container
		h6.text-primary Other Questions
		h2 The answers on most common questions are
			br
			| described bellow.
		.accordion.accordion-boxed
			.accordion-item.accordion-6
				a.accordion-header.accordion-group-2( href='#', data-multi-switch!={
					targets: '.accordion-6',
					isolate: '.accordion-group-2'
				} ) Who can take advantage of Intense?
				.accordion-body.accordion-6( data-multi-switch-target-slide )
					.row.novi-disabled: .col-lg-9
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
						hr.divider.divider-sm
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes

			.accordion-item.accordion-7
				a.accordion-header.accordion-group-2( href='#', data-multi-switch!={
					targets: '.accordion-7',
					isolate: '.accordion-group-2'
				} ) How can web developers benefit from Intense?
				.accordion-body.accordion-7( data-multi-switch-target-slide )
					.row.novi-disabled: .col-lg-9
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
						hr.divider.divider-sm
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes

			.accordion-item.accordion-8
				a.accordion-header.accordion-group-2( href='#', data-multi-switch!={
					targets: '.accordion-8',
					isolate: '.accordion-group-2'
				} ) Who can take advantage of Intense?
				.accordion-body.accordion-8( data-multi-switch-target-slide )
					.row.novi-disabled: .col-lg-9
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
						hr.divider.divider-sm
						h4 Intense is the most powerful Bootstrap theme on TemplateMonster
						p Intense is a flexible instrument for professional developers. It comes packed with 250+ pre-designed pages, 20 premium plugins, 50+ scalable shortcodes, and an extended Bootstrap toolkit.
						ul.list.list-marked-arrow.ml-5
							li.list-item Fully responsive design
							li.list-item Social integration
							li.list-item 30+ predesigned pages
							li.list-item Regular content updates
							li.list-item Lots of child themes
