// FAQ
section.section.section-lg.bg-transparent.text-400.novi-background( data-preset!={ title:'FAQ', category:'faq, accordion', reload:false, id:'faq-5' } )
	.container
		.row.row-40.row-md-60.row-lg-80.row-xl-100
			.col-12
				h2 Other questions
				.offset-xs: hr.divider
			.col-lg-10.col-xl-8
				h4
					span.mr-3 1.
					| What makes Intense special for designers?
				p Intense offers a huge UI kit for web designers. It includes pre-designed child themes, over 2000 font icons, unlimited skins and colors, parallax and hover effects, canvas animations, and much more. All these features can streamline the workflow and turn any project into an eye candy, while giving any web designer a space for creativity.
			.col-lg-10.col-xl-8
				h4
					span.mr-3 2.
					| Is Intense an eCommerce-ready solution and can my online store use it?
				p Yes, you can use Intense to give a head start to a web store. It is integrated with a shopping cart and includes 10+ eCommerce templates for building different store pages, such as:
