include ../person/_person

// Person large
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Person Large Sample', category:'person', reload:false, id:'person-large-sample' } )
	.container.text-center
		h2 Member boxes type #1
		.row.row-30.justify-content-center
			.col-sm-6.col-md-4
				+person({
					img: 'persons/person-04-400x400',
					title: 'Mark Rogers',
					subtitle: 'Lead Designer',
					links: [
						{ iconClass: 'int-twitter' }
					]
				}).person-lg

			.col-sm-6.col-md-4
				+person({
					img: 'persons/person-05-400x400',
					title: 'Edward Rivera',
					subtitle: 'Senior Front End Developer',
					links: [
						{ iconClass: 'int-twitter' }
					]
				}).person-lg

			.col-sm-6.col-md-4
				+person({
					img: 'persons/person-06-400x400',
					title: 'John Wilson',
					subtitle: 'CEO, Founder, Creative Director',
					links: [
						{ iconClass: 'int-twitter' }
					]
				}).person-lg
