// Portfolio fullwidth 5 column
section.section.section-lg.pb-0.bg-transparent.text-center.novi-background( data-preset!={ title:'Portfolio Fullwidth 5 Column', category:'thumbnail, gallery, isotope', reload:true, id:'portfolio-fullwidth-5-column' } )
	h1 Fullwidth layout
	.isotope-wrap.isotope-line
		.isotope-filters.isotope-filters-wide
			.isotope-filter.active( data-isotope-filter="*" ) All
			.isotope-filter( data-isotope-filter=".design" ) Design
			.isotope-filter( data-isotope-filter=".development" ) Development
			.isotope-filter( data-isotope-filter=".marketing" ) Marketing
		.isotope.gallery( data-lightgallery )
			.gallery-item.isotope-item.development
				a.thumbnail-light.lightgallery-item( href='images/image-07-1200x800.jpg' )
					+img( 'image-07-384x384' )
			.gallery-item.isotope-item.development
				a.thumbnail-light.lightgallery-item( href='images/image-15-1200x800.jpg' )
					+img( 'image-15-384x384' )
			.gallery-item.isotope-item.development
				a.thumbnail-light.lightgallery-item( href='images/image-16-1200x800.jpg' )
					+img( 'image-16-384x384' )
			.gallery-item.isotope-item.design
				a.thumbnail-light.lightgallery-item( href='images/image-17-1200x800.jpg' )
					+img( 'image-17-384x384' )
			.gallery-item.isotope-item.design
				a.thumbnail-light.lightgallery-item( href='images/image-14-1200x800.jpg' )
					+img( 'image-14-384x384' )

			.gallery-item.isotope-item.design
				a.thumbnail-light.lightgallery-item( href='images/image-05-1200x800.jpg' )
					+img( 'image-05-384x384' )
			.gallery-item.isotope-item.marketing
				a.thumbnail-light.lightgallery-item( href='images/image-06-1200x800.jpg' )
					+img( 'image-06-384x384' )
			.gallery-item.isotope-item.marketing
				a.thumbnail-light.lightgallery-item( href='images/image-13-1200x800.jpg' )
					+img( 'image-13-384x384' )
			.gallery-item.isotope-item.marketing
				a.thumbnail-light.lightgallery-item( href='images/image-20-1200x800.jpg' )
					+img( 'image-20-384x384' )
			.gallery-item.isotope-item.marketing
				a.thumbnail-light.lightgallery-item( href='images/image-21-1200x800.jpg' )
					+img( 'image-21-384x384' )
