// Product form review
section.section.section-md.bg-transparent.novi-background( data-preset!={ title:'Product Form Review', category:'form, comment', reload:true, id:'product-form-review' } )
	.container
		.row.novi-disabled: .col-md-10.col-lg-9.col-xl-8
			include ../product/_product-form-review
