// Why choose us?
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Why Choose Us', category:'content box', reload:false, id:'why-choose-us' } )
	.container
		.row.row-30
			.col-lg-6
				h6.text-primary Why choose us?
				h2 We combine professionalism with passion and dedication
				p We're dedicated to giving you the best service possible by keeping our solutions friendly, simple and effective. If you don’t trust our word for it, feel free to read the testimonials on our website to learn more about various reasons why our clients choose Intense.
			.col-xs-10.col-md-8.col-lg-6: +img( 'image-17-620x460' )
