// Partners
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Partners', category:'partner', reload:false, id:'partners-5' } )
	.container
		.group-20.d-flex.flex-wrap.align-items-end.justify-content-between
			h2 Our partners
			p These companies are our lifelong partners whose efforts support our goals.
		.row.row-offset-lg.row-30.row-lg-40
			.col-6.col-md-3: .partner: +img( 'partners/partner-1-290x120' ).partner-image
			.col-6.col-md-3: .partner: +img( 'partners/partner-2-290x120' ).partner-image
			.col-6.col-md-3: .partner: +img( 'partners/partner-4-290x120' ).partner-image
			.col-6.col-md-3: .partner: +img( 'partners/partner-3-290x120' ).partner-image
