include ../sitelist/_sitelist

// Sitemap
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Sitemap', category:'content box, service', reload:false, id:'sitemap' } )
	.container
		h1 Sitemap
		+sitelist( menu )
