include ../snackbar/_snackbar

// Snackbars
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Snackbars', category:'sample', reload:false, id:'snackbars' } )
	.container
		h2.text-center Snackbars
		.row.justify-content-center
			.col-md-8.col-lg-6.col-xxl-4
				+snackbar({
					themeColor: 'primary',
					title: 'Message sent',
					titleIcon: 'int-check'
				})

				+snackbar({
					themeColor: 'primary',
					title: 'Marked as read',
					titleIcon: 'int-check',
					btnText: 'Undo'
				})

				+snackbar({
					themeColor: 'secondary',
					title: 'Sending',
					titleIcon: 'fa-circle-o-notch fa-spin',
					btnText: 'Undo'
				})

				+snackbar({
					themeColor: 'danger',
					title: 'Form submission failed',
					titleIcon: 'int-warning',
					btnText: 'Retry'
				})
