include ../breadcrumb/_breadcrumb

// Subscribe
section.section.section-lg.overlay-secondary-06.bg-image.pt-5.novi-background( style='background-image: url(images/image-31-1920x954.jpg)', data-preset!={ title:'Subscribe', category:'form', reload:true, id:'subscribe' } )
	.container
		.context-dark
			+breadcrumb( breadcrumbs )
			h1.text-center= pageName
		.row.row-offset-lg.row-30.justify-content-center.novi-disabled
			.col-md-11.col-lg-8
				article.accent-box
					h4.accent-box-title Discover the latest trends in
						| #[br.d-none.d-xs-block]
						| design and tech
					p.accent-box-text Trying to stay on top of it all? Get the best tools, resources and inspiration sent to your inbox weekly.
					form.accent-box-form.form-inline.group-20.rd-mailform.novi-disabled( data-form-output='form-output', data-form-type='subscribe', method='post', action='components/rd-mailform/rd-mailform.php' )
						.form-inline-group
							input.form-control( type='email', placeholder='Your e-mail address', name='email', data-constraints='@Email' )
						button.btn.btn-lg.btn-primary( type='submit' ) Subscribe

					#form-output.form-output.snackbar.snackbar-secondary

					.offset-md.small By clicking the button you agree to the #[u.font-weight-medium #[a.link-inherit( href='privacy-policy.html' ) Privacy Policy]] and #[u.font-weight-medium #[a.link-inherit( href='#' ) Terms and Conditions]]
