// Table type #3
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Table Sample', category:'table, content box', reload:false, id:'table-sample-3' } )
	.container
		h2.text-center Table type #3
		h4.table-title Recent users
		table.table.table-responsive-xl.table-creative
			thead
				tr
					th.text-center( style='min-width: 50px; width: 5.5%' )
						.icon.icon-xs.int-sort-up.novi-icon
					th( style='min-width: 280px; width: 25.3%' ) Name & surname
					th( style='min-width: 320px; width: 25.3%' ) E-mail
					th.text-center( style='min-width: 70px; width: 18.6%' ) Account status
					th( style='min-width: 220px; width: 25.3%' ) Registration date
			tbody
				tr
					td.text-center #1
					td Douglas Ross
						span.badge.badge-primary.ml-2 Primary
					td: a( href='#' ) dross@demolink.org
					td.text-center: .int-check.novi-icon
					td: time( datetime='2019-01-01' ) 2019/01/01
				tr
					td.text-center #2
					td William Torres
						span.badge.badge-warning.ml-2 Warning
					td: a( href='#' ) wtorres@demolink.org
					td.text-center: .int-check.novi-icon
					td: time( datetime='2019-01-12' ) 2019/01/12
				tr
					td.text-center #3
					td Maria Bell
					td: a( href='#' ) mbell@demolink.org
					td.text-center: .int-close.novi-icon
					td: time( datetime='2019-01-17' ) 2019/01/17
				tr
					td.text-center #4
					td Ruth Carter
						span.badge.badge-danger.ml-2 Danger
					td: a( href='#' ) rcarter@demolink.org
					td.text-center: .int-check.novi-icon
					td: time( datetime='2019-01-24' ) 2019/01/24
				tr
					td.text-center #5
					td Christopher Smith
					td: a( href='#' ) csmith@demolink.org
					td.text-center: .int-check.novi-icon
					td: time( datetime='2019-01-31' ) 2019/01/31
