include ../breadcrumb/_breadcrumb

// Intro
section.section.section-sm.context-dark.bg-image.novi-background( style='padding-bottom: 11.6%; background-image: url(images/image-27-1920x817.jpg);', data-preset!={ title:'Intro', category:'intro', reload:false, id:'intro-17' } )
	.container
		+breadcrumb( breadcrumbs )
		h4= pageName
		.row.novi-disabled( style='margin-top: 10.6%;' )
			.col-xs-7.col-sm-6.col-md-5.col-xl-4.col-xxl-5
				h1 We're enabling everyone to create for the web.
