// Text Aligment
section.section.section-lg.bg-transparent.novi-background( data-preset!={ title:'Text Aligment', category:'sample', reload:false, id:'text-aligment' } )
	.container
		.row.row-30
			.col-lg-4
				h2 Text alignment
			.col-lg-8
				h1 Left aligned text
				p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. You will definitely have a great experience of using our web page.
				h1.text-center Centered text
				p.text-center Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. You will definitely have a great experience of using our web page.
				h1.text-right Right aligned text
				p.text-right Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. You will definitely have a great experience of using our web page.
