// UI Kit
section.section.section-lg.bg-transparent.text-center.pb-0.novi-background( data-preset!={ title:'UI Kit', category:'content box, ui kit', reload:false, id:'ui-kit-1' } )
	.container
		.row.justify-content-center
			.col-lg-10.col-xl-9
				h2 Make Easier Interface
				p Intense provides a poweful and flexible exntended toolkit in addition to basic Bootstrap. If you’ve used Bootstrap itself, you’ll find this all super familiar and easy-to-use.
				.offset-md.group-15
					a.btn.btn-sm.btn-danger( href='accordions.html' )
						span.btn-icon.mdi.mdi-playlist-plus.novi-icon
						span Accordions
					a.btn.btn-sm.btn-danger( href='tabs.html' )
						span.btn-icon.mdi.mdi-format-line-spacing.novi-icon
						span Tabs
					a.btn.btn-sm.btn-danger( href='widgets.html' )
						span.btn-icon.mdi.mdi-border-left.novi-icon
						span Widgets
					a.btn.btn-sm.btn-danger( href='pagination.html' )
						span.btn-icon.mdi.mdi-numeric-1-box-outline.novi-icon
						span Pagination
					a.btn.btn-sm.btn-danger( href='breadcrumbs.html' )
						span.btn-icon.mdi.mdi-drag-horizontal.novi-icon
						span Breadcrumbs
					a.btn.btn-sm.btn-danger( href='calls-to-action.html' )
						span.btn-icon.mdi.mdi-vector-triangle.novi-icon
						span Calls to action

		.offset-md: +img( 'features/feature-01-1229x446.png' )
