// UI Kit
section.section.section-lg.context-dark.bg-image.novi-background( style='background-image: url( images/image-23-1920x817.jpg )', data-preset!={ title:'UI Kit', category:'content box, ui kit', reload:false, id:'ui-kit-2' } )
	.container
		.row.row-40.justify-content-center.align-items-lg-end
			.col-md-10.col-lg-5.col-xl-4
				h2 Choose Your Own Design
				p.small Choose the appropriate style for your site theme. You can change the style of text, form elements, lists, icons, etc. Also, we took care of the animation elements of the site.
				.offset-sm.group-15
					a.btn.btn-sm.btn-warning( href='dividers.html' )
						span.btn-icon.mdi.mdi-division.novi-icon
						span Dividers
					a.btn.btn-sm.btn-warning( href='typography.html' )
						span.btn-icon.mdi.mdi-format-text.novi-icon
						span Typography
					a.btn.btn-sm.btn-warning( href='form-elements.html' )
						span.btn-icon.mdi.mdi-keyboard-variant.novi-icon
						span Form elements
					a.btn.btn-sm.btn-warning( href='comments.html' )
						span.btn-icon.mdi.mdi-comment-multiple-outline.novi-icon
						span Comments
					a.btn.btn-sm.btn-warning( href='testimonials.html' )
						span.btn-icon.mdi.mdi-comment-text-outline.novi-icon
						span Testimonials
					a.btn.btn-sm.btn-warning( href='badges.html' )
						span.btn-icon.mdi.mdi-label-outline.novi-icon
						span Badges
					a.btn.btn-sm.btn-warning( href='lists.html' )
						span.btn-icon.mdi.mdi-format-list-numbers.novi-icon
						span Lists
					a.btn.btn-sm.btn-warning( href='grid-system.html' )
						span.btn-icon.mdi.mdi-view-week.novi-icon
						span Grid system
					a.btn.btn-sm.btn-warning( href='icons.html' )
						span.btn-icon.mdi.mdi-drawing.novi-icon
						span Icons
					a.btn.btn-sm.btn-warning( href='thumbnails.html' )
						span.btn-icon.mdi.mdi-credit-card-scan.novi-icon
						span Thumbnails
					a.btn.btn-sm.btn-warning( href='animations.html' )
						span.btn-icon.fa.fa-magic.novi-icon
						span Animations
					a.btn.btn-sm.btn-warning( href='buttons.html' )
						span.btn-icon.mdi.mdi-shuffle.novi-icon
						span Buttons
			.col-md-10.col-lg-7.col-xl-8
				+img( 'features/feature-02-730x564.png' )
