@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Variables
$pricing-list-description-fsz: $font-size-sm;
$pricing-list-border: 1px solid $border-color;


// Base
.pricing-list + .pricing-list {
	margin-top: 23px;
	padding-top: 20px;
	border-top: $pricing-list-border;
}

.pricing-list-description {
	font-size: $pricing-list-description-fsz;
}

// Media
@include media-breakpoint-up( sm ) {
	.pricing-list {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.pricing-list-content {
		padding-right: 25px;
	}

	* + .pricing-list-description { margin-top: 2px; }
}
