-
	var linearFilterableChart = {
		credits: false,
		colors: [ '#31c77f', '#6b39bd' ],
		chart: {
			type: 'line'
		},
		title: {
			text: null
		},
		legend: {
			itemStyle: {
				color: '#777',
				fontWeight: 'normal'
			},
			itemHoverStyle: {
				color: '#919495'
			}
		},
		xAxis: {
			lineColor: '#dde3e8',
			labels: {
				style: {
					color: '#bebebe'
				}
			},
			categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
		},
		yAxis: {
			min: 0,
			tickInterval: 5,
			gridLineColor: '#dde3e8',
			labels: {
				style: {
					color: '#bebebe'
				}
			},
			title: {
					text: null
			}
		},
		series: [{
			name: 'Yahoo',
			data: [7.0, 6, 9, 14, 18, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
		}, {
			name: 'CNN',
			data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
		}]
	}
.highcharts-container( data-highcharts-options= linearFilterableChart )
