-
	var
		post1 = {
			title: 'Top 10 essential design trends that can revolutionize modern web design',
			titleLarge: 'Top 10 essential design trends that can revolutionize modern web design and bring innovations',
			titleShort: 'Top 10 essential web design trends',
			titleShort2: 'Top 10 essential design trends that can revolutionize...',
			text: 'This year may bring us a lot of surprises as standards in web design change and we experience lots of new trends. You can take these trends in and decide if they can help you.',
			textShort: 'This year may bring us a lot of surprises as standards in web design change and we experience lots...',
			textShort2: 'This year may bring us a lot of surprises as standards in web design change and we experience lots of new trends. You can take these trends in and decide if...',
			textShort3: 'This year may bring us a lot of surprises as standards in web design change and we experience lots of new trends.'
		},
		post2 = {
			title: '15 impressive examples of one-page website design picked by our team',
			titleShort: '15 impressive examples of one-page website design',
			titleShort2: '15 impressive examples of one-page...',
			text: 'Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page.',
			textLarge: 'Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page. We have gathered a collection of the best designs in this post.',
			textLarge2: 'Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page. We have gathered a collection...',
			textShort: 'Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all...',
			textShort2: 'Nowadays, designing a landing page is way more difficult. The only challenge you face is getting all the necessary information on a single page.'
		},
		post3 = {
			title: 'Best examples of online portfolio: 10 designers who got it right and achieved their goals',
			titleShort: 'Best examples of online portfolio: 10 designers who got it right',
			titleShort2: 'Best examples of online portfolio websites',
			titleShort3: 'Best examples of online portfolio by 10 designers',
			text: 'Out of all of the creative people in the world, designers have a very clear vision of what their online portfolio should look like. Their line of work demands a site that lives up to...',
			textShort: 'Out of all  creative people in the world, designers have a very clear vision of what their online portfolio...',
			textShort2: 'Out of all  creative people in the world, designers have a very clear vision of what their online portfolio should look like.',
			textShort3: 'Out of all of the creative people in the world, designers have a very clear vision of what their online portfolio should look like. Their line of work demands a site...'
		},
		post4 = {
			title: '5 design tips that will increase your conversions',
			titleLarge: '5 design tips that will undoubtedly increase your conversions and bring more leads',
			titleShort: '',
			text: 'If you want to increase ROI from your website, you can go about it in two ways: increase traffic or increase conversions. It is much easier to increase conversions, however.',
			textShort: 'If you want to increase ROI from your website, you can go about it in two ways: increase traffic or increase conversions. It is much easier to increase conversions...',
			textShort2: 'If you want to increase ROI from your website, you can go about it in two ways: increase traffic or increase conversions.',
			textShort3: 'If you want to increase ROI from your website, you can go about it in two ways: increase traffic or...'
		},
		post5 = {
			title: 'Different sides of the dark user interface design',
			titleLarge: 'Different sides of the dark user interface in web design and how you can benefit from it',
			text: 'Dark design is and always will be a trend. The level of darkness will always vary, but basically, it’s really hard to screw up a simple, dark design. This is...',
			textShort: 'Dark design is and always will be a trend. The level of darkness will always vary, but basically, it’s really hard to screw up a simple, dark design.',
			textShort2: 'Dark design is and always will be a trend. The level of darkness will always vary, but basically, it’s really...'
		},
		post6 = {
			title: 'How to design accessible color systems',
			titleShort: '',
			text: 'Our team of developers and designers constantly explores ways of refining the color palette to make it more accessible and legible for users across all products...',
			textShort: ''
		},
		post7 = {
			title: 'Designing accessible color systems for your next web development project: pros and cons',
			titleShort: 'Designing accessible color systems',
			text: 'Our team of developers and designers constantly explores ways of refining the color palette to make it more accessible and legible for users across all interfaces.',
			textShort: 'Our team of developers and designers constantly explores ways of refining the color palette to...',
			textShort2: 'Our team of developers and designers constantly explores ways of refining the color palette to make it more accessible and legible for users across all...'
		},
		post8 = {
			title: 'Interview with John Wilson: the CEO, founder, and art director of Intense web design studio',
			titleShort: 'Interview with John Wilson, the CEO of Intense',
			text: 'In this post, our founder John Wilson shared with us his opinion on modern web design trends and what new products Intense will introduce next year.',
			textShort: 'In this post, our founder John Wilson shared with us his opinion on modern web design trends...'
		}
