-
	var
		revImg1 = 'images/image-23-1920x817.jpg',
		revImg2 = 'images/image-58-1920x180.jpg',
		revImg3 = 'images/image-57-1920x180.jpg',
		revImg4 = 'images/image-72-1920x180.jpg',
		revImg5 = 'images/image-74-1920x180.jpg'
