#rev_slider_28_1 .uranus.tparrows {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0)
}

#rev_slider_28_1 .uranus.tparrows:before {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s
}

#rev_slider_28_1 .uranus.tparrows:hover:before {
	opacity: 0.75
}

.hermes.tp-bullets {
}

.hermes .tp-bullet {
	overflow: hidden;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
	position: absolute
}

.hermes .tp-bullet:hover {
	background-color: rgba(0, 0, 0, 0.21)
}

.hermes .tp-bullet:after {
	content: ' ';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 1px rgb(255, 255, 255);
	-webkit-transition: height 0.3s ease;
	transition: height 0.3s ease
}

.hermes .tp-bullet.selected:after {
	height: 100%
}

.tparrows:before {
	font-family: 'Intense Icons';
}

.tparrows.tp-leftarrow:before {
	content: '\e900';
}

.tparrows.tp-rightarrow:before {
	content: '\e901';
}
