.widget
	h6.widget-title Top post
	.widget-body
		+post-simple({
			img:      'image-12-512x330',
			title:    'Intense is an innovative web design studio',
			postText: 'At Intense, we offer cutting-edge web design solutions to the clients who are looking for creative web design solutions as well as for the ways of improving their website customization.',
			btnText:  'Read more'
		}).post-sm
