.widget
	h6.widget-title Recent post
	.widget-body.post-area
		+post-simple({
			title:    'This year’s top 10 essential design trends',
			label:    'HTML',
			date:     'September 16, 2019'
		}).post-sm
		+post-simple({
			title:    post2.titleShort,
			label:    'HTML',
			date:     'September 16, 2019'
		}).post-sm
