.widget
	h6.widget-title Categories list
	.widget-body
		ul.widget-list
			li: a.link-inherit( href='#' ) News
			li: a.link-inherit( href='#' ) Trends
			li: a.link-inherit( href='#' ) Tips
			li: a.link-inherit( href='#' ) Design tools
			li: a.link-inherit( href='#' ) Web development
			li: a.link-inherit( href='#' ) Resources
			li: a.link-inherit( href='#' ) Portfolio inspiration
			li: a.link-inherit( href='#' ) Reviews
			li: a.link-inherit( href='#' ) Graphics
			li: a.link-inherit( href='#' ) UI/UX design
			li: a.link-inherit( href='#' ) Interviews
			li: a.link-inherit( href='#' ) Content ideas
