.widget
	h6.widget-title Recent comments
	.widget-body
		+post-simple({
			title:    post3.titleShort2,
			autor:    'Mark Rogers'
		}).post-sm
		+post-simple({
			title:    post4.title,
			autor:    'Mark Rogers'
		}).post-sm
