extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = '503 Page';

block page
	+rd-navbar

	include ../components/section/_503-section
	include ../components/footer/_footer-default
