extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'About Us 2';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_about-novi
	include ../components/section/_about-why-intense
	include ../components/section/_about-cta
	include ../components/section/_about-features
	include ../components/section/_about-our-team
	include ../components/section/_about-career
	include ../components/footer/_footer-default