extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Blog classic without sidebar';
		pageId = 'blog-classic-no-sidebar';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_blog-classic
	include ../components/footer/_footer-default
