extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Clients';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_partners
	include ../components/section/_quote-cloud-shadow-slider
	include ../components/footer/_footer-default
