extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Contact us 2';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-lg
	include ../components/section/_contact-us-2
	include ../components/footer/_footer-default
