extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'FAQ 3';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_faq-2
	include ../components/footer/_footer-default