extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Google reCaptcha';

block page
	+rd-navbar

	include ../components/section/_intro-captcha
	include ../components/section/_get-in-touch-with-captcha
	include ../components/footer/_footer-default
