extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Grid system';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_grid-system
	include ../components/footer/_footer-default
