extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Grid shop right sidebar',
		pageId = 'grid-shop-right-sidebar';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_grid-shop-right-sidebar
	include ../components/footer/_footer-default
