extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar-studio

block variables
	-
		pageName = 'Header Studio';
		pageId = 'header-studio';
		logo.default = 'logo-default-secondary-114x27.svg';
		logo.inverse = 'logo-inverse-secondary-114x27.svg';

block page
	+rd-navbar

	include ../components/section/_home-intro
	include ../components/section/_home-novi
	include ../components/section/_home-layouts
	include ../components/section/_cta-type-1
	include ../components/footer/_footer-extended
