extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Portfolio';
		pageId = 'home-portfolio';

block page
	+rd-navbar

	include ../components/section/_home-portfolio-intro
	include ../components/section/_home-portfolio-about-us
	include ../components/section/_home-portfolio-slider
	include ../components/section/_home-portfolio-why-choose-us
	include ../components/section/_home-portfolio-our-portfolio
	include ../components/section/_home-portfolio-about-me
	include ../components/section/_home-portfolio-blog
	include ../components/footer/_footer-portfolio
