extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Icons';

block page
	+rd-navbar
	include ../components/section/_breadcrumb
	include ../components/section/_icon-shapes-sample
	include ../components/section/_icon-default-sizes-sample
	include ../components/section/_icon-circle-sizes-sample
	include ../components/section/_icon-round-sizes-sample
	include ../components/section/_icon-rect-sizes-sample
	include ../components/section/_icon-styles-sample
	include ../components/section/_icon-circle-styles-sample
	include ../components/section/_icon-round-styles-sample
	include ../components/section/_icon-rect-styles-sample
	include ../components/section/_icon-fonts-sample
	include ../components/footer/_footer-default
