extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/blurb/_blurb

block variables
	- pageName = 'Lists';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_list-default-sample
	include ../components/section/_list-ordered-sample
	include ../components/section/_blurb-ordered-sample-type-1
	include ../components/section/_blurb-ordered-sample-type-2
	include ../components/section/_blurb-ordered-sample-type-3
	include ../components/section/_blurb-ordered-sample-type-4
	include ../components/section/_blurb-ordered-sample-type-5
	include ../components/section/_blurb-ordered-sample-type-6
	include ../components/footer/_footer-default
