extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Maintenance';

block page
	+rd-navbar

	include ../components/section/_maintenance
	include ../components/footer/_footer-default
