extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Portfolio Mike';
		pageId = 'portfolio-mike';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_portfolio-upward
	include ../components/footer/_footer-default
