extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Portfolio masonry vertical';
		pageId = 'portfolio-masonry-vertical';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_portfolio-masonry-vertical
	include ../components/footer/_footer-default
