extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Portfolio fullwidth 3 columns';
		pageId = 'portfolio-fullwidth-3';

block page
	+rd-navbar
	include ../components/section/_breadcrumb-no-title
	include ../components/section/_portfolio-fullwidth-3-columns
	include ../components/footer/_footer-default
