extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Portfolio grid vertical';
		pageId = 'portfolio-grid-vertical';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_portfolio-grid-vertical
	include ../components/footer/_footer-default
