extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Project single 1';
		pageId = 'portfolio-single-1';

block page
	+rd-navbar

	include ../components/section/_intro-project
	include ../components/section/_about-project
	include ../components/section/_project-gallery
	include ../components/footer/_footer-default
