extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/pricing-list/_pricing-list

block variables
	- pageName = 'Pricing';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_pricing-box
	include ../components/section/_quote-default-parallax
	include ../components/section/_pricing-table
	include ../components/section/_cta-type-1
	include ../components/footer/_footer-default
