extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/revolution/_revolution-slides

block variables
	-
		pageName = 'Revolution Parallax Zoom Slices';
		pageId = 'revolution-parallax-zoom-slices';

block page
	+rd-navbar#header-parallax-zoom-slices

	include ../components/section/_revolution-parallax-zoom-slices
	include ../components/footer/_footer-default
