extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/revolution/_revolution-slides

block variables
	-
		pageName = 'Revolution slots zoom';
		pageId = 'revolution-slots-zoom';

block page
	+rd-navbar#header-zoom-horizontal

	include ../components/section/_revolution-zoom-horizontal
	include ../components/footer/_footer-default
