extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Search results';

block page
	+rd-navbar

	include ../components/section/_search-section
	include ../components/section/_search-results
	include ../components/footer/_footer-default
