extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Tables';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_table-sample-type-1
	include ../components/section/_table-sample-type-2
	include ../components/section/_table-sample-type-3
	include ../components/footer/_footer-default
