extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Team member';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_team-member
	include ../components/footer/_footer-default