extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Typography';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_typography
	include ../components/section/_divider-section
	include ../components/section/_typography-aligment
	include ../components/section/_divider-section
	include ../components/section/_typography-lists
	include ../components/section/_divider-section
	include ../components/section/_typography-image-floating
	include ../components/section/_divider-section
	include ../components/section/_typography-dropcap
	include ../components/footer/_footer-default
