extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Widgets';

block page
	+rd-navbar

	include ../components/section/_breadcrumb
	include ../components/section/_sidebar-widgets-sample
	include ../components/section/_sidebar-widgets-sample-2
	include ../components/footer/_footer-default
