.row.row-15.row-lg-25.row-xxl-40.novi-disabled
	.col-12
		h3 Easy-to-read & detailed documentation
	.col-12
		.row.row-15
			.col-md-5.col-lg-4.col-xl-3
				+img( 'image-05-290x290')
			.col-md-7.col-xl-8
				p Our template is supplied with detailed documentation that describes the proper usage of Intense as well as everything about its installation and configuration. With the help of documentation, you can also learn about:
				ul.list.list-marked-arrow
					li.list-item Template structure;
					li.list-item Content editing;
					li.list-item Customization;
					li.list-item Modules and extensions;
					li.list-item Uploading template.
