.row.row-10
	.col-md-6: h3 With our template’s rich UI kit, you can customize your website the way you want.
	.col-md-6 Easily make any necessary customizations to your website. From replacing blocks and sections to changing content, our UI kit gives you the opportunity to control Intense the way you want.
