div( data-highcharts-double='container', data-file='./components/highchart/highchart.json' )
	.highcharts-container-double-detail( data-highcharts-double='detail' )
	div( data-highcharts-double='master', style='height:100px;' )
