//- Multiswitch
	@param {object} data - multiswitch data object
mixin switch-toggle( data )
	.switch-toggle( data-multi-switch= data )&attributes( attributes )
		.guide
		.slider

//- Multiswitch thin
	@param {object} data - multiswitch data object
mixin switch-toggle-thin( data )
	.switch-toggle-thin( data-multi-switch= data )&attributes( attributes )
		.guide
		.slider
